/** 
 * Import Compass and Theme Variables
 */
/* ==========================================================================
   Theme Configuration File
   ========================================================================== */
/**
 * Base Colors
 * 
 * Description:
 * Provides a base for the UI.
 * 
 * Usage:
 * General UI Background, Region Headers, Buttons
 */
/**
 * Highlight Colors
 * 
 * Description:
 * Used for providing emphasis or importance to UI components.
 * 
 * Usage:
 * Region Headers, Primary / Hot Buttons
 */
/**
 * Accent and Status Colors
 * 
 * Description:
 * Used for indicating state-based UI components, status, or accents.
 * 
 * Usage:
 * Warnings, Errors, Danger Text, Success, Focus
 */
/**
 * Application Based Colors
 * 
 * Description:
 * Used for applications within APEX development
 */
/* ==========================================================================
   Circular Badges
   ========================================================================== */
/* line 11, ../../../scss/theme/standard/Badge.scss */
.a-BadgeChart-value {
  border-color: #F0F0F0;
  background-color: transparent;
  color: #404040;
}

/* line 16, ../../../scss/theme/standard/Badge.scss */
.a-BadgeChart-label {
  color: #404040;
}

/* line 19, ../../../scss/theme/standard/Badge.scss */
.a-BadgeChart-desc {
  color: #707070;
}

/* line 23, ../../../scss/theme/standard/Badge.scss */
.a-BadgeChart-link .a-BadgeChart-value {
  color: #2D7BBB;
}
/* line 27, ../../../scss/theme/standard/Badge.scss */
.a-BadgeChart-link:hover .a-BadgeChart-value {
  box-shadow: 0 0 0 12px #2D7BBB inset;
  border-color: #2D7BBB;
  background-color: #2D7BBB;
  color: #FFF;
}
