/** 
 * Import Compass and Theme Variables
 */
/* ==========================================================================
   Theme Configuration File
   ========================================================================== */
/**
 * Base Colors
 * 
 * Description:
 * Provides a base for the UI.
 * 
 * Usage:
 * General UI Background, Region Headers, Buttons
 */
/**
 * Highlight Colors
 * 
 * Description:
 * Used for providing emphasis or importance to UI components.
 * 
 * Usage:
 * Region Headers, Primary / Hot Buttons
 */
/**
 * Accent and Status Colors
 * 
 * Description:
 * Used for indicating state-based UI components, status, or accents.
 * 
 * Usage:
 * Warnings, Errors, Danger Text, Success, Focus
 */
/**
 * Application Based Colors
 * 
 * Description:
 * Used for applications within APEX development
 */
/******************************************************************************
Color Variables
******************************************************************************/
/* line 10, ../../../scss/theme/standard/BadgeList.scss */
.a-BadgeList-value {
  border-color: #E0E0E0;
  color: #404040;
}
/* line 13, ../../../scss/theme/standard/BadgeList.scss */
.a-BadgeList-value a {
  color: #2D7BBB;
}
/* line 16, ../../../scss/theme/standard/BadgeList.scss */
.a-BadgeList-value a:hover {
  box-shadow: 0 0 0 4px #2D7BBB inset;
  background-color: #2D7BBB;
  color: #FFF;
}
