/** 
 * Import Compass and Theme Variables
 */
/* ==========================================================================
   Theme Configuration File
   ========================================================================== */
/**
 * Base Colors
 * 
 * Description:
 * Provides a base for the UI.
 * 
 * Usage:
 * General UI Background, Region Headers, Buttons
 */
/**
 * Highlight Colors
 * 
 * Description:
 * Used for providing emphasis or importance to UI components.
 * 
 * Usage:
 * Region Headers, Primary / Hot Buttons
 */
/**
 * Accent and Status Colors
 * 
 * Description:
 * Used for indicating state-based UI components, status, or accents.
 * 
 * Usage:
 * Warnings, Errors, Danger Text, Success, Focus
 */
/**
 * Application Based Colors
 * 
 * Description:
 * Used for applications within APEX development
 */
/******************************************************************************
Color Variables
******************************************************************************/
/* line 13, ../../../scss/theme/standard/Body.scss */
body {
  background-color: #fff;
}

/* line 17, ../../../scss/theme/standard/Body.scss */
a {
  color: #146FB8;
  text-decoration: none;
}
/* line 20, ../../../scss/theme/standard/Body.scss */
a:hover {
  text-decoration: underline;
}

/* line 26, ../../../scss/theme/standard/Body.scss */
.lButtonContainer .aButton {
  vertical-align: top;
}

/* line 29, ../../../scss/theme/standard/Body.scss */
.lButtonContainer .aButton.viewMode.rightPill {
  margin-right: 8px;
}
