/** 
 * Import Compass and Theme Variables
 */
/* ==========================================================================
   Theme Configuration File
   ========================================================================== */
/**
 * Base Colors
 * 
 * Description:
 * Provides a base for the UI.
 * 
 * Usage:
 * General UI Background, Region Headers, Buttons
 */
/**
 * Highlight Colors
 * 
 * Description:
 * Used for providing emphasis or importance to UI components.
 * 
 * Usage:
 * Region Headers, Primary / Hot Buttons
 */
/**
 * Accent and Status Colors
 * 
 * Description:
 * Used for indicating state-based UI components, status, or accents.
 * 
 * Usage:
 * Warnings, Errors, Danger Text, Success, Focus
 */
/**
 * Application Based Colors
 * 
 * Description:
 * Used for applications within APEX development
 */
/* ==========================================================================
   Date List
   ========================================================================== */
/* line 12, ../../../scss/theme/standard/DateList.scss */
.a-DateList-item {
  box-shadow: 0 -1px 0 #F8F8F8 inset;
}
/* line 18, ../../../scss/theme/standard/DateList.scss */
.a-DateList-item:hover {
  background-color: #FAFAFA;
}

/* line 28, ../../../scss/theme/standard/DateList.scss */
.a-DateList-icon {
  background-color: #FFF;
}

/* line 35, ../../../scss/theme/standard/DateList.scss */
.a-DateList-icon--warning .a-Icon {
  color: #FACB09;
}

/* line 39, ../../../scss/theme/standard/DateList.scss */
.a-DateList-icon--danger {
  background-color: #FA0000;
  border-color: #CA0000;
}
/* line 42, ../../../scss/theme/standard/DateList.scss */
.a-DateList-icon--danger .a-Icon {
  color: #FFFFFF;
}

/* line 46, ../../../scss/theme/standard/DateList.scss */
.a-DateList-day {
  color: #404040;
}

/* line 49, ../../../scss/theme/standard/DateList.scss */
.a-DateList-month {
  color: #EA0000;
}

/* line 52, ../../../scss/theme/standard/DateList.scss */
.a-DateList-desc {
  color: #404040;
}

/* line 55, ../../../scss/theme/standard/DateList.scss */
.a-DateList-attribute {
  color: #707070;
}
