/** 
 * Import Compass and Theme Variables
 */
/* ==========================================================================
   Theme Configuration File
   ========================================================================== */
/**
 * Base Colors
 * 
 * Description:
 * Provides a base for the UI.
 * 
 * Usage:
 * General UI Background, Region Headers, Buttons
 */
/**
 * Highlight Colors
 * 
 * Description:
 * Used for providing emphasis or importance to UI components.
 * 
 * Usage:
 * Region Headers, Primary / Hot Buttons
 */
/**
 * Accent and Status Colors
 * 
 * Description:
 * Used for indicating state-based UI components, status, or accents.
 * 
 * Usage:
 * Warnings, Errors, Danger Text, Success, Focus
 */
/**
 * Application Based Colors
 * 
 * Description:
 * Used for applications within APEX development
 */
/* ==========================================================================
   APEX Builder Header
   ========================================================================== */
/* line 11, ../../../scss/theme/standard/Header.scss */
.a-Header, .a-Header-logo:hover, .a-Header-tabsContainer .a-MenuBar-item, .a-Header-tabsContainer .a-MenuBar-item.is-focused:hover, .a-Header-tabLink:hover, .a-Header-account:hover, .a-Header-helpLink:hover, .a-Header-navLinks {
  box-shadow: 0 -1px 0 #E0E0E0 inset;
}

/* line 24, ../../../scss/theme/standard/Header.scss */
.a-Header {
  background-color: #F8F8F8;
  min-height: 40px;
}

/* line 29, ../../../scss/theme/standard/Header.scss */
.a-Header--login,
.a-Page--simpleWizard .a-Header {
  background-color: rgba(255, 255, 255, 0.25);
  box-shadow: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  transition: background-color .2s;
}
/* line 38, ../../../scss/theme/standard/Header.scss */
.a-Header--login:hover,
.a-Page--simpleWizard .a-Header:hover {
  background-color: rgba(255, 255, 255, 0.95);
}
/* line 41, ../../../scss/theme/standard/Header.scss */
.a-Header--login .a-Header-logo:hover,
.a-Page--simpleWizard .a-Header .a-Header-logo:hover {
  box-shadow: none;
  background-color: transparent;
}

/* line 46, ../../../scss/theme/standard/Header.scss */
.a-Header-logo {
  color: #404040;
}
/* line 48, ../../../scss/theme/standard/Header.scss */
.a-Header-logo:focus {
  box-shadow: 0 0 0 2px #399bea inset;
  outline: none;
}
/* line 52, ../../../scss/theme/standard/Header.scss */
.a-Header-logo:hover {
  background-color: #FFF;
}

/* line 59, ../../../scss/theme/standard/Header.scss */
.a-Header-tabsContainer .a-Menu-statusCol {
  width: 12px;
}
/* line 62, ../../../scss/theme/standard/Header.scss */
.a-Header-tabsContainer .a-MenuBar-label {
  color: #6D6D6D;
}
/* line 65, ../../../scss/theme/standard/Header.scss */
.a-Header-tabsContainer .a-MenuBar-item {
  border-left: 1px solid #E0E0E0;
}
/* line 67, ../../../scss/theme/standard/Header.scss */
.a-Header-tabsContainer .a-MenuBar-item:last-child {
  border-right: 1px solid #E0E0E0;
}
/* line 71, ../../../scss/theme/standard/Header.scss */
.a-Header-tabsContainer .a-MenuBar-item.is-focused, .a-Header-tabsContainer .a-MenuBar-item.is-active, .a-Header-tabsContainer .a-MenuBar-item.is-expanded, .a-Header-tabsContainer .a-MenuBar-item.a-Menu--current {
  background-color: #FFF;
}
/* line 76, ../../../scss/theme/standard/Header.scss */
.a-Header-tabsContainer .a-MenuBar-item.is-focused .a-MenuBar-label, .a-Header-tabsContainer .a-MenuBar-item.is-active .a-MenuBar-label, .a-Header-tabsContainer .a-MenuBar-item.is-expanded .a-MenuBar-label, .a-Header-tabsContainer .a-MenuBar-item.a-Menu--current .a-MenuBar-label {
  color: #404040;
}
/* line 82, ../../../scss/theme/standard/Header.scss */
.a-Header-tabsContainer .a-MenuBar-item.is-expanded {
  box-shadow: none !important;
}
/* line 91, ../../../scss/theme/standard/Header.scss */
.a-Header-tabsContainer .a-MenuBar-item > .a-Menu-subMenuCol .a-Icon {
  color: #A0A0A0;
  border-color: rgba(208, 208, 208, 0.5);
}
/* line 95, ../../../scss/theme/standard/Header.scss */
.a-Header-tabsContainer .a-MenuBar-item > .a-Menu-subMenuCol:hover .a-Icon {
  border-color: #2D7BBB;
  color: #2D7BBB;
}
/* line 100, ../../../scss/theme/standard/Header.scss */
.a-Header-tabsContainer .a-MenuBar-item.is-expanded > .a-Menu-subMenuCol .a-Icon {
  border-color: #2D7BBB;
  color: #FFF;
  background-color: #2D7BBB;
}
/* line 108, ../../../scss/theme/standard/Header.scss */
.a-Header-tabsContainer .a-Menu-label {
  min-width: 140px;
}

/* ==========================================================================
   Tab Colors
   ========================================================================== */
/* line 120, ../../../scss/theme/standard/Header.scss */
.a-MenuBar-item.tab-app-builder.a-Menu--current, .a-MenuBar-item.tab-app-builder.is-expanded {
  box-shadow: 0 3px 0 #399BEA inset !important;
}
/* line 124, ../../../scss/theme/standard/Header.scss */
.a-MenuBar-item.tab-app-builder.is-focused {
  box-shadow: 0 3px 0 #399BEA inset, 0 -1px 0 #F0F0F0 inset !important;
}

/* line 129, ../../../scss/theme/standard/Header.scss */
.a-MenuBar-item.tab-sql-workshop.a-Menu--current, .a-MenuBar-item.tab-sql-workshop.is-expanded {
  box-shadow: 0 3px 0 #24CB7F inset !important;
}
/* line 133, ../../../scss/theme/standard/Header.scss */
.a-MenuBar-item.tab-sql-workshop.is-focused {
  box-shadow: 0 3px 0 #24CB7F inset, 0 -1px 0 #F0F0F0 inset !important;
}

/* line 138, ../../../scss/theme/standard/Header.scss */
.a-MenuBar-item.tab-team-dev.a-Menu--current, .a-MenuBar-item.tab-team-dev.is-expanded {
  box-shadow: 0 3px 0 #FFBE2A inset !important;
}
/* line 142, ../../../scss/theme/standard/Header.scss */
.a-MenuBar-item.tab-team-dev.is-focused {
  box-shadow: 0 3px 0 #FFBE2A inset, 0 -1px 0 #F0F0F0 inset !important;
}

/* line 147, ../../../scss/theme/standard/Header.scss */
.a-MenuBar-item.tab-apps.a-Menu--current, .a-MenuBar-item.tab-apps.is-expanded {
  box-shadow: 0 3px 0 #F54B21 inset !important;
}
/* line 151, ../../../scss/theme/standard/Header.scss */
.a-MenuBar-item.tab-apps.is-focused {
  box-shadow: 0 3px 0 #F54B21 inset, 0 -1px 0 #F0F0F0 inset !important;
}

/* line 156, ../../../scss/theme/standard/Header.scss */
.a-Header-tabLink {
  color: #6D6D6D;
  border-left: 1px solid #E0E0E0;
}
/* line 159, ../../../scss/theme/standard/Header.scss */
.a-Header-tabItem:last-child .a-Header-tabLink {
  border-right: 1px solid #E0E0E0;
}
/* line 162, ../../../scss/theme/standard/Header.scss */
.a-Header-tabLink:hover {
  background-color: #FFF;
}

/* line 167, ../../../scss/theme/standard/Header.scss */
.a-Header-account {
  color: #6D6D6D;
  border-left-color: #E0E0E0;
}
/* line 170, ../../../scss/theme/standard/Header.scss */
.a-Header-account:hover {
  background-color: #FFF;
}

/* line 176, ../../../scss/theme/standard/Header.scss */
.a-Header-userPhoto {
  box-shadow: 0 0 0 1px #B0B0B0 inset;
}
/* line 178, ../../../scss/theme/standard/Header.scss */
.a-Header-userPhoto .a-Icon {
  color: #A0A0A0;
}

/* line 192, ../../../scss/theme/standard/Header.scss */
.a-Header-accountDialog .a-Header-userPhoto--large {
  background-color: #F8F8F8;
}
/* line 194, ../../../scss/theme/standard/Header.scss */
.a-Header-accountDialog .a-Header-userPhoto--large .a-Icon {
  margin-left: -3px;
}
/* line 196, ../../../scss/theme/standard/Header.scss */
.a-Header-accountDialog .a-Header-userPhoto--large .a-Icon:before {
  font-size: 72px;
  content: "\e0f5";
}

/* line 202, ../../../scss/theme/standard/Header.scss */
.a-Header-accountDialog .a-Header-userPhoto--default {
  box-shadow: none;
  background-color: transparent;
}
/* line 205, ../../../scss/theme/standard/Header.scss */
.a-Header-accountDialog .a-Header-userPhoto--default .a-Header-noUserPhoto {
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  overflow: hidden;
  box-shadow: 0 0 0 1px #B0B0B0 inset;
  background-color: #F8F8F8;
}

/* line 218, ../../../scss/theme/standard/Header.scss */
.a-Header-search .a-SearchBox:before {
  background-color: #E0E0E0;
}
/* line 221, ../../../scss/theme/standard/Header.scss */
.a-Header-search .a-SearchBox-icon {
  color: #6D6D6D;
}

/* line 225, ../../../scss/theme/standard/Header.scss */
.a-Header-accountDialog {
  background-color: #fff;
  border-color: #D0D0D0;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

/* line 230, ../../../scss/theme/standard/Header.scss */
.a-Header-dialogName,
.a-Header-dialogValue {
  color: #404040;
}

/* line 234, ../../../scss/theme/standard/Header.scss */
.a-Header-dialogUsername,
.a-Header-dialogLabel {
  color: #777777;
}

/* line 238, ../../../scss/theme/standard/Header.scss */
.a-Header-dialogRole,
.a-Header-dialogWorkspace {
  color: #777;
  border-top-color: #F8F8F8;
}
/* line 242, ../../../scss/theme/standard/Header.scss */
.a-Header-dialogRole .a-Icon,
.a-Header-dialogWorkspace .a-Icon {
  color: #404040;
}

/* line 247, ../../../scss/theme/standard/Header.scss */
.a-Header-accountDialog-buttons {
  border-top-color: #F0F0F0;
  background-color: #FBFBFB;
}

/* line 252, ../../../scss/theme/standard/Header.scss */
.a-Header-help {
  border-left-color: #E0E0E0;
}

/* line 255, ../../../scss/theme/standard/Header.scss */
.a-Header-helpLink {
  color: #6D6D6D;
}
/* line 257, ../../../scss/theme/standard/Header.scss */
.a-Header-helpLink:hover {
  background-color: #fff;
}

/* line 263, ../../../scss/theme/standard/Header.scss */
.a-Header-navLinks {
  font-size: 0;
}

/* line 269, ../../../scss/theme/standard/Header.scss */
.a-Header .icon-home {
  color: #A0A0A0;
}

/* ==========================================================================
   Header for Simple Wizard
   ========================================================================== */
