/** 
 * Import Compass and Theme Variables
 */
/* ==========================================================================
   Theme Configuration File
   ========================================================================== */
/**
 * Base Colors
 * 
 * Description:
 * Provides a base for the UI.
 * 
 * Usage:
 * General UI Background, Region Headers, Buttons
 */
/**
 * Highlight Colors
 * 
 * Description:
 * Used for providing emphasis or importance to UI components.
 * 
 * Usage:
 * Region Headers, Primary / Hot Buttons
 */
/**
 * Accent and Status Colors
 * 
 * Description:
 * Used for indicating state-based UI components, status, or accents.
 * 
 * Usage:
 * Warnings, Errors, Danger Text, Success, Focus
 */
/**
 * Application Based Colors
 * 
 * Description:
 * Used for applications within APEX development
 */
/* ==========================================================================
   Help Region
   ========================================================================== */
/* line 15, ../../../scss/theme/standard/HelpRegion.scss */
.a-HelpRegion {
  background-color: #FFFBEB;
  min-height: 100%;
  padding: 12px;
}
/* line 20, ../../../scss/theme/standard/HelpRegion.scss */
.a-HelpRegion h3 {
  font-size: 14px;
  line-height: 20px;
  color: #202020;
  margin-bottom: 8px;
}
/* line 26, ../../../scss/theme/standard/HelpRegion.scss */
.a-HelpRegion a {
  color: #146FB8;
}

/* line 30, ../../../scss/theme/standard/HelpRegion.scss */
.ui-tabs-helpTab.ui-state-active .ui-tabs-anchor {
  background-color: #FFFBEB !important;
}

/* ==========================================================================
   Help Region (Property Editor)
   ========================================================================== */
/* line 37, ../../../scss/theme/standard/HelpRegion.scss */
.a-Region.a-Region--helpRegion {
  background-color: #FFFBEB;
}
/* line 39, ../../../scss/theme/standard/HelpRegion.scss */
.a-Region.a-Region--helpRegion .a-Region-header,
.a-Region.a-Region--helpRegion .a-Region-body {
  border-color: #FFFBEB;
}
/* line 43, ../../../scss/theme/standard/HelpRegion.scss */
.a-Region.a-Region--helpRegion .a-Region-header {
  background-color: #FFFBEB;
}
/* line 46, ../../../scss/theme/standard/HelpRegion.scss */
.a-Region.a-Region--helpRegion .a-Region-title {
  color: #404040;
}
/* line 49, ../../../scss/theme/standard/HelpRegion.scss */
.a-Region.a-Region--helpRegion .a-Region-body {
  overflow: auto;
}

/* ==========================================================================
   Help Typography
   ========================================================================== */
/* line 59, ../../../scss/theme/standard/HelpRegion.scss */
.a-HelpRegion p,
.a-Region--helpRegion .a-Region-body p {
  margin: 0 0 12px 0;
}
/* line 61, ../../../scss/theme/standard/HelpRegion.scss */
.a-HelpRegion p:only-child, .a-HelpRegion p:last-child,
.a-Region--helpRegion .a-Region-body p:only-child,
.a-Region--helpRegion .a-Region-body p:last-child {
  margin-bottom: 0;
}
/* line 66, ../../../scss/theme/standard/HelpRegion.scss */
.a-HelpRegion p, .a-HelpRegion li,
.a-Region--helpRegion .a-Region-body p,
.a-Region--helpRegion .a-Region-body li {
  font-size: 12px;
  line-height: 20px;
  color: #404040;
}
/* line 71, ../../../scss/theme/standard/HelpRegion.scss */
.a-HelpRegion pre,
.a-Region--helpRegion .a-Region-body pre {
  font-size: 11px;
  font-family: 'Menlo', 'Consolas', monospace, serif;
  line-height: 14px;
  border-radius: 2px;
  background-color: #FFFCF2;
  padding: 2px;
  margin: 8px 0;
  border: 1px solid #EFE3B5;
  color: #404040;
}
