/** 
 * Import Compass and Theme Variables
 */
/* ==========================================================================
   Theme Configuration File
   ========================================================================== */
/**
 * Base Colors
 * 
 * Description:
 * Provides a base for the UI.
 * 
 * Usage:
 * General UI Background, Region Headers, Buttons
 */
/**
 * Highlight Colors
 * 
 * Description:
 * Used for providing emphasis or importance to UI components.
 * 
 * Usage:
 * Region Headers, Primary / Hot Buttons
 */
/**
 * Accent and Status Colors
 * 
 * Description:
 * Used for indicating state-based UI components, status, or accents.
 * 
 * Usage:
 * Warnings, Errors, Danger Text, Success, Focus
 */
/**
 * Application Based Colors
 * 
 * Description:
 * Used for applications within APEX development
 */
/* ==========================================================================
   Links List
   ========================================================================== */
/* line 14, ../../../scss/theme/standard/LinksList.scss */
.a-LinksList-item {
  border-color: #F0F0F0;
}

/* line 17, ../../../scss/theme/standard/LinksList.scss */
.a-LinksList-item.is-expanded .a-LinksList-link:hover:before {
  color: rgba(255, 255, 255, 0.5);
}

/* line 20, ../../../scss/theme/standard/LinksList.scss */
.a-LinksList-icon {
  color: #A0A0A0;
}

/* line 25, ../../../scss/theme/standard/LinksList.scss */
.a-LinksList-link:hover,
.a-LinksList--report a:hover {
  background-color: #2580D4;
  color: #FFF;
}
/* line 28, ../../../scss/theme/standard/LinksList.scss */
.a-LinksList-link:hover .a-LinksList-icon,
.a-LinksList--report a:hover .a-LinksList-icon {
  color: rgba(255, 255, 255, 0.75);
}

/**
 * Modifier: Go To Arrow
 *
 * Show Go To Arrow on right
 */
/* line 42, ../../../scss/theme/standard/LinksList.scss */
.a-LinksList--showArrow .a-LinksList-link:hover:before {
  color: rgba(255, 255, 255, 0.5);
}
/* line 46, ../../../scss/theme/standard/LinksList.scss */
.a-LinksList--showArrow .a-LinksList-link:before {
  color: rgba(0, 0, 0, 0.15);
}

/**
 * Modifier: Show Badge
 *
 * Show Badge on Right
 */
/* line 58, ../../../scss/theme/standard/LinksList.scss */
.a-LinksList--showBadge .a-LinksList-badge {
  background-color: #F8F8F8;
  color: #707070;
}
/* line 62, ../../../scss/theme/standard/LinksList.scss */
.a-LinksList--showBadge .a-LinksList-link:hover .a-LinksList-badge {
  background-color: #FFF;
}
/* line 66, ../../../scss/theme/standard/LinksList.scss */
.a-LinksList--showBadge.a-LinksList--brightHover .a-LinksList-link:hover .a-LinksList-badge {
  background-color: rgba(0, 0, 0, 0.15);
  color: #FFF;
}
/* line 71, ../../../scss/theme/standard/LinksList.scss */
.a-LinksList--showBadge .a-LinksList-item.is-expanded > .a-LinksList-link .a-LinksList-badge {
  background-color: rgba(0, 0, 0, 0.05);
}

/**
 * Modifier: Bright Hover
 *
 * Show Bright
 */
/* line 84, ../../../scss/theme/standard/LinksList.scss */
.a-LinksList--brightHover .a-LinksList-link:hover, .a-LinksList--brightHover.a-LinksList--report a:hover {
  color: #2379C8;
  background-color: #F1F7FD;
}
/* line 88, ../../../scss/theme/standard/LinksList.scss */
.a-LinksList--brightHover .a-LinksList-link:hover .a-LinksList-icon, .a-LinksList--brightHover.a-LinksList--report a:hover .a-LinksList-icon {
  color: #2379C8;
}

/* ==========================================================================
   Icon-based Links List
   ========================================================================== */
/* line 101, ../../../scss/theme/standard/LinksList.scss */
.a-LinksList--iconOnly .a-LinksList-link {
  color: #707070;
}
/* line 103, ../../../scss/theme/standard/LinksList.scss */
.a-LinksList--iconOnly .a-LinksList-link:hover, .a-LinksList--iconOnly .a-LinksList-link:focus {
  background-color: #FFF;
  color: #404040;
}
/* line 110, ../../../scss/theme/standard/LinksList.scss */
.a-LinksList--iconOnly .a-LinksList-icon {
  background-color: #FFF;
  border: 1px solid rgba(208, 208, 208, 0.5);
}
/* line 114, ../../../scss/theme/standard/LinksList.scss */
.a-LinksList--iconOnly .a-LinksList-link:hover,
.a-LinksList--iconOnly .a-LinksList-link:focus {
  background-color: #4c99e0;
}
/* line 117, ../../../scss/theme/standard/LinksList.scss */
.a-LinksList--iconOnly .a-LinksList-link:hover .a-LinksList-icon,
.a-LinksList--iconOnly .a-LinksList-link:focus .a-LinksList-icon {
  background-color: #fff;
  border-color: #FFF;
  color: #2580D4;
}
/* line 124, ../../../scss/theme/standard/LinksList.scss */
.a-LinksList--iconOnly .is-current .a-LinksList-icon {
  background-color: #2580D4;
  border-color: #2580D4;
  color: #FFF;
}
