/** 
 * Import Compass and Theme Variables
 */
/* ==========================================================================
   Theme Configuration File
   ========================================================================== */
/**
 * Base Colors
 * 
 * Description:
 * Provides a base for the UI.
 * 
 * Usage:
 * General UI Background, Region Headers, Buttons
 */
/**
 * Highlight Colors
 * 
 * Description:
 * Used for providing emphasis or importance to UI components.
 * 
 * Usage:
 * Region Headers, Primary / Hot Buttons
 */
/**
 * Accent and Status Colors
 * 
 * Description:
 * Used for indicating state-based UI components, status, or accents.
 * 
 * Usage:
 * Warnings, Errors, Danger Text, Success, Focus
 */
/**
 * Application Based Colors
 * 
 * Description:
 * Used for applications within APEX development
 */
/* ==========================================================================
   Popup LOV
   ========================================================================== */
/* line 13, ../../../scss/theme/standard/PopupLOV.scss */
.a-PopupLOV-filters,
.a-PopupLOV-search {
  background-color: #F8F8F8;
}

/* line 18, ../../../scss/theme/standard/PopupLOV.scss */
.a-PopupLOV-filterGroup,
.a-PopupLOV-filters,
.a-PopupLOV-search {
  border-color: #F0F0F0;
}

/* line 23, ../../../scss/theme/standard/PopupLOV.scss */
.a-PopupLOV-filterItem .a-Form-field {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset, 0 1px 1px rgba(0, 0, 0, 0.2) inset;
}
