/**
 * Import Compass and Theme Variables
 */
/* ==========================================================================
   Theme Configuration File
   ========================================================================== */
/**
 * Base Colors
 * 
 * Description:
 * Provides a base for the UI.
 * 
 * Usage:
 * General UI Background, Region Headers, Buttons
 */
/**
 * Highlight Colors
 * 
 * Description:
 * Used for providing emphasis or importance to UI components.
 * 
 * Usage:
 * Region Headers, Primary / Hot Buttons
 */
/**
 * Accent and Status Colors
 * 
 * Description:
 * Used for indicating state-based UI components, status, or accents.
 * 
 * Usage:
 * Warnings, Errors, Danger Text, Success, Focus
 */
/**
 * Application Based Colors
 * 
 * Description:
 * Used for applications within APEX development
 */
/******************************************************************************
Color Variables
******************************************************************************/
/******************************************************************************
Properties
******************************************************************************/
/* line 39, ../../../scss/theme/standard/Property.scss */
.a-Property {
  transition: box-shadow .1s;
}

/* line 49, ../../../scss/theme/standard/Property.scss */
.a-Property.is-active {
  background-color: #DEEFFB;
}
/* line 51, ../../../scss/theme/standard/Property.scss */
.a-Property.is-active .a-Property-field {
  box-shadow: 0 0 0 1px rgba(57, 155, 234, 0.5) inset;
}

/* line 55, ../../../scss/theme/standard/Property.scss */
.a-Property.is-focused {
  border-color: rgba(57, 155, 234, 0.5) !important;
  z-index: 100;
  position: relative;
}

/* line 67, ../../../scss/theme/standard/Property.scss */
.a-Property-buttonContainer,
.a-Property-labelContainer,
.a-Property-fieldContainer,
.a-Property-unitContainer,
.a-PropertyEditor--stacked .a-Property-labelContainer .a-Property-label {
  padding: 6px 8px;
}
@media only screen and (max-width: 1024px) {
  /* line 67, ../../../scss/theme/standard/Property.scss */
  .a-Property-buttonContainer,
  .a-Property-labelContainer,
  .a-Property-fieldContainer,
  .a-Property-unitContainer,
  .a-PropertyEditor--stacked .a-Property-labelContainer .a-Property-label {
    padding: 2px 8px;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1279px) {
  /* line 67, ../../../scss/theme/standard/Property.scss */
  .a-Property-buttonContainer,
  .a-Property-labelContainer,
  .a-Property-fieldContainer,
  .a-Property-unitContainer,
  .a-PropertyEditor--stacked .a-Property-labelContainer .a-Property-label {
    padding: 4px 8px;
  }
}

/* line 83, ../../../scss/theme/standard/Property.scss */
.a-PropertyEditor--stacked .a-Property--stacked .a-Property-labelContainer .a-Property-label {
  padding: 4px 0 !important;
}

/* line 86, ../../../scss/theme/standard/Property.scss */
.a-PropertyEditor--stacked .a-Property-labelContainer .a-Property-label {
  padding-bottom: 0 !important;
}

/* line 89, ../../../scss/theme/standard/Property.scss */
.a-Property.is-error {
  background-color: #FFEFEF !important;
}
/* line 91, ../../../scss/theme/standard/Property.scss */
.a-Property.is-error .a-Property-label {
  color: #4C4242;
}
/* line 94, ../../../scss/theme/standard/Property.scss */
.a-Property.is-error .a-Property-field {
  background-color: #FFF;
}
/* line 97, ../../../scss/theme/standard/Property.scss */
.a-Property.is-error.is-focused {
  background-color: #FEDFDF !important;
  box-shadow: 0 1px 2px 0px rgba(252, 24, 27, 0.25), 0 -1px 2px 0px rgba(252, 24, 27, 0.25), 0 1px 0 0 rgba(255, 255, 255, 0.25) inset !important;
  border-color: #FC181B !important;
}
/* line 105, ../../../scss/theme/standard/Property.scss */
.a-Property.is-error .a-Property-labelContainer .a-Icon {
  margin-right: 4px;
  color: #FC181B !important;
}

/* line 112, ../../../scss/theme/standard/Property.scss */
.a-Property.is-warning {
  background-color: #FFF8DF !important;
}
/* line 114, ../../../scss/theme/standard/Property.scss */
.a-Property.is-warning .a-Property-label {
  color: #463403;
}
/* line 117, ../../../scss/theme/standard/Property.scss */
.a-Property.is-warning .a-Property-field {
  background-color: #FFF;
}
/* line 120, ../../../scss/theme/standard/Property.scss */
.a-Property.is-warning.is-focused {
  background-color: #FEEDB9 !important;
  box-shadow: 0 1px 2px 0px rgba(253, 179, 9, 0.25), 0 -1px 2px 0px rgba(253, 179, 9, 0.25), 0 1px 0 0 rgba(255, 255, 255, 0.25) inset !important;
  border-color: #FDB309 !important;
}
/* line 127, ../../../scss/theme/standard/Property.scss */
.a-Property.is-warning .a-Property-labelContainer .a-Icon {
  margin-right: 4px;
  color: #F69F00 !important;
}

/* line 133, ../../../scss/theme/standard/Property.scss */
.a-Property-label,
.a-Property-setItemsHeader-header,
.a-Property-unit {
  font-size: 12px;
  line-height: 16px;
  padding: 4px 0;
  color: #444444;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.35);
}

/* line 142, ../../../scss/theme/standard/Property.scss */
.a-Property-checkbox-label,
.a-Property-radio {
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.35);
}

/* line 149, ../../../scss/theme/standard/Property.scss */
.a-Property-unit {
  font-size: 11px;
}

/* line 152, ../../../scss/theme/standard/Property.scss */
.a-Property-label--withIcon {
  line-height: 16px;
  padding: 4px 0;
}

/*
Property Field - Used for property editor
*/
/* line 159, ../../../scss/theme/standard/Property.scss */
.a-Property-field {
  font-size: 12px;
  line-height: 16px;
  padding: 4px;
  height: 24px;
  background-color: #FFFFFF;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05) inset, 0 1px 1px rgba(0, 0, 0, 0.1) inset;
  border-radius: 2px;
  border: none;
}
/* line 171, ../../../scss/theme/standard/Property.scss */
.a-Property-field:focus {
  box-shadow: 0 0 0px 1px #399bea inset !important;
  outline: none;
  /* 1 */
  background-color: #FFFFFF;
}

/* line 180, ../../../scss/theme/standard/Property.scss */
.a-Property.is-variable.is-active .a-Icon.icon-variable {
  color: #404040;
}
/* line 183, ../../../scss/theme/standard/Property.scss */
.a-Property.is-variable .a-Icon.icon-variable {
  color: #A0A0A0;
  margin-right: 4px;
}

/* line 188, ../../../scss/theme/standard/Property.scss */
.a-Property-field.is-variable {
  background-color: #DFEBFB;
}

/* line 194, ../../../scss/theme/standard/Property.scss */
.a-Property.is-warning .a-Property-field:focus {
  box-shadow: 0 0 0px 1px rgba(253, 179, 9, 0.75) inset !important;
}

/* line 200, ../../../scss/theme/standard/Property.scss */
.a-Property.is-error .a-Property-field:focus {
  box-shadow: 0 0 0px 1px rgba(252, 24, 27, 0.5) inset !important;
}

/* Property Editor Select List
   ========================================================================== */
/* line 214, ../../../scss/theme/standard/Property.scss */
.a-Property-field--select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0.01px;
  background-repeat: no-repeat;
  background-position: 100% 0;
  color: #404040;
  padding-right: 30px;
  text-overflow: ' ';
  overflow: hidden;
}

/* line 226, ../../../scss/theme/standard/Property.scss */
body:not(:-moz-handler-blocked) .a-Property-field--select {
  padding: 2px 24px 2px 2px;
}

/* Text Area
   ========================================================================== */
/* line 233, ../../../scss/theme/standard/Property.scss */
.a-Property-field--textarea,
body .ui-widget .a-Property-field--textarea {
  line-height: 14px;
  font-size: 11px;
  height: auto;
  max-height: 320px;
  font-family: 'Consolas', 'Menlo', monospace;
}

/* line 241, ../../../scss/theme/standard/Property.scss */
.a-Property-readOnly {
  font-size: 12px;
  line-height: 2;
  font-weight: bold;
  color: #444444;
}

/* line 248, ../../../scss/theme/standard/Property.scss */
.a-Property-field--readOnly {
  box-shadow: none;
}

/* line 252, ../../../scss/theme/standard/Property.scss */
.a-Property-setItemsTable-header {
  font-weight: normal;
}

/* line 256, ../../../scss/theme/standard/Property.scss */
.a-Property-setItemsTable .a-Property-field {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

/******************************************************************************
Property Editor in Dialogs
******************************************************************************/
/* line 265, ../../../scss/theme/standard/Property.scss */
.ui-dialog .a-Property {
  border-color: #E0E0E0;
}
