/** 
 * Import Compass and Theme Variables
 */
/* ==========================================================================
   Theme Configuration File
   ========================================================================== */
/**
 * Base Colors
 * 
 * Description:
 * Provides a base for the UI.
 * 
 * Usage:
 * General UI Background, Region Headers, Buttons
 */
/**
 * Highlight Colors
 * 
 * Description:
 * Used for providing emphasis or importance to UI components.
 * 
 * Usage:
 * Region Headers, Primary / Hot Buttons
 */
/**
 * Accent and Status Colors
 * 
 * Description:
 * Used for indicating state-based UI components, status, or accents.
 * 
 * Usage:
 * Warnings, Errors, Danger Text, Success, Focus
 */
/**
 * Application Based Colors
 * 
 * Description:
 * Used for applications within APEX development
 */
/* ==========================================================================
   Tag Cloud
   ========================================================================== */
/* line 14, ../../../scss/theme/standard/TagCloud.scss */
.a-TagCloud-link {
  border-color: #F0F0F0;
  border-radius: 2px;
  background: #FFF;
  transition: background-color .2s, border-color .2s, box-shadow .2s, color .2s;
}
/* line 20, ../../../scss/theme/standard/TagCloud.scss */
.a-TagCloud-link span {
  transition: color .2s;
}
/* line 23, ../../../scss/theme/standard/TagCloud.scss */
.a-TagCloud-link:hover {
  text-decoration: none;
  background-color: #2D7BBB;
  border-color: #2D7BBB;
  color: #FFF;
  box-shadow: 0 0 0 2px #2D7BBB inset;
}
/* line 29, ../../../scss/theme/standard/TagCloud.scss */
.a-TagCloud-link:hover span {
  color: #FFF;
}

/* line 34, ../../../scss/theme/standard/TagCloud.scss */
.a-TagCloud-count {
  color: #707070;
  font-weight: 200;
}
