/*===============================================
=            Legacy Button Overrides            =
===============================================*/
/* line 4, ../../scss/5.0/Buttons.scss */
.a-IRR-container button.a-Button span,
.a-DevToolbar button span,
.a-IRR-dialogTable button span,
button.a-Button > span {
  padding: 0;
}

/* line 11, ../../scss/5.0/Buttons.scss */
span.lov img {
  vertical-align: top;
}

/* line 14, ../../scss/5.0/Buttons.scss */
.a-Button.a-Button--calendar {
  margin-left: 0;
  padding: 2px 4px;
  vertical-align: top;
}

/* line 20, ../../scss/5.0/Buttons.scss */
.a-DevToolbar button span {
  display: inline-block;
}

/* line 24, ../../scss/5.0/Buttons.scss */
.a-Button.a-Button--devToolbar {
  background-color: #404040 !important;
  color: #EEE !important;
}
/* line 28, ../../scss/5.0/Buttons.scss */
.a-Button.a-Button--devToolbar:hover {
  background-color: #606060 !important;
  color: #FFF !important;
}
/* line 33, ../../scss/5.0/Buttons.scss */
.a-Button.a-Button--devToolbar.is-active, .a-Button.a-Button--devToolbar:active, .a-Button.a-Button--devToolbar:focus {
  color: #FFF !important;
  background-color: #202020 !important;
}

/*-----  End of Legacy Button Overrides  ------*/
