/* ==========================================================================
   Block Utility Classes
   ========================================================================== */
.padding-xs {
  padding: 4px !important; }

.padding-xs-top {
  padding-top: 4px !important; }

.padding-xs-left {
  padding-left: 4px !important; }

.padding-xs-right {
  padding-right: 4px !important; }

.padding-xs-bottom {
  padding-bottom: 4px !important; }

.margin-xs {
  margin: 4px !important; }

.margin-xs-top {
  margin-top: 4px !important; }

.margin-xs-left {
  margin-left: 4px !important; }

.margin-xs-right {
  margin-right: 4px !important; }

.margin-xs-bottom {
  margin-bottom: 4px !important; }

.padding-sm {
  padding: 8px !important; }

.padding-sm-top {
  padding-top: 8px !important; }

.padding-sm-left {
  padding-left: 8px !important; }

.padding-sm-right {
  padding-right: 8px !important; }

.padding-sm-bottom {
  padding-bottom: 8px !important; }

.margin-sm {
  margin: 8px !important; }

.margin-sm-top {
  margin-top: 8px !important; }

.margin-sm-left {
  margin-left: 8px !important; }

.margin-sm-right {
  margin-right: 8px !important; }

.margin-sm-bottom {
  margin-bottom: 8px !important; }

.padding-md {
  padding: 12px !important; }

.padding-md-top {
  padding-top: 12px !important; }

.padding-md-left {
  padding-left: 12px !important; }

.padding-md-right {
  padding-right: 12px !important; }

.padding-md-bottom {
  padding-bottom: 12px !important; }

.margin-md {
  margin: 12px !important; }

.margin-md-top {
  margin-top: 12px !important; }

.margin-md-left {
  margin-left: 12px !important; }

.margin-md-right {
  margin-right: 12px !important; }

.margin-md-bottom {
  margin-bottom: 12px !important; }

.padding-lg {
  padding: 16px !important; }

.padding-lg-top {
  padding-top: 16px !important; }

.padding-lg-left {
  padding-left: 16px !important; }

.padding-lg-right {
  padding-right: 16px !important; }

.padding-lg-bottom {
  padding-bottom: 16px !important; }

.margin-lg {
  margin: 16px !important; }

.margin-lg-top {
  margin-top: 16px !important; }

.margin-lg-left {
  margin-left: 16px !important; }

.margin-lg-right {
  margin-right: 16px !important; }

.margin-lg-bottom {
  margin-bottom: 16px !important; }

.padding-xl {
  padding: 24px !important; }

.padding-xl-top {
  padding-top: 24px !important; }

.padding-xl-left {
  padding-left: 24px !important; }

.padding-xl-right {
  padding-right: 24px !important; }

.padding-xl-bottom {
  padding-bottom: 24px !important; }

.margin-xl {
  margin: 24px !important; }

.margin-xl-top {
  margin-top: 24px !important; }

.margin-xl-left {
  margin-left: 24px !important; }

.margin-xl-right {
  margin-right: 24px !important; }

.margin-xl-bottom {
  margin-bottom: 24px !important; }

.padding-none {
  padding: 0 !important; }

.padding-none-top {
  padding-top: 0 !important; }

.padding-none-left {
  padding-left: 0 !important; }

.padding-none-right {
  padding-right: 0 !important; }

.padding-none-bottom {
  padding-bottom: 0 !important; }

.margin-none {
  margin: 0 !important; }

.margin-none-top {
  margin-top: 0 !important; }

.margin-none-left {
  margin-left: 0 !important; }

.margin-none-right {
  margin-right: 0 !important; }

.margin-none-bottom {
  margin-bottom: 0 !important; }
