/* line 7, ../../scss/util/u-Accessibility.scss */
.visuallyhidden,
.visuallyHidden,
.hideMeButHearMe,
.u-VisuallyHidden,
.u-vh {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 21, ../../scss/util/u-Accessibility.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus,
.u-VisuallyHidden.is-focusable:active,
.u-VisuallyHidden.is-focusable:focus,
.u-vh.is-focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 29, ../../scss/util/u-Accessibility.scss */
.u-DisplayNone {
  display: none !important;
}
