BODY {
	FONT-SIZE: 10pt; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular
}
A:visited {
	TEXT-DECORATION: none
}
A:link {
	TEXT-DECORATION: none
}
.parenttabtextoff {
	COLOR: #ffffff
}
.tabtextoff {
	COLOR: #666666
}
.tabtexton {
	COLOR: #801818
}
TD.parenttabon {
	BORDER-RIGHT: #ccc 0.5pt solid; PADDING-RIGHT: 4pt; BORDER-TOP: #ccc 1pt solid; PADDING-LEFT: 4pt; FONT-WEIGHT: bold; FONT-SIZE: 9pt; PADDING-BOTTOM: 4pt; BORDER-LEFT: #ccc 0.5pt solid; COLOR: white; PADDING-TOP: 4pt; BORDER-BOTTOM: #ccc 0pt solid;
}
TD.parenttaboff {
	BORDER-RIGHT: #ccc 0.5pt solid; PADDING-RIGHT: 4pt; BORDER-TOP: #ccc 1pt solid; PADDING-LEFT: 4pt; FONT-WEIGHT: normal; FONT-SIZE: 9pt; PADDING-BOTTOM: 4pt; BORDER-LEFT: #ccc 0.5pt solid; COLOR: white; PADDING-TOP: 4pt; BORDER-BOTTOM: #ccc 1pt solid; 
}
TD.leftnavborder {
	BORDER-RIGHT: #aaaaaa 1pt solid; BACKGROUND-COLOR: #eeeeee
}
TD.tabtitle {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #801818
}
TD.tabtitle2 {
	FONT-SIZE: 1pt
}
TD.tabtextoff {
	FONT-SIZE: 10pt; COLOR: #000000
}
TD.tabtexton {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #801818
}
TD.bodycell {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
TD.region1title {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #fff; BORDER-BOTTOM: #ccc 1px solid
}
TD.region2title {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 10pt; PADDING-BOTTOM: 2px; COLOR: #801818; PADDING-TOP: 2px; BORDER-BOTTOM: #ccc 1px solid; BACKGROUND-COLOR: #eee
}
TD.region1body {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-SIZE: 10pt; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
TD.region3title {
	PADDING-RIGHT: 1px; BORDER-TOP: #555555 1pt solid; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 10pt; PADDING-BOTTOM: 1px; COLOR: #801818; PADDING-TOP: 1px; BORDER-BOTTOM: #555555 1pt solid; BACKGROUND-COLOR: #ddd
}
TD.region3nav {
	PADDING-RIGHT: 1px; BORDER-TOP: #555555 1pt solid; PADDING-LEFT: 2px; FONT-SIZE: 8pt; PADDING-BOTTOM: 1px; COLOR: #801818; PADDING-TOP: 1px; BORDER-BOTTOM: #555555 1pt solid; BACKGROUND-COLOR: #ddd; TEXT-ALIGN: right
}
TD.region3body {
	PADDING-RIGHT: 1px; PADDING-LEFT: 2px; FONT-SIZE: 9pt; PADDING-BOTTOM: 1px; COLOR: #000000; PADDING-TOP: 1px
}
TD.report1data {
	FONT-SIZE: 9pt; COLOR: #000000; BACKGROUND-COLOR: #ffffff
}
TD.report1altdata {
	FONT-SIZE: 9pt; COLOR: #000000; BACKGROUND-COLOR: #dddddd
}
TD.report1header {
	FONT-SIZE: 10pt; COLOR: #ffffff; BACKGROUND-COLOR: #801818
}
.parenttabborder {
}
.parenttabadjacent {
	BORDER-RIGHT: #ccc 1pt solid; BORDER-TOP: #ccc 1pt solid; BORDER-LEFT: #ccc 1pt solid; BORDER-BOTTOM: #ccc 1pt solid;
	background:#bb0000;
}
.navbartext {
	MARGIN-TOP: 5px; FONT-SIZE: 8pt; MARGIN-LEFT: 5px; COLOR: #fff; MARGIN-RIGHT: 5px
}
.copyright {
	FONT-SIZE: 8pt; COLOR: #fff
}
UNKNOWN {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 10pt; COLOR: #000000; PADDING-TOP: 4px; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif
}
.atab {
	BACKGROUND-IMAGE: url(/i/asybaseb2.gif); VERTICAL-ALIGN: bottom; WHITE-SPACE: nowrap; HEIGHT: 5px
}
.atab0 {
	BACKGROUND: #cccc99; VERTICAL-ALIGN: top; HEIGHT: 22px; TEXT-ALIGN: right
}
.atab1 {
	VERTICAL-ALIGN: bottom; WHITE-SPACE: nowrap; HEIGHT: 22px; TEXT-ALIGN: right
}
.atab2 {
	BACKGROUND: #cccc99; VERTICAL-ALIGN: bottom
}
.ptableft {
	VERTICAL-ALIGN: top; WIDTH: 1%; BACKGROUND-COLOR: #cccc99; TEXT-ALIGN: left
}
.ptabmid {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; WIDTH: 1%; BORDER-BOTTOM: medium none; BACKGROUND-COLOR: #cccc99; TEXT-ALIGN: left
}
.ptabright {
	VERTICAL-ALIGN: top; WIDTH: 1%; BACKGROUND-COLOR: #cccc99; TEXT-ALIGN: right
}
.stableft {
	BACKGROUND: #336699; WIDTH: 1%; WHITE-SPACE: nowrap
}
.listitemoff {
	FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif
}
.listitemon {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; BACKGROUND: #336699; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif
}
.listitemonnonbold {
	FONT-SIZE: 10pt; BACKGROUND: #336699; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif
}
.smwhite {
	FONT-SIZE: 10pt; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif
}
.xsmwhite {
	FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif
}
.xsmblack {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif
}
.smbrown {
	FONT-SIZE: 8pt; COLOR: brown; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif
}
.xswhite {
	FONT-SIZE: 9pt; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif
}
.stan {
	FONT-SIZE: 10pt; COLOR: #cccc99; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif
}
.xstan {
	FONT-SIZE: 9pt; COLOR: #cccc99; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif
}
.regionheader {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif
}
.dkblueregionleft {
	BACKGROUND: #336699; VERTICAL-ALIGN: top; WIDTH: 5px; TEXT-ALIGN: left
}
.dkblueregionrt {
	BACKGROUND: #336699; VERTICAL-ALIGN: top; WIDTH: 5px; TEXT-ALIGN: right
}
.blueregionleft {
	BACKGROUND: #6699cc; VERTICAL-ALIGN: top; WIDTH: 5px; TEXT-ALIGN: left
}
.blueregionright {
	BACKGROUND: #6699cc; VERTICAL-ALIGN: top; WIDTH: 5px; TEXT-ALIGN: right
}
.tanregionleft {
	BACKGROUND: #cccc99; VERTICAL-ALIGN: top; WIDTH: 5px; TEXT-ALIGN: left
}
.tanregionright {
	BACKGROUND: #cccc99; VERTICAL-ALIGN: top; WIDTH: 5px; TEXT-ALIGN: right
}
.header {
	FONT-WEIGHT: bold; FONT-SIZE: 16pt; COLOR: #336699; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif
}
.stepheader {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif
}
.subheader1 {
	FONT-WEIGHT: bold; FONT-SIZE: 13pt; COLOR: #336699; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif
}
.subheader2 {
	FONT-WEIGHT: bold; FONT-SIZE: 11pt; COLOR: #336699; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif
}
.tab3archiveslink {
	FONT-SIZE: 9pt; COLOR: #663300; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif
}
.tab3heading {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; COLOR: #003366; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif
}
.headerondark {
	FONT-WEIGHT: bold; FONT-SIZE: 16pt; COLOR: #003366; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif
}
.subheaderondark1 {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; COLOR: #003366; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif
}
.subheaderondark2 {
	FONT-WEIGHT: bold; FONT-SIZE: 11pt; COLOR: #003366; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif
}
.headeronlight {
	FONT-WEIGHT: bold; FONT-SIZE: 16pt; COLOR: #6699cc; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif
}
.subheaderonlight1 {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; COLOR: #6699cc; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif
}
.subheaderonlight2 {
	FONT-WEIGHT: bold; FONT-SIZE: 11pt; COLOR: #6699cc; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif
}
.contenttext {
	FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif
}
.contenttextheader {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif
}
.subheader1black {
	FONT-WEIGHT: bold; FONT-SIZE: 13pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif
}
.fieldtitle {
	FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; TEXT-ALIGN: right
}
.fieldtitlebold {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; TEXT-ALIGN: right
}
.fieldtitlered {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #ff0000; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; TEXT-ALIGN: right
}
.fieldtitleleft {
	FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif
}
.fielddata {
	FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif
}
.fielddatabold {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif
}
.fielddatasmall {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif
}
.instructiontext {
	FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif
}
.buttontext {
	FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif
}
.confirmationtext {
	FONT-SIZE: 10pt; COLOR: #336699; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif
}
.tiptext {
	FONT-SIZE: 9pt; COLOR: #336699; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif
}
.OraTipLabel {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #336699; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif
}
.OraTipText {
	FONT-SIZE: 10pt; COLOR: #336699; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif
}
.errortext {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #cc0000; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif
}
.urgenttext {
	FONT-SIZE: 10pt; COLOR: #cc0000; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif
}
.errorheader {
	FONT-WEIGHT: bold; FONT-SIZE: 13pt; COLOR: #cc0000; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif
}
.disabledtext {
	FONT-SIZE: 10pt; COLOR: #cccc99; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif
}
.footerlinks {
	FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif
}
.tableheader {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; BACKGROUND: #cccc99; COLOR: #336699; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif
}
.tableheaderinverse {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; BACKGROUND: #336699; COLOR: #cccc99; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif
}
.tableheaderhighlight {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; BACKGROUND: #336699; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif
}
.tabledata {
	FONT-SIZE: 10pt; BACKGROUND: #f7f7e7; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif
}
.tabledata-alt {
	FONT-SIZE: 10pt; BACKGROUND: #ffffff; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif
}
.tabledatabold {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; BACKGROUND: #f7f7e7; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif
}
.tabactivelevel2 {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; BACKGROUND: #336699; COLOR: #cccc99; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif
}
.tabinactivelevel2 {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; BACKGROUND: #336699; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif
}
.controlbar {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; BACKGROUND: #cccc99; COLOR: #336699; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif
}
.approvalhistdata {
	FONT-SIZE: 10pt; BACKGROUND: #f7f7e7; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif
}
.approvalhistpending {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; BACKGROUND: #f7f7e7; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif
}
.approvalhistpastaction {
	FONT-SIZE: 10pt; BACKGROUND: #f7f7e7; COLOR: #009966; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif
}
.approvalhistreject {
	FONT-SIZE: 10pt; BACKGROUND: #f7f7e7; COLOR: #cc0000; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif
}
.linkheader {
	FONT-SIZE: 9pt; COLOR: #666666; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif
}
.helptextbold {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #003366; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif
}
.helptextwhitebold {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; BACKGROUND: #336699; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif
}
.helptextwhite {
	FONT-SIZE: 9pt; BACKGROUND: #336699; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif
}
.helpmainsubheader2 {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #336699; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif
}
.sidebarlink {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #003366; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif
}
.sidebartext {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif
}
.chiclettitle {
	FONT-SIZE: 11pt; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif
}
.nomatchtext {
	FONT-SIZE: 10pt; COLOR: #336699; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif
}
.searchtext {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif
}
UL.platform {
	FONT-SIZE: 10pt; LIST-STYLE-IMAGE: url(/i/hideshow_infohidden.gif); PADDING-BOTTOM: 2em; MARGIN-LEFT: 2em; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; LIST-STYLE-TYPE: circle
}
UL.platform_s {
	FONT-SIZE: 12pt; LIST-STYLE-IMAGE: url(/i/shuttle_move_enabled.gif); PADDING-BOTTOM: 2em; MARGIN-LEFT: 2em; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; LIST-STYLE-TYPE: circle
}
.nounderline {
	TEXT-DECORATION: none
}
.text8 {
	FONT-SIZE: 8pt; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif
}
.text10 {
	FONT-SIZE: 10pt; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif
}
.text12 {
	FONT-SIZE: 12pt; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif
}
.text14 {
	FONT-SIZE: 14pt; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif
}
DIV.float {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 11pt; FLOAT: left; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; TEXT-ALIGN: left
}


/* CLASSES USED BY THE REPORTING ENGINE, MAY BE COLOR SPECIFIC */
.tableheader{font-size: 10pt;font-weight: bold;background-color: #660000;color: #ffffff;}
.tabledata{font-size: 10pt;background-color: #dddddd;color: #000000;}
.tabledata-alt{font-size:10pt;background-color:#ffffff; color:#000000;}
.tabledatabold{font-size:10pt; font-weight:bold; background-color:#dddddd; color:#000000;}

table.standardLook th{font-size:10pt;; font-weight:bold; color:#000000;padding:2px;white-space:nowrap;vertical-align:bottom;}
table.standardLook td{font-size:10pt;color: #000000;padding:2px;}

table.default1 th{font-size:10pt; font-weight: bold;background-color: #660000; color: #ffffff;padding:2px;
                  white-space:nowrap;vertical-align:bottom;}
table.default1 td{font-size:10pt;background-color: #dddddd;color: #000000;padding:2px;}
table.default1 td.alt{font-size:10pt;background-color:#ffffff; color:#000000;}

table.default2 {border-left:1px #aaaaaa solid;border-top:1px #aaaaaa solid;font-size:10pt; margin-top:1px;}
table.default2 th{font-weight:bold;padding:2px;border-bottom:1px #aaaaaa solid;border-right:1px #aaaaaa solid;
                  font-size:10pt;background-color:660000;color:ffffff;white-space:nowrap;vertical-align:bottom;}
table.default2 td{background-color:ffffff;padding:2px;border-bottom:1px #aaaaaa solid;border-right:1px #aaaaaa solid;font-size:10pt;}

table.default3 td{font-size:10pt;color:black;}
table.default3 th{white-space:nowrap;vertical-align:bottom;}

table.default1 th a:link{color:#dddddd;text-decoration:underline;}
table.default1 th a:visited{color:#dddddd;text-decoration:underline;}
table.default1 th a:hover{color:#ffffff;text-decoration:underline;}

table.default2 th a:link{color:#dddddd;text-decoration:underline;}
table.default2 th a:visited{color:#dddddd;text-decoration:underline;}
table.default2 th a:hover{color:#ffffff;text-decoration:underline;}

table.default3 th a:link{color:#660000;text-decoration:underline;}
table.default3 th a:visited{color:#660000;text-decoration:underline;}
table.default3 th a:hover{color:#aaaaaa;text-decoration:underline;}

table.standardLook th a:link{color:#660000;text-decoration:underline;}
table.standardLook th a:visited{color:#660000;text-decoration:underline;}
table.standardLook th a:hover{color:#aaaaaa;text-decoration:underline;}

table.default4 { margin:5px auto 0.5em auto; border-left:1px solid #cccccc; border-top:1px solid #cccccc; border-right:1px solid #999999; border-bottom:1px solid #999999; background-color:#efefef; }
table.default4 td { border-left:1px solid #ffffff; border-top:1px solid #ffffff; border-right:1px solid #cccccc; border-bottom:1px solid #cccccc; }
table.default4 th { font-weight:bold;font-size:10pt;color:#ffffff;background-color:#660000; 
                    border-left:1px solid #e0e7f7; border-top:1px solid #e0e7f7; border-right:1px solid #999999; 
                    border-bottom:1px solid #999999; white-space:nowrap;vertical-align:bottom;}
table.default4 td.even { background-color:#fefefe;font-size:10pt;white-space:nowrap;}
table.default4 td.odd { background-color:#efefef; font-size:10pt;white-space:nowrap;}

table.default4 th a:link{color:#eeeeee;}
table.default4 th a:visited{color:#eeeeee;}
table.default4 th a:hover{color:#ffffff;}

table.vertical2 {border:1px #bbbbbb solid;border-collapse:collapse;
                background:#ffffff;font-size:10pt; margin-top:1px;}
table.vertical2 td.L{font-weight: bold;padding:2px;white-space:nowrap;vertical-align:bottom;width:30%;text-align:right;border:1px #bbbbbb solid;background:#660000; color:#ffffff;} 
table.vertical2 td{padding:2px;border:1px #bbbbbb solid;text-align:left;}


div.boxInlineTitle{z-index:3;
      background:#ffffff;
      padding:2px;
      width:1%;
      position:relative;
      clear:right;
      font-size:12pt;
      font-weight:bold;
      color:#660000;
      margin-top:4px;}
      
div.boxInlineTitleMain{width:98%;
      padding:4px;
      padding-top: 12px;
      font-size:9pt;
      position:relative;
      top:-10px;
      left:-8px;
      z-index:2;
      border:1px #cccccc solid;
      } 
      
div.popupHead{
    background-color:#660000;
    padding:4px; 
    border-bottom: 1px #000000 solid;}