/**
 * Import Compass and Theme Variables
 */
/******************************************************************************
Sprite Mixin
******************************************************************************/
/******************************************************************************
Extendible Sprite Class
******************************************************************************/
/* ==========================================================================
   Theme Configuration File
   ========================================================================== */
/**
 * Base Colors
 * 
 * Description:
 * Provides a base for the UI.
 * 
 * Usage:
 * General UI Background, Region Headers, Buttons
 */
/**
 * Highlight Colors
 * 
 * Description:
 * Used for providing emphasis or importance to UI components.
 * 
 * Usage:
 * Region Headers, Primary / Hot Buttons
 */
/**
 * Accent and Status Colors
 * 
 * Description:
 * Used for indicating state-based UI components, status, or accents.
 * 
 * Usage:
 * Warnings, Errors, Danger Text, Success, Focus
 */
/******************************************************************************
Color Variables
******************************************************************************/
/******************************************************************************
Button for Theme
******************************************************************************/
/* line 32, ../../../scss/theme/standard/Button.scss */
.a-Button {
  border: none;
  color: #444444;
  border-radius: 2px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-font-smoothing: antialiased;
}

/* line 46, ../../../scss/theme/standard/Button.scss */
.a-Button:hover {
  z-index: 100;
}

/* line 50, ../../../scss/theme/standard/Button.scss */
.a-Button:focus {
  z-index: 110;
}

/* line 59, ../../../scss/theme/standard/Button.scss */
.a-Button:active {
  z-index: 100;
}

/* line 65, ../../../scss/theme/standard/Button.scss */
.a-Button.is-active,
.a-Button.is-active:active {
  font-weight: bold;
  z-index: 100;
}

/* line 76, ../../../scss/theme/standard/Button.scss */
.a-Button.is-disabled,
.a-Button.is-disabled:active,
.a-Button:disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  pointer-events: none;
}

/* line 122, ../../../scss/theme/standard/Button.scss */
.a-Button--noUI,
.a-Button--noUI:hover,
.a-Button--noUI:active {
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
}

/* line 128, ../../../scss/theme/standard/Button.scss */
.a-Button.a-Button--popupLOV {
  padding: 4px 8px;
  color: #404040;
}

/* line 133, ../../../scss/theme/standard/Button.scss */
.a-Button.a-Button--calendar,
.a-Button.a-Button--listManager {
  padding: 4px 8px;
}

/* line 136, ../../../scss/theme/standard/Button.scss */
.a-Button.a-Button--shuttle {
  padding: 2px 4px;
}

/* line 139, ../../../scss/theme/standard/Button.scss */
.a-Button--listManager {
  background: #F0F0F0;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset;
  margin-left: 4px;
}

/* line 144, ../../../scss/theme/standard/Button.scss */
.a-Button.a-Button--calendar {
  margin-left: -1px;
}

/* line 150, ../../../scss/theme/standard/Button.scss */
.a-Button {
  font-size: 12px;
  line-height: 16px;
  padding: 8px 12px;
}

/* line 168, ../../../scss/theme/standard/Button.scss */
.a-Button .a-Icon--pullRight {
  float: right !important;
  margin-left: 4px;
  margin-right: 0 !important;
}

/* line 175, ../../../scss/theme/standard/Button.scss */
.a-Button--withIcon {
  padding: 8px 10px;
  line-height: 16px;
}
/* line 178, ../../../scss/theme/standard/Button.scss */
.a-Button--withIcon .a-Icon {
  margin-right: 4px;
}
/* line 182, ../../../scss/theme/standard/Button.scss */
.a-Button--withIcon.a-Button--slim {
  padding-right: 8px;
  padding-left: 8px;
}

/* line 187, ../../../scss/theme/standard/Button.scss */
.a-Button--iconTextButton {
  padding-right: 8px;
}

/* line 192, ../../../scss/theme/standard/Button.scss */
.a-Button--noLabel .a-FAIcon,
.a-Button--noLabel .a-Icon {
  margin-right: 0;
}
