/**
 * Import Compass and Theme Variables
 */
/******************************************************************************
Sprite Mixin
******************************************************************************/
/******************************************************************************
Extendible Sprite Class
******************************************************************************/
/* ==========================================================================
   Theme Configuration File
   ========================================================================== */
/**
 * Base Colors
 * 
 * Description:
 * Provides a base for the UI.
 * 
 * Usage:
 * General UI Background, Region Headers, Buttons
 */
/**
 * Highlight Colors
 * 
 * Description:
 * Used for providing emphasis or importance to UI components.
 * 
 * Usage:
 * Region Headers, Primary / Hot Buttons
 */
/**
 * Accent and Status Colors
 * 
 * Description:
 * Used for indicating state-based UI components, status, or accents.
 * 
 * Usage:
 * Warnings, Errors, Danger Text, Success, Focus
 */
/******************************************************************************
Calendar
******************************************************************************/
/* line 11, ../../../scss/theme/standard/Calendar.scss */
.fc-event.fc-apex-events-default {
  background-color: #2578CF;
  border-color: #2578CF;
  color: #FFF;
}

/* line 12, ../../../scss/theme/standard/Calendar.scss */
.fc-event.fc-apex-events-gcal {
  background-color: #01DF01;
  border-color: #01DF01;
  color: #4F4F4F;
}

/* line 13, ../../../scss/theme/standard/Calendar.scss */
.fc-event.fc-apex-events-webservice {
  background-color: #FAB252;
  border-color: #FAB252;
  color: #4F4F4F;
}

/* line 15, ../../../scss/theme/standard/Calendar.scss */
.fc-event.apex-cal-black {
  background-color: #303030;
  border-color: #303030;
  color: #FFFFFF;
}

/* line 16, ../../../scss/theme/standard/Calendar.scss */
.fc-event.apex-cal-blue {
  background-color: #4183D7;
  border-color: #4183D7;
  color: #FFFFFF;
}

/* line 17, ../../../scss/theme/standard/Calendar.scss */
.fc-event.apex-cal-bluesky {
  background-color: #6BB9F0;
  border-color: #6BB9F0;
  color: #FFFFFF;
}

/* line 18, ../../../scss/theme/standard/Calendar.scss */
.fc-event.apex-cal-brown {
  background-color: #D88935;
  border-color: #D88935;
  color: #FFFFFF;
}

/* line 19, ../../../scss/theme/standard/Calendar.scss */
.fc-event.apex-cal-cyan {
  background-color: #1ABC9C;
  border-color: #1ABC9C;
  color: #404040;
}

/* line 20, ../../../scss/theme/standard/Calendar.scss */
.fc-event.apex-cal-darkblue {
  background-color: #1F5F97;
  border-color: #1F5F97;
  color: #FFFFFF;
}

/* line 21, ../../../scss/theme/standard/Calendar.scss */
.fc-event.apex-cal-gray {
  background-color: #A0A0A0;
  border-color: #A0A0A0;
  color: #404040;
}

/* line 22, ../../../scss/theme/standard/Calendar.scss */
.fc-event.apex-cal-green {
  background-color: #2ECC71;
  border-color: #2ECC71;
  color: #FFFFFF;
}

/* line 23, ../../../scss/theme/standard/Calendar.scss */
.fc-event.apex-cal-lime {
  background-color: #28A346;
  border-color: #28A346;
  color: #FFFFFF;
}

/* line 24, ../../../scss/theme/standard/Calendar.scss */
.fc-event.apex-cal-orange {
  background-color: #F39C12;
  border-color: #F39C12;
  color: #FFFFFF;
}

/* line 25, ../../../scss/theme/standard/Calendar.scss */
.fc-event.apex-cal-red {
  background-color: #D91E18;
  border-color: #D91E18;
  color: #FFFFFF;
}

/* line 26, ../../../scss/theme/standard/Calendar.scss */
.fc-event.apex-cal-silver {
  background-color: #BDC3C7;
  border-color: #BDC3C7;
  color: #404040;
}

/* line 27, ../../../scss/theme/standard/Calendar.scss */
.fc-event.apex-cal-white {
  background-color: #F0F0F0;
  border-color: #F0F0F0;
  color: #404040;
}

/* line 28, ../../../scss/theme/standard/Calendar.scss */
.fc-event.apex-cal-yellow {
  background-color: #F1C40F;
  border-color: #F1C40F;
  color: #404040;
}

/* line 31, ../../../scss/theme/standard/Calendar.scss */
.fc-agendaList-event.fc-apex-events-default {
  border-color: #2578CF;
}

/* line 32, ../../../scss/theme/standard/Calendar.scss */
.fc-agendaList-event.fc-apex-events-gcal {
  border-color: #01DF01;
}

/* line 33, ../../../scss/theme/standard/Calendar.scss */
.fc-agendaList-event.fc-apex-events-webservice {
  border-color: #FAB252;
}

/* line 34, ../../../scss/theme/standard/Calendar.scss */
.fc-agendaList-event.apex-cal-black {
  border-color: #303030;
}

/* line 35, ../../../scss/theme/standard/Calendar.scss */
.fc-agendaList-event.apex-cal-blue {
  border-color: #4183D7;
}

/* line 36, ../../../scss/theme/standard/Calendar.scss */
.fc-agendaList-event.apex-cal-bluesky {
  border-color: #6BB9F0;
}

/* line 37, ../../../scss/theme/standard/Calendar.scss */
.fc-agendaList-event.apex-cal-brown {
  border-color: #D88935;
}

/* line 38, ../../../scss/theme/standard/Calendar.scss */
.fc-agendaList-event.apex-cal-cyan {
  border-color: #1ABC9C;
}

/* line 39, ../../../scss/theme/standard/Calendar.scss */
.fc-agendaList-event.apex-cal-darkblue {
  border-color: #1F5F97;
}

/* line 40, ../../../scss/theme/standard/Calendar.scss */
.fc-agendaList-event.apex-cal-gray {
  border-color: #A0A0A0;
}

/* line 41, ../../../scss/theme/standard/Calendar.scss */
.fc-agendaList-event.apex-cal-green {
  border-color: #2ECC71;
}

/* line 42, ../../../scss/theme/standard/Calendar.scss */
.fc-agendaList-event.apex-cal-lime {
  border-color: #28A346;
}

/* line 43, ../../../scss/theme/standard/Calendar.scss */
.fc-agendaList-event.apex-cal-orange {
  border-color: #F39C12;
}

/* line 44, ../../../scss/theme/standard/Calendar.scss */
.fc-agendaList-event.apex-cal-red {
  border-color: #D91E18;
}

/* line 45, ../../../scss/theme/standard/Calendar.scss */
.fc-agendaList-event.apex-cal-silver {
  border-color: #BDC3C7;
}

/* line 46, ../../../scss/theme/standard/Calendar.scss */
.fc-agendaList-event.apex-cal-white {
  border-color: #F0F0F0;
}

/* line 47, ../../../scss/theme/standard/Calendar.scss */
.fc-agendaList-event.apex-cal-yellow {
  border-color: #F1C40F;
}
