/** 
 * Import Compass and Theme Variables
 */
/******************************************************************************
Sprite Mixin
******************************************************************************/
/******************************************************************************
Extendible Sprite Class
******************************************************************************/
/* ==========================================================================
   Theme Configuration File
   ========================================================================== */
/**
 * Base Colors
 * 
 * Description:
 * Provides a base for the UI.
 * 
 * Usage:
 * General UI Background, Region Headers, Buttons
 */
/**
 * Highlight Colors
 * 
 * Description:
 * Used for providing emphasis or importance to UI components.
 * 
 * Usage:
 * Region Headers, Primary / Hot Buttons
 */
/**
 * Accent and Status Colors
 * 
 * Description:
 * Used for indicating state-based UI components, status, or accents.
 * 
 * Usage:
 * Warnings, Errors, Danger Text, Success, Focus
 */
/* ==========================================================================
   Menu Bar
   ========================================================================== */
/* line 12, ../../../scss/theme/standard/Menu.scss */
.a-MenuBar {
  background-color: #F0F0F0;
}

/* line 15, ../../../scss/theme/standard/Menu.scss */
.a-MenuBar-label {
  padding: 8px;
  color: #404040;
}

/* line 19, ../../../scss/theme/standard/Menu.scss */
.a-MenuBar-item {
  border-right: 1px solid #D0D0D0;
  border-left: 1px solid #D0D0D0;
  margin-left: -1px;
}
/* line 23, ../../../scss/theme/standard/Menu.scss */
.a-MenuBar-item:first-child {
  margin-left: 0;
}

/* line 28, ../../../scss/theme/standard/Menu.scss */
.a-MenuBar-item.a-Menu--split > .a-Menu-subMenuCol,
.a-MenuBar.u-rtl .a-MenuBar-item.a-Menu--split > .a-Menu-subMenuCol {
  border-color: #E0E0E0;
  cursor: pointer;
}

/* line 33, ../../../scss/theme/standard/Menu.scss */
.a-MenuBar-item.is-disabled .a-MenuBar-label {
  color: #A0A0A0;
}

/* line 37, ../../../scss/theme/standard/Menu.scss */
.a-MenuBar-item:hover {
  background-color: #FFF;
}

/* line 40, ../../../scss/theme/standard/Menu.scss */
.a-MenuBar-item.is-expanded {
  background-color: #FFF;
}

/* line 43, ../../../scss/theme/standard/Menu.scss */
.a-MenuBar-item.is-focused {
  -webkit-box-shadow: 0 0 0 2px #4696fc inset;
  -moz-box-shadow: 0 0 0 2px #4696fc inset;
  box-shadow: 0 0 0 2px #4696fc inset;
  outline: none;
}

/* line 51, ../../../scss/theme/standard/Menu.scss */
.lte-ie9 .a-MenuBar-item.is-focused,
.lte-ie9 .a-Menu-item.is-focused,
.ie9 .a-MenuBar-item.is-focused,
.ie9 .a-Menu-item.is-focused {
  outline: 1px dotted;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  /* line 57, ../../../scss/theme/standard/Menu.scss */
  .a-MenuBar-item.is-focused,
  .a-Menu-item.is-focused {
    outline: 1px dotted;
  }
}
/* ==========================================================================
   Menu 
   ========================================================================== */
/* line 65, ../../../scss/theme/standard/Menu.scss */
.a-Menu-content {
  border-color: #A0A0A0;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  padding: 8px 0;
}

/* line 71, ../../../scss/theme/standard/Menu.scss */
.a-Menu .a-Menu {
  margin-top: -9px;
}

/* line 75, ../../../scss/theme/standard/Menu.scss */
.a-Menu .a-Menu-item {
  color: #404040;
}

/* line 86, ../../../scss/theme/standard/Menu.scss */
.a-Menu-itemSep .a-Menu-hSeparator {
  border-color: #F0F0F0;
}

/* line 90, ../../../scss/theme/standard/Menu.scss */
.a-Menu--current {
  background-color: #fff;
}

/* line 94, ../../../scss/theme/standard/Menu.scss */
.a-Menu .a-Menu-item.is-focused,
.a-Menu .a-Menu-item.is-expanded {
  background-color: #4696fc;
  color: #FFF;
}
/* line 101, ../../../scss/theme/standard/Menu.scss */
.a-Menu .a-Menu-item.is-focused > .a-Menu-inner .a-Menu-statusCol, .a-Menu .a-Menu-item.is-focused > .a-Menu-inner .a-Menu-accel,
.a-Menu .a-Menu-item.is-expanded > .a-Menu-inner .a-Menu-statusCol,
.a-Menu .a-Menu-item.is-expanded > .a-Menu-inner .a-Menu-accel {
  color: #FFF;
}

/* line 106, ../../../scss/theme/standard/Menu.scss */
.a-Menu .a-Menu-item.is-disabled.is-focused {
  background-color: #F8F8F8;
  -webkit-box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.15) inset, 0 1px 1px 0 rgba(0, 0, 0, 0.15) inset;
  -moz-box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.15) inset, 0 1px 1px 0 rgba(0, 0, 0, 0.15) inset;
  box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.15) inset, 0 1px 1px 0 rgba(0, 0, 0, 0.15) inset;
}
/* line 110, ../../../scss/theme/standard/Menu.scss */
.a-Menu .a-Menu-item.is-disabled.is-focused > .a-Menu-inner .a-Menu-statusCol, .a-Menu .a-Menu-item.is-disabled.is-focused > .a-Menu-inner .a-Menu-accel {
  color: #A0A0a0;
  color: rgba(64, 64, 64, 0.5);
  opacity: 1;
}

/* line 117, ../../../scss/theme/standard/Menu.scss */
.a-Menu .a-Menu-item.a-Menu-item--default .a-Menu-label {
  font-weight: bold;
}

/* ==========================================================================
   Scrolling Buttons
   ========================================================================== */
/* line 139, ../../../scss/theme/standard/Menu.scss */
.a-Menu-scrollBtn {
  background-color: #F0F0F0;
}

/* line 142, ../../../scss/theme/standard/Menu.scss */
.a-Menu-scrollBtn--up {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

/* line 145, ../../../scss/theme/standard/Menu.scss */
.a-Menu-scrollBtn--down {
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.15);
}

/* line 148, ../../../scss/theme/standard/Menu.scss */
.a-Menu-scrollBtn.is-active {
  background-color: #4696fc;
  color: #FFF;
}

/* line 152, ../../../scss/theme/standard/Menu.scss */
.a-Menu-scrollBtn.is-disabled {
  zoom: 1;
  filter: alpha(opacity=25);
  opacity: 0.25;
}

/* line 159, ../../../scss/theme/standard/Menu.scss */
.a-Menu-scrollBtn .a-Icon {
  margin: 0 auto;
  display: block;
}
