div#uBreadcrumbs {
  height: 20px;
  margin: 0 auto 0 auto;
}

div#uBreadcrumbs ul li a {
  color: #808080;
  text-decoration: none;
}

div#uBreadcrumbs ul li a:hover {
  text-decoration: underline;
}

div#uBreadcrumbs ul li.active a {
  color: #808080;
  font-weight: bold;
}

div#uBreadcrumbs ul li.uSeparator {
  color: #808080;
}

table.eba-app-screenshots td.screenshot {
  padding: 0 0 5px 0;
}

table.eba-app-screenshots td.desc {
  padding: 5px 4px 10px 4px;
  color: #808080;
}

table.eba-app-screenshots td img {
	border:1px solid #cccccc !important;;
	-moz-box-shadow: 4px 4px 6px #888;
	-webkit-box-shadow: 4px 4px 6px #888;
	box-shadow: 4px 4px 6px #888;
}	