<!--

a:link {text-decoration: none;}
           
a:visited {text-decoration: none;}
           
a:hover {text-decoration: underline;}

.parenttabtextoff:link {text-decoration: none;}

body
          {background-color: #ffffff;
           margin: 0px 0px 0px 0px;
           padding: 0px 0px 0px 0px;
           font-family: Arial, Helvetica, Geneva, sans-serif;}


.infobox  { padding-left: 2px;
            padding-right: 10px; 
            padding-top: 4px; 
            font-size: 10pt;
            color: #000000;}

.atab     { vertical-align: bottom;
            white-space: nowrap;
            height: 5px;
            background-image:url(/i/asybaseb2.gif);}
 
.atab0    {  vertical-align: top;
	     text-align: right;
	     background: #CCCC99;
	     height:22px;}

.atab1    {  vertical-align: bottom;
             white-space: nowrap;
	     text-align: right;
	     height:22px;}

.atab2    {  vertical-align: bottom;
             background: #CCCC99;}
	     height:17px;}
           
.ptableft  { vertical-align: top;
             text-align: left;             
             width: 1%;             
             background-color: #CCCC99;}

.ptabmid  { width: 1%;             
            text-align: left;             
            border: none;
            background-color: #CCCC99;}

.ptabright  { vertical-align: top;
             text-align: right;             
             width: 1%;             
             background-color: #CCCC99;}

.stableft  { white-space: nowrap;
             width: 1%;             
             background: #336699;}
             

.apptabtextoff
          {font-size: 10pt;
           text-decoration: none;
           color: #000000;}

.apptabtexton
          {font-size: 10pt;
           text-decoration: none;
           color: #FFFFFF;}

.parenttabtextoff
          {font-size: 10pt;
           color: #000000;}

.parenttabtexton
          {font-size: 10pt;
           text-decoration: none;
           color: #FFFFFF;}

.tabtextoff
          {font-size: 10pt;
           color: #CCCC99;}
                     
.tabtexton
          {font-size: 10pt;
           font-weight: bold;
           text-decoration: none;
           color: #FFFFFF;}

.listitemoff
          {font-size: 10pt;
           color: #000000;}

.listitemon
          {font-size: x-small;
           font-weight: bold;
           background: #336699;
           padding-left:15px;
           color: #FFFFFF;}

.smwhite
          {font-size: 10pt;
           color: #FFFFFF;}
.xsmwhite
          {font-size: 8pt;
           color: #FFFFFF;}

.xsmblack
          {font-size: 8pt;
           color: #000000;}

.smbrown
          {font-size: 8pt;
           color: brown;}

.xswhite
          {font-size: 9pt;
           color: #FFFFFF;}
           
.xsm336699
          {font-size: 8pt;
           color: #336699;}

.stan
          {font-size: 10pt;
           color: #CCCC99;}

.xstan
          {font-size: 9pt;
           color: #CCCC99;}

.regionheader
          {font-size: 12pt;
           font-weight: bold;
           color: #FFFFFF;}

.dkblueregionleft {width: 5px;
                vertical-align: top; 
		text-align: left; 
		background: #336699;}

.dkblueregionrt {width: 5px;
                 vertical-align: top; 
	         text-align: right; 
	         background: #336699;}


.blueregionleft {width: 5px;
                vertical-align: top; 
		text-align: left; 
		background: #6699CC;}

.blueregionright {width: 5px;
                  vertical-align: top; 
		  text-align: right; 
		  background: #6699CC;}

.tanregionleft {width: 5px;
                vertical-align: top; 
		text-align: left; 
		background: #CCCC99;}

.tanregionright {width: 5px;
                vertical-align: top; 
		text-align: right; 
		background: #CCCC99;}

.header
          {font-size: 16pt;
           font-weight: bold;
           color: #336699;}
.subheader
          {font-size: 13pt;
           font-weight: bold;
           color: #6699cc;}

.stepheader
          {font-size: 12pt;
           font-weight: bold;
           color: #ffffff;}

.subheader1
          {font-size: 13pt;
           font-weight: bold;
           color: #336699;}

.subheader2
          {font-size: 11pt;
           font-weight: bold;
           color: #336699;}

.tab3archiveslink
          {font-size: 9pt;
           color: #663300;}

.tab3heading
          {font-size: 14pt;
           font-weight: bold;
           color: #003366;}

.headerondark
          {font-size: 16pt;
           font-weight: bold;
           color: #003366;}
		   
.subheaderondark1
          {font-size: 14pt;
           font-weight: bold;
           color: #003366;}

.subheaderondark2
          {font-size: 11pt;
           font-weight: bold;
           color: #003366;}

.headeronlight
          {font-size: 16pt;
           font-weight: bold;
           color: #6699cc;}
		   
.subheaderonlight1
          {font-size: 14pt;
           font-weight: bold;
           color: #6699cc;}

.subheaderonlight2
          {font-size: 11pt;
           font-weight: bold;
           color: #6699cc;}

.contenttext
          {font-size: 10pt;
           color: #000000;}

.contenttextheader
          {font-size: 10pt;
           font-weight: bold;
           color: #000000;}

.subheader1black
          {font-size: 13pt;
           font-weight: bold;
           color: #000000;}

.fieldtitle
          {font-size: 10pt;
           color: #000000;
           text-align: right;}

.fieldtitlebold
          {font-size: 10pt;
           font-weight: bold;
           color: #000000;
           text-align: right;}

.fieldtitlered
          {font-size: 10pt;
           font-weight: bold;
           color: #ff0000;
           text-align: right;}

.fieldtitleleft
          {font-size: 10pt;
           color: #000000;}

.fielddata
          {font-size: 10pt;
           color: #000000;}

.fielddatabold
          {font-size: 10pt;
           font-weight: bold;
           color: #000000;}

.fielddatasmall
          {font-size: 8pt;
           color: #000000;}
.fielddatasmaller
          {font-size: 7pt;
           color: #000000;}


.instructiontext
          {font-size: 10pt;
           color: #000000;}

.buttontext
          {font-size: 10pt;
           color: #000000;}

.confirmationtext
          {font-size: 10pt;
           color: #336699;}

.tiptext
          {font-size: 9pt;
           color: #336699;}

.OraTipLabel {font-size:10pt; font-weight:bold; color:#336699}
.OraTipText {font-size:10pt; color:#336699}

.errortext
          {font-size: 10pt;
           color: #cc0000;
           font-weight: bold;}

.inlineerrortext
          {font-size: 8pt;
           color: #cc0000;
           font-weight: bold;}

.urgenttext
          {font-size: 10pt;
           color: #cc0000;}

.errorheader
          {font-size: 13pt;
           font-weight: bold;
           color: #cc0000;}

.disabledtext
          {font-size: 10pt;
           color: #CCCC99;
          }

.footerlinks
          {font-size: 10pt;
           color: #000000;}

.tableheader
          {font-size: 10pt;
           font-weight: bold;
           background: #cccc99;
           color: #336699;}

.tableheaderinverse
          {font-size: 10pt;
           font-weight: bold;
           background: #336699;
           color: #cccc99;}

.tableheaderhighlight
          {font-size: 10pt;
           font-weight: bold;
           background: #336699;
           color: #ffffff;}

.tabledata
          {font-size: 10pt;
           background: #f7f7e7;
           color: #000000;}

.tabledata-alt
          {font-size: 10pt;
           background: #ffffff;
           color: #000000;}

.tabledatabold
          {font-size: 10pt;
           font-weight: bold;
           background: #f7f7e7;
           color: #000000;}

.tabactivelevel2
          {font-size: 10pt;
           font-weight: bold;
           background: #336699;
           color: #cccc99;}

.tabinactivelevel2
          {font-size: 10pt;
           font-weight: bold;
           background: #336699;
           color: #ffffff;}
           
.rowhighlight
        {font-size: 10pt;
         background: #cccc99;
         color: #000000;}

.rowunhighlight
        {font-size: 10pt;
         background: #ffffff;
         color: #000000;}            

.controlbar
          {font-size: 10pt;
           font-weight: bold;
           background: #cccc99;
           color: #336699;}

.approvalhistdata
          {font-size: 10pt;
           background: #f7f7e7;
           color: #000000;}

.approvalhistpending
          {font-size: 10pt;
           font-weight: bold;
           background: #f7f7e7;
           color: #000000;}

.approvalhistpastaction
          {font-size: 10pt;
           background: #f7f7e7;
           color: #009966;}

.approvalhistreject
          {font-size: 10pt;
           background: #f7f7e7;
           color: #cc0000;}

.linkheader
          {font-size: 9pt;
           color: #666666;}

.helptextbold
          {font-size: 10pt;
           font-weight: bold;
           color: #003366;}

.helptextwhitebold
          {font-size: 10pt;
           font-weight: bold;
           background: #336699;
           color: #FFFFFF;}

.helptextwhite
          {font-size: 9pt;
           background: #336699;
           color: #FFFFFF;}

.helpmainsubheader2
          {font-size: 12pt;
           font-weight: bold;
           color: #336699;}

.sidebarlink
          {font-size: 10pt;
           font-weight: bold;
           color: #003366;}

.sidebartext
          {font-size: 10pt;
           font-weight: bold;
           color: #ffffff;}

.chiclettitle
	{font-size: 11pt;}

.nomatchtext
	  {font-size: 10pt;
	   color: #336699;}
     
.searchtext
	  {font-size: 10pt;
	   color: #000000;
	   font-weight: bold;}
ul.platform { margin-left : 2em;
            padding-bottom : 2em;
                        font-size: 10pt;
            list-style-image: url(/i/hideshow_infohidden.gif);
            list-style-type: circle;}
ul.platform_s { margin-left : 2em;
            padding-bottom : 2em;
                        font-size: 12pt;
            list-style-image: url(/i/shuttle_move_enabled.gif);
            list-style-type: circle;}

.nounderline 
           {text-decoration: none}

.text8{font-size: 8pt;}
    
.text10{font-size: 10pt;}   
.text12{font-size: 12pt;}
    
.text14{font-size: 14pt;}

div.float {
  float: left;
  padding: 10px;
  text-align: left;
    font-size: 11pt;  
  }

.OraTreeRow 
           {font-family:Arial,Helvetica,Geneva,sans-serif;
            font-size: 8pt;            
            color:#003366}

input.button8{
  background-color:#336699;
  color:#ffffff;
  font-size:8pt;
  border: 2px #84b7ea outset;
}

input.button10{
  background-color:#336699;
  color:#ffffff;
  font-size:10pt;
  border: 2px #84b7ea outset;
}
input.button10_69c{
  background-color:#6699cc;
  color:#ffffff;
  font-size:10pt;
  border: 2px #84b7ea outset;
}

input.button8_69c{
  background-color:#6699cc;
  color:#ffffff;
  font-size:8pt;
  border: 2px #84b7ea outset;
}
input.button8_369{
  background-color:#336699;
  color:#ffffff;
  font-size:8pt;
  border: 2px #84b7ea outset;
}
input.button8_cc9{
  background-color:#cccc99;
  color:#336699;
  font-size:8pt;
  border: 2px #eaeab7 outset;
}


SPAN.OraTreeRow A:link {color:#663300}

SPAN.OraTreeRow A:active {color:#663300}

SPAN.OraTreeRow A:visited {color:#663300}

td.sectionhead1 {
    text-align: center;
    font-size: 12pt;
    font-weight:bold;
    color:  #959562;
    font-family:arial;}

td.sectionhead2 {
    border-left:    2px #cccc99 solid;
    border-top:     2px #cccc99 solid;
    border-right:   2px #cccc99 solid;
    width: 100%;
    height: 10px;
    font-size:1pt;
    }
    
td.sectionfoot {
    border-left:    2px #cccc99 solid;
    border-bottom:     2px #cccc99 solid;
    border-right:   2px #cccc99 solid;
    width: 100%;
    height: 10px;
    font-size:1pt;
    }
    
td.itemtext{
    font-size:  9pt;
    font-family:arial;
    padding-right:3px;}
    
a.regiontitle {
    color:#ffffff;}
    
a.regiontitle:visited {
    color:#ffffff;}
    
a.regiontitle:link {
    color:#ffffff;}
    
a.listitem{
    color: #000000;
    font-size:10pt;}
    
a.listitem:link{
    text-decoration:none;    
    color: #000000;}
    
a.listitem:visited{
    text-decoration:none;    
    color: #000000;}
    
a.listitem:hover{
    text-decoration:underline;    
    color: red;}
    
a.xsmlink {
    color: #000000;
    font-size:8pt;}
    
a.xsmlink:link {
    text-decoration:none;    
    color: #000000;}
    
a.xsmlink:visited {
    text-decoration:none;    
    color: #000000;}
    
a.xsmlink:hover {
    text-decoration:underline;    
    color: red;}
    
.codexsm {
    font-size: 9pt;
    font-family: "courier new";}
    
a.itemlink {
    font-size:9pt;
    color:#336699;}
  
a.itemlink:link {
    text-decoration:none;    
    color: #336699;}
    
a.itemlink:visited {
    text-decoration:none;    
    color: #336699;}
    
a.itemlink:hover {
    text-decoration:underline;    
    color: red;}

a.taboff:link {
    color: #cccc99;}
    
a.taboff:visited {
    color: #cccc99;}

a.taboff:hover {
    color: #cccc99;}

.graysm{
    font-size: 9pt;
    color:999999;}

.tiny {         font-size: xx-small;
 }
 
a.buttonhtml{font-size:10pt;}
a.buttonhtml:link{text-decoration:none;color:#000000;}
a.buttonhtml:visited{text-decoration:none;color:#000000;}
a.buttonhtml:hover{text-decoration:none;color:#000000;}

td.buttonhtmlmiddle{border-bottom:2px #656533 solid;
                    border-top:1px #989867 solid;
                    background-color:#f7f7e7;}
                    
td.buttonhtmlleft{border-bottom:2px #656533 solid;
                   border-top:1px #989867 solid;
                   background-color:#f7f7e7;
                   border-right:2px #656533 solid;
                   padding-right:8px;}
                   
td.buttonhtmlright{border-bottom:2px #656533 solid;
                   border-top:1px #989867 solid;
                   background-color:#f7f7e7;
                   border-left:1px #656533 solid;
                   padding-left:8px;}
                    
a.blaf{color:#663300;
       font-size:10pt;}

div.regioninfo1{z-index:3;
      background-color:#ffffff;
      padding:2px;
      width:1%;
      position:relative;
      clear:right;
      font-size:12pt;
      font-weight:bold;
      color:#336699;
      margin-top:4px;}
      
div.regioninfo2{width:98%;
      padding:4px;
      padding-top: 12px;
      font-size:9pt;
      position:relative;
      top:-10px;
      left:-8px;
      z-index:2;
      border:1px #cccc99 dashed;
      color:#336699;
      }    

div.flowShuttle{
    font-weight:bold;
    font-size:18pt;
    font-family:"Courier New",Courier,monospace;}

div.flowShuttle div{margin:-1px;padding:0px;}
         
    
div.flowShuttle a:link{color:#663300;text-decoration:none;}
div.flowShuttle a:visited{color:#663300;text-decoration:none;}
div.flowShuttle a:hover{color:#ff0000;text-decoration:none;}
div.flowShuttle a:active{color:#663300;text-decoration:none;}

-->
