/* line 1, ../../scss/5.0/AppIcons.scss */
.app-apex-application-archive {
  background-image: url("../../apex_ui/img/icons_src/pkg-apps/app-apex-application-archive.svg");
  background-repeat: no-repeat;
}

/* line 2, ../../scss/5.0/AppIcons.scss */
.app-application-standards-tracker {
  background-image: url("../../apex_ui/img/icons_src/pkg-apps/app-application-standards-tracker.svg");
  background-repeat: no-repeat;
}

/* line 3, ../../scss/5.0/AppIcons.scss */
.app-artwork-catalog {
  background-image: url("../../apex_ui/img/icons_src/pkg-apps/app-artwork-catalog.svg");
  background-repeat: no-repeat;
}

/* line 4, ../../scss/5.0/AppIcons.scss */
.app-bug-tracking {
  background-image: url("../../apex_ui/img/icons_src/pkg-apps/app-bug-tracking.svg");
  background-repeat: no-repeat;
}

/* line 5, ../../scss/5.0/AppIcons.scss */
.app-checklist-manager {
  background-image: url("../../apex_ui/img/icons_src/pkg-apps/app-checklist-manager.svg");
  background-repeat: no-repeat;
}

/* line 6, ../../scss/5.0/AppIcons.scss */
.app-community-requests {
  background-image: url("../../apex_ui/img/icons_src/pkg-apps/app-community-requests.svg");
  background-repeat: no-repeat;
}

/* line 7, ../../scss/5.0/AppIcons.scss */
.app-customer-tracker {
  background-image: url("../../apex_ui/img/icons_src/pkg-apps/app-customer-tracker.svg");
  background-repeat: no-repeat;
}

/* line 8, ../../scss/5.0/AppIcons.scss */
.app-data-reporter {
  background-image: url("../../apex_ui/img/icons_src/pkg-apps/app-data-reporter.svg");
  background-repeat: no-repeat;
}

/* line 9, ../../scss/5.0/AppIcons.scss */
.app-decision-manager {
  background-image: url("../../apex_ui/img/icons_src/pkg-apps/app-decision-manager.svg");
  background-repeat: no-repeat;
}

/* line 10, ../../scss/5.0/AppIcons.scss */
.app-expertise-tracker {
  background-image: url("../../apex_ui/img/icons_src/pkg-apps/app-expertise-tracker.svg");
  background-repeat: no-repeat;
}

/* line 11, ../../scss/5.0/AppIcons.scss */
.app-feedback {
  background-image: url("../../apex_ui/img/icons_src/pkg-apps/app-feedback.svg");
  background-repeat: no-repeat;
}

/* line 12, ../../scss/5.0/AppIcons.scss */
.app-go-live-checklist {
  background-image: url("../../apex_ui/img/icons_src/pkg-apps/app-go-live-checklist.svg");
  background-repeat: no-repeat;
}

/* line 13, ../../scss/5.0/AppIcons.scss */
.app-group-calendar {
  background-image: url("../../apex_ui/img/icons_src/pkg-apps/app-group-calendar.svg");
  background-repeat: no-repeat;
}

/* line 14, ../../scss/5.0/AppIcons.scss */
.app-incident-tracking {
  background-image: url("../../apex_ui/img/icons_src/pkg-apps/app-incident-tracking.svg");
  background-repeat: no-repeat;
}

/* line 15, ../../scss/5.0/AppIcons.scss */
.app-issue-tracker {
  background-image: url("../../apex_ui/img/icons_src/pkg-apps/app-issue-tracker.svg");
  background-repeat: no-repeat;
}

/* line 16, ../../scss/5.0/AppIcons.scss */
.app-live-poll {
  background-image: url("../../apex_ui/img/icons_src/pkg-apps/app-live-poll.svg");
  background-repeat: no-repeat;
}

/* line 17, ../../scss/5.0/AppIcons.scss */
.app-meeting-minutes {
  background-image: url("../../apex_ui/img/icons_src/pkg-apps/app-meeting-minutes.svg");
  background-repeat: no-repeat;
}

/* line 18, ../../scss/5.0/AppIcons.scss */
.app-opportunity-tracker {
  background-image: url("../../apex_ui/img/icons_src/pkg-apps/app-opportunity-tracker.svg");
  background-repeat: no-repeat;
}

/* line 19, ../../scss/5.0/AppIcons.scss */
.app-p-track {
  background-image: url("../../apex_ui/img/icons_src/pkg-apps/app-p-track.svg");
  background-repeat: no-repeat;
}

/* line 20, ../../scss/5.0/AppIcons.scss */
.app-sample-brookstrut {
  background-image: url("../../apex_ui/img/icons_src/pkg-apps/app-sample-brookstrut.svg");
  background-repeat: no-repeat;
}

/* line 21, ../../scss/5.0/AppIcons.scss */
.app-sample-calendar {
  background-image: url("../../apex_ui/img/icons_src/pkg-apps/app-sample-calendar.svg");
  background-repeat: no-repeat;
}

/* line 22, ../../scss/5.0/AppIcons.scss */
.app-sample-charts {
  background-image: url("../../apex_ui/img/icons_src/pkg-apps/app-sample-charts.svg");
  background-repeat: no-repeat;
}

/* line 23, ../../scss/5.0/AppIcons.scss */
.app-sample-collections {
  background-image: url("../../apex_ui/img/icons_src/pkg-apps/app-sample-collections.svg");
  background-repeat: no-repeat;
}

/* line 24, ../../scss/5.0/AppIcons.scss */
.app-sample-data-loading {
  background-image: url("../../apex_ui/img/icons_src/pkg-apps/app-sample-data-loading.svg");
  background-repeat: no-repeat;
}

/* line 25, ../../scss/5.0/AppIcons.scss */
.app-sample-database-application {
  background-image: url("../../apex_ui/img/icons_src/pkg-apps/app-sample-database-application.svg");
  background-repeat: no-repeat;
}

/* line 26, ../../scss/5.0/AppIcons.scss */
.app-sample-dialog {
  background-image: url("../../apex_ui/img/icons_src/pkg-apps/app-sample-dialog.svg");
  background-repeat: no-repeat;
}

/* line 27, ../../scss/5.0/AppIcons.scss */
.app-sample-dynamic-actions {
  background-image: url("../../apex_ui/img/icons_src/pkg-apps/app-sample-dynamic-actions.svg");
  background-repeat: no-repeat;
}

/* line 28, ../../scss/5.0/AppIcons.scss */
.app-sample-file-upload-download {
  background-image: url("../../apex_ui/img/icons_src/pkg-apps/app-sample-file-upload-download.svg");
  background-repeat: no-repeat;
}

/* line 29, ../../scss/5.0/AppIcons.scss */
.app-sample-forms {
  background-image: url("../../apex_ui/img/icons_src/pkg-apps/app-sample-forms.svg");
  background-repeat: no-repeat;
}

/* line 30, ../../scss/5.0/AppIcons.scss */
.app-sample-geolocation {
  background-image: url("../../apex_ui/img/icons_src/pkg-apps/app-sample-geolocation.svg");
  background-repeat: no-repeat;
}

/* line 31, ../../scss/5.0/AppIcons.scss */
.app-sample-lists {
  background-image: url("../../apex_ui/img/icons_src/pkg-apps/app-sample-lists.svg");
  background-repeat: no-repeat;
}

/* line 32, ../../scss/5.0/AppIcons.scss */
.app-sample-master-detail {
  background-image: url("../../apex_ui/img/icons_src/pkg-apps/app-sample-master-detail.svg");
  background-repeat: no-repeat;
}

/* line 33, ../../scss/5.0/AppIcons.scss */
.app-sample-reporting {
  background-image: url("../../apex_ui/img/icons_src/pkg-apps/app-sample-reporting.svg");
  background-repeat: no-repeat;
}

/* line 34, ../../scss/5.0/AppIcons.scss */
.app-sample-search {
  background-image: url("../../apex_ui/img/icons_src/pkg-apps/app-sample-search.svg");
  background-repeat: no-repeat;
}

/* line 35, ../../scss/5.0/AppIcons.scss */
.app-sample-trees {
  background-image: url("../../apex_ui/img/icons_src/pkg-apps/app-sample-trees.svg");
  background-repeat: no-repeat;
}

/* line 36, ../../scss/5.0/AppIcons.scss */
.app-sample-universal-theme {
  background-image: url("../../apex_ui/img/icons_src/pkg-apps/app-sample-universal-theme.svg");
  background-repeat: no-repeat;
}

/* line 37, ../../scss/5.0/AppIcons.scss */
.app-sample-websheet-anyco {
  background-image: url("../../apex_ui/img/icons_src/pkg-apps/app-sample-websheet-anyco.svg");
  background-repeat: no-repeat;
}

/* line 38, ../../scss/5.0/AppIcons.scss */
.app-sample-wizard {
  background-image: url("../../apex_ui/img/icons_src/pkg-apps/app-sample-wizard.svg");
  background-repeat: no-repeat;
}

/* line 39, ../../scss/5.0/AppIcons.scss */
.app-survey-builder {
  background-image: url("../../apex_ui/img/icons_src/pkg-apps/app-survey-builder.svg");
  background-repeat: no-repeat;
}

/* line 40, ../../scss/5.0/AppIcons.scss */
.app-systems-catalog {
  background-image: url("../../apex_ui/img/icons_src/pkg-apps/app-systems-catalog.svg");
  background-repeat: no-repeat;
}

/* line 41, ../../scss/5.0/AppIcons.scss */
.app-use-case-status {
  background-image: url("../../apex_ui/img/icons_src/pkg-apps/app-use-case-status.svg");
  background-repeat: no-repeat;
}

/* line 42, ../../scss/5.0/AppIcons.scss */
.app-websheet-any-co {
  background-image: url("../../apex_ui/img/icons_src/pkg-apps/app-websheet-any-co.svg");
  background-repeat: no-repeat;
}

/* line 43, ../../scss/5.0/AppIcons.scss */
.app-websheet-big-cats {
  background-image: url("../../apex_ui/img/icons_src/pkg-apps/app-websheet-big-cats.svg");
  background-repeat: no-repeat;
}

/* ==========================================================================
   Packaged App Icons
   ========================================================================== */
/*
 * Light Blue
 */
/* line 61, ../../scss/5.0/AppIcons.scss */
.app-apex-application-archive,
.app-customer-tracker,
.app-data-reporter,
.app-group-calendar,
.app-sample-search,
.app-websheet-any-co {
  background-color: #4FA5E9 !important;
}

/*
 * Dark Blue
 */
/* line 73, ../../scss/5.0/AppIcons.scss */
.app-feedback,
.app-issue-tracker,
.app-sample-dialog,
.app-sample-lists,
.app-sample-calendar {
  background-color: #3F84BB !important;
}

/*
 * Darker Blue
 */
/* line 91, ../../scss/5.0/AppIcons.scss */
.app-artwork-catalog,
.app-checklist-manager,
.app-go-live-checklist,
.app-opportunity-tracker,
.app-p-track,
.app-sample-data-loading,
.app-sample-forms,
.app-sample-reporting,
.app-sample-wizard,
.app-use-case-status,
.app-sample-universal-theme {
  background-color: #3E566D !important;
}

/*
 * Light Gray
 */
/* line 101, ../../scss/5.0/AppIcons.scss */
.app-application-standards-tracker,
.app-sample-database-application,
.app-sample-geolocation {
  background-color: #E5E7E9 !important;
}

/*
 * Dark Gray
 */
/* line 110, ../../scss/5.0/AppIcons.scss */
.app-sample-collections,
.app-meeting-minutes {
  background-color: #4C4E50 !important;
}

/*
 * Orange
 */
/* line 124, ../../scss/5.0/AppIcons.scss */
.app-sample-brookstrut,
.app-incident-tracking,
.app-sample-charts,
.app-sample-file-upload-download,
.app-systems-catalog,
.app-community-requests,
.app-live-poll {
  background-color: #FDBD3E !important;
}

/*
 * Green
 */
/* line 136, ../../scss/5.0/AppIcons.scss */
.app-bug-tracking,
.app-decision-manager,
.app-sample-dynamic-actions,
.app-sample-master-detail,
.app-sample-trees {
  background-color: #27A168 !important;
}

/*
 * Red
 */
/* line 146, ../../scss/5.0/AppIcons.scss */
.app-expertise-tracker,
.app-survey-builder,
.app-websheet-big-cats {
  background-color: #F64434 !important;
}
