/**
 * Import Compass and Theme Variables
 */
/******************************************************************************
Sprite Mixin
******************************************************************************/
/******************************************************************************
Extendible Sprite Class
******************************************************************************/
/* ==========================================================================
   Theme Configuration File
   ========================================================================== */
/**
 * Base Colors
 * 
 * Description:
 * Provides a base for the UI.
 * 
 * Usage:
 * General UI Background, Region Headers, Buttons
 */
/**
 * Highlight Colors
 * 
 * Description:
 * Used for providing emphasis or importance to UI components.
 * 
 * Usage:
 * Region Headers, Primary / Hot Buttons
 */
/**
 * Accent and Status Colors
 * 
 * Description:
 * Used for indicating state-based UI components, status, or accents.
 * 
 * Usage:
 * Warnings, Errors, Danger Text, Success, Focus
 */
/******************************************************************************
Color Variables
******************************************************************************/
/******************************************************************************
Button for Theme
******************************************************************************/
/* line 32, ../../scss/theme/standard/Button.scss */
.a-Button {
  border: none;
  color: #444444;
  border-radius: 2px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-font-smoothing: antialiased;
}

/* line 46, ../../scss/theme/standard/Button.scss */
.a-Button:hover {
  z-index: 100;
}

/* line 50, ../../scss/theme/standard/Button.scss */
.a-Button:focus {
  z-index: 110;
}

/* line 59, ../../scss/theme/standard/Button.scss */
.a-Button:active {
  z-index: 100;
}

/* line 65, ../../scss/theme/standard/Button.scss */
.a-Button.is-active,
.a-Button.is-active:active {
  font-weight: bold;
  z-index: 100;
}

/* line 76, ../../scss/theme/standard/Button.scss */
.a-Button.is-disabled,
.a-Button.is-disabled:active,
.a-Button:disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  pointer-events: none;
}

/* line 122, ../../scss/theme/standard/Button.scss */
.a-Button--noUI,
.a-Button--noUI:hover,
.a-Button--noUI:active {
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
}

/* line 128, ../../scss/theme/standard/Button.scss */
.a-Button.a-Button--popupLOV {
  padding: 4px 8px;
  color: #404040;
}

/* line 133, ../../scss/theme/standard/Button.scss */
.a-Button.a-Button--calendar,
.a-Button.a-Button--listManager {
  padding: 4px 8px;
}

/* line 136, ../../scss/theme/standard/Button.scss */
.a-Button.a-Button--shuttle {
  padding: 2px 4px;
}

/* line 139, ../../scss/theme/standard/Button.scss */
.a-Button--listManager {
  background: #F0F0F0;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset;
  margin-left: 4px;
}

/* line 144, ../../scss/theme/standard/Button.scss */
.a-Button.a-Button--calendar {
  margin-left: -1px;
}

/* line 150, ../../scss/theme/standard/Button.scss */
.a-Button {
  font-size: 12px;
  line-height: 16px;
  padding: 8px 12px;
}

/* line 168, ../../scss/theme/standard/Button.scss */
.a-Button .a-Icon--pullRight {
  float: right !important;
  margin-left: 4px;
  margin-right: 0 !important;
}

/* line 175, ../../scss/theme/standard/Button.scss */
.a-Button--withIcon {
  padding: 8px 10px;
  line-height: 16px;
}
/* line 178, ../../scss/theme/standard/Button.scss */
.a-Button--withIcon .a-Icon {
  margin-right: 4px;
}
/* line 182, ../../scss/theme/standard/Button.scss */
.a-Button--withIcon.a-Button--slim {
  padding-right: 8px;
  padding-left: 8px;
}

/* line 187, ../../scss/theme/standard/Button.scss */
.a-Button--iconTextButton {
  padding-right: 8px;
}

/* line 192, ../../scss/theme/standard/Button.scss */
.a-Button--noLabel .a-FAIcon,
.a-Button--noLabel .a-Icon {
  margin-right: 0;
}

/**
 * Import Compass and Theme Variables
 */
/******************************************************************************
Sprite Mixin
******************************************************************************/
/******************************************************************************
Extendible Sprite Class
******************************************************************************/
/* ==========================================================================
   Theme Configuration File
   ========================================================================== */
/**
 * Base Colors
 * 
 * Description:
 * Provides a base for the UI.
 * 
 * Usage:
 * General UI Background, Region Headers, Buttons
 */
/**
 * Highlight Colors
 * 
 * Description:
 * Used for providing emphasis or importance to UI components.
 * 
 * Usage:
 * Region Headers, Primary / Hot Buttons
 */
/**
 * Accent and Status Colors
 * 
 * Description:
 * Used for indicating state-based UI components, status, or accents.
 * 
 * Usage:
 * Warnings, Errors, Danger Text, Success, Focus
 */
/******************************************************************************
Calendar
******************************************************************************/
/* line 11, ../../scss/theme/standard/Calendar.scss */
.fc-event.fc-apex-events-default {
  background-color: #2578CF;
  border-color: #2578CF;
  color: #FFF;
}

/* line 12, ../../scss/theme/standard/Calendar.scss */
.fc-event.fc-apex-events-gcal {
  background-color: #01DF01;
  border-color: #01DF01;
  color: #4F4F4F;
}

/* line 13, ../../scss/theme/standard/Calendar.scss */
.fc-event.fc-apex-events-webservice {
  background-color: #FAB252;
  border-color: #FAB252;
  color: #4F4F4F;
}

/* line 15, ../../scss/theme/standard/Calendar.scss */
.fc-event.apex-cal-black {
  background-color: #303030;
  border-color: #303030;
  color: #FFFFFF;
}

/* line 16, ../../scss/theme/standard/Calendar.scss */
.fc-event.apex-cal-blue {
  background-color: #4183D7;
  border-color: #4183D7;
  color: #FFFFFF;
}

/* line 17, ../../scss/theme/standard/Calendar.scss */
.fc-event.apex-cal-bluesky {
  background-color: #6BB9F0;
  border-color: #6BB9F0;
  color: #FFFFFF;
}

/* line 18, ../../scss/theme/standard/Calendar.scss */
.fc-event.apex-cal-brown {
  background-color: #D88935;
  border-color: #D88935;
  color: #FFFFFF;
}

/* line 19, ../../scss/theme/standard/Calendar.scss */
.fc-event.apex-cal-cyan {
  background-color: #1ABC9C;
  border-color: #1ABC9C;
  color: #404040;
}

/* line 20, ../../scss/theme/standard/Calendar.scss */
.fc-event.apex-cal-darkblue {
  background-color: #1F5F97;
  border-color: #1F5F97;
  color: #FFFFFF;
}

/* line 21, ../../scss/theme/standard/Calendar.scss */
.fc-event.apex-cal-gray {
  background-color: #A0A0A0;
  border-color: #A0A0A0;
  color: #404040;
}

/* line 22, ../../scss/theme/standard/Calendar.scss */
.fc-event.apex-cal-green {
  background-color: #2ECC71;
  border-color: #2ECC71;
  color: #FFFFFF;
}

/* line 23, ../../scss/theme/standard/Calendar.scss */
.fc-event.apex-cal-lime {
  background-color: #28A346;
  border-color: #28A346;
  color: #FFFFFF;
}

/* line 24, ../../scss/theme/standard/Calendar.scss */
.fc-event.apex-cal-orange {
  background-color: #F39C12;
  border-color: #F39C12;
  color: #FFFFFF;
}

/* line 25, ../../scss/theme/standard/Calendar.scss */
.fc-event.apex-cal-red {
  background-color: #D91E18;
  border-color: #D91E18;
  color: #FFFFFF;
}

/* line 26, ../../scss/theme/standard/Calendar.scss */
.fc-event.apex-cal-silver {
  background-color: #BDC3C7;
  border-color: #BDC3C7;
  color: #404040;
}

/* line 27, ../../scss/theme/standard/Calendar.scss */
.fc-event.apex-cal-white {
  background-color: #F0F0F0;
  border-color: #F0F0F0;
  color: #404040;
}

/* line 28, ../../scss/theme/standard/Calendar.scss */
.fc-event.apex-cal-yellow {
  background-color: #F1C40F;
  border-color: #F1C40F;
  color: #404040;
}

/* line 31, ../../scss/theme/standard/Calendar.scss */
.fc-agendaList-event.fc-apex-events-default {
  border-color: #2578CF;
}

/* line 32, ../../scss/theme/standard/Calendar.scss */
.fc-agendaList-event.fc-apex-events-gcal {
  border-color: #01DF01;
}

/* line 33, ../../scss/theme/standard/Calendar.scss */
.fc-agendaList-event.fc-apex-events-webservice {
  border-color: #FAB252;
}

/* line 34, ../../scss/theme/standard/Calendar.scss */
.fc-agendaList-event.apex-cal-black {
  border-color: #303030;
}

/* line 35, ../../scss/theme/standard/Calendar.scss */
.fc-agendaList-event.apex-cal-blue {
  border-color: #4183D7;
}

/* line 36, ../../scss/theme/standard/Calendar.scss */
.fc-agendaList-event.apex-cal-bluesky {
  border-color: #6BB9F0;
}

/* line 37, ../../scss/theme/standard/Calendar.scss */
.fc-agendaList-event.apex-cal-brown {
  border-color: #D88935;
}

/* line 38, ../../scss/theme/standard/Calendar.scss */
.fc-agendaList-event.apex-cal-cyan {
  border-color: #1ABC9C;
}

/* line 39, ../../scss/theme/standard/Calendar.scss */
.fc-agendaList-event.apex-cal-darkblue {
  border-color: #1F5F97;
}

/* line 40, ../../scss/theme/standard/Calendar.scss */
.fc-agendaList-event.apex-cal-gray {
  border-color: #A0A0A0;
}

/* line 41, ../../scss/theme/standard/Calendar.scss */
.fc-agendaList-event.apex-cal-green {
  border-color: #2ECC71;
}

/* line 42, ../../scss/theme/standard/Calendar.scss */
.fc-agendaList-event.apex-cal-lime {
  border-color: #28A346;
}

/* line 43, ../../scss/theme/standard/Calendar.scss */
.fc-agendaList-event.apex-cal-orange {
  border-color: #F39C12;
}

/* line 44, ../../scss/theme/standard/Calendar.scss */
.fc-agendaList-event.apex-cal-red {
  border-color: #D91E18;
}

/* line 45, ../../scss/theme/standard/Calendar.scss */
.fc-agendaList-event.apex-cal-silver {
  border-color: #BDC3C7;
}

/* line 46, ../../scss/theme/standard/Calendar.scss */
.fc-agendaList-event.apex-cal-white {
  border-color: #F0F0F0;
}

/* line 47, ../../scss/theme/standard/Calendar.scss */
.fc-agendaList-event.apex-cal-yellow {
  border-color: #F1C40F;
}

/** 
 * Import Compass and Theme Variables
 */
/******************************************************************************
Sprite Mixin
******************************************************************************/
/******************************************************************************
Extendible Sprite Class
******************************************************************************/
/* ==========================================================================
   Theme Configuration File
   ========================================================================== */
/**
 * Base Colors
 * 
 * Description:
 * Provides a base for the UI.
 * 
 * Usage:
 * General UI Background, Region Headers, Buttons
 */
/**
 * Highlight Colors
 * 
 * Description:
 * Used for providing emphasis or importance to UI components.
 * 
 * Usage:
 * Region Headers, Primary / Hot Buttons
 */
/**
 * Accent and Status Colors
 * 
 * Description:
 * Used for indicating state-based UI components, status, or accents.
 * 
 * Usage:
 * Warnings, Errors, Danger Text, Success, Focus
 */
/******************************************************************************
Color Variables
******************************************************************************/
/* line 11, ../../scss/theme/standard/DevToolbar.scss */
.a-DevToolbar {
  background-color: #606060;
  background-color: rgba(0, 0, 0, 0.5);
  border-color: #303030;
  border-color: rgba(0, 0, 0, 0.25);
}

/* line 17, ../../scss/theme/standard/DevToolbar.scss */
.a-DevToolbar-list {
  overflow: hidden;
}

/* line 21, ../../scss/theme/standard/DevToolbar.scss */
.a-DevToolbar--top {
  border-radius: 0 0 2px 2px;
  -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

/* line 28, ../../scss/theme/standard/DevToolbar.scss */
.a-DevToolbar--bottom {
  border-radius: 2px 2px 0 0;
  -webkit-box-shadow: 0 -2px 4px -1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 -2px 4px -1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 -2px 4px -1px rgba(0, 0, 0, 0.2);
}

/* line 35, ../../scss/theme/standard/DevToolbar.scss */
.a-DevToolbar--left {
  border-radius: 0 2px 2px 0;
  -webkit-box-shadow: 2px 0 4px -1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 0 4px -1px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 0 4px -1px rgba(0, 0, 0, 0.2);
}

/* line 40, ../../scss/theme/standard/DevToolbar.scss */
.a-DevToolbar--right {
  border-radius: 2px 0 0 2px;
  -webkit-box-shadow: -2px 0 4px -1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -2px 0 4px -1px rgba(0, 0, 0, 0.2);
  box-shadow: -2px 0 4px -1px rgba(0, 0, 0, 0.2);
}

/* line 45, ../../scss/theme/standard/DevToolbar.scss */
.a-Button.a-Button--devToolbar {
  background-color: #404040;
  color: #EEE;
}
/* line 49, ../../scss/theme/standard/DevToolbar.scss */
.a-Button.a-Button--devToolbar:hover {
  background-color: #606060;
  color: #FFF;
}
/* line 56, ../../scss/theme/standard/DevToolbar.scss */
.a-Button.a-Button--devToolbar.is-active, .a-Button.a-Button--devToolbar:active, .a-Button.a-Button--devToolbar:focus {
  color: #FFF;
  background-color: #202020;
}

/* line 63, ../../scss/theme/standard/DevToolbar.scss */
.a-DevToolbar-uiSelector {
  border-color: #3182d8;
  border-radius: 2px;
}

/** 
 * Import Compass and Theme Variables
 */
/******************************************************************************
Sprite Mixin
******************************************************************************/
/******************************************************************************
Extendible Sprite Class
******************************************************************************/
/* ==========================================================================
   Theme Configuration File
   ========================================================================== */
/**
 * Base Colors
 * 
 * Description:
 * Provides a base for the UI.
 * 
 * Usage:
 * General UI Background, Region Headers, Buttons
 */
/**
 * Highlight Colors
 * 
 * Description:
 * Used for providing emphasis or importance to UI components.
 * 
 * Usage:
 * Region Headers, Primary / Hot Buttons
 */
/**
 * Accent and Status Colors
 * 
 * Description:
 * Used for indicating state-based UI components, status, or accents.
 * 
 * Usage:
 * Warnings, Errors, Danger Text, Success, Focus
 */
/******************************************************************************
Interactive Report
******************************************************************************/
/* line 10, ../../scss/theme/standard/IRR.scss */
.a-IRR {
  border-color: #E0E0E0;
  background-color: #FFF;
}

/* line 14, ../../scss/theme/standard/IRR.scss */
.a-IRR-toolbar {
  border-color: #E0E0E0;
  background-color: #F0F0F0;
}

/* ==========================================================================
   Search Field + Button
   ========================================================================== */
/* line 22, ../../scss/theme/standard/IRR.scss */
.a-IRR-search-field {
  border-top: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;
  border-left-width: 0;
  border-right-width: 0;
}
/* line 27, ../../scss/theme/standard/IRR.scss */
.a-IRR-search-field:focus {
  border-color: #4696fc;
  -webkit-box-shadow: 0 0 0 1px #4696fc inset, -2px 0 0 #4696fc inset, 2px 0 0 #4696fc inset, 0 0 2px 0 rgba(70, 150, 252, 0.5);
  -moz-box-shadow: 0 0 0 1px #4696fc inset, -2px 0 0 #4696fc inset, 2px 0 0 #4696fc inset, 0 0 2px 0 rgba(70, 150, 252, 0.5);
  box-shadow: 0 0 0 1px #4696fc inset, -2px 0 0 #4696fc inset, 2px 0 0 #4696fc inset, 0 0 2px 0 rgba(70, 150, 252, 0.5);
}

/* line 32, ../../scss/theme/standard/IRR.scss */
.a-IRR-button--search {
  vertical-align: top;
}

/* ==========================================================================
   Select Lists (Rows and Saved Reports)
   ========================================================================== */
/* line 39, ../../scss/theme/standard/IRR.scss */
.a-IRR-selectList {
  border-color: #E0E0E0;
}
/* line 41, ../../scss/theme/standard/IRR.scss */
.a-IRR-selectList:focus {
  border-color: #4696fc;
  -webkit-box-shadow: 0 0 0 1px #4696fc, 0 0 2px 0 rgba(70, 150, 252, 0.5);
  -moz-box-shadow: 0 0 0 1px #4696fc, 0 0 2px 0 rgba(70, 150, 252, 0.5);
  box-shadow: 0 0 0 1px #4696fc, 0 0 2px 0 rgba(70, 150, 252, 0.5);
}

/** 
 * Import Compass and Theme Variables
 */
/******************************************************************************
Sprite Mixin
******************************************************************************/
/******************************************************************************
Extendible Sprite Class
******************************************************************************/
/* ==========================================================================
   Theme Configuration File
   ========================================================================== */
/**
 * Base Colors
 * 
 * Description:
 * Provides a base for the UI.
 * 
 * Usage:
 * General UI Background, Region Headers, Buttons
 */
/**
 * Highlight Colors
 * 
 * Description:
 * Used for providing emphasis or importance to UI components.
 * 
 * Usage:
 * Region Headers, Primary / Hot Buttons
 */
/**
 * Accent and Status Colors
 * 
 * Description:
 * Used for indicating state-based UI components, status, or accents.
 * 
 * Usage:
 * Warnings, Errors, Danger Text, Success, Focus
 */
/* ==========================================================================
   Menu Bar
   ========================================================================== */
/* line 12, ../../scss/theme/standard/Menu.scss */
.a-MenuBar {
  background-color: #F0F0F0;
}

/* line 15, ../../scss/theme/standard/Menu.scss */
.a-MenuBar-label {
  padding: 8px;
  color: #404040;
}

/* line 19, ../../scss/theme/standard/Menu.scss */
.a-MenuBar-item {
  border-right: 1px solid #D0D0D0;
  border-left: 1px solid #D0D0D0;
  margin-left: -1px;
}
/* line 23, ../../scss/theme/standard/Menu.scss */
.a-MenuBar-item:first-child {
  margin-left: 0;
}

/* line 28, ../../scss/theme/standard/Menu.scss */
.a-MenuBar-item.a-Menu--split > .a-Menu-subMenuCol,
.a-MenuBar.u-rtl .a-MenuBar-item.a-Menu--split > .a-Menu-subMenuCol {
  border-color: #E0E0E0;
  cursor: pointer;
}

/* line 33, ../../scss/theme/standard/Menu.scss */
.a-MenuBar-item.is-disabled .a-MenuBar-label {
  color: #A0A0A0;
}

/* line 37, ../../scss/theme/standard/Menu.scss */
.a-MenuBar-item:hover {
  background-color: #FFF;
}

/* line 40, ../../scss/theme/standard/Menu.scss */
.a-MenuBar-item.is-expanded {
  background-color: #FFF;
}

/* line 43, ../../scss/theme/standard/Menu.scss */
.a-MenuBar-item.is-focused {
  -webkit-box-shadow: 0 0 0 2px #4696fc inset;
  -moz-box-shadow: 0 0 0 2px #4696fc inset;
  box-shadow: 0 0 0 2px #4696fc inset;
  outline: none;
}

/* line 51, ../../scss/theme/standard/Menu.scss */
.lte-ie9 .a-MenuBar-item.is-focused,
.lte-ie9 .a-Menu-item.is-focused,
.ie9 .a-MenuBar-item.is-focused,
.ie9 .a-Menu-item.is-focused {
  outline: 1px dotted;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  /* line 57, ../../scss/theme/standard/Menu.scss */
  .a-MenuBar-item.is-focused,
  .a-Menu-item.is-focused {
    outline: 1px dotted;
  }
}
/* ==========================================================================
   Menu 
   ========================================================================== */
/* line 65, ../../scss/theme/standard/Menu.scss */
.a-Menu-content {
  border-color: #A0A0A0;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  padding: 8px 0;
}

/* line 71, ../../scss/theme/standard/Menu.scss */
.a-Menu .a-Menu {
  margin-top: -9px;
}

/* line 75, ../../scss/theme/standard/Menu.scss */
.a-Menu .a-Menu-item {
  color: #404040;
}

/* line 86, ../../scss/theme/standard/Menu.scss */
.a-Menu-itemSep .a-Menu-hSeparator {
  border-color: #F0F0F0;
}

/* line 90, ../../scss/theme/standard/Menu.scss */
.a-Menu--current {
  background-color: #fff;
}

/* line 94, ../../scss/theme/standard/Menu.scss */
.a-Menu .a-Menu-item.is-focused,
.a-Menu .a-Menu-item.is-expanded {
  background-color: #4696fc;
  color: #FFF;
}
/* line 101, ../../scss/theme/standard/Menu.scss */
.a-Menu .a-Menu-item.is-focused > .a-Menu-inner .a-Menu-statusCol, .a-Menu .a-Menu-item.is-focused > .a-Menu-inner .a-Menu-accel,
.a-Menu .a-Menu-item.is-expanded > .a-Menu-inner .a-Menu-statusCol,
.a-Menu .a-Menu-item.is-expanded > .a-Menu-inner .a-Menu-accel {
  color: #FFF;
}

/* line 106, ../../scss/theme/standard/Menu.scss */
.a-Menu .a-Menu-item.is-disabled.is-focused {
  background-color: #F8F8F8;
  -webkit-box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.15) inset, 0 1px 1px 0 rgba(0, 0, 0, 0.15) inset;
  -moz-box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.15) inset, 0 1px 1px 0 rgba(0, 0, 0, 0.15) inset;
  box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.15) inset, 0 1px 1px 0 rgba(0, 0, 0, 0.15) inset;
}
/* line 110, ../../scss/theme/standard/Menu.scss */
.a-Menu .a-Menu-item.is-disabled.is-focused > .a-Menu-inner .a-Menu-statusCol, .a-Menu .a-Menu-item.is-disabled.is-focused > .a-Menu-inner .a-Menu-accel {
  color: #A0A0a0;
  color: rgba(64, 64, 64, 0.5);
  opacity: 1;
}

/* line 117, ../../scss/theme/standard/Menu.scss */
.a-Menu .a-Menu-item.a-Menu-item--default .a-Menu-label {
  font-weight: bold;
}

/* ==========================================================================
   Scrolling Buttons
   ========================================================================== */
/* line 139, ../../scss/theme/standard/Menu.scss */
.a-Menu-scrollBtn {
  background-color: #F0F0F0;
}

/* line 142, ../../scss/theme/standard/Menu.scss */
.a-Menu-scrollBtn--up {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

/* line 145, ../../scss/theme/standard/Menu.scss */
.a-Menu-scrollBtn--down {
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.15);
}

/* line 148, ../../scss/theme/standard/Menu.scss */
.a-Menu-scrollBtn.is-active {
  background-color: #4696fc;
  color: #FFF;
}

/* line 152, ../../scss/theme/standard/Menu.scss */
.a-Menu-scrollBtn.is-disabled {
  zoom: 1;
  filter: alpha(opacity=25);
  opacity: 0.25;
}

/* line 159, ../../scss/theme/standard/Menu.scss */
.a-Menu-scrollBtn .a-Icon {
  margin: 0 auto;
  display: block;
}

/** 
 * Import Compass and Theme Variables
 */
/******************************************************************************
Sprite Mixin
******************************************************************************/
/******************************************************************************
Extendible Sprite Class
******************************************************************************/
/* ==========================================================================
   Theme Configuration File
   ========================================================================== */
/**
 * Base Colors
 * 
 * Description:
 * Provides a base for the UI.
 * 
 * Usage:
 * General UI Background, Region Headers, Buttons
 */
/**
 * Highlight Colors
 * 
 * Description:
 * Used for providing emphasis or importance to UI components.
 * 
 * Usage:
 * Region Headers, Primary / Hot Buttons
 */
/**
 * Accent and Status Colors
 * 
 * Description:
 * Used for indicating state-based UI components, status, or accents.
 * 
 * Usage:
 * Warnings, Errors, Danger Text, Success, Focus
 */
/* ==========================================================================
 Tree Component
 ========================================================================== */
/* line 11, ../../scss/theme/standard/Tree.scss */
.a-TreeView {
  position: relative;
  /* so that it works well in a scrolling container */
}

/* line 15, ../../scss/theme/standard/Tree.scss */
.a-TreeView.is-disabled {
  background-color: #F0F0F0;
}

/* ==========================================================================
Tree Parent List
 ========================================================================== */
/* ==========================================================================
Toggle Control
 ========================================================================== */
/* line 29, ../../scss/theme/standard/Tree.scss */
.a-TreeView-toggle {
  color: #A0A0A0;
  color: rgba(0, 0, 0, 0.2);
}

/*
 * Active Tree Node Toggle
 */
/* line 39, ../../scss/theme/standard/Tree.scss */
.a-TreeView-row.is-selected + .a-TreeView-toggle {
  color: #FFF;
  color: rgba(255, 255, 255, 0.5);
}

/*
 * Row Active when Dragging
 */
/* line 49, ../../scss/theme/standard/Tree.scss */
.a-TreeView-row.is-active {
  background-color: #FFFFA3;
}

/* line 52, ../../scss/theme/standard/Tree.scss */
.a-TreeView-content.is-selected.is-active {
  background-color: #FFFFA3;
}
/* line 54, ../../scss/theme/standard/Tree.scss */
.a-TreeView-content.is-selected.is-active .a-TreeView-label {
  color: #404040;
}

/* ==========================================================================
Tree Row
---
Empty Element that is used to provide highlighting of tree
 ========================================================================== */
/* line 106, ../../scss/theme/standard/Tree.scss */
.a-TreeView-row.is-selected,
.a-TreeView-row.is-selected.is-hover {
  background-color: #2D7BBB;
}

/* line 110, ../../scss/theme/standard/Tree.scss */
.a-TreeView-row.is-focused {
  outline: none;
  -webkit-box-shadow: 0 0 0 2px rgba(57, 155, 234, 0.5);
  -moz-box-shadow: 0 0 0 2px rgba(57, 155, 234, 0.5);
  box-shadow: 0 0 0 2px rgba(57, 155, 234, 0.5);
}

/* line 115, ../../scss/theme/standard/Tree.scss */
.a-TreeView-row.is-focused,
.a-TreeView-row.is-selected.is-focused {
  background-color: #399BEA;
}

/* line 118, ../../scss/theme/standard/Tree.scss */
.a-TreeView-row.is-hover {
  background-color: #F8F8F8;
}

/* ==========================================================================
Tree Node Content
 ========================================================================== */
/* line 128, ../../scss/theme/standard/Tree.scss */
.a-TreeView-content.is-selected .a-TreeView-label,
.a-TreeView-content.is-selected .a-Icon:before {
  color: #FFF;
}

/* ==========================================================================
Tree Node Label
 ========================================================================== */
/* line 138, ../../scss/theme/standard/Tree.scss */
.a-TreeView-label,
.a-TreeView-label input {
  color: #404040;
}

/* ==========================================================================
Tree Placeholder
---
Used when dragging / dropping
 ========================================================================== */
/* line 147, ../../scss/theme/standard/Tree.scss */
.a-TreeView-placeholder > .a-TreeView-row {
  background-color: #FFFFA3;
}

/* line 154, ../../scss/theme/standard/Tree.scss */
.a-TreeView-dragHelper {
  border-color: #9EA9B7;
  background-color: #E5EEFB;
}
