body {margin: 0 !important; padding: 0 !important;}
div#body {
	min-width: 748px; max-width: 960px;
	margin: 0 auto;
	padding: 0 10px;
	position: relative;
	}
div#footer {
	min-width: 748px; max-width: 960px;
	margin: 0 auto 40px auto;
	}
div.ebaHeader {
	min-width: 748px; max-width: 960px;
	margin: 0 auto 10px auto;
	}
#topbar {
	min-width: 748px; max-width: 960px;
	margin: 0 auto;
	}
	#topbar > div {
		padding: 0 10px;
		}
table.tbl-body {
	width: 100%;
	}
.tbl-sidebar {
	padding: 0 !important;
	}

.tsToolTip {
	display: none;
	position:absolute;
	padding:5px 10px;
	color: #FFF;
	text-align: center;
	border-radius:6px;
	-moz-border-radius: 6px;
	background-color: #222;
	background: -webkit-gradient(linear,0 0, 0 100%, from(rgba(0,0,0,.75)), to(rgba(0,0,0,.9)));
	background: -moz-linear-gradient(top, rgba(0,0,0,.75), rgba(0,0,0,.9));
	width: 160px;
	font: normal 11px/14px Arial, sans-serif;
	text-shadow: 0 1px 1px rgba(255,255,255,.05);
	-webkit-box-shadow: 0 -2px 2px rgba(0,0,0,.25);
	-moz-box-shadow: 0 -2px 2px rgba(0,0,0,.25);
}

.tsToolTip:after {
	content:"";
	display:block;
	position:absolute;
	bottom: -10px;
	left: 80px;
	width:0;
	height:0;
	border-width: 10px 10px 0;
	border-style:solid;
	border-color: rgba(0,0,0,.9) transparent;
}

#LAUNCHPAD {

	}
	
div.ebaLaunchPadRegion {
	border: 1px solid #999;
	border-radius: 6px;
	-moz-border-radius: 6px;
	margin: 0 0 10px 0;
	background-color: #AAA;
	overflow: hidden;
	}
	

#LAUNCHPAD .rc-content-main {
	padding: 0;
	}
#LAUNCHPAD .sCustomSearch {
	padding: 0;
	}
.tbl-sidebar {
	padding: 0;
	}

div.ebaLaunchPad {
	padding: 10px 9px;
	border-radius: 7px 7px 6px 6px;
	-moz-border-radius: 7px 7px 6px 6px;
	background-color: #FFF;
	-webkit-box-shadow: 0 -1px 0 0 rgba(0,0,0,.25);
	-moz-box-shadow: 0 -1px 0 0 rgba(0,0,0,.25);
	overflow: hidden;
	}
div.ebaLaunchPad ul {
	margin: 0;
	padding: 0;
	list-style: none;
	}
	div.ebaLaunchPad ul li {
		float: left;
		display: block;
		margin: 0;
		}
	div.ebaLaunchPad ul li a {
		display: block;
		text-decoration: none;
		width: 94px;
		height: 98px;
		outline: none;
		border-radius: 10px;
		-moz-border-radius: 10px;
		padding: 10px 5px;
		-webkit-transition: background-color .2s linear;
		}
		div.ebaLaunchPad.ebaIconPicker ul li a {
			width: 64px;
			height: 64px;
			padding: 10px;
			margin: 0 5px 0 0;
			}
			div.ebaLaunchPad.ebaIconPicker ul li a.active {
				background: -webkit-gradient(linear,0 0,0 100%,from(rgba(0,0,0,.8)),to(rgba(0,0,0,.6)));
				background: -moz-linear-gradient(top, rgba(0,0,0,.8), rgba(0,0,0,.6));
				}
		div.ebaLaunchPad ul li a:hover {
			background-color: rgba(0,0,0,0.1);
			text-decoration: none;
			}
		div.ebaLaunchPad ul li a span.ebaAppIcon {
			display: block;
			margin: 0 auto;
			padding: 0;
			width: 64px;
			height: 64px;
			-webkit-border-radius: 12px;
			-moz-border-radius: 12px;
			border-radius: 12px;
			background: #DDD;
			background: -webkit-gradient(linear,0 0,0 100%, from(#FFF), to(#DDD));
			background: -moz-linear-gradient(top, #FFF, #DDD);
			-webkit-box-shadow: 0 2px 4px rgba(0,0,0,.4);
			-moz-box-shadow: 0 2px 4px rgba(0,0,0,.4);
			}
		div.ebaLaunchPad ul li a span.ebaAppIcon img {
			width: 64px;
			height: 64px;
			background-image: url(../img/eba_launchpad.png);
			background-repeat: no-repeat;
			border: none;
			-webkit-border-radius: 11px;
			-moz-border-radius: 11px;
			border-radius: 11px;
			-webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.1) inset;
			-moz-box-shadow: 0 0 0 1px rgba(0,0,0,.25) inset;
			}
div.ebaLaunchPad ul li a span.ebaAppIcon img.generic{background-position:0 0;}
div.ebaLaunchPad ul li a span.ebaAppIcon img.bug_tracker{background-position:-64px 0;}
div.ebaLaunchPad ul li a span.ebaAppIcon img.checklist_manager{background-position:-128px 0;}
div.ebaLaunchPad ul li a span.ebaAppIcon img.aria_people{background-position:-192px 0;}
div.ebaLaunchPad ul li a span.ebaAppIcon img.project_tracking{background-position:-256px 0;}
div.ebaLaunchPad ul li a span.ebaAppIcon img.solar{background-position:-320px 0;}
div.ebaLaunchPad ul li a span.ebaAppIcon img.website{background-position:-384px 0;}
div.ebaLaunchPad ul li a span.ebaAppIcon img.apex_service{background-position:-448px 0;}
div.ebaLaunchPad ul li a span.ebaAppIcon img.solar_red{background-position:-512px 0;}
div.ebaLaunchPad ul li a span.ebaAppIcon img.sales{background-position:-576px 0;}

div.ebaLaunchPad ul li a span.ebaAppIcon img.data_modeler{background-position:0 -64px;}
div.ebaLaunchPad ul li a span.ebaAppIcon img.group_calendar{background-position:-64px -64px;}
div.ebaLaunchPad ul li a span.ebaAppIcon img.ask_tom{background-position:-128px -64px;}
div.ebaLaunchPad ul li a span.ebaAppIcon img.learning_library2{background-position:-192px -64px;}
div.ebaLaunchPad ul li a span.ebaAppIcon img.document_library{background-position:-256px -64px;}
div.ebaLaunchPad ul li a span.ebaAppIcon img.learning_library{background-position:-320px -64px;}
div.ebaLaunchPad ul li a span.ebaAppIcon img.comp_tracker{background-position:-384px -64px;}
div.ebaLaunchPad ul li a span.ebaAppIcon img.artwork_catalog{background-position:-448px -64px;}
div.ebaLaunchPad ul li a span.ebaAppIcon img.customer_tracker{background-position:-512px -64px;}
div.ebaLaunchPad ul li a span.ebaAppIcon img.knowledge_testing{background-position:-576px -64px;}

div.ebaLaunchPad ul li a span.ebaAppIcon img.software_release_tracking{background-position:0 -128px;}
div.ebaLaunchPad ul li a span.ebaAppIcon img.approvals_tracking {background-position:-64px -128px;}
div.ebaLaunchPad ul li a span.ebaAppIcon img.community_requests{background-position:-128px -128px;}
div.ebaLaunchPad ul li a span.ebaAppIcon img.reference_tracking{background-position:-192px -128px;}
div.ebaLaunchPad ul li a span.ebaAppIcon img.event_registration{background-position:-256px -128px;}
div.ebaLaunchPad ul li a span.ebaAppIcon img.systems_catalog{background-position:-320px -128px;}
div.ebaLaunchPad ul li a span.ebaAppIcon img.discussion_forum {background-position:-384px -128px;}
div.ebaLaunchPad ul li a span.ebaAppIcon img.expertise_tracker{background-position:-448px -128px;}
div.ebaLaunchPad ul li a span.ebaAppIcon img.asset_manager{background-position:-512px -128px;}
div.ebaLaunchPad ul li a span.ebaAppIcon img.survey_builder{background-position:-576px -128px;}

div.ebaLaunchPad ul li a span.ebaAppIcon img.help_builder{background-position:0 -192px;}
xdiv.ebaLaunchPad ul li a span.ebaAppIcon img.approvals_tracking {background-position:-64px -192px;}
xdiv.ebaLaunchPad ul li a span.ebaAppIcon img.community_requests{background-position:-128px -192px;}
xdiv.ebaLaunchPad ul li a span.ebaAppIcon img.reference_tracking{background-position:-192px -192px;}
xdiv.ebaLaunchPad ul li a span.ebaAppIcon img.event_registration{background-position:-256px -192px;}
xdiv.ebaLaunchPad ul li a span.ebaAppIcon img.systems_catalog{background-position:-320px -192px;}
xdiv.ebaLaunchPad ul li a span.ebaAppIcon img.discussion_forum {background-position:-384px -192px;}
xdiv.ebaLaunchPad ul li a span.ebaAppIcon img.expertise_tracker{background-position:-448px -192px;}
xdiv.ebaLaunchPad ul li a span.ebaAppIcon img.asset_manager{background-position:-512px -192px;}
xdiv.ebaLaunchPad ul li a span.ebaAppIcon img.survey_builder{background-position:-576px -192px;}
		
/*		div.ebaLaunchPad ul li.ebaGenericIcons a span.ebaAppIcon img {
			background-image: url(eba_launchpad_generic.png);
			}*/
div.ebaLaunchPad ul li.ebaGenericIcons a span.ebaAppIcon img.icon1 {background-image: url(../img/eba_launchpad_generic.png); background-position:0 0;}
div.ebaLaunchPad ul li.ebaGenericIcons a span.ebaAppIcon img.icon2 {background-image: url(../img/eba_launchpad_generic.png); background-position:-64px 0;}
div.ebaLaunchPad ul li.ebaGenericIcons a span.ebaAppIcon img.icon3 {background-image: url(../img/eba_launchpad_generic.png); background-position:-128px 0;}
div.ebaLaunchPad ul li.ebaGenericIcons a span.ebaAppIcon img.icon4 {background-image: url(../img/eba_launchpad_generic.png); background-position:-192px 0;}
div.ebaLaunchPad ul li.ebaGenericIcons a span.ebaAppIcon img.icon5 {background-image: url(../img/eba_launchpad_generic.png); background-position:-256px 0;}
div.ebaLaunchPad ul li.ebaGenericIcons a span.ebaAppIcon img.icon6 {background-image: url(../img/eba_launchpad_generic.png); background-position:-320px 0;}
div.ebaLaunchPad ul li.ebaGenericIcons a span.ebaAppIcon img.icon7 {background-image: url(../img/eba_launchpad_generic.png); background-position:-384px 0;}
div.ebaLaunchPad ul li.ebaGenericIcons a span.ebaAppIcon img.icon8 {background-image: url(../img/eba_launchpad_generic.png); background-position:-448px 0;}
div.ebaLaunchPad ul li.ebaGenericIcons a span.ebaAppIcon img.icon9 {background-image: url(../img/eba_launchpad_generic.png); background-position:-512px 0;}
div.ebaLaunchPad ul li.ebaGenericIcons a span.ebaAppIcon img.icon10{background-image: url(../img/eba_launchpad_generic.png); background-position:-576px 0;}
div.ebaLaunchPad ul li.ebaGenericIcons a span.ebaAppIcon img.icon11{background-image: url(../img/eba_launchpad_generic.png); background-position:0 -64px;}

		
		div.ebaLaunchPad ul li a span.ebaAppName {
			display: block;
			text-align: center;
			font: bold 11px/14px Arial, sans-serif;
			color: #222;
			text-decoration: none;
			padding-top: 5px;
			text-shadow: 0 2px 1px rgba(0,0,0,.10);
			}
		div.ebaLaunchPad ul li a span.ebaAppDesc {
			display: none;
			}
			
/* Search Bar */
/*<div class="ebaLPSearchBar">
		<div class="ebaLeft">
			<div class="ebaLPSearch">
				<input type="text"/>
				<span class="ebaClearSearch"></span>
			</div>
		</div>
		<div class="ebaRight">
			<ul>
				<li><a href="#">APEX Apps</a></li>
				<li><a href="#">External Links</a></li>
				</ul>
		</div>*/
div.ebaLPSearchBar {
	background: url(../img/noise.png) 0 0;
	border-radius: 6px 6px 0 0;
	-moz-border-radius: 7px 7px 0 0;
	-webkit-box-shadow: 0 1px 0 0 rgba(255,255,255,.5) inset;
	-moz-box-shadow: 0 1px 0 0 rgba(255,255,255,.5) inset;
	}
div.ebaLPSearchBar div.ebaWorkspaceTitle {
	text-align: center;
	padding: 5px 5px;
	margin-bottom: 5px;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
	color: #222;
	}
	div.ebaLPSearchBar div.ebaWorkspaceTitle span {
		display: inline-block;
		font: bold 13px/14px Arial, sans-serif;
		}
		div.ebaLPSearchBar div.ebaWorkspaceTitle span em {
			display: inline-block;
			font: normal 13px/14px Arial, sans-serif;
			}
div.ebaLPSearchBar div.ebaBar {
	display: table;
	width: 100%;
	padding: 0 0 10px 0;
	}
div.ebaLPSearchBar div.ebaBar > div {
	display: table-cell;
	}
div.ebaLPSearchBar div.ebaLeft {
	padding:  0 0 0 8px;
	width: 328px;
	}
div.ebaLPSearchBar div.ebaRight {
	float: right;
	}

div.ebaLPSearchBar div.ebaLPSearch {
	position: relative;
	}
div.ebaLPSearchBar div.ebaLPSearch input {
	display: block;
	float: left;
	border-radius: 20px;
	-moz-border-radius: 20px;
	height: 24px;
	font: normal 14px/24px Arial, sans-serif;
	width: 280px;
	padding: 0 24px;
	border: 1px solid rgba(0,0,0,.50);
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.75), 0 1px 2px 0 rgba(0,0,0,.25) inset;
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,.75), 0 1px 2px 0 rgba(0,0,0,.25) inset;
	background: url(../img/eba_launchpad_searchbar.png) 0 0 no-repeat #FFF;
	margin: 0;
	}
	div.ebaLPSearchBar div.ebaLPSearch input:focus {
/*		border: 2px solid #000;*/
		}
	div.ebaLPSearchBar div.ebaLPSearch span.ebaClearSearch {
		display: block;
		width: 18px;
		height: 18px;
		background: url(../img/eba_launchpad_searchbar.png) 0 -32px no-repeat #DDD;
		position: absolute;
		right: 4px;
		top: 4px;
		border-radius: 20px;
		-moz-border-radius: 20px;
		-webkit-transition: background .1s linear;
		}
		div.ebaLPSearchBar div.ebaLPSearch span.ebaClearSearch:hover {
			background: url(../img/eba_launchpad_searchbar.png) 0 -32px no-repeat #AAA;
			}
		div.ebaLPSearchBar div.ebaLPSearch span.ebaClearSearch:active {
			background: url(../img/eba_launchpad_searchbar.png) 0 -32px no-repeat #666;
			}
div.ebaLPSearchBar span.ebaLabel {
	display: block;
	float: left;
	font: normal 11px/24px Arial, sans-serif;
	margin: 0 6px 0 0;
	color: rgba(0,0,0,.75);
	text-shadow: 0 1px 0 rgba(255,255,255,.75);
	}
div.ebaLPSearchBar ul {
	display: block;
	margin: 0 9px 0 0;
	padding: 0;
	list-style: none;
	float: left;
	}
	div.ebaLPSearchBar ul li {
		display: block;
		float: left;
		}
		div.ebaLPSearchBar ul li:first-child a {
			border-radius: 4px 0 0 4px;
			-moz-border-radius: 4px 0 0 4px;
			}
		div.ebaLPSearchBar ul li:last-child a {
			border-radius: 0 4px 4px 0;
			-moz-border-radius: 0 4px 4px 0;
			border: 1px solid rgba(0,0,0,.50);
			}
		div.ebaLPSearchBar ul li:only-child a {
			border-radius: 4px;
			-moz-border-radius: 4px;
			border: 1px solid rgba(0,0,0,.50);
			}
		div.ebaLPSearchBar ul li a {
			display: block;
			color: rgba(0,0,0,.75);
			text-shadow: 0 1px 0 rgba(255,255,255,.75);
			text-decoration: none;
			font: normal 11px/24px Arial, sans-serif;
			border: 1px solid rgba(0,0,0,.50);
			border-right: none;
			padding: 0 10px;
			background: -webkit-gradient(linear, 0 0, 0 100%, from(#EEE), to(#BBB));
			background: -moz-linear-gradient(top, #EEE, #BBB);
			-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.75), 0 1px 0 rgba(255,255,255,.75) inset;
			-moz-box-shadow: 0 1px 0 rgba(255,255,255,.75), 0 1px 0 rgba(255,255,255,.75) inset;
			}
			div.ebaLPSearchBar ul li a span {
				display: block;
				width: 24px;
				height: 24px;
				background-image: url(../img/eba_launchpad_searchbar.png);
				background-repeat: no-repeat;
				}
			div.ebaLPSearchBar ul li a span.ebaIconAllApps{background-position:0 -50px;}
			div.ebaLPSearchBar ul li.active a span.ebaIconAllApps{background-position:-24px -50px;}
			div.ebaLPSearchBar ul li a span.ebaIconAPEXApps{background-position:0 -74px;}
			div.ebaLPSearchBar ul li.active a span.ebaIconAPEXApps{background-position:-24px -74px;}
			div.ebaLPSearchBar ul li a span.ebaIconWebsheets{background-position:0 -122px;}
			div.ebaLPSearchBar ul li.active a span.ebaIconWebsheets{background-position:-24px -122px;}
			div.ebaLPSearchBar ul li a span.ebaIconLinks{background-position:0 -146px;}
			div.ebaLPSearchBar ul li.active a span.ebaIconLinks{background-position:-24px -146px;}

			
div.ebaLPSearchBar ul li.ebaAddApp {
	position: relative;
	}

div.ebaLPSearchBar ul li.ebaAddApp a {
	padding: 0 3px 0 4px;
	}
			div.ebaLPSearchBar ul li a span.ebaIconAdd{background-position:0 -98px;}
			div.ebaLPSearchBar ul li.active a span.ebaIconAdd{background-position:-24px -98px;}

		div.ebaLPSearchBar ul li.active a,
		div.ebaLPSearchBar ul li.active a:active {
			background: -webkit-gradient(linear, 0 0, 0 100%, from(#999), to(#444));
			background: -moz-linear-gradient(top, #999, #444);
			color: #FFF;
			text-shadow: 0 1px 1px rgba(0,0,0,.5);
			-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.75), 0 1px 2px rgba(0,0,0,.5) inset;
			-moz-box-shadow: 0 1px 0 rgba(255,255,255,.75), 0 1px 2px rgba(0,0,0,.5) inset;
			}
		div.ebaLPSearchBar ul li a:active {
			background: -webkit-gradient(linear, 0 0, 0 100%, from(#DDD), to(#AAA));
			background: -moz-linear-gradient(top, #DDD, #AAA);
			-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.75), 0 1px 2px rgba(0,0,0,.5) inset;
			-moz-box-shadow: 0 1px 0 rgba(255,255,255,.75), 0 1px 2px rgba(0,0,0,.5) inset;
			}
	

/* Label for Pill Under the Icons*/
div.ebaPill {
	float: left;
	margin: 8px 9px 0 0;
	}
	div.ebaLPSearchBar div.ebaPill ul {
		margin: 0;
		}
div.ebaLPSearchBar div.ebaPill span.ebaPillLabel {
	clear: left;
	display: block;
	margin: 0 auto;
	text-align: center;
	font: normal 11px/11px Arial, sans-serif;
	color: rgba(0,0,0,.75);
	text-shadow: 0 1px 0 rgba(255,255,255,.75);
	padding: 2px 0 0 0;
	margin: 0;
	}
	
/* Add Menu */
div.ebaAddMenu {
	width: 160px;
	padding-top: 9px;
	background: url(../img/eba_apps_menu_carrot.png) 100% 0 no-repeat;
	position: absolute;
	z-index: 1000;
	display: none;
	right: 10px;
	top: 54px;
	}
div.ebaAddMenu ul {
	margin: 0 0 10px 0;
	padding: 0;
	list-style: none;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0,0,0,.7)), to(rgba(0,0,0,.9)));
	background: -moz-linear-gradient(top, rgba(0,0,0,.7), rgba(0,0,0,.9));
	padding: 6px 0;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-box-shadow: 0 2px 2px rgba(0,0,0,.35);
	-moz-box-shadow: 0 2px 2px rgba(0,0,0,.35);
	}
div.ebaAddMenu ul li {
	display: block;
	}
div.ebaAddMenu ul li a {
	display: block;
	font: normal 13px/24px Arial, sans-serif;
	color: #FFF;
	text-shadow: 0 1px 1px rgba(255,255,255,.15);
	text-decoration: none;
	padding: 0 10px;
	}
div.ebaAddMenu ul li a:hover {
	background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255,255,255,.8)), to(rgba(255,255,255,.7)));
	background: -moz-linear-gradient(top, rgba(255,255,255,.8), rgba(255,255,255,.7));
	-webkit-box-shadow: inset 0 1px 0 0 rgba(0,0,0,.7), inset 0 -1px 0 0 rgba(0,0,0,.7);
	-moz-box-shadow: inset 0 1px 0 0 rgba(0,0,0,.7), inset 0 -1px 0 0 rgba(0,0,0,.7);
	color: #000;
	text-shadow: none;
	}
