div.ebaTimeline {
	border-bottom: 1px solid #EEE;
	clear: both;
	}
	div.ebaTimeline:last-child {
		border-bottom: none;
		}
	div.ebaTimeline h3 {
		clear: left;
		font: bold 11px/20px Arial, sans-serif;
		margin: 0;
		padding: 5px 10px;
		width: 80px;
		float: left;
		color: #333;
		}
	div.ebaTimeline h3 + ul {
		margin: 0;
		list-style: none;
		float: left;
		padding: 0 10px;
		}
		
		

div.ebaTimeline ul li span {
	display: block;
	float: left;
	height: 20px;
	font: normal 11px/20px Arial, sans-serif;
	border-right: 1px solid #EEE;
	text-align: right;
	margin: 0 5px 0 0;
	width: 32px;
	padding: 0 5px 0 0;
	color: #666;
	background-color: #FDD;
	}
/*div.ebaTimeline ul li:first-child a {
	padding-top: 5px;
	}
div.ebaTimeline ul li:last-child a {
	padding-bottom: 5px;
	}*/
div.ebaTimeline ul li a {
	display: block;
	background-image: url(../img/status_indicator.png);
	background-position: 0 0;
	font: normal 12px/20px Arial, sans-serif;
	background-repeat: no-repeat;
	padding: 0 0 0 18px;
	margin: 0;
/*	font-size: 12px;
	line-height: 14px;
	margin-right: 96px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border: 1px solid #9F9F9F;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);*/
	color: #333;
	text-decoration: none;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
div.ebaTimeline ul li a.ebaRed {
	background-position: 0 0
}
div.ebaTimeline ul li a.ebaYellow {
	background-position: 0 -40px
}
div.ebaTimeline ul li a.ebaGreen {
	background-position: 0 -80px
}
div.ebaTimeline ul li a.ebaComplete {
	background-position: 0 -120px
}
div.ebaTimeline ul li a.ebaNull {
	background-position: 0 -160px
}
