/** 
 * Import Compass
 */
/* ==========================================================================
   Alert
   ========================================================================== */
/* Wizard Alert
   ========================================================================== */
@-webkit-keyframes fadeIn {
  from {
    -webkit-transform: translateY(24px) scale(0.75);
    opacity: .25;
  }
  to {
    -webkit-transform: translateY(0) scale(1);
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    -webkit-transform: translateY(24px) scale(0.75);
            transform: translateY(24px) scale(0.75);
    opacity: .25;
  }
  to {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
    opacity: 1;
  }
}
/* line 31, ../../scss/core/Alert.scss */
.a-Alert--wizard {
  margin: 16px auto;
  width: 50vw;
  max-width: 760px;
  border-radius: 2px;
  padding: 16px;
  -webkit-transform: translateY(24px) scale(0.75) origin(bottom center);
      -ms-transform: translateY(24px) scale(0.75) origin(bottom center);
          transform: translateY(24px) scale(0.75) origin(bottom center);
  opacity: .25;
  /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in-out 1;
  animation: fadeIn ease-in-out 1;
  -webkit-animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  animation-fill-mode: forwards;
  -webkit-animation-duration: .2s;
  animation-duration: .2s;
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-clip: border-box;
  /**
   * Media Queries
   */
}
/* line 67, ../../scss/core/Alert.scss */
.a-Alert--wizard .a-Alert-icon {
  text-align: center;
  padding: 24px 0 12px 0;
}
/* line 70, ../../scss/core/Alert.scss */
.a-Alert--wizard .a-Alert-icon .a-Icon {
  width: 64px;
  height: 64px;
}
/* line 73, ../../scss/core/Alert.scss */
.a-Alert--wizard .a-Alert-icon .a-Icon:before {
  font-size: 64px;
}
/* line 78, ../../scss/core/Alert.scss */
.a-Alert--wizard .a-Alert-header {
  padding: 0 0 24px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
/* line 82, ../../scss/core/Alert.scss */
.a-Alert--wizard .a-Alert-title {
  text-align: center;
  font-size: 24px;
  line-height: 1;
  font-weight: 300;
  margin: 0;
}
/* line 89, ../../scss/core/Alert.scss */
.a-Alert--wizard .a-Alert-subTitle {
  font-size: 24px;
  line-height: 1;
  font-weight: 300;
  margin: 0 0 16px 0;
  color: #404040;
}
/* line 96, ../../scss/core/Alert.scss */
.a-Alert--wizard .a-Alert-body {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  padding: 16px 24px 8px 24px;
  color: #707070;
}
/* line 103, ../../scss/core/Alert.scss */
.a-Alert--wizard .a-Alert-buttons {
  padding: 16px 24px;
  text-align: center;
  margin: 0 auto;
}
@media only screen and (max-width: 800px) {
  /* line 31, ../../scss/core/Alert.scss */
  .a-Alert--wizard {
    width: auto;
  }
}
/* line 115, ../../scss/core/Alert.scss */
.a-Alert--wizard .a-Alert-inset {
  background-color: #F8F8F8;
  border-radius: 2px;
  padding: 12px 16px;
}
/* line 119, ../../scss/core/Alert.scss */
.a-Alert--wizard .a-Alert-inset ul {
  list-style: decimal;
  margin: 12px 0 12px 24px;
  font-size: 12px;
  line-height: 16px;
}
/* line 125, ../../scss/core/Alert.scss */
.a-Alert--wizard .a-Alert-inset li {
  margin-bottom: 4px;
}
/* line 128, ../../scss/core/Alert.scss */
.a-Alert--wizard .a-Alert-inset pre {
  font-size: 10px;
  line-height: 16px;
}

/* Alert within Wizard
   ========================================================================== */
/* line 138, ../../scss/core/Alert.scss */
.a-Wizard-body > .a-Alert--wizard {
  border: none;
  box-shadow: none;
  background: transparent;
  width: auto;
}
/* line 143, ../../scss/core/Alert.scss */
.a-Wizard-body > .a-Alert--wizard .a-Alert-title {
  font-weight: 200;
  font-size: 32px;
}

/* Horizontal Alert
   ========================================================================== */
/* line 151, ../../scss/core/Alert.scss */
.a-Alert--horizontal {
  margin-bottom: 8px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  background-color: #FFF;
  position: relative;
}
/* line 157, ../../scss/core/Alert.scss */
.a-Alert--horizontal .a-Alert-wrap {
  display: table;
  width: 100%;
}
/* line 161, ../../scss/core/Alert.scss */
.a-Alert--horizontal .a-Alert-icon,
.a-Alert--horizontal .a-Alert-content,
.a-Alert--horizontal .a-Alert-buttons {
  display: table-cell;
  padding: 16px;
  vertical-align: middle;
}
/* line 168, ../../scss/core/Alert.scss */
.a-Alert--horizontal .a-Alert-icon {
  width: 1%;
  padding-right: 0;
  margin: 48px;
  text-align: center;
}
/* line 174, ../../scss/core/Alert.scss */
.a-Alert--horizontal .a-Alert-buttons {
  width: 1%;
  text-align: right;
  white-space: nowrap;
  padding-left: 0;
}
/* line 180, ../../scss/core/Alert.scss */
.a-Alert--horizontal .a-Alert-title {
  margin: 0;
  font-size: 20px;
  line-height: 20px;
  line-height: 1;
}
/* line 186, ../../scss/core/Alert.scss */
.a-Alert--horizontal .a-Alert-body {
  color: #707070;
  margin-top: 4px;
}
/* line 189, ../../scss/core/Alert.scss */
.a-Alert--horizontal .a-Alert-body p {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
}
/* line 195, ../../scss/core/Alert.scss */
.a-Alert--horizontal .a-Alert-title,
.a-Alert--horizontal .a-Alert-body {
  font-weight: 300;
}
/* line 199, ../../scss/core/Alert.scss */
.a-Alert--horizontal .a-Alert-icon .a-Icon {
  width: 32px;
  height: 32px;
}
/* line 202, ../../scss/core/Alert.scss */
.a-Alert--horizontal .a-Alert-icon .a-Icon:before {
  font-size: 32px;
}

/**
 * Colorized Background
 */
/* line 212, ../../scss/core/Alert.scss */
.a-Alert--colorBG.a-Alert--warning {
  background-color: #fff7e0;
}
/* line 215, ../../scss/core/Alert.scss */
.a-Alert--colorBG.a-Alert--success {
  background-color: #f5fdf7;
}
/* line 218, ../../scss/core/Alert.scss */
.a-Alert--colorBG.a-Alert--danger {
  background-color: #fdeded;
}
/* line 221, ../../scss/core/Alert.scss */
.a-Alert--colorBG.a-Alert--info {
  background-color: #e9f2fb;
}

/**
 * Default Icons
 */
/* line 230, ../../scss/core/Alert.scss */
.a-Alert--defaultIcons.a-Alert--warning .a-Alert-icon .a-Icon:before {
  content: '\e017';
}
/* line 233, ../../scss/core/Alert.scss */
.a-Alert--defaultIcons.a-Alert--success .a-Alert-icon .a-Icon:before {
  content: '\e007';
}
/* line 236, ../../scss/core/Alert.scss */
.a-Alert--defaultIcons.a-Alert--danger .a-Alert-icon .a-Icon:before {
  content: '\e010';
}
/* line 239, ../../scss/core/Alert.scss */
.a-Alert--defaultIcons.a-Alert--info .a-Alert-icon .a-Icon:before {
  content: '\e023';
}

/**
 * Modifier: Warning
 */
/* line 247, ../../scss/core/Alert.scss */
.a-Alert--warning .a-Alert-icon {
  color: #FFCB3D;
}

/**
 * Modifier: Success
 */
/* line 256, ../../scss/core/Alert.scss */
.a-Alert--success .a-Alert-icon {
  color: #3ADD69;
}

/**
 * Modifier: Information
 */
/* line 265, ../../scss/core/Alert.scss */
.a-Alert--info .a-Alert-icon {
  color: #2580D4;
}

/**
 * Modifier: Success
 */
/* line 274, ../../scss/core/Alert.scss */
.a-Alert--danger .a-Alert-icon {
  color: #e72018;
}

/**
 * Modifier: No Icon
 */
/* line 283, ../../scss/core/Alert.scss */
.a-Alert--noIcon.a-Alert--wizard .a-Alert-icon {
  padding-top: 0;
}
/* line 286, ../../scss/core/Alert.scss */
.a-Alert--noIcon.a-Alert--horizontal .a-Alert-icon {
  display: none !important;
}
/* line 289, ../../scss/core/Alert.scss */
.a-Alert--noIcon .a-Alert-icon .a-Icon {
  display: none;
}

/**
 * Modifier: No Title
 */
/* line 298, ../../scss/core/Alert.scss */
.a-Alert--noTitle .a-Alert-title {
  display: none !important;
}

/**
 * Modifier: Page Alert
 */
/* line 306, ../../scss/core/Alert.scss */
.a-Alert--page {
  margin-bottom: 0;
  border-radius: 0;
  box-shadow: none;
  border-bottom: 1px solid #E0E0E0;
}
/* line 311, ../../scss/core/Alert.scss */
.a-Alert--page .a-Alert-title {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* line 314, ../../scss/core/Alert.scss */
.a-Alert--page .a-Alert-body {
  color: #404040;
  font-size: 12px;
  line-height: 16px;
  margin: 4px 0;
  font-weight: bold;
}
/* line 321, ../../scss/core/Alert.scss */
.a-Alert--page .a-Alert-content, .a-Alert--page .a-Alert-buttons {
  padding: 8px;
}
/* line 324, ../../scss/core/Alert.scss */
.a-Alert--page .a-Alert-icon {
  padding: 8px 0 8px 8px;
}
/* line 326, ../../scss/core/Alert.scss */
.a-Alert--page .a-Alert-icon .a-Icon {
  padding: 4px;
}
/* line 329, ../../scss/core/Alert.scss */
.a-Alert--page .a-Alert-icon .a-Icon:before {
  font-size: 24px;
}
/* line 333, ../../scss/core/Alert.scss */
.a-Alert--page ul.htmldbUlErr {
  font-weight: normal;
}

/**
 * Modifier: Page Alert
 */
/* line 341, ../../scss/core/Alert.scss */
.a-Alert--dialog {
  margin: 0 12px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset;
  border-width: 0;
}
/* line 345, ../../scss/core/Alert.scss */
.a-Alert--dialog .a-Alert-title {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* line 348, ../../scss/core/Alert.scss */
.a-Alert--dialog .a-Alert-body {
  color: #404040;
  font-size: 12px;
  line-height: 16px;
  margin: 4px 0;
  font-weight: bold;
}
/* line 355, ../../scss/core/Alert.scss */
.a-Alert--dialog .a-Alert-content, .a-Alert--dialog .a-Alert-buttons {
  padding: 8px;
}
/* line 358, ../../scss/core/Alert.scss */
.a-Alert--dialog .a-Alert-icon {
  padding: 8px 0 8px 8px;
}
/* line 360, ../../scss/core/Alert.scss */
.a-Alert--dialog .a-Alert-icon .a-Icon {
  padding: 4px;
}
/* line 363, ../../scss/core/Alert.scss */
.a-Alert--dialog .a-Alert-icon .a-Icon:before {
  font-size: 24px;
}
/* line 367, ../../scss/core/Alert.scss */
.a-Alert--dialog ul.htmldbUlErr {
  font-weight: normal;
}

/**
 * Modifier: Inline Horizontal
 */
/* line 374, ../../scss/core/Alert.scss */
.a-Alert--horizontal.a-Alert--inline {
  box-shadow: none;
  border-top: 1px solid #E0E0E0;
  border-radius: 0;
  margin: 0;
}
