/* ==========================================================================
   Alert Badge
   ========================================================================== */
/* line 10, ../../scss/core/AlertBadge.scss */
.a-AlertBadge {
  display: inline-block;
  border-radius: 20px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}

/* line 16, ../../scss/core/AlertBadge.scss */
.a-AlertBadge:empty {
  display: none;
}
