/** 
 * Import Compass and Theme Variables
 */
/* ==========================================================================
   Circular Badges
   ========================================================================== */
/* line 60, ../../scss/core/Badge.scss */
.a-BadgeChart {
  display: block;
  text-align: center;
  position: relative;
  padding: 16px;
}

/* line 66, ../../scss/core/Badge.scss */
.a-BadgeChart-value,
.a-BadgeChart-label {
  display: block;
  transition: color .1s;
}

/* line 71, ../../scss/core/Badge.scss */
.a-BadgeChart-value {
  margin: 0 auto;
  font-size: 32px;
  font-weight: 200;
  width: 96px;
  height: 96px;
  line-height: 94px;
  white-space: nowrap;
  border: 2px solid;
  border-radius: 100%;
  text-align: center;
  cursor: default;
  transition: box-shadow .2s, background-color ease .3s, border-color .1s, color .3s;
}

/* line 87, ../../scss/core/Badge.scss */
.a-BadgeChart-text {
  display: block;
  text-align: center;
  margin-top: 12px;
}

/* line 92, ../../scss/core/Badge.scss */
.a-BadgeChart-label {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  display: block;
  margin-bottom: 8px;
  text-transform: capitalize;
}

/* line 100, ../../scss/core/Badge.scss */
.a-BadgeChart-desc {
  font-size: 12px;
  line-height: 16px;
}

/* line 104, ../../scss/core/Badge.scss */
.a-BadgeChart-link {
  display: inline-block;
  text-decoration: none;
}
/* line 107, ../../scss/core/Badge.scss */
.a-BadgeChart-link:hover {
  text-decoration: none;
}
/* line 110, ../../scss/core/Badge.scss */
.a-BadgeChart-link .a-BadgeChart-label {
  color: inherit;
}
/* line 112, ../../scss/core/Badge.scss */
.a-BadgeChart-link .a-BadgeChart-label:hover {
  text-decoration: underline;
}
/* line 116, ../../scss/core/Badge.scss */
.a-BadgeChart-link .a-BadgeChart-value {
  cursor: pointer;
}

/* ==========================================================================
   Full Height Label Bottom
   ========================================================================== */
/* line 124, ../../scss/core/Badge.scss */
.a-BadgeChart--labelBelow {
  height: 100%;
}
/* line 126, ../../scss/core/Badge.scss */
.a-BadgeChart--labelBelow .a-BadgeChart-wrap {
  margin: 0 0 48px 0;
}
/* line 129, ../../scss/core/Badge.scss */
.a-BadgeChart--labelBelow .a-BadgeChart-text {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  margin: 8px;
  background-image: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.75) 25%);
}

/* ==========================================================================
   JustGage
   ========================================================================== */
/* line 142, ../../scss/core/Badge.scss */
.a-BadgeChart--justGage {
  padding: 0;
}
/* line 144, ../../scss/core/Badge.scss */
.a-BadgeChart--justGage .a-BadgeChart-text {
  margin-top: -5px;
}
/* line 147, ../../scss/core/Badge.scss */
.a-BadgeChart--justGage svg {
  margin-top: -1px;
}
/* line 150, ../../scss/core/Badge.scss */
.a-BadgeChart--justGage svg tspan {
  font-size: 32px;
  font-weight: 200;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 157, ../../scss/core/Badge.scss */
.a-BadgeChart--justGageLike {
  padding-top: 20px;
}

/* line 161, ../../scss/core/Badge.scss */
.a-BadgeChart--justGage,
.a-BadgeChart--justGageLike {
  padding-bottom: 0;
}
