/* ==========================================================================
   Breadcrumbs
   ========================================================================== */
/* line 9, ../../scss/core/Breadcrumb.scss */
.a-Breadcrumb {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
  white-space: nowrap;
}

/* line 16, ../../scss/core/Breadcrumb.scss */
.a-Breadcrumb-item {
  margin: 0;
  padding: 0 2px 0 10px;
  display: inline-block;
  position: relative;
  height: 48px;
}
/* line 22, ../../scss/core/Breadcrumb.scss */
.a-Breadcrumb-item:first-child {
  padding-left: 0;
}
/* line 24, ../../scss/core/Breadcrumb.scss */
.a-Breadcrumb-item:first-child + .a-Breadcrumb-item {
  padding-left: 0;
}
/* line 27, ../../scss/core/Breadcrumb.scss */
.a-Breadcrumb-item:first-child:after, .a-Breadcrumb-item:first-child:before {
  display: none;
}
/* line 32, ../../scss/core/Breadcrumb.scss */
.a-Breadcrumb-item:last-child:after, .a-Breadcrumb-item:last-child:before {
  display: none;
}
/* line 36, ../../scss/core/Breadcrumb.scss */
.a-Breadcrumb-item:after, .a-Breadcrumb-item:before {
  position: absolute;
  left: 100%;
  width: 0;
  height: 0;
  border: solid transparent;
  pointer-events: none;
  content: ' ';
  line-height: 0px;
}
/* line 46, ../../scss/core/Breadcrumb.scss */
.a-Breadcrumb-item:after {
  border-width: 12px 0 12px 6px;
  border-color: transparent transparent transparent #FFF;
  top: 50%;
  margin-top: -12px;
}
/* line 52, ../../scss/core/Breadcrumb.scss */
.a-Breadcrumb-item:before {
  border-width: 13px 0 13px 8px;
  border-color: transparent transparent transparent #E0E0E0;
  top: 50%;
  margin-top: -13px;
}

/* line 60, ../../scss/core/Breadcrumb.scss */
.a-Breadcrumb-item:first-child .a-Breadcrumb-label {
  padding-right: 2px;
  padding-left: 12px;
}

/* line 64, ../../scss/core/Breadcrumb.scss */
.a-Breadcrumb-item:last-child .a-Breadcrumb-label {
  font-weight: bold;
}

/* line 67, ../../scss/core/Breadcrumb.scss */
.a-Breadcrumb-label {
  display: inline-block;
  font-size: 12px;
  line-height: 16px;
  padding: 16px 4px;
  vertical-align: top;
  text-decoration: none;
  color: #707070;
}

/* line 76, ../../scss/core/Breadcrumb.scss */
a.a-Breadcrumb-label {
  color: #404040;
}
/* line 78, ../../scss/core/Breadcrumb.scss */
a.a-Breadcrumb-label:hover {
  text-decoration: underline;
  color: #267CD8;
}
/* line 82, ../../scss/core/Breadcrumb.scss */
a.a-Breadcrumb-label:focus {
  outline: none;
  box-shadow: 0 0 0 1px rgba(57, 155, 234, 0.5) inset;
}

/* ==========================================================================
   Breadcrumb Top Icon
   ========================================================================== */
/* line 91, ../../scss/core/Breadcrumb.scss */
.a-Breadcrumb-label .a-Icon.icon-breadcrumb-previous {
  padding: 2px 2px 2px 2px;
  width: 20px;
  height: 20px;
  margin-top: -2px;
  margin-bottom: -2px;
  border-radius: 100%;
}
