/**
 * Import Compass
 */
/* line 188, ../../scss/modules/_common.scss */
.a-LinksList-link:before,
.a-LinksList--report a:before {
  font-family: "apex-5-icon-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ==========================================================================
   Links List
   ========================================================================== */
/* line 10, ../../scss/core/LinksList.scss */
.a-LinksList {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 16px;
}

/* line 16, ../../scss/core/LinksList.scss */
.a-LinksList-item {
  display: block;
  position: relative;
  margin-bottom: -1px;
  border-top: 1px solid;
  border-bottom: 1px solid;
}
/* line 22, ../../scss/core/LinksList.scss */
.a-LinksList-item:last-child {
  margin-bottom: 0;
  border-bottom-width: 0;
}
/* line 26, ../../scss/core/LinksList.scss */
.a-LinksList-item:first-child {
  border-top-width: 0;
}

/* line 30, ../../scss/core/LinksList.scss */
.a-LinksList-badge {
  display: none;
  vertical-align: top;
}

/* line 34, ../../scss/core/LinksList.scss */
.a-LinksList-label {
  display: inline-block;
  vertical-align: top;
  padding: 8px 12px;
}

/* line 39, ../../scss/core/LinksList.scss */
.a-LinksList-icon {
  display: none;
  vertical-align: top;
  margin-right: -6px;
  min-width: 2.8rem;
  text-align: center;
  padding: 8px 0 8px 12px;
  transition: color .1s;
}

/* line 48, ../../scss/core/LinksList.scss */
.a-LinksList-link,
.a-LinksList--report a {
  display: block;
  position: relative;
  transition: background-color .1s, color .1s;
}
/* line 53, ../../scss/core/LinksList.scss */
.a-LinksList-link:focus,
.a-LinksList--report a:focus {
  outline: none;
  box-shadow: 0 0 0 1px #2580D4 inset;
}
/* line 57, ../../scss/core/LinksList.scss */
.a-LinksList-link:hover,
.a-LinksList--report a:hover {
  text-decoration: none;
}
/* line 62, ../../scss/core/LinksList.scss */
.a-LinksList-link:before,
.a-LinksList--report a:before {
  display: none;
  content: '';
  position: absolute;
  right: 12px;
  width: 16px;
  height: 16px;
  font-size: 16px;
  content: '\e016';
  color: rgba(0, 0, 0, 0.15);
  transition: transform .1s, color .1s;
  -webkit-transition: -webkit-transform .1s, color .1s;
  top: 8px;
}

/* line 78, ../../scss/core/LinksList.scss */
.a-LinksList-item.is-current > a {
  font-weight: bold;
}

/* line 85, ../../scss/core/LinksList.scss */
.a-LinksList--report a {
  padding: 8px 12px;
}

/* Languages
   ========================================================================== */
/* line 92, ../../scss/core/LinksList.scss */
.a-LinksList--lang .a-LinksList-item {
  border: none;
  margin: 0;
  display: inline;
}
/* line 96, ../../scss/core/LinksList.scss */
.a-LinksList--lang .a-LinksList-item.is-active {
  font-weight: bold;
}
/* line 99, ../../scss/core/LinksList.scss */
.a-LinksList--lang .a-LinksList-item:after {
  content: ' \b7 ';
  color: #A0A0A0;
}
/* line 103, ../../scss/core/LinksList.scss */
.a-LinksList--lang .a-LinksList-item:last-child:after {
  display: none;
}
/* line 107, ../../scss/core/LinksList.scss */
.a-LinksList--lang .a-LinksList-link {
  display: inline;
  transition: none;
  font-weight: inherit;
  white-space: nowrap;
}
/* line 112, ../../scss/core/LinksList.scss */
.a-LinksList--lang .a-LinksList-link:hover {
  background-color: inherit;
  color: inherit;
  text-decoration: underline;
}

/* Sub-Lists
   ========================================================================== */
/* line 123, ../../scss/core/LinksList.scss */
.a-LinksList-item.is-expanded {
  background-color: #FCFCFC;
  background-image: linear-gradient(rgba(0, 0, 0, 0.015), rgba(0, 0, 0, 0)), linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.015));
  background-size: 100% 4px, 100% 4px;
  background-position: 0 0, 0 100%;
  background-repeat: no-repeat;
}
/* line 131, ../../scss/core/LinksList.scss */
.a-LinksList-item.is-expanded .a-LinksList-list {
  display: block;
}
/* line 136, ../../scss/core/LinksList.scss */
.a-LinksList-item.is-expanded .a-LinksList-link:hover:before {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  color: #2580D4;
}
/* line 140, ../../scss/core/LinksList.scss */
.a-LinksList-item.is-expanded .a-LinksList-link:before {
  content: '\f078';
  display: block;
  color: rgba(0, 0, 0, 0.25);
}

/* line 146, ../../scss/core/LinksList.scss */
.a-LinksList-list {
  display: none;
  padding: 0;
}
/* line 149, ../../scss/core/LinksList.scss */
.a-LinksList-list .a-LinksList-item {
  padding-left: 24px;
  border: none;
}
/* line 156, ../../scss/core/LinksList.scss */
.a-LinksList-list .a-LinksList-link {
  border-top: 1px solid #F0F0F0;
}
/* line 159, ../../scss/core/LinksList.scss */
.a-LinksList-list .a-LinksList-link:before {
  display: none !important;
}

/**
 * Modifier: Show Icons
 *
 * Show all Icons
 */
/* line 173, ../../scss/core/LinksList.scss */
.a-LinksList--showIcons .a-LinksList-icon {
  display: inline-block;
}

/**
 * Modifier: Show Top Icons Only
 *
 * Only show icons for top level items
 */
/* line 184, ../../scss/core/LinksList.scss */
.a-LinksList--showTopIcons .a-LinksList-icon {
  display: inline-block;
}
/* line 187, ../../scss/core/LinksList.scss */
.a-LinksList--showTopIcons .a-LinksList-list .a-LinksList-icon {
  display: none;
}

/**
 * Modifier: Go To Arrow
 *
 * Show Go To Arrow on right
 */
/* line 198, ../../scss/core/LinksList.scss */
.a-LinksList--showArrow .a-LinksList-link {
  padding-right: 32px;
}
/* line 201, ../../scss/core/LinksList.scss */
.a-LinksList--showArrow .a-LinksList-link:hover:before {
  -webkit-transform: translateX(8px);
      -ms-transform: translateX(8px);
          transform: translateX(8px);
}
/* line 205, ../../scss/core/LinksList.scss */
.a-LinksList--showArrow .a-LinksList-link:before {
  display: block;
}

/**
 * Modifier: No Wrap
 *
 * Disable Text Wrapping
 */
/* line 217, ../../scss/core/LinksList.scss */
.a-LinksList--nowrap.a-LinksList--report a {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
/* line 222, ../../scss/core/LinksList.scss */
.a-LinksList--nowrap .a-LinksList-item {
  white-space: nowrap;
}
/* line 225, ../../scss/core/LinksList.scss */
.a-LinksList--nowrap .a-LinksList-icon {
  vertical-align: top;
}
/* line 228, ../../scss/core/LinksList.scss */
.a-LinksList--nowrap .a-LinksList-label {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/**
 * Modifier: Show Badge
 *
 * Show Badge on Right
 */
/* line 242, ../../scss/core/LinksList.scss */
.a-LinksList--showBadge .a-LinksList-badge:empty {
  display: none;
}
/* line 245, ../../scss/core/LinksList.scss */
.a-LinksList--showBadge .a-LinksList-label {
  padding-right: 48px;
}
/* line 248, ../../scss/core/LinksList.scss */
.a-LinksList--showBadge.a-LinksList--showIcons .a-LinksList-label {
  padding-right: 64px;
}
/* line 251, ../../scss/core/LinksList.scss */
.a-LinksList--showBadge .a-LinksList-badge {
  position: absolute;
  display: block;
  font-size: 12px;
  line-height: 20px;
  padding: 0 8px;
  margin: 6px 12px 6px 0;
  border-radius: 4px;
  height: 20px;
  min-width: 20px;
  text-align: center;
  right: 0;
  top: 0;
  transition: background-color .1s, color .1s;
}
/* line 266, ../../scss/core/LinksList.scss */
.a-LinksList--showBadge.a-LinksList--showArrow .a-LinksList-badge,
.a-LinksList--showBadge .a-LinksList-item.is-expanded > .a-LinksList-link .a-LinksList-badge {
  right: 24px;
}

/**
 * Modifier: Bright Hover
 *
 * Show Bright
 */
/**
 * Modifier: No Borders
 *
 * Remove Borders
 */
/* line 298, ../../scss/core/LinksList.scss */
.a-LinksList--noBorders .a-LinksList-item {
  border-top-width: 0;
  border-bottom-width: 0;
}

/* ==========================================================================
   Icon-based Links List
   ========================================================================== */
/* line 308, ../../scss/core/LinksList.scss */
.a-LinksList--iconOnly {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: right;
}
/* line 314, ../../scss/core/LinksList.scss */
.a-LinksList--iconOnly .a-LinksList-item {
  float: left;
  border: none;
  margin: 0;
}
/* line 319, ../../scss/core/LinksList.scss */
.a-LinksList--iconOnly .a-LinksList-link {
  display: block;
  padding: 9px 12px;
  text-align: center;
}
/* line 322, ../../scss/core/LinksList.scss */
.a-LinksList--iconOnly .a-LinksList-link:hover, .a-LinksList--iconOnly .a-LinksList-link:focus {
  text-decoration: none;
}
/* line 328, ../../scss/core/LinksList.scss */
.a-LinksList--iconOnly .a-LinksList-icon,
.a-LinksList--iconOnly .a-LinksList-label {
  line-height: 1.6rem;
  vertical-align: top;
  display: inline-block;
}
/* line 334, ../../scss/core/LinksList.scss */
.a-LinksList--iconOnly .a-LinksList-label {
  font-size: 1.4rem;
  display: none;
}
/* line 338, ../../scss/core/LinksList.scss */
.a-LinksList--iconOnly .a-LinksList-icon {
  text-align: center;
  padding: 2px;
  border-radius: 100%;
  width: 22px;
  min-width: 22px;
  height: 22px;
  margin: 0;
}
/* line 347, ../../scss/core/LinksList.scss */
.a-LinksList--iconOnly .t-Icon {
  line-height: 1.6rem;
}
