/* ==========================================================================
   Theme Configuration File
   ========================================================================== */
/**
 * Base Colors
 * 
 * Description:
 * Provides a base for the UI.
 * 
 * Usage:
 * General UI Background, Region Headers, Buttons
 */
/**
 * Highlight Colors
 * 
 * Description:
 * Used for providing emphasis or importance to UI components.
 * 
 * Usage:
 * Region Headers, Primary / Hot Buttons
 */
/**
 * Accent and Status Colors
 * 
 * Description:
 * Used for indicating state-based UI components, status, or accents.
 * 
 * Usage:
 * Warnings, Errors, Danger Text, Success, Focus
 */
/**
 * Application Based Colors
 * 
 * Description:
 * Used for applications within APEX development
 */
/* ==========================================================================
   Popup LOV
   ========================================================================== */
/* line 11, ../../scss/core/PopupLOV.scss */
.a-PopupLOV {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

/* line 23, ../../scss/core/PopupLOV.scss */
.a-PopupLOV-search {
  padding: 8px;
}

/* line 27, ../../scss/core/PopupLOV.scss */
.a-PopupLOV-filters {
  border-bottom: 1px solid;
}

/* line 33, ../../scss/core/PopupLOV.scss */
.a-PopupLOV-filterGroup,
.a-PopupLOV-filterButton {
  padding: 8px;
}

/* line 37, ../../scss/core/PopupLOV.scss */
.a-PopupLOV-filterGroup {
  border-bottom: 1px solid;
}

/* line 41, ../../scss/core/PopupLOV.scss */
.a-PopupLOV-filterGroup--lineFilter {
  display: table;
  width: 100%;
}
/* line 44, ../../scss/core/PopupLOV.scss */
.a-PopupLOV-filterGroup--lineFilter .a-PopupLOV-filterLabel {
  white-space: nowrap;
  width: 40%;
  padding-right: 8px;
}
/* line 49, ../../scss/core/PopupLOV.scss */
.a-PopupLOV-filterGroup--lineFilter .a-PopupLOV-filterLabel,
.a-PopupLOV-filterGroup--lineFilter .a-PopupLOV-filterItem {
  display: table-cell;
  vertical-align: top;
}
/* line 54, ../../scss/core/PopupLOV.scss */
.a-PopupLOV-filterGroup--lineFilter .a-PopupLOV-filterItem-select,
.a-PopupLOV-filterGroup--lineFilter .a-PopupLOV-filterItem-text {
  display: block;
  width: 100%;
}

/* line 62, ../../scss/core/PopupLOV.scss */
.a-PopupLOV-filterItem .ui-buttonset {
  width: 100%;
  display: table;
}
/* line 65, ../../scss/core/PopupLOV.scss */
.a-PopupLOV-filterItem .ui-buttonset .ui-button-container {
  display: table-cell;
  width: 25%;
}
/* line 69, ../../scss/core/PopupLOV.scss */
.a-PopupLOV-filterItem .ui-buttonset .ui-button {
  display: block;
}

/* line 75, ../../scss/core/PopupLOV.scss */
.a-PopupLOV-results {
  -webkit-flex: 1 1;
  -ms-flex: 1 1;
  flex: 1 1;
  overflow: auto;
}

/* line 85, ../../scss/core/PopupLOV.scss */
.a-PopupLOV-resultsSet {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
/* line 89, ../../scss/core/PopupLOV.scss */
.a-PopupLOV-resultsSet th, .a-PopupLOV-resultsSet td {
  padding: 8px;
  font-size: 12px;
  line-height: 16px;
  text-align: left;
}
/* line 96, ../../scss/core/PopupLOV.scss */
.a-PopupLOV-resultsSet tr td:first-child {
  padding: 0;
}
/* line 99, ../../scss/core/PopupLOV.scss */
.a-PopupLOV-resultsSet th {
  font-weight: bold;
  border-bottom: 2px solid #F0F0F0;
}
/* line 106, ../../scss/core/PopupLOV.scss */
.a-PopupLOV-resultsSet tr:hover td {
  background-color: #ECF2FB !important;
}
/* line 110, ../../scss/core/PopupLOV.scss */
.a-PopupLOV-resultsSet tr:nth-child(2n) td {
  background-color: #FAFAFA;
}

/* line 114, ../../scss/core/PopupLOV.scss */
.a-PopupLOV-resultsSet-link,
.ui-widget-content a.a-PopupLOV-resultsSet-link {
  display: block;
  padding: 8px;
  color: #2E79C9;
  text-decoration: none;
}
/* line 121, ../../scss/core/PopupLOV.scss */
.a-PopupLOV-resultsSet-link:hover,
.ui-widget-content a.a-PopupLOV-resultsSet-link:hover {
  text-decoration: underline;
}

/* line 129, ../../scss/core/PopupLOV.scss */
.a-Page--popupLOV {
  background-color: #FFF;
  min-width: 0;
  margin-top: 48px;
}

/* line 134, ../../scss/core/PopupLOV.scss */
.a-PopupLOV-actions {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 8px 12px;
  width: 100%;
  background-color: #F8F8F8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.15) inset;
}

/* line 149, ../../scss/core/PopupLOV.scss */
.a-PopupLOV-links {
  padding: 0;
}
/* line 151, ../../scss/core/PopupLOV.scss */
.a-PopupLOV-links br {
  display: none;
}
/* line 154, ../../scss/core/PopupLOV.scss */
.a-PopupLOV-links a {
  display: block;
  padding: 8px;
  border-bottom: 1px solid #F0F0F0;
  color: #404040;
  font-size: 1.2rem;
  line-height: 1.6rem;
}
/* line 161, ../../scss/core/PopupLOV.scss */
.a-PopupLOV-links a:hover {
  background-color: #2D7BBB;
  color: #fff;
  text-decoration: none;
}
/* line 166, ../../scss/core/PopupLOV.scss */
.a-PopupLOV-links a:focus {
  outline: none;
  box-shadow: 0 0 0 1px #399BEA inset;
}

/* line 172, ../../scss/core/PopupLOV.scss */
.a-PopupLOV-pagination {
  padding: 8px;
  color: #707070;
  font-size: 1.2rem;
  text-align: center;
}

/* line 178, ../../scss/core/PopupLOV.scss */
.a-PopupLOV-button {
  margin: 8px;
}
