/* ==========================================================================
   Search Field
   ========================================================================== */
/**
 * Core Search Field Component
 *
 * This component contains a search input field and its relevant styling.
 */
/* line 16, ../../scss/core/Search.scss */
.a-SearchField {
  position: relative;
  display: inline-block;
  margin: 8px 12px;
}

/* line 21, ../../scss/core/Search.scss */
.a-SearchField-icon,
.a-SearchField-clear {
  position: absolute;
  top: 0;
  z-index: 100;
  padding: 1px 6px;
  display: block;
  height: 24px;
}

/* line 31, ../../scss/core/Search.scss */
.a-SearchField-icon {
  left: 0;
  color: #606060;
}

/* line 35, ../../scss/core/Search.scss */
.a-SearchField-clear {
  right: 0;
  color: #B0B0B0;
}
/* line 38, ../../scss/core/Search.scss */
.a-SearchField-clear:hover {
  color: #FC181B;
}

/* line 42, ../../scss/core/Search.scss */
.a-SearchField-textInput {
  border-radius: 2px;
  background-color: #fff;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 0 0 1px rgba(0, 0, 0, 0.15);
  border: none;
  padding: 4px 24px;
  height: 24px;
  font-size: 12px;
  line-height: 1.333;
}
/* line 52, ../../scss/core/Search.scss */
.a-SearchField-textInput:focus {
  box-shadow: 0 0 0px 1px rgba(112, 165, 224, 0.75) inset, 0 0 1px 1px rgba(112, 165, 224, 0.25);
  outline: none;
  /* 1 */
}

/* line 58, ../../scss/core/Search.scss */
.a-SearchField--forComponentLibrary {
  position: absolute;
  top: 0;
  right: 0;
}
