/* ==========================================================================
   Tabs
   ========================================================================== */
/**
 * Core Tabs
 *
 * This component renders the tabs UI control.
 */
/* line 16, ../../scss/core/Tabs.scss */
.ui-tabs.ui-widget-content {
  border-radius: 0;
  border: 0;
}

/* line 21, ../../scss/core/Tabs.scss */
.a-Tabs {
  list-style: none;
  margin: 0;
  padding: 0;
  *zoom: 1;
  border: 1px solid;
  border-radius: 0;
}
/* line 30, ../../scss/modules/_common.scss */
.a-Tabs:before, .a-Tabs:after {
  content: " ";
  display: table;
}
/* line 35, ../../scss/modules/_common.scss */
.a-Tabs:after {
  clear: both;
}

/* line 29, ../../scss/core/Tabs.scss */
.a-Tabs-item {
  float: left;
  display: block;
}

/* line 33, ../../scss/core/Tabs.scss */
.a-Tabs-link {
  display: block;
  text-decoration: none;
  border-radius: 0;
}

/* line 38, ../../scss/core/Tabs.scss */
.a-Tabs-item.is-active {
  font-weight: bold !important;
}
