/* ==========================================================================
   Tag Cloud
   ========================================================================== */
/* line 9, ../../scss/core/TagCloud.scss */
.a-TagCloud {
  margin: 0;
  padding: 0;
}

/* line 13, ../../scss/core/TagCloud.scss */
.a-TagCloud-item {
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: top;
}

/* line 19, ../../scss/core/TagCloud.scss */
.a-TagCloud-link {
  display: inline-block;
  border: 1px solid;
  display: block;
  margin: 0 8px 8px 0;
  padding: 4px 12px;
  line-height: 32px;
}

/* line 27, ../../scss/core/TagCloud.scss */
.a-TagCloud-count {
  display: inline-block;
  background: none;
  border: none;
  padding: 0;
  margin: 0 0 0 4px;
}

/* line 34, ../../scss/core/TagCloud.scss */
.a-TagCloud-link--size1 {
  font-size: 12px;
}

/* line 35, ../../scss/core/TagCloud.scss */
.a-TagCloud-link--size2 {
  font-size: 14px;
}

/* line 36, ../../scss/core/TagCloud.scss */
.a-TagCloud-link--size3 {
  font-size: 16px;
}

/* line 37, ../../scss/core/TagCloud.scss */
.a-TagCloud-link--size4 {
  font-size: 18px;
}

/* line 38, ../../scss/core/TagCloud.scss */
.a-TagCloud-link--size5 {
  font-size: 20px;
}

/* line 39, ../../scss/core/TagCloud.scss */
.a-TagCloud-link--size6 {
  font-size: 22px;
}
