/* ==========================================================================
   Tool Tips (jQuery UI)
   ========================================================================== */
/* line 30, ../../scss/core/Tooltip.scss */
.tt-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* line 36, ../../scss/core/Tooltip.scss */
.tt-list > li {
  overflow: hidden;
  padding: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 11px;
  line-height: 16px;
  padding: 4px 0;
}
/* line 40, ../../scss/core/Tooltip.scss */
.tt-list > li:last-child {
  border-bottom: none;
}

/* line 47, ../../scss/core/Tooltip.scss */
.tt-label {
  width: 120px;
  overflow: hidden;
  margin-right: 8px;
  float: left;
  font-weight: bold;
}

/* line 54, ../../scss/core/Tooltip.scss */
.tt-value {
  display: block;
  overflow: hidden;
}
