/**
 * Import Compass
 */
/* ==========================================================================
   Alert
   ========================================================================== */
.t-Alert {
  -webkit-font-smoothing: antialiased; }

/* Zoom Animation
   ========================================================================== */
@-webkit-keyframes zoomFade {
  from {
    -webkit-transform: scale(0.75);
    opacity: 0; }

  to {
    -webkit-transform: scale(1);
    opacity: 1; } }

@keyframes zoomFade {
  from {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
    opacity: 0; }

  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; } }

/* Wizard Alert
   ========================================================================== */
.t-Alert--wizard {
  margin: 16px auto;
  width: 50vw;
  max-width: 760px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  padding: 16px;
  /**
   * Media Queries
   */ }
  .t-Alert--wizard .t-Alert-icon {
    text-align: center;
    padding: 2.4rem 0 1.2rem 0; }
    .t-Alert--wizard .t-Alert-icon .t-Icon {
      font-size: 5.6rem; }
  .t-Alert--wizard .t-Alert-header {
    padding: 0 0 2.4rem 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05); }
  .t-Alert--wizard .t-Alert-title {
    text-align: center;
    font-size: 2.4rem;
    line-height: 1;
    margin: 0; }
  .t-Alert--wizard .t-Alert-body {
    font-size: 1.6rem;
    line-height: 2.4rem;
    padding: 1.6rem 2.4rem 0.8rem 2.4rem; }
  .t-Alert--wizard .t-Alert-buttons {
    padding: 1.6rem 2.4rem;
    text-align: center;
    width: 80%;
    margin: 0 auto; }
    .t-Alert--wizard .t-Alert-buttons:empty {
      display: none; }
  @media only screen and (max-width: 480px) {
    .t-Alert--wizard {
      width: auto; } }
  .t-Alert--wizard .t-Alert-inset {
    border-radius: 2px;
    padding: 12px 16px; }
    .t-Alert--wizard .t-Alert-inset ul {
      list-style: decimal;
      margin: 12px 0 12px 24px;
      font-size: 12px;
      line-height: 16px; }
    .t-Alert--wizard .t-Alert-inset li {
      margin-bottom: 4px; }
    .t-Alert--wizard .t-Alert-inset pre {
      font-size: 10px;
      line-height: 16px; }

/* Horizontal Alert
   ========================================================================== */
.t-Alert--horizontal {
  margin-bottom: 8px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  position: relative; }
  .t-Alert--horizontal .t-Alert-wrap {
    display: table;
    width: 100%; }
  .t-Alert--horizontal .t-Alert-icon, .t-Alert--horizontal .t-Alert-content, .t-Alert--horizontal .t-Alert-buttons {
    display: table-cell;
    padding: 16px;
    vertical-align: middle; }
  .t-Alert--horizontal .t-Alert-icon {
    width: 1%;
    padding-right: 0;
    margin: 48px;
    text-align: center; }
  .t-Alert--horizontal .t-Alert-buttons {
    width: 1%;
    text-align: right;
    white-space: nowrap;
    padding-left: 0; }
  .t-Alert--horizontal .t-Alert-title {
    margin: 0;
    font-size: 2rem;
    line-height: 2rem;
    line-height: 1; }
  .t-Alert--horizontal .t-Alert-body {
    font-size: 1.4rem;
    line-height: 2rem;
    margin-top: 0.4rem; }
    .t-Alert--horizontal .t-Alert-body p {
      margin: 0; }
    .t-Alert--horizontal .t-Alert-body p + p {
      margin-top: 8px; }
  .t-Alert--horizontal .t-Alert-icon .t-Icon {
    font-size: 2.8rem; }

/**
 * Default Icons
 */
.t-Alert--defaultIcons.t-Alert--warning .t-Alert-icon .t-Icon:before, .t-Alert--defaultIcons.t-Alert--yellow .t-Alert-icon .t-Icon:before {
  content: '\f071'; }
.t-Alert--defaultIcons.t-Alert--success .t-Alert-icon .t-Icon:before {
  content: '\f00c'; }
.t-Alert--defaultIcons.t-Alert--red .t-Alert-icon .t-Icon:before, .t-Alert--defaultIcons.t-Alert--danger .t-Alert-icon .t-Icon:before {
  content: '\f057'; }
.t-Alert--defaultIcons.t-Alert--info .t-Alert-icon .t-Icon:before {
  content: '\f05a'; }

/**
 * Modifier: No Icon
 */
.t-Alert--noIcon.t-Alert--wizard .t-Alert-icon {
  padding-top: 0;
  line-height: 0; }
.t-Alert--noIcon.t-Alert--horizontal .t-Alert-icon {
  display: none !important; }
.t-Alert--noIcon .t-Icon {
  display: none; }

.t-Body-alert {
  margin: 0; }
  .t-Body-alert .t-Alert {
    margin-bottom: 0;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(0, 0, 0, 0.1) inset; }

.t-Alert .t-Icon.icon-close:before {
  content: "\f00d"; }

/* Page Notification (Success or Message)
   ========================================================================== */
.t-Body-alert .t-Alert--page {
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1) inset; }
.t-Alert--page.t-Alert--success {
  transition: -webkit-transform 0.25s ease-out, opacity 0.25s ease-out;
  transition: transform 0.25s ease-out, opacity 0.25s ease-out;
  border-radius: 0; }
  .t-Alert--page.t-Alert--success .t-Alert-title {
    font-size: 1.4rem;
    font-weight: bold; }
  @media only screen and (min-width: 769px) {
    .t-Alert--page.t-Alert--success {
      position: fixed;
      top: 12px;
      right: 12px;
      max-width: 480px;
      z-index: 2000;
      opacity: 0;
      border-radius: 2px; }
      .t-Body-alert .t-Alert--page.t-Alert--success {
        box-shadow: 0 4px 6px -3px rgba(0, 0, 0, 0.25); } }
  .t-Alert--page.t-Alert--success.is-visible {
    transition: -webkit-transform 0.5s ease-out, opacity 0.5s ease-out;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
    -webkit-transform: translateY(12px);
        -ms-transform: translateY(12px);
            transform: translateY(12px);
    opacity: 1; }
  .t-Alert--page.t-Alert--success.is-fading {
    opacity: 0.5; }
    .t-Alert--page.t-Alert--success.is-fading:hover {
      opacity: 1; }
  .t-Alert--page.t-Alert--success.is-hidden {
    -webkit-transform: translateY(-150%);
        -ms-transform: translateY(-150%);
            transform: translateY(-150%);
    opacity: 0; }
.t-Alert--page.t-Alert--warning {
  transition: opacity 0.25s; }
  .t-Alert--page.t-Alert--warning.is-visible {
    opacity: 1; }
  .t-Alert--page.t-Alert--warning.is-hidden {
    opacity: 0;
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px; }
.t-Alert--page .t-Alert-body {
  margin-top: 0; }
.t-Alert--page .aErrMsgTitle {
  display: block;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 2rem; }
.t-Alert--page .htmldbUlErr {
  margin: 0;
  list-style: none; }
.t-Alert--page .htmldbStdErr {
  list-style: disc;
  margin: 4px 12px 4px 24px; }
.t-Alert--page .htmldbOraErr {
  margin-top: 8px;
  display: block;
  font-size: 1.1rem;
  line-height: 1.6rem;
  font-family: 'Menlo', 'Consolas', monospace, serif;
  white-space: pre-line; }

/* Accessible Heading
   ========================================================================== */
.t-Alert--accessibleHeading .t-Alert-title {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/* Handling Button Regions for Alerts
   ========================================================================== */
.t-Alert .t-ButtonRegion {
  margin-bottom: 0;
  margin-top: 24px; }

.t-Alert .col .t-ButtonRegion:only-child {
  margin-bottom: 0; }
