/* ==========================================================================
   Attribute Value Pair List
   ========================================================================== */
.t-AVPList {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-font-smoothing: antialiased; }

.t-AVPList-item {
  display: table;
  width: 100%;
  box-shadow: 0 -1px rgba(0, 0, 0, 0.05) inset;
  transition: background-color 0.1s; }

.t-AVPList-label, .t-AVPList-value {
  display: block;
  vertical-align: top;
  font-size: 1.4rem;
  line-height: 2rem;
  padding: 0.8rem 1.2rem;
  margin: 0;
  box-shadow: 0 1px rgba(0, 0, 0, 0.05) inset;
  transition: background-color 0.1s; }
  .t-AVPList-label:first-of-type, .t-AVPList-value:first-of-type {
    box-shadow: none; }

.t-AVPList-value {
  overflow: hidden; }

.t-AVPList-label {
  clear: both;
  float: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

.t-AVPList--leftAligned .t-AVPList-label {
  padding-left: 1.2rem;
  width: 30%; }
.t-AVPList--leftAligned .t-AVPList-value {
  padding-right: 1.2rem;
  text-align: left;
  width: 70%; }

.t-AVPList--rightAligned .t-AVPList-label {
  width: 70%; }
.t-AVPList--rightAligned .t-AVPList-value {
  text-align: right;
  overflow: hidden;
  width: 30%; }

.t-Body-info .t-AVPList-label {
  padding-left: 2.4rem; }
.t-Body-info .t-AVPList-value {
  padding-right: 2.4rem; }

/* ==========================================================================
   Widths
   ========================================================================== */
/* Fixed - Small
   ========================================================================== */
.t-AVPList--fixedLabelSmall .t-AVPList-label {
  width: 160px; }
.t-AVPList--fixedLabelSmall .t-AVPList-value {
  width: auto; }

/* Fixed - Medium
   ========================================================================== */
.t-AVPList--fixedLabelMedium .t-AVPList-label {
  width: 220px; }
.t-AVPList--fixedLabelMedium .t-AVPList-label {
  width: 260px; }

/* Fixed - Large
   ========================================================================== */
.t-AVPList--fixedLabelLarge .t-AVPList-label {
  width: 260px; }
.t-AVPList--fixedLabelLarge .t-AVPList-label {
  width: 260px; }

/* Variable - Small
   ========================================================================== */
.t-AVPList--variableLabelSmall .t-AVPList-label {
  width: 20%; }
.t-AVPList--variableLabelSmall .t-AVPList-label {
  width: 80%; }

/* Variable - Medium
   ========================================================================== */
.t-AVPList--variableLabelMedium .t-AVPList-label {
  width: 30%; }
  .t-AVPList--variableLabelMedium .t-AVPList-label .t-AVPList-label {
    width: 70%; }

/* Variable - Large
   ========================================================================== */
.t-AVPList--variableLabelLarge .t-AVPList-label {
  width: 40%; }
.t-AVPList--variableLabelLarge .t-AVPList-label {
  width: 60%; }
