.app-apex-application-archive {
  background-image: url('../../../../apex_ui/img/icons_src/pkg-apps/app-apex-application-archive.svg');
  background-repeat: no-repeat; }

.app-application-standards-tracker {
  background-image: url('../../../../apex_ui/img/icons_src/pkg-apps/app-application-standards-tracker.svg');
  background-repeat: no-repeat; }

.app-artwork-catalog {
  background-image: url('../../../../apex_ui/img/icons_src/pkg-apps/app-artwork-catalog.svg');
  background-repeat: no-repeat; }

.app-bug-tracking {
  background-image: url('../../../../apex_ui/img/icons_src/pkg-apps/app-bug-tracking.svg');
  background-repeat: no-repeat; }

.app-checklist-manager {
  background-image: url('../../../../apex_ui/img/icons_src/pkg-apps/app-checklist-manager.svg');
  background-repeat: no-repeat; }

.app-community-requests {
  background-image: url('../../../../apex_ui/img/icons_src/pkg-apps/app-community-requests.svg');
  background-repeat: no-repeat; }

.app-customer-tracker {
  background-image: url('../../../../apex_ui/img/icons_src/pkg-apps/app-customer-tracker.svg');
  background-repeat: no-repeat; }

.app-data-reporter {
  background-image: url('../../../../apex_ui/img/icons_src/pkg-apps/app-data-reporter.svg');
  background-repeat: no-repeat; }

.app-decision-manager {
  background-image: url('../../../../apex_ui/img/icons_src/pkg-apps/app-decision-manager.svg');
  background-repeat: no-repeat; }

.app-expertise-tracker {
  background-image: url('../../../../apex_ui/img/icons_src/pkg-apps/app-expertise-tracker.svg');
  background-repeat: no-repeat; }

.app-feedback {
  background-image: url('../../../../apex_ui/img/icons_src/pkg-apps/app-feedback.svg');
  background-repeat: no-repeat; }

.app-go-live-checklist {
  background-image: url('../../../../apex_ui/img/icons_src/pkg-apps/app-go-live-checklist.svg');
  background-repeat: no-repeat; }

.app-group-calendar {
  background-image: url('../../../../apex_ui/img/icons_src/pkg-apps/app-group-calendar.svg');
  background-repeat: no-repeat; }

.app-incident-tracking {
  background-image: url('../../../../apex_ui/img/icons_src/pkg-apps/app-incident-tracking.svg');
  background-repeat: no-repeat; }

.app-issue-tracker {
  background-image: url('../../../../apex_ui/img/icons_src/pkg-apps/app-issue-tracker.svg');
  background-repeat: no-repeat; }

.app-live-poll {
  background-image: url('../../../../apex_ui/img/icons_src/pkg-apps/app-live-poll.svg');
  background-repeat: no-repeat; }

.app-meeting-minutes {
  background-image: url('../../../../apex_ui/img/icons_src/pkg-apps/app-meeting-minutes.svg');
  background-repeat: no-repeat; }

.app-opportunity-tracker {
  background-image: url('../../../../apex_ui/img/icons_src/pkg-apps/app-opportunity-tracker.svg');
  background-repeat: no-repeat; }

.app-p-track {
  background-image: url('../../../../apex_ui/img/icons_src/pkg-apps/app-p-track.svg');
  background-repeat: no-repeat; }

.app-sample-brookstrut {
  background-image: url('../../../../apex_ui/img/icons_src/pkg-apps/app-sample-brookstrut.svg');
  background-repeat: no-repeat; }

.app-sample-calendar {
  background-image: url('../../../../apex_ui/img/icons_src/pkg-apps/app-sample-calendar.svg');
  background-repeat: no-repeat; }

.app-sample-charts {
  background-image: url('../../../../apex_ui/img/icons_src/pkg-apps/app-sample-charts.svg');
  background-repeat: no-repeat; }

.app-sample-collections {
  background-image: url('../../../../apex_ui/img/icons_src/pkg-apps/app-sample-collections.svg');
  background-repeat: no-repeat; }

.app-sample-data-loading {
  background-image: url('../../../../apex_ui/img/icons_src/pkg-apps/app-sample-data-loading.svg');
  background-repeat: no-repeat; }

.app-sample-database-application {
  background-image: url('../../../../apex_ui/img/icons_src/pkg-apps/app-sample-database-application.svg');
  background-repeat: no-repeat; }

.app-sample-dialog {
  background-image: url('../../../../apex_ui/img/icons_src/pkg-apps/app-sample-dialog.svg');
  background-repeat: no-repeat; }

.app-sample-dynamic-actions {
  background-image: url('../../../../apex_ui/img/icons_src/pkg-apps/app-sample-dynamic-actions.svg');
  background-repeat: no-repeat; }

.app-sample-file-upload-download {
  background-image: url('../../../../apex_ui/img/icons_src/pkg-apps/app-sample-file-upload-download.svg');
  background-repeat: no-repeat; }

.app-sample-forms {
  background-image: url('../../../../apex_ui/img/icons_src/pkg-apps/app-sample-forms.svg');
  background-repeat: no-repeat; }

.app-sample-geolocation {
  background-image: url('../../../../apex_ui/img/icons_src/pkg-apps/app-sample-geolocation.svg');
  background-repeat: no-repeat; }

.app-sample-lists {
  background-image: url('../../../../apex_ui/img/icons_src/pkg-apps/app-sample-lists.svg');
  background-repeat: no-repeat; }

.app-sample-master-detail {
  background-image: url('../../../../apex_ui/img/icons_src/pkg-apps/app-sample-master-detail.svg');
  background-repeat: no-repeat; }

.app-sample-reporting {
  background-image: url('../../../../apex_ui/img/icons_src/pkg-apps/app-sample-reporting.svg');
  background-repeat: no-repeat; }

.app-sample-search {
  background-image: url('../../../../apex_ui/img/icons_src/pkg-apps/app-sample-search.svg');
  background-repeat: no-repeat; }

.app-sample-trees {
  background-image: url('../../../../apex_ui/img/icons_src/pkg-apps/app-sample-trees.svg');
  background-repeat: no-repeat; }

.app-sample-universal-theme {
  background-image: url('../../../../apex_ui/img/icons_src/pkg-apps/app-sample-universal-theme.svg');
  background-repeat: no-repeat; }

.app-sample-websheet-anyco {
  background-image: url('../../../../apex_ui/img/icons_src/pkg-apps/app-sample-websheet-anyco.svg');
  background-repeat: no-repeat; }

.app-sample-wizard {
  background-image: url('../../../../apex_ui/img/icons_src/pkg-apps/app-sample-wizard.svg');
  background-repeat: no-repeat; }

.app-survey-builder {
  background-image: url('../../../../apex_ui/img/icons_src/pkg-apps/app-survey-builder.svg');
  background-repeat: no-repeat; }

.app-systems-catalog {
  background-image: url('../../../../apex_ui/img/icons_src/pkg-apps/app-systems-catalog.svg');
  background-repeat: no-repeat; }

.app-use-case-status {
  background-image: url('../../../../apex_ui/img/icons_src/pkg-apps/app-use-case-status.svg');
  background-repeat: no-repeat; }

.app-websheet-any-co {
  background-image: url('../../../../apex_ui/img/icons_src/pkg-apps/app-websheet-any-co.svg');
  background-repeat: no-repeat; }

.app-websheet-big-cats {
  background-image: url('../../../../apex_ui/img/icons_src/pkg-apps/app-websheet-big-cats.svg');
  background-repeat: no-repeat; }

/* ==========================================================================
   Packaged App Icons
   ========================================================================== */
/*
 * Light Blue
 */
.app-apex-application-archive, .app-customer-tracker, .app-data-reporter, .app-group-calendar, .app-sample-search, .app-websheet-any-co {
  background-color: #4FA5E9 !important; }

/*
 * Dark Blue
 */
.app-feedback, .app-issue-tracker, .app-sample-dialog, .app-sample-lists, .app-sample-calendar {
  background-color: #3F84BB !important; }

/*
 * Darker Blue
 */
.app-artwork-catalog, .app-checklist-manager, .app-go-live-checklist, .app-opportunity-tracker, .app-p-track, .app-sample-data-loading, .app-sample-forms, .app-sample-reporting, .app-sample-wizard, .app-use-case-status, .app-sample-universal-theme {
  background-color: #3E566D !important; }

/*
 * Light Gray
 */
.app-application-standards-tracker, .app-sample-database-application, .app-sample-geolocation {
  background-color: #E5E7E9 !important; }

/*
 * Dark Gray
 */
.app-sample-collections, .app-meeting-minutes {
  background-color: #4C4E50 !important; }

/*
 * Orange
 */
.app-sample-brookstrut, .app-incident-tracking, .app-sample-charts, .app-sample-file-upload-download, .app-systems-catalog, .app-community-requests, .app-live-poll {
  background-color: #FDBD3E !important; }

/*
 * Green
 */
.app-bug-tracking, .app-decision-manager, .app-sample-dynamic-actions, .app-sample-master-detail, .app-sample-trees {
  background-color: #27A168 !important; }

/*
 * Red
 */
.app-expertise-tracker, .app-survey-builder, .app-websheet-big-cats {
  background-color: #F64434 !important; }

/* ==========================================================================
   Headings
   ========================================================================== */
h1 {
  font-size: 3.6rem;
  margin: 0 0 1.6rem 0; }
  h1 + h2 {
    margin-top: 1.6em; }

h2 {
  font-size: 2.8rem;
  margin: 0 0 1.2rem 0; }
  h2 + h3 {
    margin-top: 1.2em; }

h3 {
  font-size: 2.4rem;
  margin: 0 0 1.2rem 0; }
  h3 + h4 {
    margin-top: 0.8em; }

h4 {
  font-size: 2rem;
  margin: 0 0 0.8rem 0;
  font-weight: 500; }
  h4 + h5 {
    margin-top: 0.8em; }

h5 {
  font-size: 1.6rem;
  margin: 0 0 0.8rem 0;
  font-weight: 500; }
  h5 + h6 {
    margin-top: 0.8em; }

h6 {
  font-size: 1.2rem;
  margin: 0 0 0.8rem 0;
  font-weight: normal; }

h1, h2, h3 {
  font-weight: normal; }

h4, h5, h6 {
  font-weight: bold; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased; }

/* ==========================================================================
   Paragraphs
   ========================================================================== */
p {
  font-size: 1.4rem;
  line-height: 2rem;
  margin: 1.2rem 0;
  -webkit-font-smoothing: antialiased; }

/* ==========================================================================
   Lists
   ========================================================================== */
ol, ul {
  margin: 1.2rem 3.2rem;
  padding: 0;
  -webkit-font-smoothing: antialiased; }

ul {
  list-style-type: disc; }

ol {
  list-style-type: decimal; }

li {
  font-size: 1.4rem;
  line-height: 2rem; }

/* ==========================================================================
   Miscellaneous
   ========================================================================== */
code, pre {
  font-family: 'Menlo', 'Consolas', mono-space;
  white-space: pre;
  font-size: 1.2rem;
  line-height: 1.5; }

small {
  font-size: 1.1rem; }

big {
  font-size: 1.6rem; }

.nodatafound {
  display: block;
  padding: 12px;
  font-size: 11px;
  font-weight: 300; }

/* ==========================================================================
   Handle Resize Behavior
   ========================================================================== */
.resize {
  display: block !important; }
