/**
 * Import Compass
 */
body .grid-debug-on .container {
  background-image: linear-gradient(left, rgba(255, 128, 128, 0.2) 0%, rgba(255, 128, 128, 0.2) 50%, transparent 50%, transparent 100%);
  background-size: 16.6666667% 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

/* ==========================================================================
   Page Body
   ========================================================================== */
html {
  font-size: 62.5%; }

body {
  font-family: 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 1.2rem;
  line-height: 1.6rem;
  margin: 0; }

a {
  text-decoration: none; }

.is-fixed {
  position: fixed;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden; }

/* ==========================================================================
   Login Page
   ========================================================================== */
.t-PageBody--login form#wwvFlowForm {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
.t-PageBody--login .t-Body {
  margin-top: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
.t-PageBody--login .t-Alert--wizard {
  width: auto; }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .t-PageBody--login .t-Body {
    min-height: 99vh; }
 }

/* ==========================================================================
   APEX Form Element
   ========================================================================== */
form#wwvFlowForm {
  min-height: 100vh;
  margin: 0; }

/* ==========================================================================
   Body Content + Columns
   ========================================================================== */
.t-Body {
  position: relative;
  overflow: hidden; }
  @media only screen and (max-width: 768px) {
    .t-Body {
      margin-top: 0; } }

.t-Body-wrap {
  margin: 12px 0;
  display: table;
  table-layout: fixed;
  width: 100%; }

.t-Body-alert:empty {
  display: none; }

/* ==========================================================================
   Body Title
   ========================================================================== */
.js-hideTitleBar .t-Body-title {
  display: none !important; }

.js-hidePageTitle .t-Body-titleHeading {
  display: none !important; }

.t-Body-title {
  display: block;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.125) inset; }
  .t-Body-title.js-hideBreadcrumbs {
    margin-top: -36px; }
    .t-Body-title.js-hideBreadcrumbs .t-Breadcrumb {
      opacity: 0; }
  .t-Body-title:after {
    content: ' ';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 8px;
    margin-bottom: -8px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.075), rgba(0, 0, 0, 0));
    z-index: 100;
    opacity: 0;
    transition: opacity 0.2s; }
  .t-Body-title.has-shadow:after {
    opacity: 1; }
  .t-Body-title.js-hideBreadcrumbs {
    background-color: rgba(0, 0, 0, 0.95); }
  .t-Body-title:after {
    background-image: linear-gradient(rgba(0, 0, 0, 0.075), rgba(0, 0, 0, 0)); }

.t-Body-titleHeading {
  font-size: 2.8rem;
  line-height: 1;
  margin: 0;
  padding: 24px;
  font-weight: 300;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-font-smoothing: antialiased; }
  .t-Breadcrumb + .t-Body-titleHeading {
    padding-top: 0;
    margin-top: -24px; }

/* ==========================================================================
   Core Body Styles
   ========================================================================== */
.t-Header, .t-Body-nav, .t-Body-actions {
  position: fixed;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden; }

.t-Header {
  top: 0;
  left: 0;
  right: 0;
  z-index: 500; }

.t-Body-main, .t-Body-content {
  overflow: hidden; }

.t-Body-contentInner {
  padding: 12px; }

.t-Body-content {
  padding-bottom: 25vh; }

/* ==========================================================================
   Configure Widths
   ========================================================================== */
/* ==========================================================================
   Tree Based Navigation
   ========================================================================== */
.grid-debug-on .container {
  background-image: linear-gradient(left, rgba(255, 128, 128, 0.2) 0%, rgba(255, 128, 128, 0.2) 50%, transparent 50%, transparent 100%);
  background-size: 16.6666667% 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

/**
 * Hide Top Menu Bar Navigation
 */
.apex-side-nav .t-Header-nav, .apex-side-nav #t_Button_menuNavControl {
  display: none !important; }
.apex-side-nav .t-Body-nav, .apex-side-nav .t-Body-actions, .apex-side-nav .t-Body-title {
  top: 40px; }
@media only screen and (min-width: 641px) {
  .apex-side-nav .t-Body-title {
    left: 180px; } }
@media only screen and (min-width: 641px) {
  .apex-side-nav .t-Body-content {
    margin-left: 180px; } }
.apex-side-nav .t-Body-main {
  margin-left: 0; }

@media only screen and (max-width: 640px) {
  .js-HeaderContracted .t-Header {
    margin-top: -200px; }
  .js-HeaderContracted #t_Body_actions {
    margin-top: 0px !important;
    top: 0px !important; }

  .js-HeaderExpanded .t-Header {
    margin-top: 0px; }
 }

/* ==========================================================================
   Menu Based Navigation
   ========================================================================== */
.apex-top-nav .t-Body-nav, .apex-top-nav #t_Button_treeNavControl {
  display: none !important; }
.apex-top-nav .t-Body-actions {
  top: 80px; }
.apex-top-nav .t-Body-title, .apex-top-nav .t-Body-side {
  left: 0; }
.apex-top-nav .t-Body-title {
  top: 80px; }
@media only screen and (min-width: 641px) {
  .apex-top-nav #t_Button_menuNavControl {
    display: none !important; }
 }
@media only screen and (max-width: 640px) {

  .apex-top-nav.js-menuNavExpanded .t-Header {
    position: static; }
  .apex-top-nav.js-menuNavExpanded .t-Body-actions .t-Button--header {
    display: none; }
 }

/* ==========================================================================
   Base Page Template Styles
   ========================================================================== */
/**
 * Transitions on Moving Elements
 */
.t-Header, .t-Body-main, .t-Body-title, .t-Body-actions, .t-Body-nav, .t-Body-side, .t-Body-nav .t-TreeNav, .t-Body-content, .t-Button.t-Button--header {
  transition: all 0.2s; }
  .no-anim .t-Header, .no-anim .t-Body-main, .no-anim .t-Body-title, .no-anim .t-Body-actions, .no-anim .t-Body-nav, .no-anim .t-Body-side, .no-anim .t-Body-nav .t-TreeNav, .no-anim .t-Body-content, .no-anim .t-Button.t-Button--header {
    transition: none !important; }

.no-anim .t-Body-title, .no-anim .t-Body-side, .no-anim .t-Body-content {
  opacity: 0; }

/**
 * Base styles for Tree Nav container
 */
.t-Body-nav {
  width: 180px;
  left: 0;
  bottom: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch; }

/**
 * Base styles for Actions
 */
.t-Body-actions {
  display: none;
  right: 0;
  bottom: 0;
  width: 200px;
  z-index: 490; }
  .t-Body-actions .t-Button--header {
    -webkit-transform: translate3d(-40px, 0, 0);
            transform: translate3d(-40px, 0, 0);
    position: absolute; }

.t-Body-actionsContent {
  height: 100%;
  overflow: auto; }

/**
 * Base styles for Title Bar
 */
.t-Body-title {
  z-index: 460; }
  @media only screen and (min-width: 641px) {
    .t-Body-title {
      position: fixed;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden; } }

/**
 * Base styles for Side Bar
 */
.t-Body-side {
  z-index: 470;
  overflow: auto; }
  .t-PageBody--hideLeft .t-Body-side {
    display: none !important; }
  @media only screen and (min-width: 641px) {
    .t-Body-side {
      box-shadow: 1px 0 0 rgba(0, 0, 0, 0.1);
      position: fixed;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      bottom: 0;
      width: 240px;
      left: 40px; } }

/**
 * Base Styles for Content Container
 */
@media only screen and (min-width: 641px) {
  .t-Body-content {
    margin-top: inherit; } }

.t-PageBody.t-PageBody--hideActions .t-Body-actions {
  display: none !important; }
@media only screen and (min-width: 641px) {
  .t-PageBody.t-PageBody--hideActions .t-Body-main {
    margin-right: 0 !important; }

  .t-PageBody.t-PageBody--hideActions .t-Body-title {
    right: 0 !important; }
 }

/* ==========================================================================
   Tree Nav Expanded
   ========================================================================== */
.apex-side-nav.js-navExpanded .t-Body-main {
  margin-left: 40px;
  -webkit-transform: translate3d(140px, 0, 0);
          transform: translate3d(140px, 0, 0); }
.apex-side-nav.js-navExpanded .t-Body-title {
  left: 0; }
@media only screen and (max-width: 480px) {
  .apex-side-nav.js-navExpanded .t-Body-title, .apex-side-nav.js-navExpanded .t-Body-side, .apex-side-nav.js-navExpanded .t-Body-content {
    margin-left: 0; }

  .apex-side-nav.js-navExpanded .t-Body-main {
    margin-left: 0;
    -webkit-transform: translate3d(180px, 0, 0);
            transform: translate3d(180px, 0, 0); }
 }
@media only screen and (min-width: 641px) {
  .apex-side-nav.js-navExpanded.t-PageBody--hideLeft .t-Body-title, .apex-side-nav.js-navExpanded.t-PageBody--hideLeft .t-Body-content, .apex-side-nav.js-navExpanded.t-PageBody--hideLeft .t-Body-main {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none; }
  .apex-side-nav.js-navExpanded.t-PageBody--hideLeft .t-Body-title {
    left: 180px; }
  .apex-side-nav.js-navExpanded.t-PageBody--hideLeft .t-Body-content {
    margin-left: 180px; }
  .apex-side-nav.js-navExpanded.t-PageBody--hideLeft .t-Body-main {
    margin-left: 0px; }

  .apex-side-nav.js-navExpanded .t-Body-title, .apex-side-nav.js-navExpanded .t-Body-side, .apex-side-nav.js-navExpanded .t-Body-content {
    -webkit-transform: translate3d(180px, 0, 0);
            transform: translate3d(180px, 0, 0); }

  .apex-side-nav.js-navExpanded.t-PageBody--showLeft .t-Body-main {
    margin-left: 0;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none; }
  .apex-side-nav.js-navExpanded.t-PageBody--showLeft .t-Body-side {
    left: 0; }
  .apex-side-nav.js-navExpanded.t-PageBody--showLeft .t-Body-content {
    margin-left: 280px;
    -webkit-transform: translate3d(140px, 0, 0);
            transform: translate3d(140px, 0, 0); }
 }
@media only screen and (min-width: 993px) {
  .apex-side-nav.js-navExpanded.t-PageBody--showLeft .t-Body-main {
    margin-left: 0;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none; }
  .apex-side-nav.js-navExpanded.t-PageBody--showLeft .t-Body-title {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    margin-left: 180px; }
  .apex-side-nav.js-navExpanded.t-PageBody--showLeft .t-Body-content {
    margin-left: 420px;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none; }
 }

/* ==========================================================================
   Tree Nav Collapsed
   ========================================================================== */
.apex-side-nav.js-navCollapsed .t-Body-nav, .apex-side-nav.js-navCollapsed .t-Body-nav .t-TreeNav {
  width: 40px; }
  .apex-side-nav.js-navCollapsed .t-Body-nav .a-TreeView-toggle, .apex-side-nav.js-navCollapsed .t-Body-nav .t-TreeNav .a-TreeView-toggle {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px; }
.apex-side-nav.js-navCollapsed .t-Body-content, .apex-side-nav.js-navCollapsed .t-Body-title, .apex-side-nav.js-navCollapsed .t-Body-side {
  margin-left: 40px; }
@media only screen and (max-width: 480px) {
  .apex-side-nav.js-navCollapsed .t-Body-nav {
    -webkit-transform: translateX(-40px);
        -ms-transform: translateX(-40px);
            transform: translateX(-40px); }

  .apex-side-nav.js-navCollapsed .t-Body-title, .apex-side-nav.js-navCollapsed .t-Body-side, .apex-side-nav.js-navCollapsed .t-Body-content {
    margin-left: 0; }
 }
@media only screen and (max-width: 640px) {
  .apex-side-nav.js-navCollapsed.t-PageBody.js-rightExpanded .t-Body-main {
    margin-left: 0; }
 }
@media only screen and (min-width: 641px) {
  .apex-side-nav.js-navCollapsed .t-Body-title {
    margin-left: 0;
    left: 40px; }

  .apex-side-nav.js-navCollapsed.t-PageBody--showLeft .t-Body-side {
    margin-left: 0; }
  .apex-side-nav.js-navCollapsed.t-PageBody--showLeft .t-Body-content {
    margin-left: 280px; }
 }
@media only screen and (min-width: 993px) {
  .apex-side-nav.js-navCollapsed .t-Body-side {
    left: 40px; }
 }

/* ==========================================================================
   Actions Expanded
   ========================================================================== */
.t-PageBody.js-rightExpanded .t-Body-main {
  margin-right: 0; }
.t-PageBody.js-rightExpanded .t-Body-main, .t-PageBody.js-rightExpanded .t-Body-nav {
  -webkit-transform: translate3d(-200px, 0, 0);
          transform: translate3d(-200px, 0, 0); }
@media only screen and (min-width: 641px) {
  .t-PageBody.js-rightExpanded.t-PageBody--hideLeft .t-Body-main, .t-PageBody.js-rightExpanded.t-PageBody--hideLeft .t-Body-nav {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none; }
  .t-PageBody.js-rightExpanded.t-PageBody--hideLeft .t-Body-main {
    margin-right: 200px; }
  .t-PageBody.js-rightExpanded.t-PageBody--hideLeft .t-Body-title {
    right: 200px; }

  .t-PageBody.js-rightExpanded.t-PageBody--showLeft .t-Body-title {
    right: 0; }

  .t-PageBody.js-rightExpanded.js-navCollapsed.t-PageBody--showLeft .t-Body-side {
    margin-left: 0;
    left: 0; }
 }
@media only screen and (min-width: 993px) {
  .t-PageBody.js-rightExpanded.t-PageBody--showLeft .t-Body-main {
    margin-right: 200px; }
  .t-PageBody.js-rightExpanded.t-PageBody--showLeft .t-Body-main, .t-PageBody.js-rightExpanded.t-PageBody--showLeft .t-Body-nav {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none; }
  .t-PageBody.js-rightExpanded.t-PageBody--showLeft .t-Body-title {
    right: 200px; }

  .t-PageBody.js-rightExpanded.js-navCollapsed.t-PageBody--showLeft .t-Body-side {
    left: 40px; }
 }
@media only screen and (max-width: 992px) {
  .t-PageBody.js-rightExpanded.t-PageBody--showLeft .t-Body-main {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none; }
  .t-PageBody.js-rightExpanded.t-PageBody--showLeft .t-Body-title, .t-PageBody.js-rightExpanded.t-PageBody--showLeft .t-Body-side, .t-PageBody.js-rightExpanded.t-PageBody--showLeft .t-Body-content {
    -webkit-transform: translate3d(-200px, 0, 0);
            transform: translate3d(-200px, 0, 0); }
  .t-PageBody.js-rightExpanded.t-PageBody--showLeft .t-Body-side {
    margin-left: 40px !important; }
 }

/* ==========================================================================
   Actions Collapsed
   ========================================================================== */
.t-PageBody.js-rightCollapsed .t-Body-main {
  margin-right: 0px; }
.t-PageBody.js-rightCollapsed .t-Body-title {
  right: 0px; }
.t-PageBody.js-rightCollapsed .t-Body-actions {
  -webkit-transform: translate3d(200px, 0, 0);
          transform: translate3d(200px, 0, 0); }

/* ==========================================================================
   Show Left Side Bar
   ========================================================================== */
@media only screen and (min-width: 641px) {
  .t-PageBody--showLeft .t-Body-content {
    margin-left: 280px; }
 }

/* ==========================================================================
   Master Detail Page
   ========================================================================== */
.t-PageBody--masterDetail .t-Body-title {
  box-shadow: none; }
  .t-PageBody--masterDetail .t-Body-title:after {
    display: none; }
  .t-PageBody--masterDetail .t-Body-title.has-shadow {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.075); }
  .t-PageBody--masterDetail .t-Body-title.has-shadow:after {
    background-image: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0));
    display: block; }
.t-PageBody--masterDetail .t-Body-contentInner > .container:first-child {
  min-height: 75vh; }
.t-PageBody--masterDetail .apex-rds-container {
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1) inset; }
  .t-PageBody--masterDetail .apex-rds-container:after {
    content: ' ';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 8px;
    margin-bottom: -8px;
    z-index: 100;
    background-image: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0)); }

.t-Body-info {
  overflow: hidden; }
  .t-Body-info .t-Region {
    margin: 12px; }
  .t-Body-info .t-Region--noUI {
    margin: 0; }
    .t-Body-info .t-Region--noUI .t-Region-headerItems--controls {
      padding-left: 2.4rem; }

.t-Body-topButton {
  margin: 24px auto;
  width: 64px;
  height: 64px;
  padding: 16px;
  border-radius: 100%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  opacity: 0.5;
  transition: all 0.1s; }
  .t-Body-topButton:hover, .t-Body-topButton:active, .t-Body-topButton:focus {
    opacity: 1;
    -webkit-transform: translateY(-8px);
        -ms-transform: translateY(-8px);
            transform: translateY(-8px); }
  .t-Body-topButton:hover {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15); }
  .t-Body-topButton:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15) inset; }
  .t-Body-topButton:focus {
    outline: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.2) inset; }
  .t-Body-topButton .a-Icon {
    width: 32px;
    height: 32px; }
    .t-Body-topButton .a-Icon:before {
      font-size: 32px; }

.flotPieContainer > div {
  margin: 0 auto; }

body.apex-no-scroll {
  overflow: hidden !important;
  width: 100%; }

.a-Menu {
  visibility: visible; }

.ui-widget {
  visibility: visible; }

.ui-dialog {
  visibility: visible; }
