/*
 * Import Compass
 */
/*
{
  "translate": true,
  "groups":[
  {
    "name": "UTR.LESS.GLOBAL_COLORS",
    "common": true,
    "sequence": 1
  },
  {
    "name": "UTR.LESS.CONTAINERS",
    "common": true,
    "sequence": 2
  },
  {
  "name": "UTR.LESS.REGIONS",
  "common": true,
  "sequence": 3
  },
  {
  "name": "UTR.LESS.BUTTONS",
  "common": false,
  "sequence": 4
  },
  {
  "name": "UTR.LESS.FORMS",
  "common": false,
  "sequence": 5
  },
  {
  "name": "UTR.LESS.STATES",
  "common": false,
  "sequence": 6
  },
  {
    "name": "UTR.LESS.PALETTE",
    "common": false,
    "sequence": 7
  },
  {
  "name": "UTR.LESS.NAVIGATION",
  "common": false,
  "sequence": 8
  },
  {
  "name": "UTR.LESS.INTERACTIVE_REPORTS",
  "common": false,
  "sequence": 9
  },
  {
  "name": "UTR.LESS.LAYOUT",
  "common": false,
  "sequence": 10
  }
  ]
}
*/
/*
{
  "var" : "$g_Accent-BG",
  "name" : "UTR.LESS.HEADER_ACCENT",
  "type" : "color",
  "group": "UTR.LESS.GLOBAL_COLORS"
}
*/
/*
{
  "var" : "$g_Accent-OG",
  "name" : "UTR.LESS.BODY_ACCENT",
  "type" : "color",
  "group": "UTR.LESS.GLOBAL_COLORS"
}
*/
/*
{
  "var" : "$g_Body-BG",
  "name" : "UTR.LESS.BACKGROUND",
  "type" : "color",
  "group": "UTR.LESS.CONTAINERS",
  "subgroup": "UTR.LESS.BODY"
}
*/
/*
{
  "var" : "$g_Body-Text",
  "name" : "UTR.LESS.TEXT",
  "type" : "color",
  "group": "UTR.LESS.CONTAINERS",
  "subgroup": "UTR.LESS.BODY"
}
*/
/*
{
  "var" : "$g_Actions-Col-BG",
  "name" : "UTR.LESS.BACKGROUND",
  "type" : "color",
  "group": "UTR.LESS.CONTAINERS",
  "subgroup": "UTR.LESS.ACTIONS_COLUMN"
}
*/
/*
{
  "var" : "$g_Actions-Col-Text",
  "name" : "UTR.LESS.TEXT",
  "type" : "color",
  "group": "UTR.LESS.CONTAINERS",
  "subgroup": "UTR.LESS.ACTIONS_COLUMN"
}
*/
/*
{
  "var" : "$g_Body-Title-BG",
  "name" : "UTR.LESS.BACKGROUND",
  "type" : "color",
  "group": "UTR.LESS.CONTAINERS",
  "subgroup": "UTR.LESS.TITLE_BAR"
}
*/
/*
{
  "var" : "$g_Body-Title-FG",
  "name" : "UTR.LESS.TEXT",
  "type" : "color",
  "group": "UTR.LESS.CONTAINERS",
  "subgroup": "UTR.LESS.TITLE_BAR"
}
*/
/*
{
  "var" : "$g_Container-BorderRadius",
  "name" : "UTR.LESS.CONTAINER_BORDER_RADIUS",
  "type" : "number",
  "units": "px",
  "range": {
    "min": 0,
    "max": 30,
    "increment": 2
  },
  "group": "UTR.LESS.CONTAINERS"
}
*/
/*
{
  "var" : "$g_Color-Palette-1",
  "name" : "UTR.LESS.BACKGROUND",
  "type" : "color",
  "group": "UTR.LESS.PALETTE",
  "subgroup": "UTR.LESS.COLOR_1"
}
*/
/*
{
  "var" : "$g_Color-Palette-1-FG",
  "name" : "UTR.LESS.FOREGROUND",
  "type" : "color",
  "group": "UTR.LESS.PALETTE",
  "subgroup": "UTR.LESS.COLOR_1"
}
*/
/*
{
  "var" : "$g_Color-Palette-2",
  "name" : "UTR.LESS.BACKGROUND",
  "type" : "color",
  "group": "UTR.LESS.PALETTE",
  "subgroup" : "UTR.LESS.COLOR_2"
}
*/
/*
{
  "var" : "$g_Color-Palette-2-FG",
  "name" : "UTR.LESS.FOREGROUND",
  "type" : "color",
  "group": "UTR.LESS.PALETTE",
  "subgroup" : "UTR.LESS.COLOR_2"
}
*/
/*
{
  "var" : "$g_Color-Palette-3",
  "name" : "UTR.LESS.COLOR_3",
  "type" : "color",
  "group": "UTR.LESS.PALETTE",
  "subgroup" : "UTR.LESS.COLOR_3"
}
*/
/*
{
  "var" : "$g_Color-Palette-3-FG",
  "name" : "UTR.LESS.FOREGROUND",
  "type" : "color",
  "group": "UTR.LESS.PALETTE",
  "subgroup" : "UTR.LESS.COLOR_3"
}
*/
/*
{
  "var" : "$g_Color-Palette-4",
  "name" : "UTR.LESS.BACKGROUND",
  "type" : "color",
  "group": "UTR.LESS.PALETTE",
  "subgroup": "UTR.LESS.COLOR_4"
}
*/
/*
{
  "var" : "$g_Color-Palette-4-FG",
  "name" : "UTR.LESS.FOREGROUND",
  "type" : "color",
  "group": "UTR.LESS.PALETTE",
  "subgroup": "UTR.LESS.COLOR_4"
}
*/
/*
{
  "var" : "$g_Color-Palette-5",
  "name" : "UTR.LESS.BACKGROUND",
  "type" : "color",
  "group": "UTR.LESS.PALETTE",
  "subgroup": "UTR.LESS.COLOR_5"
}
*/
/*
{
  "var" : "$g_Color-Palette-5-FG",
  "name" : "UTR.LESS.FOREGROUND",
  "type" : "color",
  "group": "UTR.LESS.PALETTE",
  "subgroup": "UTR.LESS.COLOR_5"
}
*/
/*
{
  "var" : "$g_Color-Palette-6",
  "name" : "UTR.LESS.BACKGROUND",
  "type" : "color",
  "group": "UTR.LESS.PALETTE",
  "subgroup": "UTR.LESS.COLOR_6"
}
*/
/*
{
  "var" : "$g_Color-Palette-6-FG",
  "name" : "UTR.LESS.FOREGROUND",
  "type" : "color",
  "group": "UTR.LESS.PALETTE",
  "subgroup": "UTR.LESS.COLOR_6"
}
*/
/*
{
  "var" : "$g_Color-Palette-7",
  "name" : "UTR.LESS.BACKGROUND",
  "type" : "color",
  "group": "UTR.LESS.PALETTE",
  "subgroup": "UTR.LESS.COLOR_7"
}
*/
/*
{
  "var" : "$g_Color-Palette-7-FG",
  "name" : "UTR.LESS.FOREGROUND",
  "type" : "color",
  "group": "UTR.LESS.PALETTE",
  "subgroup": "UTR.LESS.COLOR_7"
}
*/
/*
{
  "var" : "$g_Color-Palette-8",
  "name" : "UTR.LESS.BACKGROUND",
  "type" : "color",
  "group": "UTR.LESS.PALETTE",
  "subgroup": "UTR.LESS.COLOR_8"
}
*/
/*
{
  "var" : "$g_Color-Palette-8-FG",
  "name" : "UTR.LESS.FOREGROUND",
  "type" : "color",
  "group": "UTR.LESS.PALETTE",
  "subgroup": "UTR.LESS.COLOR_8"
}
*/
/*
{
  "var" : "$g_Color-Palette-9",
  "name" : "UTR.LESS.COLOR_9",
  "type" : "color",
  "group": "UTR.LESS.PALETTE",
  "subgroup": "UTR.LESS.COLOR_9"
}
*/
/*
{
  "var" : "$g_Color-Palette-9-FG",
  "name" : "UTR.LESS.FOREGROUND",
  "type" : "color",
  "group": "UTR.LESS.PALETTE",
  "subgroup": "UTR.LESS.COLOR_9"
}
*/
/*
{
  "var" : "$g_Color-Palette-10",
  "name" : "UTR.LESS.BACKGROUND",
  "type" : "color",
  "group": "UTR.LESS.PALETTE",
  "subgroup": "UTR.LESS.COLOR_10"
}
*/
/*
{
  "var" : "$g_Color-Palette-10-FG",
  "name" : "UTR.LESS.FOREGROUND",
  "type" : "color",
  "group": "UTR.LESS.PALETTE",
  "subgroup": "UTR.LESS.COLOR_10"
}
*/
/* State Colors
========================================================================== */
/*
{
  "var" : "$g_Disabled-BG",
  "name" : "UTR.LESS.BACKGROUND",
  "type" : "color",
  "group": "UTR.LESS.STATES",
  "subgroup": "UTR.LESS.DISABLED"
}
*/
/*
{
  "var" : "$g_Disabled-FG",
  "name" : "UTR.LESS.FOREGROUND",
  "type" : "color",
  "group": "UTR.LESS.STATES",
  "subgroup": "UTR.LESS.DISABLED"
}
*/
/*
{
  "var" : "$g_Primary-BG",
  "name" : "UTR.LESS.BACKGROUND",
  "type" : "color",
  "group": "UTR.LESS.STATES",
  "subgroup": "UTR.LESS.PRIMARY"
}
*/
/*
{
  "var" : "$g_Primary-FG",
  "name" : "UTR.LESS.FOREGROUND",
  "type" : "color",
  "group": "UTR.LESS.STATES",
  "subgroup": "UTR.LESS.PRIMARY"
}
*/
/*
{
  "var" : "$g_Success-BG",
  "name" : "UTR.LESS.BACKGROUND",
  "type" : "color",
  "group": "UTR.LESS.STATES",
  "subgroup": "UTR.LESS.SUCCESS"
}
*/
/*
{
  "var" : "$g_Success-FG",
  "name" : "UTR.LESS.FOREGROUND",
  "type" : "color",
  "group": "UTR.LESS.STATES",
  "subgroup": "UTR.LESS.SUCCESS"
}
*/
/*
{
  "var" : "$g_Info-BG",
  "name" : "UTR.LESS.BACKGROUND",
  "type" : "color",
  "group": "UTR.LESS.STATES",
  "subgroup": "UTR.LESS.INFO"
}
*/
/*
{
  "var" : "$g_Info-FG",
  "name" : "UTR.LESS.FOREGROUND",
  "type" : "color",
  "group": "UTR.LESS.STATES",
  "subgroup": "UTR.LESS.INFO"
}
*/
/*
{
  "var" : "$g_Warning-BG",
  "name" : "UTR.LESS.BACKGROUND",
  "type" : "color",
  "group": "UTR.LESS.STATES",
  "subgroup": "UTR.LESS.WARNING"
}
*/
/*
{
"var" : "$g_Warning-FG",
"name" : "UTR.LESS.FOREGROUND",
"type" : "color",
"group": "UTR.LESS.STATES",
"subgroup": "UTR.LESS.WARNING"
}
*/
/*
{
  "var" : "$g_Danger-BG",
  "name" : "UTR.LESS.BACKGROUND",
  "type" : "color",
  "group": "UTR.LESS.STATES",
  "subgroup": "UTR.LESS.DANGER"
}
*/
/*
{
"var" : "$g_Danger-FG",
"name" : "UTR.LESS.FOREGROUND",
"type" : "color",
"group": "UTR.LESS.STATES",
"subgroup": "UTR.LESS.DANGER"
}
*/
/*
{
  "var" : "$g_Header-BG",
  "name" : "UTR.LESS.BACKGROUND",
  "type" : "color",
  "group": "UTR.LESS.CONTAINERS",
  "subgroup": "UTR.LESS.HEADER"
}
*/
/*
{
  "var" : "$g_Header-FG",
  "name" : "UTR.LESS.FOREGROUND",
  "type" : "color",
  "group": "UTR.LESS.CONTAINERS",
  "subgroup": "UTR.LESS.HEADER"
}
*/
/*
{
"var" : "$g_Region-Header-BG",
"name" : "UTR.LESS.BACKGROUND",
"type" : "color",
"group": "UTR.LESS.REGIONS",
"subgroup": "UTR.LESS.REGION_HEADER"
}
*/
/*
{
"var" : "$g_Region-Header-FG",
"name" : "UTR.LESS.FOREGROUND",
"type" : "color",
"group": "UTR.LESS.REGIONS",
"subgroup": "UTR.LESS.REGION_HEADER"
}
*/
/*
{
  "var" : "$g_Region-BG",
  "name" : "UTR.LESS.BACKGROUND",
  "type" : "color",
  "group": "UTR.LESS.REGIONS",
  "subgroup": "UTR.LESS.BODY"
}
*/
/*
{
  "var" : "$g_Region-FG",
  "name" : "UTR.LESS.FOREGROUND",
  "type" : "color",
  "group": "UTR.LESS.REGIONS",
  "subgroup": "UTR.LESS.BODY"
}
*/
/*
{
  "var" : "$g_Form-Item-BG",
  "name" : "UTR.LESS.BACKGROUND",
  "type" : "color",
  "group": "UTR.LESS.FORMS",
  "subgroup": "UTR.LESS.ITEM"
}
*/
/*
{
  "var" : "$g_Form-Item-FG",
  "name" : "UTR.LESS.FOREGROUND",
  "type" : "color",
  "group": "UTR.LESS.FORMS",
  "subgroup": "UTR.LESS.ITEM"
}
*/
/*
{
  "var" : "$g_Form-Label",
  "name" : "UTR.LESS.LABEL",
  "type" : "color",
  "group": "UTR.LESS.FORMS"
}
*/
/*
{
  "var" : "$g_Form-BorderRadius",
  "name" : "UTR.LESS.BORDER_RADIUS",
  "type" : "number",
  "units": "px",
  "range": {
    "min": 0,
    "max": 30,
    "increment": 2
  },
  "group": "UTR.LESS.FORMS"
}
*/
/*
{
  "var" : "$g_Nav-BG",
  "name" : "UTR.LESS.BACKGROUND",
  "type" : "color",
  "group": "UTR.LESS.NAVIGATION",
  "subgroup": "UTR.LESS.BODY"
}
*/
/*
{
  "var" : "$g_Nav-FG",
  "name" : "UTR.LESS.FOREGROUND",
  "type" : "color",
  "group": "UTR.LESS.NAVIGATION",
  "subgroup": "UTR.LESS.BODY"
}
*/
/*
{
  "var" : "$g_Nav-Icon",
  "name" : "UTR.LESS.NORMAL",
  "type" : "color",
  "group": "UTR.LESS.NAVIGATION",
  "subgroup": "UTR.LESS.ICON",
  "checkContrast": false
}
*/
/*
{
  "var" : "$g_Nav-Active-BG",
  "name" : "UTR.LESS.BACKGROUND",
  "type" : "color",
  "group": "UTR.LESS.NAVIGATION",
  "subgroup": "UTR.LESS.SELECTED_STATE"
}
*/
/*
{
  "var" : "$g_Nav-Active-FG",
  "name" : "UTR.LESS.TEXT",
  "type" : "color",
  "group": "UTR.LESS.NAVIGATION",
  "subgroup": "UTR.LESS.SELECTED_STATE"
}
*/
/*
{
  "var" : "$g_Nav-Icon-Active",
  "name" : "UTR.LESS.ACTIVE_STATE",
  "type" : "color",
  "group": "UTR.LESS.NAVIGATION",
  "subgroup": "UTR.LESS.ICON",
  "checkContrast": false
}
*/
/*
{
  "var" : "$g_Link-Base",
  "name" : "UTR.LESS.LINK_COLOR",
  "type" : "color",
  "group": "UTR.LESS.GLOBAL_COLORS"
}
*/
/*
{
  "var" : "$g_Focus",
  "name" : "UTR.LESS.FOCUS_OUTLINE",
  "type" : "color",
  "group": "UTR.LESS.GLOBAL_COLORS"
}
*/
/*
{
  "var" : "$g_Button-BorderRadius",
  "name" : "UTR.LESS.BORDER_RADIUS",
  "type" : "number",
  "units": "px",
  "range": {
    "min": 0,
    "max": 24,
    "increment": 2
  },
  "group": "UTR.LESS.BUTTONS"
}
*/
/*
{
  "var" : "$g_Button-BG",
  "name" : "UTR.LESS.BACKGROUND",
  "type" : "color",
  "group": "UTR.LESS.BUTTONS",
  "subgroup": "UTR.LESS.NORMAL"
}
*/
/*
{
  "var" : "$g_Button-Text",
  "name" : "UTR.LESS.TEXT",
  "type" : "color",
  "group": "UTR.LESS.BUTTONS",
  "subgroup": "UTR.LESS.NORMAL"
}
*/
/*
* BEGIN MIXINS
*/
/*
{
	"palette": {

		"enabled": true,

		"defaults": {
			"hue": 250,
			"separation": 50,
			"mode": "dual"
		},

		"availableModes": [
			"monochrome",
			"dual"
		],

		"autoFillOutputs": true,

		"userDefinedShades": true,

		"outputMapping": {
			"0"  : "@utr_Palette1-lighter",
			"1"  : "@utr_Palette1-light",
			"2"  : "@utr_Palette1",
			"3"  : "@g_Accent-OG",
			"4"  : "@utr_Palette1-darker",

			"5"  : "@g_Accent-BG",
			"6"  : "@utr_Palette2-light",
			"7"  : "@utr_Palette3-normal",
			"8"  : "@utr_Palette3-dark",
			"9"  : "@utr_Palette2-darker",

			"10" : "@utr_Palette3-lighter",
			"11" : "@utr_Palette3-light",
			"12" : "@utr_Palette3",
			"13" : "@utr_Palette3-dark",
			"14" : "@utr_Palette3-darker",

			"15" : "@utr_Palette4-lighter",
			"16" : "@utr_Palette4-light",
			"17" : "@utr_Palette4",
			"18" : "@utr_Palette4-dark",
			"19" : "@utr_Palette4-darker"
		}
	}
}
*/
/* ==========================================================================
   Cards Container
   ========================================================================== */
.t-Cards {
  list-style: none;
  margin: 0;
  padding: 0; }

.t-Cards-item {
  vertical-align: top;
  display: block;
  position: relative; }

/* ==========================================================================
   Card Unit
   ========================================================================== */
.t-Card {
  position: relative;
  display: block;
  transition: all 0.1s ease-out; }
  .t-Card:hover {
    -webkit-transform: translateY(-6px);
        -ms-transform: translateY(-6px);
            transform: translateY(-6px);
    box-shadow: 0 10px 4px -4px rgba(0, 0, 0, 0.05); }

.t-Card-wrap {
  display: block;
  text-decoration: none;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  background-clip: padding-box;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05); }
  .t-Card-wrap:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 3px; }
  .t-Card-wrap:focus {
    outline: none; }
  .t-Card-wrap:hover {
    text-decoration: none; }

.t-Card-icon {
  display: none; }
  .t-Card-icon .t-Icon {
    overflow: hidden;
    width: 48px;
    height: 48px;
    line-height: 48px; }
    .t-Card-icon .t-Icon:before {
      vertical-align: middle; }

.t-Card-initials {
  font-size: 20px;
  line-height: 48px;
  font-weight: 300;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; }

.t-Card-body {
  padding: 16px; }

.t-Card-desc {
  display: block;
  font-size: 1.4rem;
  line-height: 2rem; }

.t-Card-info {
  font-size: 1.1rem;
  line-height: 1.6rem;
  margin-top: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
  .t-Card-info:empty {
    display: none; }

/* Basic Style (Icon in Header)
   ========================================================================== */
.t-Cards--basic .t-Card .t-Card-icon, .t-Card--basic .t-Card-icon {
  position: absolute;
  right: 16px;
  top: 16px; }
  .t-Cards--basic .t-Card .t-Card-icon .t-Icon, .t-Card--basic .t-Card-icon .t-Icon {
    font-size: 28px;
    border-radius: 2px; }
.t-Cards--basic .t-Card .t-Card-titleWrap, .t-Card--basic .t-Card-titleWrap {
  display: block;
  padding: 12px 80px 12px 16px;
  height: 80px;
  overflow: hidden;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.05) inset; }
.t-Cards--basic .t-Card .t-Card-title, .t-Card--basic .t-Card-title {
  font-size: 1.6rem;
  line-height: 2rem;
  margin: 0;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  max-height: 6rem;
  overflow: hidden;
  text-overflow: ellipsis; }

/* Compact Cards
   ========================================================================== */
.t-Cards--compact {
  margin-left: 2px; }
  .t-Cards--compact.t-Cards--hideBody .t-Card .t-Card-titleWrap {
    padding-top: 12px;
    padding-bottom: 12px;
    height: 64px; }
  .t-Cards--compact.t-Cards--hideBody .t-Card .t-Card-title {
    max-height: 3.2rem;
    white-space: normal; }

.t-Cards--compact .t-Card:hover, .t-Card--compact:hover {
  -webkit-transform: translateY(-4px);
      -ms-transform: translateY(-4px);
          transform: translateY(-4px); }
.t-Cards--compact .t-Card .t-Card-titleWrap, .t-Card--compact .t-Card-titleWrap {
  display: block;
  padding: 8px 32px 8px 8px;
  height: 32px;
  overflow: hidden; }
.t-Cards--compact .t-Card .t-Card-icon, .t-Card--compact .t-Card-icon {
  position: absolute;
  top: -4px;
  right: -4px;
  transition: all 0.1s; }
  .t-Cards--compact .t-Card .t-Card-icon .t-Icon, .t-Card--compact .t-Card-icon .t-Icon {
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 100%;
    background-color: #A0A0A0; }
.t-Cards--compact .t-Card .t-Card-initials, .t-Card--compact .t-Card-initials {
  font-size: 1.4rem;
  line-height: 3.2rem;
  font-weight: normal; }
.t-Cards--compact .t-Card .t-Card-title, .t-Card--compact .t-Card-title {
  font-size: 1.4rem;
  line-height: 1.6rem;
  margin: 0;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
.t-Cards--compact .t-Card .t-Card-body, .t-Card--compact .t-Card-body {
  padding: 0 8px 8px 8px; }
.t-Cards--compact .t-Card .t-Card-desc, .t-Card--compact .t-Card-desc {
  font-size: 1.1rem;
  line-height: 1.6rem; }

/* Featured Style (Centered Icon and Title)
   ========================================================================== */
.t-Cards--featured.t-Cards--hideBody .t-Card .t-Card-icon {
  margin-top: 36px; }
.t-Cards--featured.t-Cards--hideBody .t-Card .t-Card-titleWrap {
  margin-bottom: 36px;
  height: 4.8rem; }
.t-Cards--featured.t-Cards--hideBody .t-Card .t-Card-title {
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  position: relative;
  top: 50%;
  white-space: normal;
  max-height: 4.8rem; }

.t-Cards--featured .t-Card, .t-Card--featured {
  overflow: hidden; }
  .t-Cards--featured .t-Card .t-Card-icon, .t-Card--featured .t-Card-icon {
    width: 56px;
    height: 56px;
    margin: 24px auto -8px auto; }
    .t-Cards--featured .t-Card .t-Card-icon .t-Icon, .t-Card--featured .t-Card-icon .t-Icon {
      font-size: 28px;
      width: 56px;
      height: 56px;
      line-height: 56px;
      border-radius: 100px; }
    .t-Cards--featured .t-Card .t-Card-icon .t-Card-initials, .t-Card--featured .t-Card-icon .t-Card-initials {
      line-height: 56px; }
  .t-Cards--featured .t-Card .t-Card-titleWrap, .t-Card--featured .t-Card-titleWrap {
    display: block;
    margin: 24px 16px; }
  .t-Cards--featured .t-Card .t-Card-title, .t-Card--featured .t-Card-title {
    font-size: 2rem;
    line-height: 2.4rem;
    text-align: center;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .t-Cards--featured .t-Card .t-Card-body, .t-Card--featured .t-Card-body {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    margin: 24px 16px;
    padding: 24px 0 0 0; }

/* Show Icon
   ========================================================================== */
.t-Cards--displayIcons .t-Card-icon {
  display: block; }

/* Show Icon
   ========================================================================== */
.t-Cards--displayInitials .t-Card-icon {
  display: block; }
  .t-Cards--displayInitials .t-Card-icon .t-Icon:before {
    display: none; }

/* Colored Icons
   ========================================================================== */
.t-Cards--colorize .t-Cards-item:nth-child(1n) .t-Card-wrap:before, .t-Cards--colorize .t-Cards-item:nth-child(1n) .t-Card-icon .t-Icon {
  background-color: #ff2d55; }
.t-Cards--colorize .t-Cards-item:nth-child(2n) .t-Card-wrap:before, .t-Cards--colorize .t-Cards-item:nth-child(2n) .t-Card-icon .t-Icon {
  background-color: #007aff; }
.t-Cards--colorize .t-Cards-item:nth-child(3n) .t-Card-wrap:before, .t-Cards--colorize .t-Cards-item:nth-child(3n) .t-Card-icon .t-Icon {
  background-color: #ff9500; }
.t-Cards--colorize .t-Cards-item:nth-child(4n) .t-Card-wrap:before, .t-Cards--colorize .t-Cards-item:nth-child(4n) .t-Card-icon .t-Icon {
  background-color: #4cd964; }
.t-Cards--colorize .t-Cards-item:nth-child(5n) .t-Card-wrap:before, .t-Cards--colorize .t-Cards-item:nth-child(5n) .t-Card-icon .t-Icon {
  background-color: #8e8e93; }
.t-Cards--colorize .t-Cards-item:nth-child(6n) .t-Card-wrap:before, .t-Cards--colorize .t-Cards-item:nth-child(6n) .t-Card-icon .t-Icon {
  background-color: #34aadc; }
.t-Cards--colorize .t-Cards-item:nth-child(7n) .t-Card-wrap:before, .t-Cards--colorize .t-Cards-item:nth-child(7n) .t-Card-icon .t-Icon {
  background-color: #ffcc00; }
.t-Cards--colorize .t-Cards-item:nth-child(8n) .t-Card-wrap:before, .t-Cards--colorize .t-Cards-item:nth-child(8n) .t-Card-icon .t-Icon {
  background-color: #5ac8fa; }
.t-Cards--colorize .t-Cards-item:nth-child(9n) .t-Card-wrap:before, .t-Cards--colorize .t-Cards-item:nth-child(9n) .t-Card-icon .t-Icon {
  background-color: #ff3b30; }
.t-Cards--colorize .t-Cards-item:nth-child(10n) .t-Card-wrap:before, .t-Cards--colorize .t-Cards-item:nth-child(10n) .t-Card-icon .t-Icon {
  background-color: #5856D6; }
.t-Cards--colorize .t-Cards-item:nth-child(11n) .t-Card-wrap:before, .t-Cards--colorize .t-Cards-item:nth-child(11n) .t-Card-icon .t-Icon {
  background-color: #ff5777; }
.t-Cards--colorize .t-Cards-item:nth-child(12n) .t-Card-wrap:before, .t-Cards--colorize .t-Cards-item:nth-child(12n) .t-Card-icon .t-Icon {
  background-color: #3394ff; }
.t-Cards--colorize .t-Cards-item:nth-child(13n) .t-Card-wrap:before, .t-Cards--colorize .t-Cards-item:nth-child(13n) .t-Card-icon .t-Icon {
  background-color: #ffaa33; }
.t-Cards--colorize .t-Cards-item:nth-child(14n) .t-Card-wrap:before, .t-Cards--colorize .t-Cards-item:nth-child(14n) .t-Card-icon .t-Icon {
  background-color: #6fe083; }
.t-Cards--colorize .t-Cards-item:nth-child(15n) .t-Card-wrap:before, .t-Cards--colorize .t-Cards-item:nth-child(15n) .t-Card-icon .t-Icon {
  background-color: #a4a4a8; }
.t-Cards--colorize .t-Cards-item:nth-child(16n) .t-Card-wrap:before, .t-Cards--colorize .t-Cards-item:nth-child(16n) .t-Card-icon .t-Icon {
  background-color: #5cbbe3; }
.t-Cards--colorize .t-Cards-item:nth-child(17n) .t-Card-wrap:before, .t-Cards--colorize .t-Cards-item:nth-child(17n) .t-Card-icon .t-Icon {
  background-color: #ffd633; }
.t-Cards--colorize .t-Cards-item:nth-child(18n) .t-Card-wrap:before, .t-Cards--colorize .t-Cards-item:nth-child(18n) .t-Card-icon .t-Icon {
  background-color: #7bd3fb; }
.t-Cards--colorize .t-Cards-item:nth-child(19n) .t-Card-wrap:before, .t-Cards--colorize .t-Cards-item:nth-child(19n) .t-Card-icon .t-Icon {
  background-color: #ff6259; }
.t-Cards--colorize .t-Cards-item:nth-child(20n) .t-Card-wrap:before, .t-Cards--colorize .t-Cards-item:nth-child(20n) .t-Card-icon .t-Icon {
  background-color: #7977de; }
.t-Cards--colorize .t-Cards-item:nth-child(21n) .t-Card-wrap:before, .t-Cards--colorize .t-Cards-item:nth-child(21n) .t-Card-icon .t-Icon {
  background-color: #e5284c; }
.t-Cards--colorize .t-Cards-item:nth-child(22n) .t-Card-wrap:before, .t-Cards--colorize .t-Cards-item:nth-child(22n) .t-Card-icon .t-Icon {
  background-color: #006de5; }
.t-Cards--colorize .t-Cards-item:nth-child(23n) .t-Card-wrap:before, .t-Cards--colorize .t-Cards-item:nth-child(23n) .t-Card-icon .t-Icon {
  background-color: #e58600; }
.t-Cards--colorize .t-Cards-item:nth-child(24n) .t-Card-wrap:before, .t-Cards--colorize .t-Cards-item:nth-child(24n) .t-Card-icon .t-Icon {
  background-color: #44c35a; }
.t-Cards--colorize .t-Cards-item:nth-child(25n) .t-Card-wrap:before, .t-Cards--colorize .t-Cards-item:nth-child(25n) .t-Card-icon .t-Icon {
  background-color: #7f7f84; }
.t-Cards--colorize .t-Cards-item:nth-child(26n) .t-Card-wrap:before, .t-Cards--colorize .t-Cards-item:nth-child(26n) .t-Card-icon .t-Icon {
  background-color: #2e99c6; }
.t-Cards--colorize .t-Cards-item:nth-child(27n) .t-Card-wrap:before, .t-Cards--colorize .t-Cards-item:nth-child(27n) .t-Card-icon .t-Icon {
  background-color: #e5b700; }
.t-Cards--colorize .t-Cards-item:nth-child(28n) .t-Card-wrap:before, .t-Cards--colorize .t-Cards-item:nth-child(28n) .t-Card-icon .t-Icon {
  background-color: #51b4e1; }
.t-Cards--colorize .t-Cards-item:nth-child(29n) .t-Card-wrap:before, .t-Cards--colorize .t-Cards-item:nth-child(29n) .t-Card-icon .t-Icon {
  background-color: #e5352b; }
.t-Cards--colorize .t-Cards-item:nth-child(30n) .t-Card-wrap:before, .t-Cards--colorize .t-Cards-item:nth-child(30n) .t-Card-icon .t-Icon {
  background-color: #4f4dc0; }
.t-Cards--colorize.t-Cards--displayIcons .t-Cards-item .t-Card-wrap:before, .t-Cards--colorize.t-Cards--displayInitials .t-Cards-item .t-Card-wrap:before {
  display: none; }

/* Body Text Height
   ========================================================================== */
.t-Cards--desc-2ln .t-Card-desc, .t-Cards--desc-3ln .t-Card-desc, .t-Cards--desc-4ln .t-Card-desc {
  overflow: hidden;
  text-overflow: ellipsis; }

/* 2 Lines
     ========================================================================== */
.t-Cards--desc-2ln.t-Cards--compact .t-Card-desc {
  height: 3.2rem; }
.t-Cards--desc-2ln .t-Card-desc {
  height: 4rem; }

/* 3 Lines
     ========================================================================== */
.t-Cards--desc-3ln.t-Cards--compact .t-Card-desc {
  height: 4.8rem; }
.t-Cards--desc-3ln .t-Card-desc {
  height: 6rem; }

/* 4 Lines
     ========================================================================== */
.t-Cards--desc-4ln.t-Cards--compact .t-Card-desc {
  height: 6.4rem; }
.t-Cards--desc-4ln .t-Card-desc {
  height: 8rem; }

/* ==========================================================================
   Hide Body
   ========================================================================== */
.t-Cards--hideBody .t-Card-body {
  display: none; }

/* ==========================================================================
   Layout
   ========================================================================== */
.t-Cards--float, .t-Cards--cols, .t-Cards--3cols, .t-Cards--4cols, .t-Cards--5cols, .t-Cards--spanHorizontally, .t-Cards--stacked {
  padding: 0 0 6px 0;
  margin: 0 -6px;
  overflow: hidden; }
  .t-Region-body > .t-Cards--float, .t-Region-body > .t-Cards--cols, .t-Region-body > .t-Cards--3cols, .t-Region-body > .t-Cards--4cols, .t-Region-body > .t-Cards--5cols, .t-Region-body > .t-Cards--spanHorizontally, .t-Region-body > .t-Cards--stacked {
    margin: 0; }
  .t-Cards--float.t-Cards--compact, .t-Cards--cols.t-Cards--compact, .t-Cards--3cols.t-Cards--compact, .t-Cards--4cols.t-Cards--compact, .t-Cards--5cols.t-Cards--compact, .t-Cards--spanHorizontally.t-Cards--compact, .t-Cards--stacked.t-Cards--compact {
    margin: 0 -4px; }
  .t-Cards--float.t-Cards--compact .t-Cards-item .t-Card, .t-Cards--cols.t-Cards--compact .t-Cards-item .t-Card, .t-Cards--3cols.t-Cards--compact .t-Cards-item .t-Card, .t-Cards--4cols.t-Cards--compact .t-Cards-item .t-Card, .t-Cards--5cols.t-Cards--compact .t-Cards-item .t-Card, .t-Cards--spanHorizontally.t-Cards--compact .t-Cards-item .t-Card, .t-Cards--stacked.t-Cards--compact .t-Cards-item .t-Card {
    margin: 8px 8px 4px 4px; }
  .t-Cards--float .t-Cards-item .t-Card, .t-Cards--cols .t-Cards-item .t-Card, .t-Cards--3cols .t-Cards-item .t-Card, .t-Cards--4cols .t-Cards-item .t-Card, .t-Cards--5cols .t-Cards-item .t-Card, .t-Cards--spanHorizontally .t-Cards-item .t-Card, .t-Cards--stacked .t-Cards-item .t-Card {
    margin: 6px; }

/* ==========================================================================
   Floated
   ========================================================================== */
.t-Cards--float .t-Cards-item {
  float: left; }

/* ==========================================================================
   Stacked
   ========================================================================== */
.t-Cards--stacked .t-Cards-item:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  bottom: -1px; }

/* ==========================================================================
   Columns
   ========================================================================== */
.t-Cards--cols .t-Cards-item, .t-Cards--3cols .t-Cards-item, .t-Cards--4cols .t-Cards-item, .t-Cards--5cols .t-Cards-item {
  float: left; }

.t-Cards--cols .t-Cards-item {
  width: 50%; }
.t-Cards--cols .t-Cards-item:nth-child(2n+1) {
  clear: both; }

.t-Cards--3cols .t-Cards-item {
  width: 33.33%; }
.t-Cards--3cols .t-Cards-item:nth-child(3n+1) {
  clear: both; }

.t-Cards--4cols .t-Cards-item {
  width: 25%; }
.t-Cards--4cols .t-Cards-item:nth-child(4n+1) {
  clear: both; }

.t-Cards--5cols .t-Cards-item {
  width: 20%; }
.t-Cards--5cols .t-Cards-item:nth-child(5n+1) {
  clear: both; }

@media only screen and (min-width: 769px) and (max-width: 991px) {
  .t-Cards--5cols .t-Cards-item {
    width: 25%;
    clear: none; }
  .t-Cards--5cols .t-Cards-item:nth-child(5n+1) {
    clear: none; }
  .t-Cards--5cols .t-Cards-item:nth-child(4n+1) {
    clear: both; }
 }

@media only screen and (max-width: 768px) {
  .t-Cards--5cols .t-Cards-item, .t-Cards--4cols .t-Cards-item {
    width: 33.33%;
    clear: none; }
  .t-Cards--5cols .t-Cards-item:nth-child(5n+1), .t-Cards--5cols .t-Cards-item:nth-child(4n+1), .t-Cards--4cols .t-Cards-item:nth-child(5n+1), .t-Cards--4cols .t-Cards-item:nth-child(4n+1) {
    clear: none; }
  .t-Cards--5cols .t-Cards-item:nth-child(3n+1), .t-Cards--4cols .t-Cards-item:nth-child(3n+1) {
    clear: both; }
 }

@media only screen and (max-width: 640px) {
  .t-Cards--5cols .t-Cards-item, .t-Cards--4cols .t-Cards-item, .t-Cards--3cols .t-Cards-item {
    width: 50%;
    clear: none !important; }
  .t-Cards--5cols .t-Cards-item:nth-child(2n+1), .t-Cards--4cols .t-Cards-item:nth-child(2n+1), .t-Cards--3cols .t-Cards-item:nth-child(2n+1) {
    clear: both !important; }
 }

@media only screen and (max-width: 480px) {
  .t-Cards--5cols .t-Cards-item, .t-Cards--4cols .t-Cards-item, .t-Cards--3cols .t-Cards-item {
    float: none;
    width: auto;
    clear: both !important; }
 }

/* ==========================================================================
   Fluid
   ========================================================================== */
.t-Cards--spanHorizontally {
  display: table;
  table-layout: fixed;
  width: 100%; }
  .t-Cards--spanHorizontally .t-Cards-item {
    display: table-cell; }
