/**
 * Import Compass
 */
/* ==========================================================================
   Header
   ========================================================================== */
.t-Header {
  border: none;
  z-index: 100; }

.t-Header-navBar {
  font-size: 1.2rem;
  line-height: 2.4rem;
  white-space: nowrap; }

/* Branding
   ========================================================================== */
.t-Header-branding {
  z-index: 795;
  position: relative;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  overflow: hidden; }
  @media only screen and (max-width: 640px) {
    .t-Header-branding {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; } }

.t-Header-controls, .t-Button--headerTree {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden; }
  .apex-top-nav .t-Header-controls, .t-PageBody--noNav .t-Header-controls, .apex-top-nav .t-Button--headerTree, .t-PageBody--noNav .t-Button--headerTree {
    display: none; }

.t-Header-logo {
  float: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
  .apex-side-nav .t-Header-logo {
    margin-left: 40px; }
  @media only screen and (max-width: 640px) {
    .t-Header-logo {
      -webkit-flex: 1;
          -ms-flex: 1;
              flex: 1; } }

.t-Header-logo-link {
  display: table-cell;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 4rem;
  white-space: nowrap;
  padding: 0 12px;
  vertical-align: middle;
  height: 4rem; }
  .t-Header-logo-link:hover {
    text-decoration: none; }
  .t-Header-logo-link img {
    max-height: 4rem;
    display: block; }

.t-Header-navBar {
  overflow: hidden;
  text-align: right; }

/* Header Navigation Container
   ========================================================================== */
.t-Header-nav {
  overflow: hidden; }

/* Navigation List Menu
   ========================================================================== */
.t-Header {
  z-index: 800; }
  .t-Header .t-Header-nav {
    z-index: 790;
    transition: 0.1s all; }
  .t-Header .a-MenuBar-item {
    display: block;
    float: left;
    padding: 0;
    border-width: 0;
    box-shadow: none; }
    .t-Header .a-MenuBar-item.is-expanded {
      box-shadow: none;
      outline: none; }
  .t-Header .a-MenuBar-item > .a-Menu-subMenuCol {
    vertical-align: top;
    padding: 9px 12px 9px 2px;
    border: none;
    margin: 0; }
    .t-Header .a-MenuBar-item > .a-Menu-subMenuCol .a-Icon {
      padding: 2px;
      width: 22px;
      height: 22px;
      border: 1px solid;
      border-radius: 100%; }
  .t-Header .a-MenuBar-label {
    display: inline-block;
    font-size: 1.4rem;
    line-height: 1.6rem;
    padding: 12px;
    text-decoration: none;
    -webkit-font-smoothing: antialiased; }
    .a-Header-tabItem--withIcon .t-Header .a-MenuBar-label {
      padding-right: 12px;
      padding-left: 12px; }
    .t-Header .a-MenuBar-label:hover {
      background-clip: padding-box;
      text-decoration: none; }
  .t-Header .a-Menu-label {
    -webkit-font-smoothing: antialiased; }
  .t-Header .a-Header-tabLabel {
    margin-left: 4px; }
    @media only screen and (max-width: 920px) {
      .t-Header .a-Header-tabLabel {
        display: none; } }

.t-Header-nav-list {
  float: left; }
  @media only screen and (max-width: 480px) {
    .t-Header-nav-list {
      float: none; } }

.t-Header .a-MenuBar.a-MenuBar--overflow {
  overflow: hidden;
  width: 100%; }
.t-Header .a-MenuBar-item--overflow {
  width: 40px;
  height: 40px;
  float: right; }
.t-Header .a-MenuBar-item--overflow > .a-MenuBar-label {
  padding: 12px; }
.u-RTL .t-Header .a-MenuBar-item--overflow {
  float: left; }

/* Header Icon Navigation
   ========================================================================== */
.t-Header-iconNav {
  float: right; }
