/** 
 * Import Compass
 */
/* ==========================================================================
   Tag Cloud (Plugin)
   ========================================================================== */
.a-TagCloud {
  margin: 0;
  padding: 0; }

.a-TagCloud-item {
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: top; }

.a-TagCloud-link {
  display: inline-block;
  border: 1px solid;
  display: block;
  margin: 0 8px 8px 0;
  padding: 4px 12px;
  line-height: 32px; }

.a-TagCloud-count {
  display: inline-block;
  background: none;
  border: none;
  padding: 0;
  margin: 0 0 0 4px; }

.a-TagCloud-link--size1 {
  font-size: 12px; }

.a-TagCloud-link--size2 {
  font-size: 14px; }

.a-TagCloud-link--size3 {
  font-size: 16px; }

.a-TagCloud-link--size4 {
  font-size: 18px; }

.a-TagCloud-link--size5 {
  font-size: 20px; }

.a-TagCloud-link--size6 {
  font-size: 22px; }
