/******************************************************************************
Sprite Mixin
******************************************************************************/
/******************************************************************************
Extendible Sprite Class
******************************************************************************/
/* ==========================================================================
 Layout utilities
 ========================================================================== */
/**
* Float Right / Left
*/
/* line 14, ../../scss/util/u-Layout.scss */
.u-pullLeft {
  float: left !important;
}

/* line 18, ../../scss/util/u-Layout.scss */
.u-pullRight {
  float: right !important;
}

/* line 22, ../../scss/util/u-Layout.scss */
.u-alignTop {
  vertical-align: top !important;
}

/* line 26, ../../scss/util/u-Layout.scss */
.u-alignMiddle {
  vertical-align: middle !important;
}

/* line 30, ../../scss/util/u-Layout.scss */
.u-alignBaseline {
  vertical-align: baseline !important;
}

/* line 34, ../../scss/util/u-Layout.scss */
.u-alignBottom {
  vertical-align: bottom !important;
}

/* ==========================================================================
   Animation Utilities
   ========================================================================== */
/* line 6, ../../scss/util/u-Animate.scss */
.u-Animate-spin {
  -webkit-animation: u-animate-spin 2s infinite linear;
  -moz-animation: u-animate-spin 2s infinite linear;
  -o-animation: u-animate-spin 2s infinite linear;
  animation: u-animate-spin 2s infinite linear;
}

@-moz-keyframes u-animate-spin {
  /* line 13, ../../scss/util/u-Animate.scss */
  0% {
    -moz-transform: rotate(0deg);
  }

  /* line 16, ../../scss/util/u-Animate.scss */
  100% {
    -moz-transform: rotate(359deg);
  }
}

@-webkit-keyframes u-animate-spin {
  /* line 21, ../../scss/util/u-Animate.scss */
  0% {
    -webkit-transform: rotate(0deg);
  }

  /* line 24, ../../scss/util/u-Animate.scss */
  100% {
    -webkit-transform: rotate(359deg);
  }
}

@-o-keyframes u-animate-spin {
  /* line 29, ../../scss/util/u-Animate.scss */
  0% {
    -o-transform: rotate(0deg);
  }

  /* line 32, ../../scss/util/u-Animate.scss */
  100% {
    -o-transform: rotate(359deg);
  }
}

@-ms-keyframes u-animate-spin {
  /* line 37, ../../scss/util/u-Animate.scss */
  0% {
    -ms-transform: rotate(0deg);
  }

  /* line 40, ../../scss/util/u-Animate.scss */
  100% {
    -ms-transform: rotate(359deg);
  }
}

@keyframes u-animate-spin {
  /* line 45, ../../scss/util/u-Animate.scss */
  0% {
    transform: rotate(0deg);
  }

  /* line 48, ../../scss/util/u-Animate.scss */
  100% {
    transform: rotate(359deg);
  }
}

/* line 7, ../../scss/util/u-Accessibility.scss */
.visuallyhidden,
.visuallyHidden,
.hideMeButHearMe,
.u-VisuallyHidden,
.u-vh {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 21, ../../scss/util/u-Accessibility.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus,
.u-VisuallyHidden.is-focusable:active,
.u-VisuallyHidden.is-focusable:focus,
.u-vh.is-focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 29, ../../scss/util/u-Accessibility.scss */
.u-DisplayNone {
  display: none !important;
}

/* line 1, ../../scss/util/u-Overlay.scss */
.u-Overlay {
  background-color: #000000;
  opacity: 0.15;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

/* line 9, ../../scss/util/u-Overlay.scss */
.u-Overlay--quickEdit {
  position: fixed;
  z-index: 8000;
}

/* line 13, ../../scss/util/u-Overlay.scss */
.u-Overlay--processing {
  position: absolute;
  z-index: 1000;
}

/* line 17, ../../scss/util/u-Overlay.scss */
.u-Overlay--glass {
  position: fixed;
  background-color: transparent;
  opacity: 1;
  z-index: 1000;
}

/* line 4, ../../scss/util/u-Text.scss */
.u-textRight,
.u-tR {
  text-align: right;
}

/* line 8, ../../scss/util/u-Text.scss */
.u-textLeft,
.u-tL {
  text-align: left;
}

/* line 12, ../../scss/util/u-Text.scss */
.u-textCenter,
.u-tC {
  text-align: center;
}

/* line 15, ../../scss/util/u-Text.scss */
.u-textUpper {
  text-transform: uppercase;
}

/* line 18, ../../scss/util/u-Text.scss */
.u-textLower {
  text-transform: lowercase;
}

/* line 21, ../../scss/util/u-Text.scss */
.u-textInitCap {
  text-transform: capitalize;
}

/* line 25, ../../scss/util/u-Text.scss */
.u-fontWeightNormal,
.u-fwNormal {
  font-weight: normal;
}

/* line 28, ../../scss/util/u-Text.scss */
.u-fixedFont {
  font-family: 'Menlo','Consolas',sans-serif;
}

/* ==========================================================================
   Processing Spinner (loading animation)
   ---
   Used by several processes with in APEX to indicate that somethign is loading
   ========================================================================== */
/* line 8, ../../scss/util/u-Processing.scss */
.u-Processing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  height: 64px;
  width: 64px;
  cursor: progress;
  position: absolute;
  left: 50%;
  margin-left: -32px;
  padding: 16px;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 100%;
  z-index: 2000;
  *background: url(../img/u-Processing.gif) transparent no-repeat;
  *padding: 0;
}

/* line 28, ../../scss/util/u-Processing.scss */
.u-Processing-spinner {
  display: block;
  width: 32px;
  height: 32px;
  font-family: "apex-5-icon-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgba(0, 0, 0, 0.5);
  -webkit-animation: u-animate-spin 1s infinite linear;
  -moz-animation: u-animate-spin 1s infinite linear;
  -o-animation: u-animate-spin 1s infinite linear;
  animation: u-animate-spin 1s infinite linear;
  color: #FFF;
  *visibility: hidden;
}
/* line 49, ../../scss/util/u-Processing.scss */
.u-Processing-spinner:before {
  font-size: 32px;
  content: "\e01e";
}

/* ==========================================================================
   Inline Spinner
   ---
   Often displayed next to a field indicating to indicate 
   that something is loading or being fetched
   ========================================================================== */
/* line 62, ../../scss/util/u-Processing.scss */
.u-Processing--inline {
  position: static;
  width: 24px;
  height: 24px;
  margin: 0 4px;
  padding: 4px;
  display: inline-block;
  vertical-align: top;
  *background: url(../img/u-Processing--small.gif) transparent no-repeat;
}
/* line 71, ../../scss/util/u-Processing.scss */
.u-Processing--inline .u-Processing-spinner {
  width: 16px;
  height: 16px;
}
/* line 74, ../../scss/util/u-Processing.scss */
.u-Processing--inline .u-Processing-spinner:before {
  font-size: 16px;
}

/* ==========================================================================
 Report Utility Class
 ========================================================================== */
/* line 4, ../../scss/util/u-Report.scss */
.u-resetTable {
  border-collapse: collapse;
  table-layout: auto;
  border-spacing: 0;
}

/* line 9, ../../scss/util/u-Report.scss */
.u-Report {
  border-collapse: collapse;
  table-layout: auto;
  border-spacing: 0;
}
/* line 13, ../../scss/util/u-Report.scss */
.u-Report td.pagination {
  border-width: 0 !important;
}
/* line 17, ../../scss/util/u-Report.scss */
.u-Report .u-Report-header,
.u-Report th {
  background-color: #F4F4F4;
  vertical-align: bottom;
  padding: 8px;
  color: #404040;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
}
/* line 25, ../../scss/util/u-Report.scss */
.u-Report th[scope="rowgroup"] {
  background-color: #FAFAFA;
}
/* line 28, ../../scss/util/u-Report.scss */
.u-Report th[scope="row"] {
  background-color: #fff;
}
/* line 31, ../../scss/util/u-Report.scss */
.u-Report td {
  padding: 4px 8px;
  color: #404040;
  transition: background-color .1s;
  background-color: #FFF;
}
/* line 38, ../../scss/util/u-Report.scss */
.u-Report tr:nth-child(even) td,
.u-Report tr:nth-child(even) th[scope="row"] {
  background-color: #FAFAFA;
}
/* line 43, ../../scss/util/u-Report.scss */
.u-Report td,
.u-Report th {
  border-left: 1px solid #E8E8E8;
  border-top: 1px solid #E8E8E8;
}
/* line 48, ../../scss/util/u-Report.scss */
.u-Report tr td:last-child,
.u-Report tr th:last-child {
  border-right: 1px solid #E8E8E8;
}
/* line 51, ../../scss/util/u-Report.scss */
.u-Report tr:last-child td {
  border-bottom: 1px solid #E8E8E8;
}

/* line 55, ../../scss/util/u-Report.scss */
.u-Report--stretch {
  width: 100%;
}

/* line 60, ../../scss/util/u-Report.scss */
.u-Report--inline tr:first-child td,
.u-Report--inline tr:first-child th {
  border-top-width: 0;
}
/* line 64, ../../scss/util/u-Report.scss */
.u-Report--inline tr:last-child td,
.u-Report--inline tr:last-child th {
  border-bottom-width: 0;
}
/* line 68, ../../scss/util/u-Report.scss */
.u-Report--inline tr td:last-child,
.u-Report--inline tr th:last-child {
  border-right-width: 0;
}

/* line 75, ../../scss/util/u-Report.scss */
.u-Report--staticBG tr:nth-child(even) td,
.u-Report--staticBG tr:nth-child(even) th[scope="row"] {
  background-color: #FFF;
}

/* line 81, ../../scss/util/u-Report.scss */
.u-Report--firstColLabel tr td:first-child {
  width: 40%;
}

/* line 88, ../../scss/util/u-Report.scss */
.u-Report-sort,
.u-Report-sortHeading,
.u-Report-sortIcon {
  display: inline-block;
  vertical-align: top;
}

/* line 92, ../../scss/util/u-Report.scss */
.u-Report-sortIcon {
  margin-left: 4px;
}

/* line 15, ../../scss/core/Base.scss */
.apex-no-scroll {
  overflow: hidden !important;
  width: 100%;
}
