/**
 * Import Compass
 */
/******************************************************************************
Sprite Mixin
******************************************************************************/
/******************************************************************************
Extendible Sprite Class
******************************************************************************/
/* ==========================================================================
   Buttons
   ========================================================================== */
/**
 * Core Button Component
 *
 * This is a core button component.  This only contains the relevant structural
 * styles necessary to render a button.  This class can be applied to buttons,
 * links, or input buttons.
 *
 * Example HTML:
 *
 * <button class="a-Button [modifiers]" type="submit">Button Label</button>
 * <a class="a-Button [modifiers]" href="#" role="button">Button Label</a>
 * <input class="a-Button [modifiers]" type="submit" value="Button Label">
 *
 */
/**
 * Button
 *
 * 1. Use proper box-model for button sizing across all browsers
 * 2. Reset webkit based browser appearance
 * 3. Inherit text color from ancestor
 * 4. Inherit font from ancestor
 * 5. Normalize line-height
 * 6. Prevent text selection on buttons
 * 7. Prevent wrapping of text in buttons
 */
/* line 38, ../../scss/core/Button.scss */
.a-Button,
.u-Button {
  -webkit-appearance: none;
  /* 2 */
  background: transparent;
  border: 1px solid;
  color: inherit;
  /* 3 */
  cursor: pointer;
  display: inline-block;
  font: inherit;
  /* 4 */
  line-height: normal;
  /* 5 */
  margin: 0;
  padding: 4px 12px;
  position: relative;
  text-align: center;
  text-decoration: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* 6 */
  vertical-align: middle;
  white-space: nowrap;
  /* 7 */
}

/**
 * Hover, Focus and Click States
 */
/* line 67, ../../scss/core/Button.scss */
.a-Button:hover,
.a-Button:focus,
.a-Button:active {
  text-decoration: none;
}

/* line 71, ../../scss/core/Button.scss */
.a-Button:focus {
  outline: 1px dotted;
}

/**
 * Disabled States
 */
/* line 80, ../../scss/core/Button.scss */
.a-Button:disabled,
.a-Button.is-disabled {
  cursor: default;
}

/**
 * Firefox padding / border issue
 */
/* line 88, ../../scss/core/Button.scss */
.a-Button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Full Width Button
 */
/* line 97, ../../scss/core/Button.scss */
.a-Button--full,
.a-Button--stretch {
  width: 100%;
}

/**
 * Pill Buttons
 */
/* line 104, ../../scss/core/Button.scss */
.a-Button--pillStart {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

/* line 108, ../../scss/core/Button.scss */
.a-Button--pillEnd {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

/* line 113, ../../scss/core/Button.scss */
.a-Button--pillStart + .a-Button--pillEnd,
.a-Button--pillStart + .a-Button--pill {
  margin-left: -1px !important;
}

/* line 116, ../../scss/core/Button.scss */
.a-Button--pill {
  border-radius: 0 !important;
  margin-right: -1px;
  margin-left: 0 !important;
}

/* line 121, ../../scss/core/Button.scss */
.a-Button--pill + .a-Button--pillEnd {
  margin-left: 0 !important;
}

/* line 131, ../../scss/core/Button.scss */
.a-Button--padLeft {
  margin-left: 4px !important;
}

/* line 134, ../../scss/core/Button.scss */
.a-Button--padRight {
  margin-right: 4px !important;
}

/* line 138, ../../scss/core/Button.scss */
.a-Button--gapLeft {
  margin-left: 12px !important;
}

/* line 141, ../../scss/core/Button.scss */
.a-Button--gapRight {
  margin-right: 12px !important;
}
/* line 143, ../../scss/core/Button.scss */
.a-Button--gapRight + .a-Button {
  margin-left: 0 !important;
}

/* line 149, ../../scss/core/Button.scss */
.a-Button-badge {
  background-color: #EA0000;
  padding: 0 4px;
  display: inline-block;
  border-radius: 2px;
  margin-left: 0;
  color: #FFF;
  position: absolute;
  top: -4px;
  right: -2px;
  font-size: 10px;
  line-height: 14px;
  -webkit-font-smoothing: auto;
}
/* line 162, ../../scss/core/Button.scss */
.a-Button-badge:empty {
  visibility: hidden;
  padding: 0;
}

/* line 168, ../../scss/core/Button.scss */
.a-Button--shuttle {
  display: block;
  margin: 4px;
}
