/**
 * Import Compass
 */
/******************************************************************************
Sprite Mixin
******************************************************************************/
/******************************************************************************
Extendible Sprite Class
******************************************************************************/
/******************************************************************************

File Name:    Icon.scss
Purpose:      Custom APEX Icons

******************************************************************************/
/* line 16, ../../scss/core/Icons.scss */
.apex-edit-pencil,
.apex-edit-pencil-alt,
.apex-edit-page,
.apex-edit-view {
  width: 16px;
  height: 16px;
  display: inline-block;
}
