/** 
 * Import Compass
 */
/******************************************************************************
Sprite Mixin
******************************************************************************/
/******************************************************************************
Extendible Sprite Class
******************************************************************************/
/* ==========================================================================
   Menu Bar
   ========================================================================== */
/* line 12, ../../scss/core/Menu.scss */
.a-MenuBar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 17, ../../scss/core/Menu.scss */
.a-MenuBar-item {
  display: inline-block;
  border: 1px solid;
  margin-right: -1px;
}
/* line 21, ../../scss/core/Menu.scss */
.a-MenuBar-item > .a-Menu-subMenuCol {
  display: inline-block;
}

/* line 25, ../../scss/core/Menu.scss */
.a-MenuBar-item.a-Menu--split > .a-Menu-subMenuCol {
  border-left: 1px solid;
}

/* line 28, ../../scss/core/Menu.scss */
.a-MenuBar.u-RTL .a-MenuBar-item.a-Menu--split > .a-Menu-subMenuCol {
  border-right: 1px solid;
  border-left: none;
}

/* line 34, ../../scss/core/Menu.scss */
.a-MenuBar-item.is-focused,
.a-MenuBar-item.is-expanded {
  outline: 1px dotted;
}

/* line 40, ../../scss/core/Menu.scss */
.a-Menu--split.a-MenuBar-item > .a-MenuBar-label {
  padding-right: 4px;
}
/* line 43, ../../scss/core/Menu.scss */
.a-Menu--split.a-MenuBar-item > .a-Menu-subMenuCol {
  padding: 8px 8px 8px 4px;
}

/* line 47, ../../scss/core/Menu.scss */
.a-MenuBar-label {
  padding: 8px;
  display: inline-block;
  text-decoration: none;
}
/* line 51, ../../scss/core/Menu.scss */
.a-MenuBar-label:focus {
  outline: none;
}

/* ==========================================================================
   Menu 
   ========================================================================== */
/* line 60, ../../scss/core/Menu.scss */
.a-Menu {
  z-index: 2010;
  border: none;
  display: none;
  outline: none;
  background-color: transparent;
}

/* line 67, ../../scss/core/Menu.scss */
.a-Menu * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 75, ../../scss/core/Menu.scss */
.a-Menu.a-Menu--top > .a-Menu-content {
  border-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

/* line 80, ../../scss/core/Menu.scss */
.a-Menu-content {
  position: relative;
  background-color: #FFFFFF;
  border: 1px solid;
}

/* line 86, ../../scss/core/Menu.scss */
.a-Menu ul {
  margin: 0;
  padding: 0;
  line-height: inherit;
  list-style: none;
}

/* line 93, ../../scss/core/Menu.scss */
.a-Menu .a-Menu-item {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
  float: none;
  white-space: nowrap;
  line-height: 32px;
  font-size: 12px;
}

/* line 105, ../../scss/core/Menu.scss */
.a-Menu-itemSep .a-Menu-labelContainer {
  float: none;
  display: block;
  margin-right: 0;
}
/* line 110, ../../scss/core/Menu.scss */
.a-Menu-itemSep .a-Menu-hSeparator {
  display: block;
  padding-right: 0 !important;
  border-top: 1px solid;
  margin-top: 2px;
  padding-bottom: 2px;
}
/* line 117, ../../scss/core/Menu.scss */
.a-Menu-itemSep .a-Menu-statusCol {
  display: none;
}

/* line 122, ../../scss/core/Menu.scss */
.a-Menu-statusCol {
  display: -moz-inline-stack;
  display: inline-block;
  width: 24px;
  line-height: 16px;
  padding: 8px 4px;
  vertical-align: top;
  cursor: pointer;
}

/* 
 * Classes to handle menus without explicit widths + paddings
 */
/* line 135, ../../scss/core/Menu.scss */
.a-Menu-inner {
  overflow: hidden;
}

/* line 139, ../../scss/core/Menu.scss */
.a-Menu-labelContainer,
.a-Menu-accelContainer {
  display: inline-block;
  white-space: nowrap;
  -webkit-font-smoothing: antialiased;
}

/* line 144, ../../scss/core/Menu.scss */
.a-Menu-labelContainer {
  float: left;
  margin-right: 20px;
}

/* line 148, ../../scss/core/Menu.scss */
.a-Menu-accelContainer {
  text-align: right;
  float: right;
  margin-left: -20px;
}

/* line 154, ../../scss/core/Menu.scss */
.u-RTL .a-Menu-labelContainer {
  float: right;
  text-align: right;
}

/* line 158, ../../scss/core/Menu.scss */
.u-RTL .a-Menu-accelContainer {
  float: left;
  text-align: left;
}

/* line 165, ../../scss/core/Menu.scss */
.a-Menu-content .a-Menu-statusCol {
  padding: 8px;
  width: 32px;
}

/* line 171, ../../scss/core/Menu.scss */
.a-Menu-item.is-focused,
.a-Menu-item.is-expanded {
  background-color: #D0D0D0;
}

/* line 179, ../../scss/core/Menu.scss */
.a-Menu-item {
  color: #404040;
}

/* line 188, ../../scss/core/Menu.scss */
.a-Menu .a-Menu-item a,
.a-Menu .a-Menu-item a:hover,
.a-Menu .a-Menu-item a:active,
.a-Menu .a-Menu-item a:visited,
.a-Menu .a-Menu-item label,
.a-Menu .a-Menu-label {
  display: -moz-inline-stack;
  display: inline-block;
  padding: 0 12px 0 0;
  outline: none;
  color: inherit;
  text-decoration: none;
  -moz-user-select: none;
  cursor: pointer;
}

/* line 201, ../../scss/core/Menu.scss */
.a-Menu button.a-Menu-label,
.a-MenuBar button.a-MenuBar-label {
  border: none;
  background-color: transparent;
  text-align: inherit;
}

/* line 206, ../../scss/core/Menu.scss */
.a-Menu button.a-Menu-label {
  line-height: 32px;
}

/* line 210, ../../scss/core/Menu.scss */
.a-Menu .a-Menu-item.is-disabled {
  cursor: default !important;
}
/* line 213, ../../scss/core/Menu.scss */
.a-Menu .a-Menu-item.is-disabled .a-Menu-label,
.a-Menu .a-Menu-item.is-disabled .a-Menu-accel {
  color: #A0A0A0;
  color: rgba(64, 64, 64, 0.5);
}
/* line 217, ../../scss/core/Menu.scss */
.a-Menu .a-Menu-item.is-disabled .a-Menu-statusCol {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
/* line 220, ../../scss/core/Menu.scss */
.a-Menu .a-Menu-item.is-disabled.is-focused {
  background-color: transparent;
  border-color: #F0F0F0;
}

/* line 227, ../../scss/core/Menu.scss */
.a-Menu-item input,
.a-Menu-item label {
  outline: none;
  margin: 0;
}

/* line 232, ../../scss/core/Menu.scss */
.a-Menu-item input {
  position: absolute;
  top: 0;
  left: -99999px;
}

/* line 238, ../../scss/core/Menu.scss */
.a-Menu-item .a-Menu-subMenuCol {
  display: -moz-inline-stack;
  display: inline-block;
  width: 20px;
  height: 32px;
  padding: 8px 4px 8px 0;
  line-height: 16px;
  vertical-align: top;
  cursor: pointer;
}

/* line 248, ../../scss/core/Menu.scss */
.a-MenuBar.u-RTL .a-MenuBar-item .a-Menu-subMenuCol {
  padding-right: 0;
  padding-left: 4px;
}

/* line 253, ../../scss/core/Menu.scss */
.a-Menu-accel {
  color: #767676;
}

/* ==========================================================================
   Scrolling Buttons
   ========================================================================== */
/* line 261, ../../scss/core/Menu.scss */
.a-Menu-content.a-Menu--scrollable {
  padding: 0;
}

/* line 265, ../../scss/core/Menu.scss */
.a-Menu-scroll {
  overflow: hidden;
}

/* line 268, ../../scss/core/Menu.scss */
.a-Menu-scrollBtn {
  width: 100%;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

/* line 274, ../../scss/core/Menu.scss */
.a-Menu-scrollBtn .a-Icon {
  margin: 0 auto;
  display: block;
}

/* ==========================================================================
   Menubar Overflow
   ========================================================================== */
/* line 282, ../../scss/core/Menu.scss */
.a-MenuBar.a-MenuBar--overflow {
  overflow: hidden;
  width: 100%;
  height: 40px;
}

/* line 287, ../../scss/core/Menu.scss */
.a-MenuBar-item--overflow {
  float: right;
}

/* line 292, ../../scss/core/Menu.scss */
.u-RTL .a-MenuBar-item--overflow {
  float: left;
}
