/**
 * Import Compass
 */
/******************************************************************************
Sprite Mixin
******************************************************************************/
/******************************************************************************
Extendible Sprite Class
******************************************************************************/
/* ==========================================================================
   Developer Bar
   ---
   Developer Toolbar Styles
   ========================================================================== */
/* line 12, ../../scss/core/DevToolbar.scss */
.a-DevToolbar {
  position: fixed;
  z-index: 2000;
  padding: 8px;
  line-height: 0;
  /* To remove excess line-height from showing list as inline block */
}

/* line 18, ../../scss/core/DevToolbar.scss */
.a-DevToolbar-list {
  display: inline-block;
  list-style: none;
  text-align: center;
  margin: 0;
  font-size: 0;
}
/* line 24, ../../scss/core/DevToolbar.scss */
.a-DevToolbar-list li {
  display: inline-block;
}

/* ==========================================================================
   Left and Right Positions
   ========================================================================== */
/* line 32, ../../scss/core/DevToolbar.scss */
.a-DevToolbar--left {
  left: 0;
}

/* line 40, ../../scss/core/DevToolbar.scss */
.a-DevToolbar--right {
  right: 0;
}

/* line 50, ../../scss/core/DevToolbar.scss */
.a-DevToolbar--left,
.a-DevToolbar--right {
  top: 20%;
}
/* line 53, ../../scss/core/DevToolbar.scss */
.a-DevToolbar--left.a-DevToolbar--iconsOnly .a-DevToolbar-buttonLabel,
.a-DevToolbar--right.a-DevToolbar--iconsOnly .a-DevToolbar-buttonLabel {
  display: none;
}
/* line 57, ../../scss/core/DevToolbar.scss */
.a-DevToolbar--left .a-Button.a-Button--devToolbar,
.a-DevToolbar--right .a-Button.a-Button--devToolbar {
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25) inset;
  -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25) inset;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25) inset;
  margin-bottom: -1px;
  width: 100%;
  text-align: left;
}
/* line 64, ../../scss/core/DevToolbar.scss */
.a-DevToolbar--left .a-DevToolbar-list,
.a-DevToolbar--right .a-DevToolbar-list {
  display: block;
}
/* line 66, ../../scss/core/DevToolbar.scss */
.a-DevToolbar--left .a-DevToolbar-list li,
.a-DevToolbar--right .a-DevToolbar-list li {
  display: block;
  width: 100%;
}
/* line 69, ../../scss/core/DevToolbar.scss */
.a-DevToolbar--left .a-DevToolbar-list li:first-child .a-Button--devToolbar,
.a-DevToolbar--right .a-DevToolbar-list li:first-child .a-Button--devToolbar {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
/* line 73, ../../scss/core/DevToolbar.scss */
.a-DevToolbar--left .a-DevToolbar-list li:last-child .a-Button--devToolbar,
.a-DevToolbar--right .a-DevToolbar-list li:last-child .a-Button--devToolbar {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  margin-bottom: 0;
}

/* ==========================================================================
   Top and Bottom Positions
   ========================================================================== */
/* line 85, ../../scss/core/DevToolbar.scss */
.a-DevToolbar--top {
  top: 0;
}

/* line 93, ../../scss/core/DevToolbar.scss */
.a-DevToolbar--bottom {
  bottom: 0;
}

/* line 102, ../../scss/core/DevToolbar.scss */
.a-DevToolbar--top,
.a-DevToolbar--bottom {
  left: 0;
  right: 0;
}
/* line 106, ../../scss/core/DevToolbar.scss */
.a-DevToolbar--top .a-Button.a-Button--devToolbar,
.a-DevToolbar--bottom .a-Button.a-Button--devToolbar {
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25) inset;
  -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25) inset;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25) inset;
  margin-right: -1px;
}
/* line 113, ../../scss/core/DevToolbar.scss */
.a-DevToolbar--top .a-DevToolbar-list li:first-child .a-Button--devToolbar,
.a-DevToolbar--bottom .a-DevToolbar-list li:first-child .a-Button--devToolbar {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
/* line 117, ../../scss/core/DevToolbar.scss */
.a-DevToolbar--top .a-DevToolbar-list li:last-child .a-Button--devToolbar,
.a-DevToolbar--bottom .a-DevToolbar-list li:last-child .a-Button--devToolbar {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  margin-right: 0;
}

/* ==========================================================================
   Buttons
   ========================================================================== */
/* line 130, ../../scss/core/DevToolbar.scss */
.a-Button.a-Button--devToolbar {
  text-shadow: none;
  border-radius: 0;
  padding: 4px 8px;
}
/* line 134, ../../scss/core/DevToolbar.scss */
.a-Button.a-Button--devToolbar .a-Icon {
  overflow: hidden;
}

/* line 138, ../../scss/core/DevToolbar.scss */
.a-DevToolbar-buttonLabel {
  line-height: 16px;
  margin-left: 4px;
}

/* ==========================================================================
   Auto Hide
   ========================================================================== */
/* line 148, ../../scss/core/DevToolbar.scss */
.a-DevToolbar--autoHide {
  -webkit-transition: -webkit-transform 0.1s ease-in-out;
  -moz-transition: -moz-transform 0.1s ease-in-out;
  -o-transition: -o-transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out;
}

/* line 151, ../../scss/core/DevToolbar.scss */
.a-DevToolbar--left.a-DevToolbar--autoHide {
  -webkit-transform: translateX(-90%);
  -moz-transform: translateX(-90%);
  -ms-transform: translateX(-90%);
  -o-transform: translateX(-90%);
  transform: translateX(-90%);
}

/* line 154, ../../scss/core/DevToolbar.scss */
.a-DevToolbar--right.a-DevToolbar--autoHide {
  -webkit-transform: translateX(90%);
  -moz-transform: translateX(90%);
  -ms-transform: translateX(90%);
  -o-transform: translateX(90%);
  transform: translateX(90%);
}

/* line 157, ../../scss/core/DevToolbar.scss */
.a-DevToolbar--left.a-DevToolbar--iconsOnly.a-DevToolbar--autoHide {
  -webkit-transform: translateX(-80%);
  -moz-transform: translateX(-80%);
  -ms-transform: translateX(-80%);
  -o-transform: translateX(-80%);
  transform: translateX(-80%);
}

/* line 160, ../../scss/core/DevToolbar.scss */
.a-DevToolbar--right.a-DevToolbar--iconsOnly.a-DevToolbar--autoHide {
  -webkit-transform: translateX(80%);
  -moz-transform: translateX(80%);
  -ms-transform: translateX(80%);
  -o-transform: translateX(80%);
  transform: translateX(80%);
}

/* line 166, ../../scss/core/DevToolbar.scss */
.a-DevToolbar--autoHide.a-DevToolbar--left.is-active,
.a-DevToolbar--autoHide.a-DevToolbar--right.is-active {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

/* line 170, ../../scss/core/DevToolbar.scss */
.a-DevToolbar--autoHide.a-DevToolbar--top {
  -webkit-transform: translateY(-75%);
  -moz-transform: translateY(-75%);
  -ms-transform: translateY(-75%);
  -o-transform: translateY(-75%);
  transform: translateY(-75%);
}

/* line 173, ../../scss/core/DevToolbar.scss */
.a-DevToolbar--autoHide.a-DevToolbar--bottom {
  -webkit-transform: translateY(75%);
  -moz-transform: translateY(75%);
  -ms-transform: translateY(75%);
  -o-transform: translateY(75%);
  transform: translateY(75%);
}

/* line 179, ../../scss/core/DevToolbar.scss */
.a-DevToolbar--autoHide.a-DevToolbar--top.is-active,
.a-DevToolbar--autoHide.a-DevToolbar--bottom.is-active {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

/* line 184, ../../scss/core/DevToolbar.scss */
.a-DevToolbar--left.a-DevToolbar--autoHide {
  left: 0\9;
  margin-left: -8px\9;
}
/* line 187, ../../scss/core/DevToolbar.scss */
.a-DevToolbar--left.a-DevToolbar--autoHide .a-DevToolbar-list {
  visibility: hidden\9;
  width: 0\9;
}
/* line 192, ../../scss/core/DevToolbar.scss */
.a-DevToolbar--left.a-DevToolbar--autoHide.is-active, .a-DevToolbar--left.a-DevToolbar--autoHide:hover {
  margin-left: 0\9;
  width: auto\9;
}
/* line 195, ../../scss/core/DevToolbar.scss */
.a-DevToolbar--left.a-DevToolbar--autoHide.is-active .a-DevToolbar-list, .a-DevToolbar--left.a-DevToolbar--autoHide:hover .a-DevToolbar-list {
  visibility: visible\9;
  width: auto\9;
}

/* line 202, ../../scss/core/DevToolbar.scss */
.ie8 .a-DevToolbar--right.a-DevToolbar--autoHide {
  left: 100% \9;
  margin-left: -8px\9;
}
/* line 206, ../../scss/core/DevToolbar.scss */
.ie8 .a-DevToolbar--right.a-DevToolbar--autoHide.is-active, .ie8 .a-DevToolbar--right.a-DevToolbar--autoHide:hover {
  right: 0\9;
  left: auto\9;
}

/* line 212, ../../scss/core/DevToolbar.scss */
.ie8 .a-DevToolbar--top.a-DevToolbar--autoHide {
  top: -32px\9;
}
/* line 213, ../../scss/core/DevToolbar.scss */
.ie8 .a-DevToolbar--top.a-DevToolbar--autoHide.a-DevToolbar--iconsOnly {
  top: -40px\9;
}
/* line 219, ../../scss/core/DevToolbar.scss */
.ie8 .a-DevToolbar--top.a-DevToolbar--autoHide.is-active, .ie8 .a-DevToolbar--top.a-DevToolbar--autoHide:hover {
  top: 0 !important \9;
}

/* line 223, ../../scss/core/DevToolbar.scss */
.ie8 .a-DevToolbar--bottom.a-DevToolbar--autoHide {
  bottom: -32px\9;
}
/* line 224, ../../scss/core/DevToolbar.scss */
.ie8 .a-DevToolbar--bottom.a-DevToolbar--autoHide.a-DevToolbar--iconsOnly {
  bottom: -40px\9;
}
/* line 230, ../../scss/core/DevToolbar.scss */
.ie8 .a-DevToolbar--bottom.a-DevToolbar--autoHide.is-active, .ie8 .a-DevToolbar--bottom.a-DevToolbar--autoHide:hover {
  bottom: 0 !important \9;
}

/* ==========================================================================
   Icon Only
   ========================================================================== */
/* line 249, ../../scss/core/DevToolbar.scss */
.a-DevToolbar--iconsOnly .a-Icon + .a-DevToolbar-buttonLabel {
  display: none;
}
/* line 252, ../../scss/core/DevToolbar.scss */
.a-DevToolbar--iconsOnly .a-Button.a-Button--devToolbar {
  padding: 8px 16px;
}
/* line 254, ../../scss/core/DevToolbar.scss */
.a-DevToolbar--iconsOnly .a-Button.a-Button--devToolbar .a-Icon {
  -webkit-transition: -webkit-transform 0.1s ease-in-out;
  -moz-transition: -moz-transform 0.1s ease-in-out;
  -o-transition: -o-transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out;
}
/* line 257, ../../scss/core/DevToolbar.scss */
.a-DevToolbar--iconsOnly .a-Button.a-Button--devToolbar:hover .a-Icon {
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
}

/* line 265, ../../scss/core/DevToolbar.scss */
.a-DevToolbar-uiSelector {
  border: 2px solid;
  background: transparent;
  position: absolute;
  z-index: 9000;
}
