/**
 * Import Compass
 */
/******************************************************************************
Sprite Mixin
******************************************************************************/
/******************************************************************************
Extendible Sprite Class
******************************************************************************/
/******************************************************************************

File Name:    Form.scss
Purpose:      Base form styles for all apex applications

******************************************************************************/
/* line 13, ../../scss/core/Form.scss */
.apex-tabular-form-error {
  border-color: #E92020;
}

/* line 16, ../../scss/core/Form.scss */
.apex-tabular-highlight {
  border-color: #ffcc00;
}
