/**
 * Import Compass
 */
/******************************************************************************
Sprite Mixin
******************************************************************************/
/******************************************************************************
Extendible Sprite Class
******************************************************************************/
/******************************************************************************

File Name:    FontIcon.scss
Purpose:      Custom APEX 5 Font Icon

Outline:
  1. Font Import
  2. Icon Classes

******************************************************************************/
@font-face {
  font-family: "apex-5-icon-font";
  src: url("../../font/apex-5-icon-font.eot");
  src: url("../../font/apex-5-icon-font.eot?#iefix") format("embedded-opentype"), url("../../font/apex-5-icon-font.ttf") format("truetype"), url("../../font/apex-5-icon-font.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* line 37, ../../scss/core/IconFont.scss */
.a-Icon {
  display: inline-block;
  vertical-align: top;
  width: 16px;
  height: 16px;
  line-height: 16px;
}
/* line 44, ../../scss/core/IconFont.scss */
.a-Icon:before {
  font-size: 16px;
}
/* line 47, ../../scss/core/IconFont.scss */
.ie7 .a-Icon {
  font-size: 16px;
}

/* line 64, ../../scss/core/IconFont.scss */
.a-Icon:before {
  font-family: "apex-5-icon-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 69, ../../scss/core/IconFont.scss */
.ie7 .a-Icon {
  font-family: "apex-5-icon-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 75, ../../scss/core/IconFont.scss */
.a-Icon.a-Icon--medium {
  width: 24px;
  height: 24px;
}
/* line 78, ../../scss/core/IconFont.scss */
.a-Icon.a-Icon--medium:before {
  font-size: 24px;
}
/* line 81, ../../scss/core/IconFont.scss */
.ie7 .a-Icon.a-Icon--medium {
  font-size: 24px;
}

/* line 85, ../../scss/core/IconFont.scss */
.a-Icon.a-Icon--large {
  width: 32px;
  height: 32px;
}
/* line 88, ../../scss/core/IconFont.scss */
.a-Icon.a-Icon--large:before {
  font-size: 32px;
}
/* line 91, ../../scss/core/IconFont.scss */
.ie7 .a-Icon.a-Icon--large {
  font-size: 32px;
}

/* line 96, ../../scss/core/IconFont.scss */
.a-Icon.a-Icon--xl {
  width: 48px;
  height: 48px;
}
/* line 99, ../../scss/core/IconFont.scss */
.a-Icon.a-Icon--xl:before {
  font-size: 48px;
}
/* line 102, ../../scss/core/IconFont.scss */
.ie7 .a-Icon.a-Icon--xl {
  font-size: 48px;
}

/* line 107, ../../scss/core/IconFont.scss */
.a-Icon.a-Icon--circle {
  border-radius: 100%;
  background-color: #A0A0A0;
  color: #FFF;
}

/* line 113, ../../scss/core/IconFont.scss */
.a-Icon.a-Icon--dangerBG {
  background-color: red;
  color: #FFF;
}

/* line 126, ../../scss/core/IconFont.scss */
.a-Icon.icon-menu-drop-down:before,
.a-Icon.icon-menu-scroll-down:before {
  content: "\e0c2";
}

/* line 132, ../../scss/core/IconFont.scss */
.a-Icon.icon-down-arrow:before,
.a-Collapsible.is-expanded .a-Collapsible-icon:before,
.a-Icon.icon-irr-collapse-row:before {
  content: "\e123";
}

/* line 136, ../../scss/core/IconFont.scss */
.a-Icon.icon-up-arrow:before {
  content: "\e127";
}

/* line 139, ../../scss/core/IconFont.scss */
.a-Icon.icon-left-arrow:before {
  content: "\e002";
}

/* line 144, ../../scss/core/IconFont.scss */
.a-Icon.icon-right-arrow:before,
.a-Icon.icon-irr-expand-row:before,
.a-Collapsible.is-collapsed .a-Collapsible-icon:before {
  content: "\e126";
}

/* line 148, ../../scss/core/IconFont.scss */
.a-Icon.icon-gear:before {
  content: "\e001";
}

/* line 153, ../../scss/core/IconFont.scss */
.a-Icon.icon-menu-sub-rtl:before {
  content: "\E07F";
}

/* line 158, ../../scss/core/IconFont.scss */
.a-Icon.icon-required:before,
.a-Icon--requiredField:before {
  content: "\E081";
  color: red;
}

/* line 163, ../../scss/core/IconFont.scss */
.a-Icon.icon-menu-sub:before {
  content: "\e0d8";
}

/* line 168, ../../scss/core/IconFont.scss */
.a-Icon.icon-menu-scroll-up:before {
  content: "\e0e5";
}

/* line 173, ../../scss/core/IconFont.scss */
.a-Icon.icon-menu-radio:before {
  content: "\E080";
}

/* line 181, ../../scss/core/IconFont.scss */
.a-Icon.icon-irr-ws-validation:before,
.a-Icon.icon-check:before,
.a-Icon.icon-tr-pass:before,
.a-Icon.icon-menu-check:before,
.a-Icon.icon-wizard-step-complete:before {
  content: "\e007";
}

/* line 185, ../../scss/core/IconFont.scss */
.a-Icon.icon-toolbar-all:before {
  content: "\e008";
}

/* line 189, ../../scss/core/IconFont.scss */
.a-Icon.icon-toolbar-common:before {
  content: "\e009";
}

/* line 195, ../../scss/core/IconFont.scss */
.a-GridLayout-pageItem > h3 > .a-Icon:before,
.a-Gallery-pageItem .a-Icon:before,
.a-Icon.icon-page-item:before,
.a-Icon.icon-tree-item:before {
  content: "\e00a";
}

/* line 198, ../../scss/core/IconFont.scss */
.a-Icon.icon-cm-autocomplete:before {
  content: "\e060";
}

/* line 203, ../../scss/core/IconFont.scss */
.a-Icon.icon-region:before,
.a-Icon.icon-tree-region:before {
  content: "\e00c";
}

/* line 207, ../../scss/core/IconFont.scss */
.a-Icon.icon-page:before {
  content: "\e00d";
}

/* line 211, ../../scss/core/IconFont.scss */
.a-Icon.icon-button:before {
  content: "\e00e";
}

/* line 215, ../../scss/core/IconFont.scss */
.a-GridLayout-button > h3 > .a-Icon:before,
.a-Icon.icon-tree-button:before {
  content: "\e087";
}

/* line 221, ../../scss/core/IconFont.scss */
.a-Icon.icon-warning:before,
.a-Icon.icon-tr-warning:before,
.a-Icon.icon-irr-invalid-settings:before {
  content: "\e017";
}

/* line 225, ../../scss/core/IconFont.scss */
.a-Icon.icon-error:before {
  content: "\e010";
}

/* line 230, ../../scss/core/IconFont.scss */
.a-Icon.icon-remove:before,
.a-Icon.icon-tr-close:before,
.a-Icon.icon-tr-fail:before {
  content: "\e0a2";
}

/* line 235, ../../scss/core/IconFont.scss */
.a-Icon.icon-info:before,
.a-Icon.icon-tr-contrast:before,
.a-Icon.icon-irr-inactive-settings:before {
  content: "\e023";
}

/* line 239, ../../scss/core/IconFont.scss */
.a-Icon.icon-calendar:before {
  content: "\e137";
}

/* line 245, ../../scss/core/IconFont.scss */
.a-Icon.icon-up-chevron:before,
.a-Icon.icon-popup-lov:before {
  content: "\e012";
}

/* line 250, ../../scss/core/IconFont.scss */
.a-Icon.icon-left-chevron:before,
.a-Icon.icon-shuttle-remove:before {
  content: "\e013";
}

/* line 254, ../../scss/core/IconFont.scss */
.a-Icon.icon-home:before {
  content: "\e014";
}

/* line 259, ../../scss/core/IconFont.scss */
.a-Icon.icon-down-chevron:before,
.a-Icon.icon-menu-split-drop-down:before {
  content: "\e015";
}

/* line 265, ../../scss/core/IconFont.scss */
.a-Icon.icon-right-chevron:before,
.a-Icon.icon-go-to-component:before,
.a-Icon.icon-shuttle-move:before {
  content: "\e016";
}

/* line 269, ../../scss/core/IconFont.scss */
.a-Icon.icon-gear-alt:before {
  content: "\e00b";
}

/* line 273, ../../scss/core/IconFont.scss */
.a-Icon.icon-maximize:before {
  content: "\e00f";
}

/* line 277, ../../scss/core/IconFont.scss */
.a-Icon.icon-three-col:before {
  content: "\e018";
}

/* line 283, ../../scss/core/IconFont.scss */
.a-Icon.icon-tr-undo:before,
.a-Icon.icon-undo:before {
  content: "\e01b";
}

/* line 287, ../../scss/core/IconFont.scss */
.a-Icon.icon-page-designer:before {
  content: "\e01c";
}

/* line 292, ../../scss/core/IconFont.scss */
.a-Icon.icon-tr-redo:before,
.a-Icon.icon-redo:before {
  content: "\e01d";
}

/* line 299, ../../scss/core/IconFont.scss */
.a-Icon.icon-refresh:before,
.a-Icon.icon-shuttle-reset:before,
.a-Icon.icon-irr-reset:before,
.a-Icon.icon-tr-reset:before {
  content: "\e01e";
}

/* line 303, ../../scss/core/IconFont.scss */
.a-Icon.icon-expand-all:before {
  content: "\e01f";
}

/* line 307, ../../scss/core/IconFont.scss */
.a-Icon.icon-goto-group:before {
  content: "\e0a5";
}

/* line 312, ../../scss/core/IconFont.scss */
.a-Icon.icon-quick-pick:before,
.a-Icon.icon-irr-ws-lov:before {
  content: "\e0a6";
}

/* line 316, ../../scss/core/IconFont.scss */
.a-Icon.icon-collapse-all:before {
  content: "\e020";
}

/* line 322, ../../scss/core/IconFont.scss */
.a-Icon.icon-irr-no-results:before,
.a-Icon.icon-search:before,
.a-Icon.icon-cm-find:before {
  content: "\e022";
}

/* line 330, ../../scss/core/IconFont.scss */
.a-Icon.icon-tools:before,
.a-Icon.icon-util:before,
.a-Icon.icon-cm-build-query:before,
.a-Icon.icon-irr-format:before {
  content: "\e0a3";
}

/* line 335, ../../scss/core/IconFont.scss */
.a-Icon.icon-users:before,
.a-Icon.icon-team-dev:before {
  content: "\e027";
}

/* line 339, ../../scss/core/IconFont.scss */
.a-Icon.icon-user:before {
  content: "\e024";
}

/* line 343, ../../scss/core/IconFont.scss */
.a-Icon.icon-page-select:before {
  content: "\e02b";
}

/* line 347, ../../scss/core/IconFont.scss */
.a-Icon.icon-unlock:before {
  content: "\e02f";
}

/* line 352, ../../scss/core/IconFont.scss */
.a-Icon.icon-lock:before,
.a-Icon.icon-tree-security:before {
  content: "\e031";
}

/* line 357, ../../scss/core/IconFont.scss */
.a-Icon.icon-run-script:before,
.a-Icon.icon-run-page:before {
  content: "\e034";
}

/* line 361, ../../scss/core/IconFont.scss */
.a-Icon.icon-lock-user:before {
  content: "\e035";
}

/* line 368, ../../scss/core/IconFont.scss */
.a-Icon.icon-alert:before,
.a-Icon.icon-comments:before,
.a-Icon.icon-system-message:before,
.a-Icon.icon-announcement:before {
  content: "\e036";
}

/* line 374, ../../scss/core/IconFont.scss */
.a-Icon.icon-plus:before,
.a-Icon.icon-irr-ws-row-add:before,
.a-Icon.icon-irr-ws-col-add:before {
  content: "\e069";
}

/* line 378, ../../scss/core/IconFont.scss */
.a-Icon.icon-edit:before {
  content: "\e046";
}

/* line 383, ../../scss/core/IconFont.scss */
.a-Icon.icon-edit-page:before,
.a-Icon.icon-edit-page-alt:before {
  content: "\e049";
}

/* line 388, ../../scss/core/IconFont.scss */
.a-Icon.icon-shared-components:before,
.a-Icon.icon-pd-shared-components:before {
  content: "\e048";
}

/******************************************************************************
Region Icons
******************************************************************************/
/* line 401, ../../scss/core/IconFont.scss */
.a-Gallery-region .a-Icon:before,
.a-Icon.icon-template-region:before,
.a-Icon.icon-region-native:before {
  content: "\e06e";
}

/* line 404, ../../scss/core/IconFont.scss */
.a-Icon.icon-template-breadcrumb:before,
.a-Icon.icon-sc-breadcrumb:before,
.a-Icon.icon-region-native-breadcrumb:before {
  content: "\e06f";
}

/* line 406, ../../scss/core/IconFont.scss */
.a-Icon.icon-util-data-unload:before,
.a-Icon.icon-region-native-data-upload-column-mapping:before {
  content: "\e072";
}

/* line 407, ../../scss/core/IconFont.scss */
.a-Icon.icon-region-native-display-selector:before {
  content: "\e073";
}

/* line 409, ../../scss/core/IconFont.scss */
.a-Icon.icon-page-chart:before,
.a-Icon.icon-region-native-flash-chart5:before {
  content: "\e074";
}

/* line 411, ../../scss/core/IconFont.scss */
.a-Icon.icon-page-map:before,
.a-Icon.icon-region-native-flash-map:before {
  content: "\e075";
}

/* line 412, ../../scss/core/IconFont.scss */
.a-Icon.icon-region-native-fnc-report:before {
  content: "\e076";
}

/* line 413, ../../scss/core/IconFont.scss */
.a-Icon.icon-region-native-help-text:before {
  content: "\e077";
}

/* line 415, ../../scss/core/IconFont.scss */
.a-Icon.icon-page-ir:before,
.a-Icon.icon-region-native-ir:before {
  content: "\e078";
}

/* line 417, ../../scss/core/IconFont.scss */
.a-Icon.icon-template-popup:before,
.a-Icon.icon-region-native-jqm-column-toggle:before {
  content: "\e08e";
}

/* line 418, ../../scss/core/IconFont.scss */
.a-Icon.icon-region-native-jqm-list-view:before {
  content: "\e079";
}

/* line 419, ../../scss/core/IconFont.scss */
.a-Icon.icon-region-native-jqm-reflow:before {
  content: "\e07a";
}

/* line 422, ../../scss/core/IconFont.scss */
.a-Icon.icon-page-tree:before,
.a-Icon.icon-region-native-jstree:before,
.a-Icon.icon-sc-tree:before {
  content: "\e098";
}

/* line 426, ../../scss/core/IconFont.scss */
.a-Icon.icon-template-list:before,
.a-Icon.icon-util-component-counts:before,
.a-Icon.icon-region-native-list:before,
.a-Icon.icon-sc-list:before {
  content: "\e07b";
}

/* line 427, ../../scss/core/IconFont.scss */
.a-Icon.icon-region-native-plsql:before {
  content: "\e07c";
}

/* line 434, ../../scss/core/IconFont.scss */
.a-Icon.icon-template-report:before,
.a-Icon.icon-saved-reports:before,
.a-Icon.icon-cross-app-reports:before,
.a-Icon.icon-region-native-sql-report:before,
.a-Icon.icon-page-report:before,
.a-Icon.icon-utilities-methods-tables:before,
.a-Icon.icon-sc-report-query:before {
  content: "\e07d";
}

/* line 436, ../../scss/core/IconFont.scss */
.a-Icon.icon-page-static:before,
.a-Icon.icon-region-native-static:before {
  content: "\e07e";
}

/* line 440, ../../scss/core/IconFont.scss */
.a-Icon.icon-template-field:before,
.a-Icon.icon-page-form:before,
.a-Icon.icon-page-form-tabular:before,
.a-Icon.icon-region-native-tabform:before {
  content: "\e044";
}

/* line 441, ../../scss/core/IconFont.scss */
.a-Icon.icon-region-native-url:before {
  content: "\e084";
}

/* line 442, ../../scss/core/IconFont.scss */
.a-Icon.icon-region-plugin-tag-cloud:before {
  content: "\e085";
}

/******************************************************************************
Button Component Icons
******************************************************************************/
/* line 450, ../../scss/core/IconFont.scss */
.a-Icon.icon-button-hot:before {
  content: "\e00b";
}

/* line 452, ../../scss/core/IconFont.scss */
.a-Icon.icon-template-button:before,
.a-Icon.icon-button-normal:before {
  content: "\e00e";
}

/******************************************************************************
Item Component Icons
******************************************************************************/
/* line 458, ../../scss/core/IconFont.scss */
.a-Icon.icon-item-native-auto-complete:before {
  content: "\e018";
}

/* line 459, ../../scss/core/IconFont.scss */
.a-Icon.icon-item-native-checkbox:before {
  content: "\e01c";
}

/* line 463, ../../scss/core/IconFont.scss */
.a-Icon.icon-util-theme-summary:before,
.a-Icon.icon-util-workspace-themes:before,
.a-Icon.icon-sc-theme:before,
.a-Icon.icon-sc-ui:before {
  content: "\e02a";
}

/* line 466, ../../scss/core/IconFont.scss */
.a-Icon.icon-item-native-color-picker:before {
  content: "\e14c";
}

/* line 467, ../../scss/core/IconFont.scss */
.a-Icon.icon-item-native-display-image:before {
  content: "\e02d";
}

/* line 469, ../../scss/core/IconFont.scss */
.a-Icon.icon-util-news:before,
.a-Icon.icon-item-native-display-only:before {
  content: "\e02e";
}

/* line 470, ../../scss/core/IconFont.scss */
.a-Icon.icon-item-native-file:before {
  content: "\e032";
}

/* line 471, ../../scss/core/IconFont.scss */
.a-Icon.icon-item-native-hidden:before {
  content: "\e033";
}

/* line 474, ../../scss/core/IconFont.scss */
.a-Icon.icon-manage-focus-areas:before,
.a-Icon.icon-feature-utilities:before,
.a-Icon.icon-item-native-list-manager:before {
  content: "\e07b";
}

/* line 475, ../../scss/core/IconFont.scss */
.a-Icon.icon-item-native-number-field:before {
  content: "\e039";
}

/* line 476, ../../scss/core/IconFont.scss */
.a-Icon.icon-item-native-popup-lov:before {
  content: "\e03b";
}

/* line 478, ../../scss/core/IconFont.scss */
.a-Icon.icon-util-build-options:before,
.a-Icon.icon-item-native-radiogroup:before {
  content: "\e03c";
}

/* line 479, ../../scss/core/IconFont.scss */
.a-Icon.icon-item-native-rich-text-editor:before {
  content: "\e03d";
}

/* line 480, ../../scss/core/IconFont.scss */
.a-Icon.icon-item-native-select-list:before {
  content: "\e03e";
}

/* line 481, ../../scss/core/IconFont.scss */
.a-Icon.icon-item-native-shuttle:before {
  content: "\e03f";
}

/* line 482, ../../scss/core/IconFont.scss */
.a-Icon.icon-item-native-slider:before {
  content: "\e040";
}

/* line 484, ../../scss/core/IconFont.scss */
.a-Icon.icon-template-label:before,
.a-Icon.icon-item-native-text-field:before {
  content: "\e041";
}

/* line 485, ../../scss/core/IconFont.scss */
.a-Icon.icon-item-native-textarea:before {
  content: "\e042";
}

/* line 486, ../../scss/core/IconFont.scss */
.a-Icon.icon-item-native-yes-no:before {
  content: "\e043";
}

/* line 487, ../../scss/core/IconFont.scss */
.a-Icon.icon-item-plugin-masked-field:before {
  content: "\e045";
}

/* line 488, ../../scss/core/IconFont.scss */
.a-Icon.icon-item-plugin-search-box:before {
  content: "\e06c";
}

/* line 489, ../../scss/core/IconFont.scss */
.a-Icon.icon-item-plugin-tags:before {
  content: "\e06d";
}

/******************************************************************************
Plugin Component Icons
******************************************************************************/
/* line 496, ../../scss/core/IconFont.scss */
.a-Icon.icon-item-plugin:before,
.a-Icon.icon-region-plugin:before,
.a-Icon.icon-sc-plugin:before {
  content: "\e082";
}

/******************************************************************************
Date Picker + Calendar Icons
******************************************************************************/
/* line 503, ../../scss/core/IconFont.scss */
.a-Icon.icon-region-native-calendar:before,
.a-Icon.icon-template-calendar:before,
.a-Icon.icon-item-native-date-picker-classic:before {
  content: "\e071";
}

/* line 509, ../../scss/core/IconFont.scss */
.a-Icon.icon-util-comments-calendar:before,
.a-Icon.icon-page-calendar:before,
.a-Icon.icon-region-native-css-calendar:before,
.a-Icon.icon-item-native-date-picker:before,
.a-Icon.icon-item-native-date-picker-html5:before {
  content: "\e071";
}

/* line 512, ../../scss/core/IconFont.scss */
.a-Icon.icon-user-round:before {
  content: "\e019";
}

/* line 516, ../../scss/core/IconFont.scss */
.a-Icon.icon-open-in-dialog:before,
.a-Icon.icon-page-debug:before {
  content: "\e04d";
}

/* line 520, ../../scss/core/IconFont.scss */
.a-Icon.icon-workspace:before,
.a-Icon.icon-database:before {
  content: "\e04e";
}

/* line 524, ../../scss/core/IconFont.scss */
.a-Icon.icon-help:before,
.a-Icon.icon-irr-help:before {
  content: "\e04f";
}

/* line 529, ../../scss/core/IconFont.scss */
.a-Icon.icon-debug:before,
.a-Icon.icon-bug:before {
  content: "\e050";
}

/* line 532, ../../scss/core/IconFont.scss */
.a-Icon.icon-edit-app:before {
  content: "\e051";
}

/* line 535, ../../scss/core/IconFont.scss */
.a-Icon.icon-page-cache:before {
  content: "\e053";
}

/* line 538, ../../scss/core/IconFont.scss */
.a-Icon.icon-quick-edit:before {
  content: "\e057";
}

/* line 542, ../../scss/core/IconFont.scss */
.a-Icon.icon-asterisk:before {
  content: "\e058";
  color: red;
}

/* line 547, ../../scss/core/IconFont.scss */
.a-Icon.icon-gears-alt:before {
  content: "\e059";
}

/* line 551, ../../scss/core/IconFont.scss */
.a-Icon.icon-sql-workshop:before {
  content: "\e05a";
}

/* line 556, ../../scss/core/IconFont.scss */
.a-Icon.icon-shuttle-move-all:before {
  content: "\e028";
}

/* line 561, ../../scss/core/IconFont.scss */
.a-Icon.icon-shuttle-bottom:before,
.a-Icon.icon-tr-collapse:before,
.a-Icon.icon-install:before {
  content: "\e021";
}

/* line 564, ../../scss/core/IconFont.scss */
.a-Icon.icon-shuttle-down:before {
  content: "\e026";
}

/* line 568, ../../scss/core/IconFont.scss */
.a-Icon.icon-shuttle-top:before,
.a-Icon.icon-tr-expand:before {
  content: "\e064";
}

/* line 572, ../../scss/core/IconFont.scss */
.a-Icon.icon-shuttle-up:before,
.a-Icon.icon-breadcrumb-previous:before {
  content: "\e01a";
}

/* line 575, ../../scss/core/IconFont.scss */
.a-Icon.icon-shuttle-remove-all:before {
  content: "\e029";
}

/* line 578, ../../scss/core/IconFont.scss */
.a-Icon.icon-variable:before {
  content: "\e068";
}

/* line 581, ../../scss/core/IconFont.scss */
.a-Icon.icon-zoom-page:before {
  content: "\e101";
}

/* line 584, ../../scss/core/IconFont.scss */
.a-Icon.icon-zoom-region:before {
  content: "\e100";
}

/* line 587, ../../scss/core/IconFont.scss */
.a-Icon.icon-restore:before {
  content: "\e025";
}

/* line 591, ../../scss/core/IconFont.scss */
.a-Icon.icon-test:before {
  content: "\E06F";
}

/* line 598, ../../scss/core/IconFont.scss */
.a-Icon.icon-app-database:before {
  content: "\e089";
}

/* line 601, ../../scss/core/IconFont.scss */
.a-Icon.icon-app-websheet:before {
  content: "\e08a";
}

/* line 604, ../../scss/core/IconFont.scss */
.a-Icon.icon-page-form-procedure:before {
  content: "\e08b";
}

/* line 607, ../../scss/core/IconFont.scss */
.a-Icon.icon-page-form-table:before {
  content: "\e08c";
}

/* line 610, ../../scss/core/IconFont.scss */
.a-Icon.icon-page-form-table-report:before {
  content: "\e08c";
}

/* line 616, ../../scss/core/IconFont.scss */
.a-Icon.icon-util-security-profiles:before,
.a-Icon.icon-page-access-control:before,
.a-Icon.icon-login-password:before {
  content: "\e08f";
}

/* line 623, ../../scss/core/IconFont.scss */
.a-Icon.icon-util-script:before,
.a-Icon.icon-page-blank:before,
.a-Icon.icon-sc-css:before,
.a-Icon.icon-template-page:before,
.a-Icon.icon-sc-file:before {
  content: "\e090";
}

/* line 629, ../../scss/core/IconFont.scss */
.a-Icon.icon-page-data-loading:before,
.a-Icon.icon-sc-data-loading:before,
.a-Icon.icon-util-data-load:before,
.a-Icon.icon-sc-data-references:before {
  content: "\e091";
}

/* line 633, ../../scss/core/IconFont.scss */
.a-Icon.icon-util-comments:before,
.a-Icon.icon-page-feedback:before {
  content: "\e092";
}

/* line 636, ../../scss/core/IconFont.scss */
.a-Icon.icon-page-form-master-detail:before {
  content: "\e094";
}

/* line 642, ../../scss/core/IconFont.scss */
.a-Icon.icon-utilities-page-views:before,
.a-Icon.icon-utilities-object-reports:before,
.a-Icon.icon-util-page-group:before,
.a-Icon.icon-page-multiple:before {
  content: "\e095";
}

/* line 645, ../../scss/core/IconFont.scss */
.a-Icon.icon-page-wizard:before {
  content: "\e096";
}

/* line 649, ../../scss/core/IconFont.scss */
.a-Icon.icon-util-app-groups:before,
.a-Icon.icon-pkg-apps:before {
  content: "\e097";
}

/* line 658, ../../scss/core/IconFont.scss */
.a-Icon.icon-ui-desktop:before {
  content: "\e09a";
}

/* line 662, ../../scss/core/IconFont.scss */
.a-Icon.icon-page-form-webservice:before,
.a-Icon.icon-page-form-report-webservice:before {
  content: "\e09b";
}

/* line 668, ../../scss/core/IconFont.scss */
.a-Icon.icon-util-password:before,
.a-Icon.icon-page-login:before,
.a-Icon.icon-item-native-password:before {
  content: "\e0e7";
}

/* line 671, ../../scss/core/IconFont.scss */
.a-Icon.icon-page-form-sql:before {
  content: "\e09d";
}

/* line 676, ../../scss/core/IconFont.scss */
.a-Icon.icon-util-release-summary:before,
.a-Icon.icon-util-application-attributes:before,
.a-Icon.icon-page-form-summary:before {
  content: "\e09e";
}

/* line 680, ../../scss/core/IconFont.scss */
.a-Icon.icon-ui-mobile:before,
.a-Icon.icon-ui-jqm:before {
  content: "\e09f";
}

/* line 683, ../../scss/core/IconFont.scss */
.a-Icon.icon-page-global:before {
  content: "\e0a0";
}

/* line 688, ../../scss/core/IconFont.scss */
.a-Icon.icon-util-webservice:before,
.a-Icon.icon-page-webservice:before,
.a-Icon.icon-page-report-webservice:before {
  content: "\e0a1";
}

/* line 692, ../../scss/core/IconFont.scss */
.a-Icon.icon-sc-app-computation:before {
  content: "\e0a4";
}

/* line 695, ../../scss/core/IconFont.scss */
.a-Icon.icon-sc-app-item:before {
  content: "\e0a7";
}

/* line 698, ../../scss/core/IconFont.scss */
.a-Icon.icon-sc-app-process:before {
  content: "\e06b";
}

/* line 701, ../../scss/core/IconFont.scss */
.a-Icon.icon-sc-component-settings:before {
  content: "\e0c0";
}

/* line 706, ../../scss/core/IconFont.scss */
.a-Icon.icon-util-auth-scheme:before,
.a-Icon.icon-sc-authorization-scheme:before,
.a-Icon.icon-utilities-update-assignees:before {
  content: "\e0a8";
}

/* line 710, ../../scss/core/IconFont.scss */
.a-Icon.icon-page-global:before,
.a-Icon.icon-sc-globalization:before {
  content: "\e0c1";
}

/* line 714, ../../scss/core/IconFont.scss */
.a-Icon.icon-sc-build-option-off:before,
.a-Icon.icon-sc-authentication-scheme-off:before {
  content: "\e0a9";
}

/* line 717, ../../scss/core/IconFont.scss */
.a-Icon.icon-sc-tabs:before {
  content: "\e0aa";
}

/* line 721, ../../scss/core/IconFont.scss */
.a-Icon.icon-report-subscriptions:before,
.a-Icon.icon-sc-shortcut:before {
  content: "\e0ab";
}

/* line 724, ../../scss/core/IconFont.scss */
.a-Icon.icon-sc-security:before {
  content: "\e0ac";
}

/* line 727, ../../scss/core/IconFont.scss */
.a-Icon.icon-sc-reports:before {
  content: "\e0ad";
}

/* line 730, ../../scss/core/IconFont.scss */
.a-Icon.icon-sc-report-layout:before {
  content: "\e0ae";
}

/* line 735, ../../scss/core/IconFont.scss */
.a-Icon.icon-util-links:before,
.a-Icon.icon-page-url:before,
.a-Icon.icon-sc-nav-bar:before {
  content: "\e0ae";
}

/* line 739, ../../scss/core/IconFont.scss */
.a-Icon.icon-page-nav:before,
.a-Icon.icon-sc-nav:before {
  content: "\e0af";
}

/* line 742, ../../scss/core/IconFont.scss */
.a-Icon.icon-sc-lov:before {
  content: "\e0b0";
}

/* line 748, ../../scss/core/IconFont.scss */
.a-Icon.icon-util-gear:before,
.a-Icon.icon-sc-logic:before,
.a-Icon.icon-utilities-features:before,
.a-Icon.icon-utilities-team-dev:before {
  content: "\e0b1";
}

/* line 753, ../../scss/core/IconFont.scss */
.a-Icon.icon-sc-page-group:before,
.a-Icon.icon-folder-files:before,
.a-Icon.icon-sc-files:before {
  content: "\e0b2";
}

/* line 757, ../../scss/core/IconFont.scss */
.a-Icon.icon-sc-build-option-on:before,
.a-Icon.icon-sc-authentication-scheme-on:before {
  content: "\e0b3";
}

/* line 760, ../../scss/core/IconFont.scss */
.a-Icon.icon-sc-web-service:before {
  content: "\e0b4";
}

/* line 764, ../../scss/core/IconFont.scss */
.a-Icon.icon-util-apex-views:before,
.a-Icon.icon-util-workspace-actions:before {
  content: "\e0b5";
}

/* line 770, ../../scss/core/IconFont.scss */
.a-Icon.icon-admin-workspace-utilization:before,
.a-Icon.icon-utilities-database-monitor:before,
.a-Icon.icon-utilities-activity:before,
.a-Icon.icon-util-app-dashboard:before {
  content: "\e0b6";
}

/* line 773, ../../scss/core/IconFont.scss */
.a-Icon.icon-util-change-history:before {
  content: "\e0b7";
}

/* line 776, ../../scss/core/IconFont.scss */
.a-Icon.icon-util-export-app:before {
  content: "\e0b8";
}

/* line 780, ../../scss/core/IconFont.scss */
.a-Icon.icon-enable-files:before,
.a-Icon.icon-util-export-repository:before {
  content: "\e0b9";
}

/* line 783, ../../scss/core/IconFont.scss */
.a-Icon.icon-util-import-app:before {
  content: "\e0ba";
}

/* line 786, ../../scss/core/IconFont.scss */
.a-Icon.icon-util-recent-pages:before {
  content: "\e0bb";
}

/* line 790, ../../scss/core/IconFont.scss */
.a-Icon.icon-util-upgrade-app:before,
.a-Icon.icon-util-upgrade-scripts:before {
  content: "\e0bc";
}

/* line 794, ../../scss/core/IconFont.scss */
.a-Icon.icon-util-bugs:before,
.a-Icon.icon-util-debug-messages:before {
  content: "\e0bd";
}

/* line 798, ../../scss/core/IconFont.scss */
.a-Icon.icon-app-status:before,
.a-Icon.icon-util-advisor:before {
  content: "\e0bf";
}

/* line 802, ../../scss/core/IconFont.scss */
.a-Icon.icon-util-app-compare:before,
.a-Icon.icon-util-attribute-dictionary:before {
  content: "\e0be";
}

/* line 806, ../../scss/core/IconFont.scss */
.a-Icon.icon-database-object:before,
.a-Icon.icon-util-object-dependencies:before {
  content: "\e02c";
}

/* line 811, ../../scss/core/IconFont.scss */
.a-Icon.icon-tree-branch:before {
  content: "\e0c3";
}

/* line 814, ../../scss/core/IconFont.scss */
.a-Icon.icon-tree-breadcrumb:before {
  content: "\e0c4";
}

/* line 817, ../../scss/core/IconFont.scss */
.a-Icon.icon-tree-button:before {
  content: "\e087";
}

/* line 823, ../../scss/core/IconFont.scss */
.a-Icon.icon-irr-calculator:before,
.a-Icon.icon-irr-compute:before,
.a-Icon.icon-tree-computation:before {
  content: "\e05d";
}

/* line 830, ../../scss/core/IconFont.scss */
.a-Icon.icon-tree-list:before {
  content: "\e0c8";
}

/* line 833, ../../scss/core/IconFont.scss */
.a-Icon.icon-tree-lov:before {
  content: "\e0c9";
}

/* line 836, ../../scss/core/IconFont.scss */
.a-Icon.icon-tree-page:before {
  content: "\e00d";
}

/* line 843, ../../scss/core/IconFont.scss */
.a-Icon.icon-tree-region:before {
  content: "\e00c";
}

/* line 848, ../../scss/core/IconFont.scss */
.a-Icon.icon-page-home:before,
.a-Icon.icon-util-home:before {
  content: "\e0cd";
}

/* line 851, ../../scss/core/IconFont.scss */
.a-Icon.icon-tree-tabs:before {
  content: "\e0ce";
}

/* line 854, ../../scss/core/IconFont.scss */
.a-Icon.icon-theme-roller:before {
  content: "\e037";
}

/* line 857, ../../scss/core/IconFont.scss */
.a-Icon.icon-tree-templates:before {
  content: "\e0cf";
}

/* line 861, ../../scss/core/IconFont.scss */
.a-Icon.icon-tree-validation:before,
.a-Icon.icon-cm-validate:before {
  content: "\e0d0";
}

/* line 866, ../../scss/core/IconFont.scss */
.a-Icon.icon-tree-folder:before,
.a-TreeView-node.is-expandable > .a-TreeView-content > .a-Icon.icon-tree-folder:before {
  content: "\e0da";
}

/* line 871, ../../scss/core/IconFont.scss */
.a-Icon.icon-tree-folder-open:before,
.a-TreeView-node.is-collapsible > .a-TreeView-content > .a-Icon.icon-tree-folder:before {
  content: "\e0d7";
}

/* line 877, ../../scss/core/IconFont.scss */
.a-Icon.icon-tree-folder-filled:before,
.a-TreeView-node.is-expandable > .a-TreeView-content.is-selected > .a-Icon.icon-tree-folder:before {
  content: "\e0d1";
}

/* line 882, ../../scss/core/IconFont.scss */
.a-Icon.icon-tree-folder-open-filled:before,
.a-TreeView-node.is-collapsible > .a-TreeView-content.is-selected > .a-Icon.icon-tree-folder:before {
  content: "\e0d9";
}

/* line 886, ../../scss/core/IconFont.scss */
.a-Icon.icon-tree-authorization:before {
  content: "\e0d2";
}

/* line 889, ../../scss/core/IconFont.scss */
.a-Icon.icon-tree-build-option:before {
  content: "\e0d3";
}

/* line 892, ../../scss/core/IconFont.scss */
.a-Icon.icon-tree-plugin:before {
  content: "\e0d4";
}

/* line 895, ../../scss/core/IconFont.scss */
.a-Icon.icon-tree-data-load-table:before {
  content: "\e0d5";
}

/* line 898, ../../scss/core/IconFont.scss */
.a-Icon.icon-tree-web-service:before {
  content: "\e0d6";
}

/* line 901, ../../scss/core/IconFont.scss */
.a-Icon.icon-tree-col-group:before {
  content: "\e12a";
}

/* line 904, ../../scss/core/IconFont.scss */
.a-Icon.icon-tree-map-series:before {
  content: "\e12b";
}

/* line 907, ../../scss/core/IconFont.scss */
.a-Icon.icon-tree-chart-series:before {
  content: "\e128";
}

/* line 911, ../../scss/core/IconFont.scss */
.a-Icon.icon-admin-edit-announcement:before {
  content: "\e0dc";
}

/* line 914, ../../scss/core/IconFont.scss */
.a-Icon.icon-admin-service-request:before {
  content: "\e0dd";
}

/* line 917, ../../scss/core/IconFont.scss */
.a-Icon.icon-page-dynamic:before {
  content: "\e0de";
}

/* line 920, ../../scss/core/IconFont.scss */
.a-Icon.icon-page-dynamic-form:before {
  content: "\e0df";
}

/* line 924, ../../scss/core/IconFont.scss */
.a-Icon.icon-admin-workspace-preferences:before,
.a-Icon.icon-util-session-state-management:before {
  content: "\e0e0";
}

/* line 927, ../../scss/core/IconFont.scss */
.a-Icon.icon-request-termination:before {
  content: "\e0e1";
}

/* line 930, ../../scss/core/IconFont.scss */
.a-Icon.icon-request-storage:before {
  content: "\e0e2";
}

/* line 933, ../../scss/core/IconFont.scss */
.a-Icon.icon-request-schema:before {
  content: "\e0e3";
}

/* line 936, ../../scss/core/IconFont.scss */
.a-Icon.icon-irr-chart:before {
  content: "\e0e9";
}

/* line 939, ../../scss/core/IconFont.scss */
.a-Icon.icon-irr-control-break:before {
  content: "\e0ea";
}

/* line 942, ../../scss/core/IconFont.scss */
.a-Icon.icon-irr-details:before {
  content: "\e05c";
}

/* line 945, ../../scss/core/IconFont.scss */
.a-Icon.icon-irr-group-by:before {
  content: "\e0ec";
}

/* line 949, ../../scss/core/IconFont.scss */
.a-Icon.icon-irr-icons:before,
.a-Icon.icon-ws-page-dir:before {
  content: "\e0ff";
}

/* line 952, ../../scss/core/IconFont.scss */
.a-Icon.icon-irr-pivot:before {
  content: "\e0ef";
}

/* line 955, ../../scss/core/IconFont.scss */
.a-Icon.icon-irr-remove-col:before {
  content: "\e0f0";
}

/* line 958, ../../scss/core/IconFont.scss */
.a-Icon.icon-irr-report:before {
  content: "\e0f1";
}

/* line 962, ../../scss/core/IconFont.scss */
.a-Icon.icon-irr-sort-asc:before,
.a-Icon.icon-rpt-sort-asc:before {
  content: "\e0f2";
}

/* line 966, ../../scss/core/IconFont.scss */
.a-Icon.icon-irr-sort-desc:before,
.a-Icon.icon-rpt-sort-desc:before {
  content: "\e0f3";
}

/* line 969, ../../scss/core/IconFont.scss */
.a-Icon.icon-irr-filter:before {
  content: "\e0f4";
}

/* line 972, ../../scss/core/IconFont.scss */
.a-Icon.icon-irr-flashback:before {
  content: "\e0f7";
}

/* line 975, ../../scss/core/IconFont.scss */
.a-Icon.icon-irr-highlight:before {
  content: "\e0f8";
}

/* line 978, ../../scss/core/IconFont.scss */
.a-Icon.icon-irr-download:before {
  content: "\e0fb";
}

/* line 981, ../../scss/core/IconFont.scss */
.a-Icon.icon-irr-search:before {
  content: "\e0fa";
}

/* line 985, ../../scss/core/IconFont.scss */
.a-Icon.icon-irr-saved-report:before,
.a-Icon.icon-tree-saved-report:before {
  content: "\e0f9";
}

/* line 990, ../../scss/core/IconFont.scss */
.a-Icon.icon-ws-file:before {
  content: "\e0fc";
}

/* line 993, ../../scss/core/IconFont.scss */
.a-Icon.icon-ws-image:before {
  content: "\e0fd";
}

/* line 996, ../../scss/core/IconFont.scss */
.a-Icon.icon-ws-note:before {
  content: "\e0fe";
}

/* line 1001, ../../scss/core/IconFont.scss */
.a-Icon.icon-irr-ws-col:before,
.a-Icon.icon-irr-select-cols:before,
.a-Icon.icon-tree-report-column:before {
  content: "\e102";
}

/* line 1004, ../../scss/core/IconFont.scss */
.a-Icon.icon-irr-ws-toggle-checkboxes:before {
  content: "\e103";
}

/* line 1008, ../../scss/core/IconFont.scss */
.a-Icon.icon-cm-replace:before,
.a-Icon.icon-irr-ws-row-replace:before {
  content: "\e104";
}

/* line 1011, ../../scss/core/IconFont.scss */
.a-Icon.icon-irr-ws-row-fill:before {
  content: "\e105";
}

/* line 1015, ../../scss/core/IconFont.scss */
.a-Icon.icon-irr-rows:before,
.a-Icon.icon-irr-ws-row:before {
  content: "\e106";
}

/* line 1018, ../../scss/core/IconFont.scss */
.a-Icon.icon-irr-aggregate:before {
  content: "\e124";
}

/* line 1021, ../../scss/core/IconFont.scss */
.a-Icon.icon-irr-sort:before {
  content: "\e125";
}

/* line 1024, ../../scss/core/IconFont.scss */
.a-Icon.icon-irr-subscription:before {
  content: "\e02b";
}

/* line 1028, ../../scss/core/IconFont.scss */
.a-Icon.icon-irr-ws-properties:before,
.a-Icon.icon-grid-layout:before {
  content: "\e107";
}

/* line 1033, ../../scss/core/IconFont.scss */
.a-Icon.icon-irr-ws-history:before,
.a-Icon.icon-page-session:before,
.a-Icon.icon-coming-soon:before {
  content: "\e108";
}

/* line 1037, ../../scss/core/IconFont.scss */
.a-Icon.icon-copy:before,
.a-Icon.icon-irr-ws-copy:before {
  content: "\e109";
}

/* line 1041, ../../scss/core/IconFont.scss */
.a-Icon.icon-irr-ws-col-pros:before,
.a-Icon.icon-irr-ws-col-values:before {
  content: "\e10a";
}

/* line 1044, ../../scss/core/IconFont.scss */
.a-Icon.icon-irr-ws-col-groups:before {
  content: "\e10b";
}

/* line 1049, ../../scss/core/IconFont.scss */
.a-Icon.icon-irr-ws-dg-delete:before,
.a-Icon.icon-irr-ws-col-delete:before,
.a-Icon.icon-irr-ws-row-delete:before {
  content: "\e10c";
}

/* line 1056, ../../scss/core/IconFont.scss */
.a-Icon.icon-utilites-recycle-bin:before,
.a-Icon.icon-utilites-purge-data:before {
  content: "\e04b";
}

/* line 1059, ../../scss/core/IconFont.scss */
.a-Icon.icon-utilites-schema-comparison:before {
  content: "\e05a";
}

/* line 1062, ../../scss/core/IconFont.scss */
.a-Icon.icon-utilities-about-database:before {
  content: "\e05b";
}

/* line 1065, ../../scss/core/IconFont.scss */
.a-Icon.icon-utilities-data-workshop:before {
  content: "\e05f";
}

/* line 1068, ../../scss/core/IconFont.scss */
.a-Icon.icon-utilities-query-builder:before {
  content: "\e088";
}

/* line 1074, ../../scss/core/IconFont.scss */
.a-Icon.icon-util-team-dev-settings:before,
.a-Icon.icon-utilities-ui-defaults:before,
.a-Icon.icon-util-installation-scripts:before,
.a-Icon.icon-util-deinstallation-scripts:before {
  content: "\e09c";
}

/* line 1077, ../../scss/core/IconFont.scss */
.a-Icon.icon-utilities-generate-ddl:before {
  content: "\e02c";
}

/* line 1081, ../../scss/core/IconFont.scss */
.a-Icon.icon-twitter:before {
  content: "\e0c6";
}

/* line 1084, ../../scss/core/IconFont.scss */
.a-Icon.icon-gplus:before {
  content: "\e0e8";
}

/* line 1087, ../../scss/core/IconFont.scss */
.a-Icon.icon-facebook:before {
  content: "\e0eb";
}

/* line 1090, ../../scss/core/IconFont.scss */
.a-Icon.icon-linkedin:before {
  content: "\e0ed";
}

/* line 1094, ../../scss/core/IconFont.scss */
.a-Icon.icon-apex-user:before,
.a-Icon.icon-login-username:before {
  content: "\e0f5";
}

/* line 1098, ../../scss/core/IconFont.scss */
.a-Icon.icon-login-workspace:before,
.a-Icon.icon-util-workspace:before {
  content: "\e0f6";
}

/* line 1101, ../../scss/core/IconFont.scss */
.a-Icon.icon-login-mail:before {
  content: "\e03a";
}

/* line 1105, ../../scss/core/IconFont.scss */
.a-Icon.icon-translate-text:before {
  content: "\e10d";
}

/* line 1108, ../../scss/core/IconFont.scss */
.a-Icon.icon-util-developer-activity:before {
  content: "\e10e";
}

/* line 1111, ../../scss/core/IconFont.scss */
.a-Icon.icon-util-download-xlif-translation:before {
  content: "\e10f";
}

/* line 1114, ../../scss/core/IconFont.scss */
.a-Icon.icon-util-environment-reports:before {
  content: "\e110";
}

/* line 1117, ../../scss/core/IconFont.scss */
.a-Icon.icon-util-login-attempts:before {
  content: "\e111";
}

/* line 1120, ../../scss/core/IconFont.scss */
.a-Icon.icon-util-logs:before {
  content: "\e112";
}

/* line 1124, ../../scss/core/IconFont.scss */
.a-Icon.icon-util-manage-dynamic-translation:before,
.a-Icon.icon-util-manage:before {
  content: "\e113";
}

/* line 1127, ../../scss/core/IconFont.scss */
.a-Icon.icon-util-manually-edit-translation:before {
  content: "\e114";
}

/* line 1130, ../../scss/core/IconFont.scss */
.a-Icon.icon-util-map-primary-language:before {
  content: "\e115";
}

/* line 1133, ../../scss/core/IconFont.scss */
.a-Icon.icon-util-create-manage-text:before {
  content: "\e116";
}

/* line 1136, ../../scss/core/IconFont.scss */
.a-Icon.icon-util-calendar-reports:before {
  content: "\e117";
}

/* line 1139, ../../scss/core/IconFont.scss */
.a-Icon.icon-util-validate-websheet-database:before {
  content: "\e118";
}

/* line 1142, ../../scss/core/IconFont.scss */
.a-Icon.icon-util-subscriptions:before {
  content: "\e119";
}

/* line 1145, ../../scss/core/IconFont.scss */
.a-Icon.icon-util-seed-translatable-text:before {
  content: "\e11a";
}

/* line 1148, ../../scss/core/IconFont.scss */
.a-Icon.icon-util-report-session-state:before {
  content: "\e11b";
}

/* line 1151, ../../scss/core/IconFont.scss */
.a-Icon.icon-util-recent-sessions:before {
  content: "\e11c";
}

/* line 1154, ../../scss/core/IconFont.scss */
.a-Icon.icon-util-purge-sessions-age:before {
  content: "\e11d";
}

/* line 1157, ../../scss/core/IconFont.scss */
.a-Icon.icon-util-publish-translated-applications:before {
  content: "\e11e";
}

/* line 1160, ../../scss/core/IconFont.scss */
.a-Icon.icon-util-preferences-by-user:before {
  content: "\e11f";
}

/* line 1163, ../../scss/core/IconFont.scss */
.a-Icon.icon-util-page-views:before {
  content: "\e120";
}

/* line 1166, ../../scss/core/IconFont.scss */
.a-Icon.icon-upload-apply-xliff:before {
  content: "\e121";
}

/* line 1170, ../../scss/core/IconFont.scss */
.a-Icon.icon-util-shared-components:before {
  content: "\e122";
}

/* line 1174, ../../scss/core/IconFont.scss */
.a-Icon.icon-tree-process:before,
.a-Icon.icon-pd-processing:before {
  content: "\e04a";
}

/* line 1178, ../../scss/core/IconFont.scss */
.a-Icon.icon-pd-dynact:before,
.a-Icon.icon-tree-da-event:before {
  content: "\e047";
}

/* line 1181, ../../scss/core/IconFont.scss */
.a-Icon.icon-pd-rendering:before {
  content: "\e030";
}

/* line 1184, ../../scss/core/IconFont.scss */
.a-Icon.icon-cm-query-builder:before {
  content: "\e061";
}

/* line 1187, ../../scss/core/IconFont.scss */
.a-Icon.icon-color-picker:before {
  content: "\e063";
}

/* line 1191, ../../scss/core/IconFont.scss */
.a-Icon.icon-page-designer:before {
  content: "\e054";
}

/* line 1194, ../../scss/core/IconFont.scss */
.a-Icon.icon-comp-view:before {
  content: "\e052";
}

/* line 1198, ../../scss/core/IconFont.scss */
.a-Icon.icon-tr-contrast:before {
  content: "\e065";
}

/* line 1201, ../../scss/core/IconFont.scss */
.a-Icon.icon-pd-comp-type:before {
  content: "\e055";
}

/* line 1204, ../../scss/core/IconFont.scss */
.a-Icon.icon-pd-proc-order:before {
  content: "\e056";
}

/* line 1207, ../../scss/core/IconFont.scss */
.a-Icon.icon-feedback:before {
  content: "\e05e";
}

/* line 1210, ../../scss/core/IconFont.scss */
.a-Icon.icon-add-comment:before {
  content: "\e062";
}

/* line 1213, ../../scss/core/IconFont.scss */
.a-Icon.icon-menu:before {
  content: "\e066";
}

/* line 1219, ../../scss/core/IconFont.scss */
.a-Icon.icon-mobile:before {
  content: "\e067";
}

/* line 1222, ../../scss/core/IconFont.scss */
.a-Icon.icon-find:before {
  content: "\e06a";
}

/* line 1225, ../../scss/core/IconFont.scss */
.a-Icon.icon-language:before {
  content: "\e129";
}

/* line 1233, ../../scss/core/IconFont.scss */
.a-TreeView-content .a-Icon.icon-region-native-breadcrumb:before,
.a-GridLayout .a-Icon.icon-region-native-breadcrumb:before {
  content: "\e138";
}
/* line 1237, ../../scss/core/IconFont.scss */
.a-TreeView-content .a-Icon.icon-region-native-calendar:before,
.a-TreeView-content .a-Icon.icon-region-native-css-calendar:before,
.a-GridLayout .a-Icon.icon-region-native-calendar:before,
.a-GridLayout .a-Icon.icon-region-native-css-calendar:before {
  content: "\e137";
}
/* line 1240, ../../scss/core/IconFont.scss */
.a-TreeView-content .a-Icon.icon-region-native-display-selector:before,
.a-GridLayout .a-Icon.icon-region-native-display-selector:before {
  content: "\e136";
}
/* line 1243, ../../scss/core/IconFont.scss */
.a-TreeView-content .a-Icon.icon-region-native-flash-chart5:before,
.a-GridLayout .a-Icon.icon-region-native-flash-chart5:before {
  content: "\e0e9";
}
/* line 1246, ../../scss/core/IconFont.scss */
.a-TreeView-content .a-Icon.icon-region-native-flash-map:before,
.a-GridLayout .a-Icon.icon-region-native-flash-map:before {
  content: "\e135";
}
/* line 1249, ../../scss/core/IconFont.scss */
.a-TreeView-content .a-Icon.icon-region-native-fnc-report:before,
.a-GridLayout .a-Icon.icon-region-native-fnc-report:before {
  content: "\e134";
}
/* line 1252, ../../scss/core/IconFont.scss */
.a-TreeView-content .a-Icon.icon-region-native-help-text:before,
.a-GridLayout .a-Icon.icon-region-native-help-text:before {
  content: "\e04f";
}
/* line 1255, ../../scss/core/IconFont.scss */
.a-TreeView-content .a-Icon.icon-region-native-ir:before,
.a-GridLayout .a-Icon.icon-region-native-ir:before {
  content: "\e139";
}
/* line 1258, ../../scss/core/IconFont.scss */
.a-TreeView-content .a-Icon.icon-region-native-jqm-column-toggle:before,
.a-GridLayout .a-Icon.icon-region-native-jqm-column-toggle:before {
  content: "\e070";
}
/* line 1261, ../../scss/core/IconFont.scss */
.a-TreeView-content .a-Icon.icon-region-native-jqm-list-view:before,
.a-GridLayout .a-Icon.icon-region-native-jqm-list-view:before {
  content: "\e086";
}
/* line 1264, ../../scss/core/IconFont.scss */
.a-TreeView-content .a-Icon.icon-region-native-jqm-reflow:before,
.a-GridLayout .a-Icon.icon-region-native-jqm-reflow:before {
  content: "\e0e6";
}
/* line 1267, ../../scss/core/IconFont.scss */
.a-TreeView-content .a-Icon.icon-region-native-jstree:before,
.a-GridLayout .a-Icon.icon-region-native-jstree:before {
  content: "\e12c";
}
/* line 1270, ../../scss/core/IconFont.scss */
.a-TreeView-content .a-Icon.icon-region-native-list:before,
.a-GridLayout .a-Icon.icon-region-native-list:before {
  content: "\e12d";
}
/* line 1273, ../../scss/core/IconFont.scss */
.a-TreeView-content .a-Icon.icon-region-native-plsql:before,
.a-GridLayout .a-Icon.icon-region-native-plsql:before {
  content: "\e12e";
}
/* line 1276, ../../scss/core/IconFont.scss */
.a-TreeView-content .a-Icon.icon-region-native-sql-report:before,
.a-GridLayout .a-Icon.icon-region-native-sql-report:before {
  content: "\e12f";
}
/* line 1279, ../../scss/core/IconFont.scss */
.a-TreeView-content .a-Icon.icon-region-native-static:before,
.a-GridLayout .a-Icon.icon-region-native-static:before {
  content: "\e130";
}
/* line 1282, ../../scss/core/IconFont.scss */
.a-TreeView-content .a-Icon.icon-region-native-tabform:before,
.a-GridLayout .a-Icon.icon-region-native-tabform:before {
  content: "\e131";
}
/* line 1285, ../../scss/core/IconFont.scss */
.a-TreeView-content .a-Icon.icon-region-native-url:before,
.a-GridLayout .a-Icon.icon-region-native-url:before {
  content: "\e132";
}
/* line 1288, ../../scss/core/IconFont.scss */
.a-TreeView-content .a-Icon.icon-region-plugin:before,
.a-GridLayout .a-Icon.icon-region-plugin:before {
  content: "\e133";
}
/* line 1291, ../../scss/core/IconFont.scss */
.a-TreeView-content .a-Icon.icon-button-hot:before,
.a-GridLayout .a-Icon.icon-button-hot:before {
  content: "\e151";
}
/* line 1292, ../../scss/core/IconFont.scss */
.a-TreeView-content .a-Icon.icon-button-normal:before,
.a-GridLayout .a-Icon.icon-button-normal:before {
  content: "\e152";
}

/* line 1295, ../../scss/core/IconFont.scss */
.a-Icon.icon-tree-attributes:before {
  content: "\e12d";
}

/* line 1302, ../../scss/core/IconFont.scss */
.a-GridLayout .a-Icon.icon-item-native-auto-complete:before,
.a-TreeView-content .a-Icon.icon-item-native-auto-complete:before {
  content: "\e13b";
}
/* line 1303, ../../scss/core/IconFont.scss */
.a-GridLayout .a-Icon.icon-item-native-checkbox:before,
.a-TreeView-content .a-Icon.icon-item-native-checkbox:before {
  content: "\e13c";
}
/* line 1304, ../../scss/core/IconFont.scss */
.a-GridLayout .a-Icon.icon-item-native-color-picker:before,
.a-TreeView-content .a-Icon.icon-item-native-color-picker:before {
  content: "\e063";
}
/* line 1306, ../../scss/core/IconFont.scss */
.a-GridLayout .a-Icon.icon-item-native-date-picker:before,
.a-GridLayout .a-Icon.icon-item-native-date-picker-html5:before,
.a-TreeView-content .a-Icon.icon-item-native-date-picker:before,
.a-TreeView-content .a-Icon.icon-item-native-date-picker-html5:before {
  content: "\e137";
}
/* line 1307, ../../scss/core/IconFont.scss */
.a-GridLayout .a-Icon.icon-item-native-display-image:before,
.a-TreeView-content .a-Icon.icon-item-native-display-image:before {
  content: "\e13d";
}
/* line 1308, ../../scss/core/IconFont.scss */
.a-GridLayout .a-Icon.icon-item-native-display-only:before,
.a-TreeView-content .a-Icon.icon-item-native-display-only:before {
  content: "\e13e";
}
/* line 1309, ../../scss/core/IconFont.scss */
.a-GridLayout .a-Icon.icon-item-native-file:before,
.a-TreeView-content .a-Icon.icon-item-native-file:before {
  content: "\e13f";
}
/* line 1310, ../../scss/core/IconFont.scss */
.a-GridLayout .a-Icon.icon-item-native-hidden:before,
.a-TreeView-content .a-Icon.icon-item-native-hidden:before {
  content: "\e140";
}
/* line 1311, ../../scss/core/IconFont.scss */
.a-GridLayout .a-Icon.icon-item-native-list-manager:before,
.a-TreeView-content .a-Icon.icon-item-native-list-manager:before {
  content: "\e12d";
}
/* line 1312, ../../scss/core/IconFont.scss */
.a-GridLayout .a-Icon.icon-item-native-number-field:before,
.a-TreeView-content .a-Icon.icon-item-native-number-field:before {
  content: "\e141";
}
/* line 1313, ../../scss/core/IconFont.scss */
.a-GridLayout .a-Icon.icon-item-native-password:before,
.a-TreeView-content .a-Icon.icon-item-native-password:before {
  content: "\e142";
}
/* line 1314, ../../scss/core/IconFont.scss */
.a-GridLayout .a-Icon.icon-item-native-popup-lov:before,
.a-TreeView-content .a-Icon.icon-item-native-popup-lov:before {
  content: "\e143";
}
/* line 1315, ../../scss/core/IconFont.scss */
.a-GridLayout .a-Icon.icon-item-native-radiogroup:before,
.a-TreeView-content .a-Icon.icon-item-native-radiogroup:before {
  content: "\e144";
}
/* line 1316, ../../scss/core/IconFont.scss */
.a-GridLayout .a-Icon.icon-item-native-rich-text-editor:before,
.a-TreeView-content .a-Icon.icon-item-native-rich-text-editor:before {
  content: "\e145";
}
/* line 1317, ../../scss/core/IconFont.scss */
.a-GridLayout .a-Icon.icon-item-native-select-list:before,
.a-TreeView-content .a-Icon.icon-item-native-select-list:before {
  content: "\e146";
}
/* line 1318, ../../scss/core/IconFont.scss */
.a-GridLayout .a-Icon.icon-item-native-shuttle:before,
.a-TreeView-content .a-Icon.icon-item-native-shuttle:before {
  content: "\e147";
}
/* line 1319, ../../scss/core/IconFont.scss */
.a-GridLayout .a-Icon.icon-item-native-slider:before,
.a-TreeView-content .a-Icon.icon-item-native-slider:before {
  content: "\e148";
}
/* line 1320, ../../scss/core/IconFont.scss */
.a-GridLayout .a-Icon.icon-item-native-text-field:before,
.a-TreeView-content .a-Icon.icon-item-native-text-field:before {
  content: "\e149";
}
/* line 1321, ../../scss/core/IconFont.scss */
.a-GridLayout .a-Icon.icon-item-native-textarea:before,
.a-TreeView-content .a-Icon.icon-item-native-textarea:before {
  content: "\e14a";
}
/* line 1322, ../../scss/core/IconFont.scss */
.a-GridLayout .a-Icon.icon-item-native-yes-no:before,
.a-TreeView-content .a-Icon.icon-item-native-yes-no:before {
  content: "\e14b";
}

/* line 1325, ../../scss/core/IconFont.scss */
.sample-apex:before {
  content: "\e153";
}

/* line 1328, ../../scss/core/IconFont.scss */
.sample-otn:before {
  content: "\e154";
}

/* line 119, ../../scss/core/IconFont.scss */
.ie7 .a-Icon.icon-menu-drop-down, .ie7
.a-Icon.icon-menu-scroll-down {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xe0c2;');
}

/* line 119, ../../scss/core/IconFont.scss */
.ie7 .a-Icon.icon-down-arrow, .ie7
.a-Collapsible.is-expanded .a-Collapsible-icon, .ie7
.a-Icon.icon-irr-collapse-row {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xe123;');
}

/* line 119, ../../scss/core/IconFont.scss */
.ie7 .a-Icon.icon-right-arrow, .ie7
.a-Icon.icon-irr-expand-row, .ie7
.a-Collapsible.is-collapsed .a-Collapsible-icon {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xe126;');
}

/* line 119, ../../scss/core/IconFont.scss */
.ie7 .a-Icon.icon-irr-ws-validation, .ie7
.a-Icon.icon-check, .ie7
.a-Icon.icon-tr-pass, .ie7
.a-Icon.icon-menu-check, .ie7
.a-Icon.icon-wizard-step-complete {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xe007;');
}

/* line 119, ../../scss/core/IconFont.scss */
.ie7 .a-Icon.icon-warning, .ie7
.a-Icon.icon-tr-warning, .ie7
.a-Icon.icon-irr-invalid-settings {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xe017;');
}

/* line 119, ../../scss/core/IconFont.scss */
.ie7 .a-Icon.icon-info, .ie7
.a-Icon.icon-tr-contrast, .ie7
.a-Icon.icon-irr-inactive-settings {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xe023;');
}

/* line 119, ../../scss/core/IconFont.scss */
.ie7 .a-Icon.icon-refresh, .ie7
.a-Icon.icon-shuttle-reset, .ie7
.a-Icon.icon-irr-reset, .ie7
.a-Icon.icon-tr-reset {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xe01e;');
}

/* line 119, ../../scss/core/IconFont.scss */
.ie7 .a-Icon.icon-irr-no-results, .ie7
.a-Icon.icon-search, .ie7
.a-Icon.icon-cm-find {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xe022;');
}

/* line 119, ../../scss/core/IconFont.scss */
.ie7 .a-Icon.icon-tools, .ie7
.a-Icon.icon-util, .ie7
.a-Icon.icon-cm-build-query, .ie7
.a-Icon.icon-irr-format {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xe0a3;');
}

/* line 119, ../../scss/core/IconFont.scss */
.ie7 .a-Icon.icon-plus, .ie7
.a-Icon.icon-irr-ws-row-add, .ie7
.a-Icon.icon-irr-ws-col-add {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xe069;');
}

/* line 119, ../../scss/core/IconFont.scss */
.ie7 .a-Icon.icon-help, .ie7
.a-Icon.icon-irr-help {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xe04f;');
}

/* line 119, ../../scss/core/IconFont.scss */
.ie7 .a-Icon.icon-irr-calculator, .ie7
.a-Icon.icon-irr-compute, .ie7
.a-Icon.icon-tree-computation {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xe05d;');
}

/* line 119, ../../scss/core/IconFont.scss */
.ie7 .a-Icon.icon-irr-chart {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xe0e9;');
}

/* line 119, ../../scss/core/IconFont.scss */
.ie7 .a-Icon.icon-irr-control-break {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xe0ea;');
}

/* line 119, ../../scss/core/IconFont.scss */
.ie7 .a-Icon.icon-irr-details {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xe05c;');
}

/* line 119, ../../scss/core/IconFont.scss */
.ie7 .a-Icon.icon-irr-group-by {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xe0ec;');
}

/* line 119, ../../scss/core/IconFont.scss */
.ie7 .a-Icon.icon-irr-icons, .ie7
.a-Icon.icon-ws-page-dir {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xe0ff;');
}

/* line 119, ../../scss/core/IconFont.scss */
.ie7 .a-Icon.icon-irr-pivot {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xe0ef;');
}

/* line 119, ../../scss/core/IconFont.scss */
.ie7 .a-Icon.icon-irr-remove-col {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xe0f0;');
}

/* line 119, ../../scss/core/IconFont.scss */
.ie7 .a-Icon.icon-irr-report {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xe0f1;');
}

/* line 119, ../../scss/core/IconFont.scss */
.ie7 .a-Icon.icon-irr-sort-asc, .ie7
.a-Icon.icon-rpt-sort-asc {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xe0f2;');
}

/* line 119, ../../scss/core/IconFont.scss */
.ie7 .a-Icon.icon-irr-sort-desc, .ie7
.a-Icon.icon-rpt-sort-desc {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xe0f3;');
}

/* line 119, ../../scss/core/IconFont.scss */
.ie7 .a-Icon.icon-irr-filter {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xe0f4;');
}

/* line 119, ../../scss/core/IconFont.scss */
.ie7 .a-Icon.icon-irr-flashback {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xe0f7;');
}

/* line 119, ../../scss/core/IconFont.scss */
.ie7 .a-Icon.icon-irr-highlight {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xe0f8;');
}

/* line 119, ../../scss/core/IconFont.scss */
.ie7 .a-Icon.icon-irr-download {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xe0fb;');
}

/* line 119, ../../scss/core/IconFont.scss */
.ie7 .a-Icon.icon-irr-search {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xe0fa;');
}

/* line 119, ../../scss/core/IconFont.scss */
.ie7 .a-Icon.icon-irr-saved-report, .ie7
.a-Icon.icon-tree-saved-report {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xe0f9;');
}

/* line 119, ../../scss/core/IconFont.scss */
.ie7 .a-Icon.icon-ws-file {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xe0fc;');
}

/* line 119, ../../scss/core/IconFont.scss */
.ie7 .a-Icon.icon-ws-image {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xe0fd;');
}

/* line 119, ../../scss/core/IconFont.scss */
.ie7 .a-Icon.icon-ws-note {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xe0fe;');
}

/* line 119, ../../scss/core/IconFont.scss */
.ie7 .a-Icon.icon-irr-ws-col, .ie7
.a-Icon.icon-irr-select-cols, .ie7
.a-Icon.icon-tree-report-column {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xe102;');
}

/* line 119, ../../scss/core/IconFont.scss */
.ie7 .a-Icon.icon-irr-ws-toggle-checkboxes {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xe103;');
}

/* line 119, ../../scss/core/IconFont.scss */
.ie7 .a-Icon.icon-cm-replace, .ie7
.a-Icon.icon-irr-ws-row-replace {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xe104;');
}

/* line 119, ../../scss/core/IconFont.scss */
.ie7 .a-Icon.icon-irr-ws-row-fill {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xe105;');
}

/* line 119, ../../scss/core/IconFont.scss */
.ie7 .a-Icon.icon-irr-rows, .ie7
.a-Icon.icon-irr-ws-row {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xe106;');
}

/* line 119, ../../scss/core/IconFont.scss */
.ie7 .a-Icon.icon-irr-aggregate {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xe124;');
}

/* line 119, ../../scss/core/IconFont.scss */
.ie7 .a-Icon.icon-irr-sort {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xe125;');
}

/* line 119, ../../scss/core/IconFont.scss */
.ie7 .a-Icon.icon-irr-subscription {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xe02b;');
}

/* line 119, ../../scss/core/IconFont.scss */
.ie7 .a-Icon.icon-irr-ws-properties, .ie7
.a-Icon.icon-grid-layout {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xe107;');
}

/* line 119, ../../scss/core/IconFont.scss */
.ie7 .a-Icon.icon-irr-ws-history, .ie7
.a-Icon.icon-page-session, .ie7
.a-Icon.icon-coming-soon {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xe108;');
}

/* line 119, ../../scss/core/IconFont.scss */
.ie7 .a-Icon.icon-copy, .ie7
.a-Icon.icon-irr-ws-copy {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xe109;');
}

/* line 119, ../../scss/core/IconFont.scss */
.ie7 .a-Icon.icon-irr-ws-col-pros, .ie7
.a-Icon.icon-irr-ws-col-values {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xe10a;');
}

/* line 119, ../../scss/core/IconFont.scss */
.ie7 .a-Icon.icon-irr-ws-col-groups {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xe10b;');
}

/* line 119, ../../scss/core/IconFont.scss */
.ie7 .a-Icon.icon-irr-ws-dg-delete, .ie7
.a-Icon.icon-irr-ws-col-delete, .ie7
.a-Icon.icon-irr-ws-row-delete {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xe10c;');
}

/* line 119, ../../scss/core/IconFont.scss */
.ie7 .a-Icon.icon-menu-sub {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xe004;');
}

/* line 119, ../../scss/core/IconFont.scss */
.ie7 .a-Icon.icon-menu-scroll-up {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '&#xe0e5;');
}
