/* line 1, ../../scss/core/LegacyAPEX.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 14, ../../scss/core/LegacyAPEX.scss */
fieldset.checkbox_group,
fieldset.datepicker,
fieldset.lov,
fieldset.radio_group,
fieldset.textarea,
fieldset.shuttle,
fieldset.colorpicker,
fieldset.html_editor,
fieldset.listmanager {
  display: inline-block;
}

/* line 18, ../../scss/core/LegacyAPEX.scss */
.hideMeButHearMe {
  position: absolute;
  top: -999px;
}

/* line 23, ../../scss/core/LegacyAPEX.scss */
.shuttleSelect1 select, .shuttleSelect2 select {
  min-width: 120px;
}

/* line 30, ../../scss/core/LegacyAPEX.scss */
.apex-slider-container {
  width: 100%;
}

/* line 33, ../../scss/core/LegacyAPEX.scss */
.apex-slider-control {
  width: 70%;
  display: inline-block;
  vertical-align: top;
  margin: 8px 0;
}

/* line 40, ../../scss/core/LegacyAPEX.scss */
.apex-slider-value {
  display: inline-block;
  vertical-align: top;
  line-height: 26px;
  margin-left: 8px;
  font-size: 12px;
}

/* Visually Hidden for Accessibility */
/* line 49, ../../scss/core/LegacyAPEX.scss */
.apex-grid-nbsp {
  line-height: 1px;
  height: 1px;
  font-size: 1px;
  overflow: hidden;
}

/* line 56, ../../scss/core/LegacyAPEX.scss */
button[disabled] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  cursor: default;
  pointer-events: none;
}

/* line 57, ../../scss/core/LegacyAPEX.scss */
.apex_disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  cursor: default;
  pointer-events: none;
}

/* line 59, ../../scss/core/LegacyAPEX.scss */
br {
  clear: both !important;
}

/* line 63, ../../scss/core/LegacyAPEX.scss */
.apex_size_bar {
  background: #EEEEEE;
  background-image: none;
  border-color: #DDDDDD;
  border-style: solid;
  border-width: 0 0 1px 1px;
  cursor: s-resize;
  height: 9px;
  overflow: hidden;
}

/* line 74, ../../scss/core/LegacyAPEX.scss */
.apex_size_grip {
  background: #eeeeee url(../widgets/size_grip.png) no-repeat scroll right top;
  border-color: #DDDDDD;
  border-style: solid;
  border-width: 0 1px 0 0;
  cursor: se-resize;
  height: 9px;
  width: 9px;
  float: right;
  overflow: hidden;
}

/* line 86, ../../scss/core/LegacyAPEX.scss */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/**
 * item type autocomplete (based on jquery.autocomplete.css)
 */
/* line 98, ../../scss/core/LegacyAPEX.scss */
.ac_results {
  padding: 0;
  border: 1px solid black;
  background-color: white;
  overflow: hidden;
  z-index: 99999;
}

/* line 106, ../../scss/core/LegacyAPEX.scss */
.ac_results ul {
  width: 100%;
  list-style-position: outside;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 114, ../../scss/core/LegacyAPEX.scss */
.ac_results li {
  margin: 0;
  padding: 2px 5px;
  cursor: default;
  display: block;
                 /*

if width will be 100% horizontal scrollbar will apear
  when scroll mode will be used
  */
  /*
  
  width: 100%;*/
  font: menu;
  font-size: 12px;
                /*it is very important, if line-height not setted or setted
in relative units scroll will be broken in firefox
*/
  line-height: 16px;
  overflow: hidden;
}

/* line 134, ../../scss/core/LegacyAPEX.scss */
.ac_results li {
  margin: 0;
  padding: 2px 5px;
  cursor: default;
  display: block;
                 /*

if width will be 100% horizontal scrollbar will apear
  when scroll mode will be used
  */
  /*
  
  width: 100%;*/
  font-size: 12px;
                /*it is very important, if line-height not setted or setted
in relative units scroll will be broken in firefox
*/
  line-height: 16px;
  overflow: hidden;
}

/* line 153, ../../scss/core/LegacyAPEX.scss */
.ac_loading {
  background: white url("../../../apex_ui/img/legacy/loading16x16.gif") right center no-repeat;
}

/* line 157, ../../scss/core/LegacyAPEX.scss */
.ac_odd {
  background-color: #eee;
}

/* line 161, ../../scss/core/LegacyAPEX.scss */
.ac_over {
  background-color: #0A246A;
  color: white;
}

/* line 166, ../../scss/core/LegacyAPEX.scss */
img {
  border: 0;
}
