/******************************************************************************
Sprite Mixin
******************************************************************************/
/******************************************************************************
Extendible Sprite Class
******************************************************************************/
/* ==========================================================================
   Media Block
   ========================================================================== */
/**
 * Media Block Component
 *
 * This is a generic media block component used whenever there is a graphic or
 * image on the left or right, and a content region that fills the remainder
 * of its parent element.
 *
 * Example HTML:
 *
 * <div class="a-MediaBlock">
 *   <div class="a-MediaBlock-graphic">
 *     <img src="foo.jpg" alt="">
 *   </div>
 *   <div class="a-MediaBlock-content">
 *     Content here
 *   </div>
 * </div>
 */
/* line 29, ../../scss/core/MediaBlock.scss */
.a-MediaBlock {
  *zoom: 1;
}

/* line 32, ../../scss/core/MediaBlock.scss */
.a-MediaBlock-graphic {
  float: left;
  margin-right: 8px;
}
/* line 35, ../../scss/core/MediaBlock.scss */
.a-MediaBlock-graphic img {
  display: block;
}

/* line 39, ../../scss/core/MediaBlock.scss */
.a-MediaBlock-graphic--right {
  margin-left: 8px;
  float: right;
}

/* line 43, ../../scss/core/MediaBlock.scss */
.a-MediaBlock-content {
  overflow: hidden;
  _overflow: visible;
  *zoom: 1;
}
