/** 
* Import Compass
*/
/******************************************************************************
Sprite Mixin
******************************************************************************/
/******************************************************************************
Extendible Sprite Class
******************************************************************************/
/* ==========================================================================
 Tree Component
 ========================================================================== */
/* line 10, ../../scss/core/Tree.scss */
.a-TreeView {
  display: inline-block;
  min-width: 100%;
  min-height: 100%;
  position: relative;
  /* so that it works well in a scrolling container */
}

/* line 18, ../../scss/core/Tree.scss */
.a-TreeView.is-disabled .a-TreeView-content {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}

/* ==========================================================================
Tree Parent List
 ========================================================================== */
/* line 28, ../../scss/core/Tree.scss */
.a-TreeView ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* ==========================================================================
Tree Node
 ========================================================================== */
/* line 37, ../../scss/core/Tree.scss */
.a-TreeView-node {
  list-style-type: none;
  padding: 0 0 0 16px;
  margin: 0 0 0 4px;
  min-height: 24px;
}

/* line 45, ../../scss/core/Tree.scss */
.a-TreeView-node.a-TreeView--noCollapse,
.a-TreeView.u-RTL .a-TreeView-node.a-TreeView--noCollapse {
  padding: 0;
}

/* line 49, ../../scss/core/Tree.scss */
.a-TreeView.u-RTL .a-TreeView-node {
  padding: 0 20px 0 0;
}

/* ==========================================================================
Toggle Control
 ========================================================================== */
/* line 57, ../../scss/core/Tree.scss */
.a-TreeView-toggle {
  height: 16px;
  width: 16px;
  float: left;
  margin-left: -16px;
  margin-top: 4px;
  cursor: pointer;
  position: relative;
  font-family: "apex-5-icon-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 75, ../../scss/core/Tree.scss */
.a-TreeView-toggle:before {
  font-size: 16px;
}

/*
 * Active Tree Node Toggle
 */
/* line 88, ../../scss/core/Tree.scss */
.a-TreeView.u-RTL .a-TreeView-toggle {
  float: right;
  margin-left: 0;
  margin-right: -16px;
}

/* line 94, ../../scss/core/Tree.scss */
.a-TreeView .is-expandable > .a-TreeView-toggle:before {
  content: "\e126";
}

/* line 97, ../../scss/core/Tree.scss */
.a-TreeView .is-collapsible > .a-TreeView-toggle:before {
  content: "\e123";
}

/* line 101, ../../scss/core/Tree.scss */
.a-TreeView.u-RTL .is-expandable > .a-TreeView-toggle:before {
  content: "\E07F";
}

/*
 * Loading Animation when Lazy Loading
 */
/* line 109, ../../scss/core/Tree.scss */
.a-TreeView .is-processing > .a-TreeView-toggle {
  -webkit-animation: u-animate-spin 1s infinite linear;
  -moz-animation: u-animate-spin 1s infinite linear;
  -o-animation: u-animate-spin 1s infinite linear;
  animation: u-animate-spin 1s infinite linear;
}
/* line 114, ../../scss/core/Tree.scss */
.a-TreeView .is-processing > .a-TreeView-toggle:before {
  content: "\e01e";
}

/* ==========================================================================
Tree Row
---
Empty Element that is used to provide highlighting of tree
 ========================================================================== */
/* line 124, ../../scss/core/Tree.scss */
.a-TreeView-row {
  cursor: default;
  -moz-user-select: none;
  position: absolute;
  left: 0;
  width: 100%;
  height: 24px;
}

/* line 135, ../../scss/core/Tree.scss */
.a-TreeView-row.is-focused {
  outline: 1px dotted;
}

/* ==========================================================================
Tree Node Content
 ========================================================================== */
/* line 141, ../../scss/core/Tree.scss */
.a-TreeView-content {
  position: relative;
  white-space: nowrap;
  line-height: 16px;
  font-size: 12px;
  padding: 4px;
  display: block;
  vertical-align: top;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
/* line 155, ../../scss/core/Tree.scss */
.a-TreeView-content .a-Icon {
  vertical-align: top;
}
/* line 159, ../../scss/core/Tree.scss */
.a-TreeView-content .a-Icon,
.a-TreeView-content .fa {
  cursor: default;
}

/* line 163, ../../scss/core/Tree.scss */
.a-TreeView-content.is-disabled .a-TreeView-label {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}

/* ==========================================================================
Tree Node Label
 ========================================================================== */
/* line 170, ../../scss/core/Tree.scss */
.a-TreeView-label {
  cursor: default;
  line-height: 16px;
  padding: 4px 0;
  margin-left: 4px;
  vertical-align: top;
}
/* line 176, ../../scss/core/Tree.scss */
.a-TreeView-label:focus {
  outline: none;
}
/* line 179, ../../scss/core/Tree.scss */
.a-TreeView.u-RTL .a-TreeView-label {
  margin-left: 0;
  margin-right: 4px;
}

/* line 184, ../../scss/core/Tree.scss */
.a-TreeView-label input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  line-height: 1;
  padding: 2px 4px;
  border-radius: 2px;
  height: 16px;
}
/* line 192, ../../scss/core/Tree.scss */
.a-TreeView-label input:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
}

/* ==========================================================================
Drag and Drop
 ========================================================================== */
/* line 201, ../../scss/core/Tree.scss */
.a-TreeView-dragHelper {
  border: 1px solid;
  border-radius: 2px;
  padding: 4px;
  max-height: 200px;
  overflow: hidden;
}

/* line 215, ../../scss/core/Tree.scss */
.a-TreeView-placeholder > .a-TreeView-content:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  top: 0;
  bottom: 0;
  margin: 4px 4px 4px 0;
  border-radius: 2px;
}
