.gi-icon-admin-dashboards { background-image: url('icons/admin-dashboards.png'); background-repeat: no-repeat; }

.gi-icon-admin-manage-instance { background-image: url('icons/admin-manage-instance.png'); background-repeat: no-repeat; }

.gi-icon-admin-manage-requests { background-image: url('icons/admin-manage-requests.png'); background-repeat: no-repeat; }

.gi-icon-admin-manage-service { background-image: url('icons/admin-manage-service.png'); background-repeat: no-repeat; }

.gi-icon-admin-manage-users { background-image: url('icons/admin-manage-users.png'); background-repeat: no-repeat; }

.gi-icon-admin-manage-workspaces { background-image: url('icons/admin-manage-workspaces.png'); background-repeat: no-repeat; }

.gi-icon-admin-monitor-activity { background-image: url('icons/admin-monitor-activity.png'); background-repeat: no-repeat; }

.gi-icon-admin-utilization-report { background-image: url('icons/admin-utilization-report.png'); background-repeat: no-repeat; }

.gi-icon-apex-logo-icon { background-image: url('icons/apex-logo-icon.png'); background-repeat: no-repeat; }

.gi-icon-apex-logo { background-image: url('icons/apex-logo.png'); background-repeat: no-repeat; }

.gi-icon-apex-sql-script { background-image: url('icons/apex-sql-script.png'); background-repeat: no-repeat; }

.gi-icon-apex-utilities { background-image: url('icons/apex-utilities.png'); background-repeat: no-repeat; }

.gi-icon-app-builder-create-app { background-image: url('icons/app-builder-create-app.png'); background-repeat: no-repeat; }

.gi-icon-app-builder-export-app { background-image: url('icons/app-builder-export-app.png'); background-repeat: no-repeat; }

.gi-icon-app-builder-export-import { background-image: url('icons/app-builder-export-import.png'); background-repeat: no-repeat; }

.gi-icon-app-builder-import-app { background-image: url('icons/app-builder-import-app.png'); background-repeat: no-repeat; }

.gi-icon-app-builder-run-app { background-image: url('icons/app-builder-run-app.png'); background-repeat: no-repeat; }

.gi-icon-app-builder-shared-components { background-image: url('icons/app-builder-shared-components.png'); background-repeat: no-repeat; }

.gi-icon-app-builder { background-image: url('icons/app-builder.png'); background-repeat: no-repeat; }

.gi-icon-create-app-desktop { background-image: url('icons/create-app-desktop.png'); background-repeat: no-repeat; }

.gi-icon-create-app-mobile { background-image: url('icons/create-app-mobile.png'); background-repeat: no-repeat; }

.gi-icon-create-app-pkg-apps { background-image: url('icons/create-app-pkg-apps.png'); background-repeat: no-repeat; }

.gi-icon-create-app-websheet { background-image: url('icons/create-app-websheet.png'); background-repeat: no-repeat; }

.gi-icon-icon-app-apex { background-image: url('icons/icon-app-apex.png'); background-repeat: no-repeat; }

.gi-icon-icon-app-pkg-app { background-image: url('icons/icon-app-pkg-app.png'); background-repeat: no-repeat; }

.gi-icon-icon-app-websheet { background-image: url('icons/icon-app-websheet.png'); background-repeat: no-repeat; }

.gi-icon-input-select-large { background-image: url('icons/input-select-large.png'); background-repeat: no-repeat; }

.gi-icon-pkg-app-chg-auth { background-image: url('icons/pkg-app-chg-auth.png'); background-repeat: no-repeat; }

.gi-icon-pkg-app-install { background-image: url('icons/pkg-app-install.png'); background-repeat: no-repeat; }

.gi-icon-pkg-app-remove { background-image: url('icons/pkg-app-remove.png'); background-repeat: no-repeat; }

.gi-icon-pkg-app-unlock { background-image: url('icons/pkg-app-unlock.png'); background-repeat: no-repeat; }

.gi-icon-pkg-apps-admin { background-image: url('icons/pkg-apps-admin.png'); background-repeat: no-repeat; }

.gi-icon-pkg-apps { background-image: url('icons/pkg-apps.png'); background-repeat: no-repeat; }

.gi-icon-splitter-down { background-image: url('icons/splitter-down.png'); background-repeat: no-repeat; }

.gi-icon-splitter-left { background-image: url('icons/splitter-left.png'); background-repeat: no-repeat; }

.gi-icon-splitter-right { background-image: url('icons/splitter-right.png'); background-repeat: no-repeat; }

.gi-icon-splitter-up { background-image: url('icons/splitter-up.png'); background-repeat: no-repeat; }

.gi-icon-sql-workshop-commands { background-image: url('icons/sql-workshop-commands.png'); background-repeat: no-repeat; }

.gi-icon-sql-workshop-object-browser { background-image: url('icons/sql-workshop-object-browser.png'); background-repeat: no-repeat; }

.gi-icon-sql-workshop-rest { background-image: url('icons/sql-workshop-rest.png'); background-repeat: no-repeat; }

.gi-icon-sql-workshop { background-image: url('icons/sql-workshop.png'); background-repeat: no-repeat; }

.gi-icon-team-dev-bugs { background-image: url('icons/team-dev-bugs.png'); background-repeat: no-repeat; }

.gi-icon-team-dev-features { background-image: url('icons/team-dev-features.png'); background-repeat: no-repeat; }

.gi-icon-team-dev-feedback { background-image: url('icons/team-dev-feedback.png'); background-repeat: no-repeat; }

.gi-icon-team-dev-milestones { background-image: url('icons/team-dev-milestones.png'); background-repeat: no-repeat; }

.gi-icon-team-dev-todos { background-image: url('icons/team-dev-todos.png'); background-repeat: no-repeat; }

.gi-icon-team-dev { background-image: url('icons/team-dev.png'); background-repeat: no-repeat; }

.gi-icon-user-no-photo { background-image: url('icons/user-no-photo.png'); background-repeat: no-repeat; }

