.app-apex-application-archive { background-image: url('icons/pkg-apps/favicons/app-apex-application-archive.png'); background-repeat: no-repeat; }

.app-application-standards-tracker { background-image: url('icons/pkg-apps/favicons/app-application-standards-tracker.png'); background-repeat: no-repeat; }

.app-artwork-catalog { background-image: url('icons/pkg-apps/favicons/app-artwork-catalog.png'); background-repeat: no-repeat; }

.app-bug-tracking { background-image: url('icons/pkg-apps/favicons/app-bug-tracking.png'); background-repeat: no-repeat; }

.app-checklist-manager { background-image: url('icons/pkg-apps/favicons/app-checklist-manager.png'); background-repeat: no-repeat; }

.app-community-requests { background-image: url('icons/pkg-apps/favicons/app-community-requests.png'); background-repeat: no-repeat; }

.app-customer-tracker { background-image: url('icons/pkg-apps/favicons/app-customer-tracker.png'); background-repeat: no-repeat; }

.app-data-reporter { background-image: url('icons/pkg-apps/favicons/app-data-reporter.png'); background-repeat: no-repeat; }

.app-decision-manager { background-image: url('icons/pkg-apps/favicons/app-decision-manager.png'); background-repeat: no-repeat; }

.app-expertise-tracker { background-image: url('icons/pkg-apps/favicons/app-expertise-tracker.png'); background-repeat: no-repeat; }

.app-feedback { background-image: url('icons/pkg-apps/favicons/app-feedback.png'); background-repeat: no-repeat; }

.app-go-live-checklist { background-image: url('icons/pkg-apps/favicons/app-go-live-checklist.png'); background-repeat: no-repeat; }

.app-group-calendar { background-image: url('icons/pkg-apps/favicons/app-group-calendar.png'); background-repeat: no-repeat; }

.app-incident-tracking { background-image: url('icons/pkg-apps/favicons/app-incident-tracking.png'); background-repeat: no-repeat; }

.app-issue-tracker { background-image: url('icons/pkg-apps/favicons/app-issue-tracker.png'); background-repeat: no-repeat; }

.app-live-poll { background-image: url('icons/pkg-apps/favicons/app-live-poll.png'); background-repeat: no-repeat; }

.app-meeting-minutes { background-image: url('icons/pkg-apps/favicons/app-meeting-minutes.png'); background-repeat: no-repeat; }

.app-opportunity-tracker { background-image: url('icons/pkg-apps/favicons/app-opportunity-tracker.png'); background-repeat: no-repeat; }

.app-p-track { background-image: url('icons/pkg-apps/favicons/app-p-track.png'); background-repeat: no-repeat; }

.app-sample-brookstrut { background-image: url('icons/pkg-apps/favicons/app-sample-brookstrut.png'); background-repeat: no-repeat; }

.app-sample-calendar { background-image: url('icons/pkg-apps/favicons/app-sample-calendar.png'); background-repeat: no-repeat; }

.app-sample-charts { background-image: url('icons/pkg-apps/favicons/app-sample-charts.png'); background-repeat: no-repeat; }

.app-sample-collections { background-image: url('icons/pkg-apps/favicons/app-sample-collections.png'); background-repeat: no-repeat; }

.app-sample-data-loading { background-image: url('icons/pkg-apps/favicons/app-sample-data-loading.png'); background-repeat: no-repeat; }

.app-sample-database-application { background-image: url('icons/pkg-apps/favicons/app-sample-database-application.png'); background-repeat: no-repeat; }

.app-sample-dialog { background-image: url('icons/pkg-apps/favicons/app-sample-dialog.png'); background-repeat: no-repeat; }

.app-sample-dynamic-actions { background-image: url('icons/pkg-apps/favicons/app-sample-dynamic-actions.png'); background-repeat: no-repeat; }

.app-sample-file-upload-download { background-image: url('icons/pkg-apps/favicons/app-sample-file-upload-download.png'); background-repeat: no-repeat; }

.app-sample-forms { background-image: url('icons/pkg-apps/favicons/app-sample-forms.png'); background-repeat: no-repeat; }

.app-sample-geolocation { background-image: url('icons/pkg-apps/favicons/app-sample-geolocation.png'); background-repeat: no-repeat; }

.app-sample-lists { background-image: url('icons/pkg-apps/favicons/app-sample-lists.png'); background-repeat: no-repeat; }

.app-sample-master-detail { background-image: url('icons/pkg-apps/favicons/app-sample-master-detail.png'); background-repeat: no-repeat; }

.app-sample-reporting { background-image: url('icons/pkg-apps/favicons/app-sample-reporting.png'); background-repeat: no-repeat; }

.app-sample-search { background-image: url('icons/pkg-apps/favicons/app-sample-search.png'); background-repeat: no-repeat; }

.app-sample-trees { background-image: url('icons/pkg-apps/favicons/app-sample-trees.png'); background-repeat: no-repeat; }

.app-sample-universal-theme { background-image: url('icons/pkg-apps/favicons/app-sample-universal-theme.png'); background-repeat: no-repeat; }

.app-sample-wizard { background-image: url('icons/pkg-apps/favicons/app-sample-wizard.png'); background-repeat: no-repeat; }

.app-survey-builder { background-image: url('icons/pkg-apps/favicons/app-survey-builder.png'); background-repeat: no-repeat; }

.app-systems-catalog { background-image: url('icons/pkg-apps/favicons/app-systems-catalog.png'); background-repeat: no-repeat; }

.app-use-case-status { background-image: url('icons/pkg-apps/favicons/app-use-case-status.png'); background-repeat: no-repeat; }

.app-websheet-any-co { background-image: url('icons/pkg-apps/favicons/app-websheet-any-co.png'); background-repeat: no-repeat; }

.app-websheet-big-cats { background-image: url('icons/pkg-apps/favicons/app-websheet-big-cats.png'); background-repeat: no-repeat; }

