.u-textRight, .u-tR { text-align: right; }

.u-textLeft, .u-tL { text-align: left; }

.u-textCenter, .u-tC { text-align: center; }

.u-textUpper { text-transform: uppercase; }

.u-textLower { text-transform: lowercase; }

.u-textInitCap { text-transform: capitalize; }
