/******************************************************************************
Sprite Mixin
******************************************************************************/
/******************************************************************************
Extendible Sprite Class
******************************************************************************/
/* line 106, ../../scss/modules/_common.scss */
.visuallyhidden, .u-VisuallyHidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* line 108, ../../scss/modules/_common.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus, .u-VisuallyHidden.is-focusable:active, .u-VisuallyHidden.is-focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
