/* ==========================================================================
 Report Utility Class
 ========================================================================== */
/* line 5, ../../../scss/core/util/u-Report.scss */
.u-Report {
  border-collapse: collapse;
  table-layout: auto;
  border-spacing: 0;
}
/* line 9, ../../../scss/core/util/u-Report.scss */
.u-Report th {
  background-color: #F8F8F8;
  vertical-align: bottom;
  padding: 8px;
  color: #404040;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
}
/* line 17, ../../../scss/core/util/u-Report.scss */
.u-Report td {
  padding: 4px 8px;
  color: #404040;
  transition: background-color .1s;
}
/* line 22, ../../../scss/core/util/u-Report.scss */
.u-Report tr:nth-child(even) td {
  background-color: #FAFAFA;
}
