/** 
 * Import Compass
 */
/* ==========================================================================
   Button Region
   ========================================================================== */
/* line 10, ../../scss/core/ButtonRegion.scss */
.a-ButtonRegion {
  border: 1px solid #E0E0E0;
  background-color: #F8F8F8;
  border-radius: 2px;
  margin-bottom: 16px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

/* line 17, ../../scss/core/ButtonRegion.scss */
.a-Region + .a-ButtonRegion {
  margin-top: 16px;
}

/* line 20, ../../scss/core/ButtonRegion.scss */
.a-ButtonRegion-wrap {
  display: table;
  width: 100%;
  border-collapse: collapse;
}

/* line 25, ../../scss/core/ButtonRegion.scss */
.a-ButtonRegion-title {
  display: none;
}

/* line 28, ../../scss/core/ButtonRegion.scss */
.a-ButtonRegion-col {
  display: table-cell;
  width: 33%;
  vertical-align: middle;
}

/* line 33, ../../scss/core/ButtonRegion.scss */
.a-ButtonRegion-buttons {
  white-space: nowrap;
}
/* line 35, ../../scss/core/ButtonRegion.scss */
.a-ButtonRegion-buttons:empty {
  display: none;
}

/* line 43, ../../scss/core/ButtonRegion.scss */
.a-ButtonRegion-col--left .a-ButtonRegion-buttons {
  text-align: left;
}

/* line 46, ../../scss/core/ButtonRegion.scss */
.a-ButtonRegion-col--content .a-ButtonRegion-buttons {
  text-align: center;
}

/* line 49, ../../scss/core/ButtonRegion.scss */
.a-ButtonRegion-col--right .a-ButtonRegion-buttons {
  text-align: right;
}

/* line 54, ../../scss/core/ButtonRegion.scss */
.a-ButtonRegion-col--left .a-ButtonRegion-buttons,
.a-ButtonRegion-col--right .a-ButtonRegion-buttons,
.a-ButtonRegion-col--content {
  padding: 16px;
}

/* ==========================================================================
   Modifier: No UI (used for Wizard Dialogs)
   ========================================================================== */
/* line 63, ../../scss/core/ButtonRegion.scss */
.a-EditScreen-header .a-ButtonRegion,
.a-Dialog--wizard .a-ButtonRegion,
.a-Dialog--dialogRegion .a-ButtonRegion,
.a-Wizard-buttons .a-ButtonRegion,
.a-ButtonRegion--noUI {
  border-width: 0;
  background-color: transparent;
  box-shadow: none;
  margin: 0;
}

/* ==========================================================================
   Modifier: Borderless
   ========================================================================== */
/* line 77, ../../scss/core/ButtonRegion.scss */
.a-ButtonRegion--noBorder {
  border-width: 0;
}
/* line 79, ../../scss/core/ButtonRegion.scss */
.a-ButtonRegion--noBorder + .a-Region {
  border-top-width: 0;
}

/* ==========================================================================
   Modifier: Slim Padding
   ========================================================================== */
/* line 88, ../../scss/core/ButtonRegion.scss */
.a-ButtonRegion--slimPadding .a-ButtonRegion-col--left .a-ButtonRegion-buttons,
.a-ButtonRegion--slimPadding .a-ButtonRegion-col--right .a-ButtonRegion-buttons,
.a-ButtonRegion--slimPadding .a-ButtonRegion-col--content {
  padding: 8px;
}

/* ==========================================================================
   Modifier: No Padding
   ========================================================================== */
/* line 99, ../../scss/core/ButtonRegion.scss */
.a-ButtonRegion--noPadding .a-ButtonRegion-col--left .a-ButtonRegion-buttons,
.a-ButtonRegion--noPadding .a-ButtonRegion-col--right .a-ButtonRegion-buttons,
.a-ButtonRegion--noPadding .a-ButtonRegion-col--content {
  padding: 0;
}

/* ==========================================================================
   Modifier: No Padding
   ========================================================================== */
/* line 110, ../../scss/core/ButtonRegion.scss */
.a-ButtonRegion--withItems .a-ButtonRegion-col--left,
.a-ButtonRegion--withItems .a-ButtonRegion-col--right {
  width: 0;
}
/* line 113, ../../scss/core/ButtonRegion.scss */
.a-ButtonRegion--withItems .a-ButtonRegion-col--left:empty,
.a-ButtonRegion--withItems .a-ButtonRegion-col--right:empty {
  padding: 0;
}
/* line 117, ../../scss/core/ButtonRegion.scss */
.a-ButtonRegion--withItems .a-ButtonRegion-col--left .a-ButtonRegion-buttons {
  padding-right: 0;
}
/* line 120, ../../scss/core/ButtonRegion.scss */
.a-ButtonRegion--withItems .a-ButtonRegion-col--right .a-ButtonRegion-buttons {
  padding-left: 0;
}
/* line 123, ../../scss/core/ButtonRegion.scss */
.a-ButtonRegion--withItems .a-ButtonRegion-col--content {
  width: 100%;
}
/* line 129, ../../scss/core/ButtonRegion.scss */
.a-ButtonRegion--withItems .a-Form-labelContainer,
.a-ButtonRegion--withItems .a-Form-inputContainer {
  padding-top: 0;
  padding-bottom: 0;
  display: inline-block;
  vertical-align: middle;
}
/* line 136, ../../scss/core/ButtonRegion.scss */
.a-ButtonRegion--withItems .a-Form-labelContainer {
  width: auto;
  float: none;
}
/* line 140, ../../scss/core/ButtonRegion.scss */
.a-ButtonRegion--withItems .apex-col {
  width: auto;
  float: left;
  margin-bottom: 4px;
}
/* line 145, ../../scss/core/ButtonRegion.scss */
.a-ButtonRegion--withItems .apex-row {
  padding-bottom: 4px;
}
/* line 148, ../../scss/core/ButtonRegion.scss */
.a-ButtonRegion--withItems .apex-grid-container .apex-row:last-child {
  padding-bottom: 0;
  margin-bottom: -4px;
}
/* line 153, ../../scss/core/ButtonRegion.scss */
.a-ButtonRegion--withItems.a-Form--labelsAbove .apex-col > .a-Button {
  margin-top: 24px;
}

/* ==========================================================================
   Modifier: Wizard Dialog
   ========================================================================== */
/* line 164, ../../scss/core/ButtonRegion.scss */
.a-ButtonRegion--wizard {
  box-shadow: none;
  border-width: 1px 0 0 0;
  border-radius: 0 0 2px 2px;
  margin-bottom: 0;
}
/* line 169, ../../scss/core/ButtonRegion.scss */
.a-ButtonRegion--wizard.a-ButtonRegion--noBorder, .a-ButtonRegion--wizard.a-ButtonRegion--noUI {
  border-width: 0;
}
/* line 173, ../../scss/core/ButtonRegion.scss */
.a-Main > .a-ButtonRegion--wizard.a-ButtonRegion--noBorder {
  border-bottom-width: 1px;
  border-radius: 0;
}

/* line 179, ../../scss/core/ButtonRegion.scss */
.a-ButtonRegion--dialogRegion {
  box-shadow: none;
  border-radius: 0 0 2px 2px;
  margin-bottom: 0;
  background-color: #FFF;
  border-width: 0;
}
/* line 186, ../../scss/core/ButtonRegion.scss */
.a-ButtonRegion--dialogRegion .a-ButtonRegion-col--left .a-ButtonRegion-buttons,
.a-ButtonRegion--dialogRegion .a-ButtonRegion-col--right .a-ButtonRegion-buttons {
  padding: 12px;
}

/* ==========================================================================
   Modifier: Show Title
   ========================================================================== */
/* line 196, ../../scss/core/ButtonRegion.scss */
.a-ButtonRegion--showTitle .a-ButtonRegion-title {
  display: block;
  font-size: 2.0rem;
  line-height: 1;
  font-weight: normal;
  color: #404040;
}

/* ==========================================================================
   Modifier: Accessible Title
   ========================================================================== */
/* line 209, ../../scss/core/ButtonRegion.scss */
.a-ButtonRegion--accessibleTitle .a-ButtonRegion-title {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 215, ../../scss/core/ButtonRegion.scss */
.a-ButtonRegion + .a-IRR-region--noOuterBorders .a-IRR {
  border-top-width: 1px;
}

/* ==========================================================================
   Modifier: Packaged Apps
   ========================================================================== */
/* line 233, ../../scss/core/ButtonRegion.scss */
.a-ButtonRegion--pkgApps .a-Form-inputContainer {
  padding: 0;
  text-align: center;
  width: 100%;
}
/* line 238, ../../scss/core/ButtonRegion.scss */
.a-ButtonRegion--pkgApps input[type=text].a-Form-field--searchField {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE2IDE2Ij48cGF0aCBkPSJNMTQuNyAxNC43Yy0uNC40LTEgLjQtMS40IDBsLTMuNi0zLjZjLS45LjYtMiAuOS0zLjEuOS0zLjEgMC01LjYtMi41LTUuNi01LjVzMi41LTUuNSA1LjUtNS41IDUuNSAyLjUgNS41IDUuNWMwIDEuMi0uMyAyLjItLjkgMy4xbDMuNiAzLjZjLjQuNS40IDEuMSAwIDEuNXptLTguMi0xMS43Yy0xLjkgMC0zLjUgMS42LTMuNSAzLjVzMS42IDMuNSAzLjUgMy41IDMuNS0xLjYgMy41LTMuNS0xLjYtMy41LTMuNS0zLjV6IiBvcGFjaXR5PSIuNSIgZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGZpbGw9IiMyMzFGMjAiLz48L3N2Zz4=);
  background-position: 12px;
  background-repeat: no-repeat;
  padding-left: 28px;
  background-size: 16px;
  width: 50%;
  min-width: 480px;
  background-color: #fff;
  padding: 8px 36px;
  line-height: 24px;
  height: 40px;
  font-size: 14px;
  font-weight: 300;
}
/* line 254, ../../scss/core/ButtonRegion.scss */
.a-ButtonRegion--pkgApps .ls-Search-clear {
  display: none;
}

/* line 260, ../../scss/core/ButtonRegion.scss */
.a-AppCards.a-AppCards--slim.a-AppCards--grid .a-AppCards-desc {
  display: none;
}
