/* ==========================================================================
   Collapsible Widget
   ---
   Enables Hide/Show regions and more
   ========================================================================== */
