/**
 * Import Compass
 */
/* line 6, ../../scss/core/MediaList.scss */
.a-MediaList-icon, .a-MediaList-title, .a-MediaList-desc, .a-MediaList-badge {
  transition: color .1s, background-color .1s, border-color .1s;
}

/* ==========================================================================
   Media List
   ========================================================================== */
/* line 13, ../../scss/core/MediaList.scss */
.a-MediaList {
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

/* line 19, ../../scss/core/MediaList.scss */
.a-MediaList-item {
  display: table;
  border-collapse: collapse;
  table-layout: auto;
  width: 100%;
  border-bottom: 1px solid;
}
/* line 25, ../../scss/core/MediaList.scss */
.a-MediaList-item:last-child {
  border-bottom-width: 0;
}

/* line 29, ../../scss/core/MediaList.scss */
.a-MediaList-iconWrap,
.a-MediaList-body,
.a-MediaList-badgeWrap {
  display: table-cell;
  padding: 12px 0;
}

/* line 35, ../../scss/core/MediaList.scss */
.a-MediaList-iconWrap,
.a-MediaList-badgeWrap {
  padding: 12px 16px;
}

/* ==========================================================================
   Icon
   ========================================================================== */
/* line 43, ../../scss/core/MediaList.scss */
.a-MediaList-iconWrap {
  text-align: center;
  width: 64px;
  vertical-align: middle;
}

/* line 48, ../../scss/core/MediaList.scss */
.a-MediaList-icon {
  color: #A0A0A0;
}

/* line 52, ../../scss/core/MediaList.scss */
.a-MediaList-icon .a-Icon {
  width: 32px;
  height: 32px;
}
/* line 55, ../../scss/core/MediaList.scss */
.a-MediaList-icon .a-Icon:before {
  font-size: 32px;
}

/* ==========================================================================
   Text
   ========================================================================== */
/* line 63, ../../scss/core/MediaList.scss */
.a-MediaList-title {
  margin: 0;
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 500;
}

/* line 70, ../../scss/core/MediaList.scss */
.a-MediaList-desc {
  margin: 0;
  font-size: 1.4rem;
  line-height: 2rem;
  color: #707070;
}

/* ==========================================================================
   Badge
   ========================================================================== */
/* line 81, ../../scss/core/MediaList.scss */
.a-MediaList-badgeWrap {
  text-align: right;
  width: 1%;
  vertical-align: middle;
}

/* line 86, ../../scss/core/MediaList.scss */
.a-MediaList-badge {
  display: inline-block;
  font-size: 1.4rem;
  line-height: 1.4rem;
  border: 1px solid #F8F8F8;
  background-color: #FAFAFA;
  padding: 8px 10px;
  border-radius: 2px;
  min-width: 32px;
  text-align: center;
}
/* line 97, ../../scss/core/MediaList.scss */
.a-MediaList-badge:empty {
  display: none;
}

/* ==========================================================================
   Link
   ========================================================================== */
/* line 105, ../../scss/core/MediaList.scss */
.a-MediaList-link {
  display: block;
  transition: background-color .1s;
}
/* line 108, ../../scss/core/MediaList.scss */
.a-MediaList-link:hover {
  text-decoration: none;
}

/* ==========================================================================
   Modifier: Circular Icons
   ---
   Places icons inside of a circle
   ========================================================================== */
/* line 119, ../../scss/core/MediaList.scss */
.a-MediaList--circularIcons .a-MediaList-icon {
  display: block;
  background-color: #D6D6D8;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  color: #FFF;
}
/* line 129, ../../scss/core/MediaList.scss */
.a-MediaList--circularIcons .a-MediaList-icon .a-Icon {
  font-size: 1.4rem;
}

/* ==========================================================================
   Modifier: Slim
   ---
   Slimmer List
   ========================================================================== */
/* line 140, ../../scss/core/MediaList.scss */
.a-MediaList--slim {
  /*
   * Text
   **/
  /*
   * Text
   **/
}
/* line 141, ../../scss/core/MediaList.scss */
.a-MediaList--slim .a-MediaList-iconWrap,
.a-MediaList--slim .a-MediaList-body,
.a-MediaList--slim .a-MediaList-badgeWrap {
  display: table-cell;
  padding: 8px 0;
}
/* line 147, ../../scss/core/MediaList.scss */
.a-MediaList--slim .a-MediaList-iconWrap,
.a-MediaList--slim .a-MediaList-badgeWrap {
  padding: 8px 12px;
}
/* line 155, ../../scss/core/MediaList.scss */
.a-MediaList--slim .a-MediaList-title {
  font-size: 1.4rem;
  line-height: 2rem;
}
/* line 159, ../../scss/core/MediaList.scss */
.a-MediaList--slim .a-MediaList-desc {
  font-size: 1.2rem;
  line-height: 1.6rem;
}
/* line 166, ../../scss/core/MediaList.scss */
.a-MediaList--slim .a-MediaList-badge {
  font-size: 1.2rem;
  line-height: 1.4rem;
  padding: 4px 6px;
}

/* ==========================================================================
   Modifier: No Icons
   ---
   Remove Icons
   ========================================================================== */
/* line 180, ../../scss/core/MediaList.scss */
.a-MediaList--noIcons .a-MediaList-iconWrap {
  width: 0;
  padding-right: 0;
}
/* line 183, ../../scss/core/MediaList.scss */
.a-MediaList--noIcons .a-MediaList-iconWrap .a-Icon {
  display: none;
}

/* ==========================================================================
   Modifier: No Title + No Description + No Badge
   ---
   Remove Icons
   ========================================================================== */
/* line 196, ../../scss/core/MediaList.scss */
.a-MediaList--noTitle.a-MediaList--noDesc.a-MediaList--noBadge .a-MediaList-badgeWrap,
.a-MediaList--noTitle.a-MediaList--noDesc.a-MediaList--noBadge .a-MediaList-body {
  display: none;
}
/* line 200, ../../scss/core/MediaList.scss */
.a-MediaList--noTitle.a-MediaList--noDesc.a-MediaList--noBadge .a-MediaList-iconWrap {
  display: block;
  text-align: center;
  width: auto;
}
/* line 205, ../../scss/core/MediaList.scss */
.a-MediaList--noTitle.a-MediaList--noDesc.a-MediaList--noBadge .a-MediaList-icon {
  margin: 24px auto;
  display: block;
}

/* ==========================================================================
   Modifier: No Badge
   ---
   Remove Icons
   ========================================================================== */
/* line 218, ../../scss/core/MediaList.scss */
.a-MediaList--noBadge .a-MediaList-badgeWrap {
  width: 0;
  padding-left: 0;
}
/* line 222, ../../scss/core/MediaList.scss */
.a-MediaList--noBadge .a-MediaList-badge {
  display: none;
}

/* ==========================================================================
   Modifier: Horizontal (Table Based)
   ---
   Arrange list items horizontally using table layout
   ========================================================================== */
/* line 234, ../../scss/core/MediaList.scss */
.a-MediaList--horizontal {
  overflow: hidden;
  display: table;
  table-layout: fixed;
}
/* line 238, ../../scss/core/MediaList.scss */
.a-MediaList--horizontal .a-MediaList-item {
  vertical-align: top;
  display: table-cell;
  width: 1%;
  border-bottom-width: 0;
  border-right: 1px solid #F0F0F0;
}
@media only screen and (max-width: 800px) {
  /* line 238, ../../scss/core/MediaList.scss */
  .a-MediaList--horizontal .a-MediaList-item {
    display: block;
    width: 100%;
    float: none;
    border-bottom-width: 1px;
    border-right-width: 0;
  }
}
/* line 258, ../../scss/core/MediaList.scss */
.a-MediaList--horizontal .a-MediaList-item:last-child {
  border-right: none;
}
/* line 261, ../../scss/core/MediaList.scss */
.a-MediaList--horizontal .a-MediaList-item .a-MediaList-iconWrap,
.a-MediaList--horizontal .a-MediaList-item .a-MediaList-badgeWrap {
  vertical-align: top;
}

/* ==========================================================================
   Modifier: Blocks
   ---
   Blocks
   ========================================================================== */
/* line 273, ../../scss/core/MediaList.scss */
.a-MediaList--cols {
  overflow: hidden;
}
/* line 275, ../../scss/core/MediaList.scss */
.a-MediaList--cols .a-MediaList-item {
  display: block;
  float: left;
  border-bottom-width: 0;
  position: relative;
}
/* line 280, ../../scss/core/MediaList.scss */
.a-MediaList--cols .a-MediaList-item .a-MediaList-iconWrap,
.a-MediaList--cols .a-MediaList-item .a-MediaList-badgeWrap {
  vertical-align: top;
}
/* line 284, ../../scss/core/MediaList.scss */
.a-MediaList--cols .a-MediaList-item:before, .a-MediaList--cols .a-MediaList-item:after {
  content: '';
  position: absolute;
  background-color: #F8F8F8;
}
/* line 290, ../../scss/core/MediaList.scss */
.a-MediaList--cols .a-MediaList-item:after {
  top: 0;
  bottom: 0;
  width: 1px;
  right: -1px;
}
/* line 296, ../../scss/core/MediaList.scss */
.a-MediaList--cols .a-MediaList-item:before {
  left: 0;
  right: 0;
  height: 1px;
  bottom: -1px;
}
/* line 302, ../../scss/core/MediaList.scss */
.a-MediaList--cols .a-MediaList-item .a-MediaList-desc {
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 307, ../../scss/core/MediaList.scss */
.a-MediaList--cols.a-MediaList--2cols .a-MediaList-item {
  width: 50%;
}
/* line 309, ../../scss/core/MediaList.scss */
.a-MediaList--cols.a-MediaList--2cols .a-MediaList-item:nth-child(2n+1) {
  clear: both;
}
/* line 313, ../../scss/core/MediaList.scss */
.a-MediaList--cols.a-MediaList--3cols .a-MediaList-item {
  width: 33.333%;
}
/* line 315, ../../scss/core/MediaList.scss */
.a-MediaList--cols.a-MediaList--3cols .a-MediaList-item:nth-child(3n+1) {
  clear: both;
}
/* line 319, ../../scss/core/MediaList.scss */
.a-MediaList--cols.a-MediaList--4cols .a-MediaList-item {
  width: 25%;
}
/* line 321, ../../scss/core/MediaList.scss */
.a-MediaList--cols.a-MediaList--4cols .a-MediaList-item:nth-child(4n+1) {
  clear: both;
}
/* line 325, ../../scss/core/MediaList.scss */
.a-MediaList--cols.a-MediaList--5cols .a-MediaList-item {
  width: 20%;
}
/* line 327, ../../scss/core/MediaList.scss */
.a-MediaList--cols.a-MediaList--5cols .a-MediaList-item:nth-child(5n+1) {
  clear: both;
}

/* ==========================================================================
   Modifier: Hide Description
   ---
   Hide Description
   ========================================================================== */
/* line 342, ../../scss/core/MediaList.scss */
.a-MediaList--noDesc .a-MediaList-iconWrap,
.a-MediaList--noDesc .a-MediaList-badgeWrap,
.a-MediaList--noDesc .a-MediaList-body, .a-MediaList--noDesc.a-MediaList--cols .a-MediaList-iconWrap,
.a-MediaList--noDesc.a-MediaList--cols .a-MediaList-badgeWrap,
.a-MediaList--noDesc.a-MediaList--cols .a-MediaList-body, .a-MediaList--noDesc.a-MediaList--horizontal .a-MediaList-iconWrap,
.a-MediaList--noDesc.a-MediaList--horizontal .a-MediaList-badgeWrap,
.a-MediaList--noDesc.a-MediaList--horizontal .a-MediaList-body {
  vertical-align: middle;
}
/* line 348, ../../scss/core/MediaList.scss */
.a-MediaList--noDesc .a-MediaList-desc {
  display: none;
}

/* ==========================================================================
   Modifier: Hide Title
   ---
   Hide Description
   ========================================================================== */
/* line 367, ../../scss/core/MediaList.scss */
.a-MediaList--noTitle .a-MediaList-title {
  display: none;
}

/* ==========================================================================
   Modifier: Buttons
   ---
   Hide Description
   ========================================================================== */
/* line 378, ../../scss/core/MediaList.scss */
.a-MediaList--buttons .a-MediaList-item {
  padding: 8px;
}
/* line 380, ../../scss/core/MediaList.scss */
.a-MediaList--buttons .a-MediaList-item:before, .a-MediaList--buttons .a-MediaList-item:after {
  display: none;
}
/* line 385, ../../scss/core/MediaList.scss */
.a-MediaList--buttons .a-MediaList-link {
  background-color: #F9F9F9;
  border: none;
  border-radius: 2px;
  background-clip: padding-box;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.125) inset;
  color: #404040;
}
/* line 392, ../../scss/core/MediaList.scss */
.a-MediaList--buttons .a-MediaList-link:hover {
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(0, 0, 0, 0.125) inset;
}
/* line 395, ../../scss/core/MediaList.scss */
.a-MediaList--buttons .a-MediaList-link:active {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset;
  background-color: #1d66a9;
}
