/* ==========================================================================
   Page Search
   ========================================================================== */
/* line 10, ../../scss/core/PageSearch.scss */
.a-PageSearch-noResults {
  padding: 12px;
  font-size: 14px;
  line-height: 20px;
  color: #707070;
  margin: 0;
}
