/* ==========================================================================
   Property Editor
   ========================================================================== */
/* line 12, ../../scss/core/PropertyEditor.scss */
.ui-dialog .a-PropertyEditor {
  max-height: 400px;
  overflow: auto;
}

/* Property Editor Groups
   ========================================================================== */
/* line 19, ../../scss/core/PropertyEditor.scss */
.a-PropertyEditor-propertyGroup {
  border-width: 1px 0;
  border-style: solid;
  margin-top: -1px;
  display: block;
  background-clip: padding-box;
}
/* line 35, ../../scss/core/PropertyEditor.scss */
.a-PropertyEditor-propertyGroup.is-collapsed .a-PropertyEditor-propertyGroup-header {
  border-bottom: none;
}
/* line 38, ../../scss/core/PropertyEditor.scss */
.a-PropertyEditor-propertyGroup.is-collapsed .a-PropertyEditor-propertyGroup-body {
  display: none;
}

/* line 47, ../../scss/core/PropertyEditor.scss */
.a-PropertyEditor-propertyGroup-header .a-Icon {
  margin: 0;
}

/* line 56, ../../scss/core/PropertyEditor.scss */
.a-PropertyEditor-propertyGroup-body {
  border-top: 1px solid;
  margin-bottom: -1px;
}
/* line 60, ../../scss/core/PropertyEditor.scss */
.a-PropertyEditor-propertyGroup-body .a-Property {
  border-top: 1px solid;
  border-bottom: 1px solid;
  margin-top: -1px;
}

/**
 * Modifier: is-empty
 *
 * Used when an error message is displayed
 */
/* line 77, ../../scss/core/PropertyEditor.scss */
.a-PropertyEditor.is-empty {
  height: 100%;
  overflow: hidden;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 83, ../../scss/core/PropertyEditor.scss */
.a-PropertyEditor-message {
  text-align: center;
  padding: 12px;
  color: #909090;
  width: 100%;
}

/* line 89, ../../scss/core/PropertyEditor.scss */
.a-PropertyEditor-messageText {
  color: #404040;
  margin: 0;
}

/* line 93, ../../scss/core/PropertyEditor.scss */
.a-PropertyEditor-editParent {
  text-align: center;
  padding: 6px 8px;
}
@media only screen and (max-width: 1024px) {
  /* line 93, ../../scss/core/PropertyEditor.scss */
  .a-PropertyEditor-editParent {
    padding: 2px 8px;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1279px) {
  /* line 93, ../../scss/core/PropertyEditor.scss */
  .a-PropertyEditor-editParent {
    padding: 4px 8px;
  }
}
