/* ==========================================================================
   Theme Configuration File
   ========================================================================== */
/**
 * Base Colors
 * 
 * Description:
 * Provides a base for the UI.
 * 
 * Usage:
 * General UI Background, Region Headers, Buttons
 */
/**
 * Highlight Colors
 * 
 * Description:
 * Used for providing emphasis or importance to UI components.
 * 
 * Usage:
 * Region Headers, Primary / Hot Buttons
 */
/**
 * Accent and Status Colors
 * 
 * Description:
 * Used for indicating state-based UI components, status, or accents.
 * 
 * Usage:
 * Warnings, Errors, Danger Text, Success, Focus
 */
/**
 * Application Based Colors
 * 
 * Description:
 * Used for applications within APEX development
 */
/* ==========================================================================
   Interactive Report Styles
   ========================================================================== */
/* line 11, ../../scss/core/RegionDisplaySelector.scss */
.apex-page-anchors {
  overflow: hidden;
}
/* line 13, ../../scss/core/RegionDisplaySelector.scss */
.apex-page-anchors .apex-rds-container {
  padding-bottom: 0;
  overflow: visible;
}

/* line 23, ../../scss/core/RegionDisplaySelector.scss */
ul.apex-rds {
  margin: 0;
  padding: 0;
  list-style: none;
  box-shadow: 0 -1px 0 #E0E0E0 inset;
  display: table;
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}
/* line 32, ../../scss/core/RegionDisplaySelector.scss */
ul.apex-rds li {
  display: table-cell;
}
/* line 34, ../../scss/core/RegionDisplaySelector.scss */
ul.apex-rds li a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
  text-align: center;
  display: block;
  padding: 8px;
  font-size: 11px;
  line-height: 16px;
  color: #404040;
}
/* line 45, ../../scss/core/RegionDisplaySelector.scss */
ul.apex-rds li a:focus {
  box-shadow: 0 0 0 1px #399bea inset, 0 0 0 1px #399bea, 0 0 1px 1px rgba(57, 155, 234, 0.5) !important;
  outline: none;
  z-index: 110;
  position: relative;
}
/* line 54, ../../scss/core/RegionDisplaySelector.scss */
ul.apex-rds li a:hover {
  background-color: #FFF;
  box-shadow: -1px 0 0 #E0E0E0 inset, 1px 0 0 #E0E0E0 inset, 0 1px 0 #E0E0E0 inset, 0 -1px 0 #E0E0E0 inset;
  text-decoration: none;
}
/* line 59, ../../scss/core/RegionDisplaySelector.scss */
ul.apex-rds li a:active {
  background-color: #E0E0E0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15) inset;
}
/* line 64, ../../scss/core/RegionDisplaySelector.scss */
ul.apex-rds li.apex-rds-selected a {
  background-color: #FFF;
  box-shadow: -1px 0 0 #E0E0E0 inset, 1px 0 0 #E0E0E0 inset, 0 2px 0 #6cabe5 inset;
}

/* line 70, ../../scss/core/RegionDisplaySelector.scss */
.apex-rds-item--hint {
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: 0 -1px 0 #E0E0E0 inset;
}
