/* ==========================================================================
   Time Line
   ========================================================================== */
/* Block + Block Headers
   ========================================================================== */
/* line 19, ../../scss/core/StatusList.scss */
.a-StatusList-blockHeader {
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
  color: #404040;
  padding: 12px;
  background-color: white;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
}

/* line 28, ../../scss/core/StatusList.scss */
.a-StatusList-headerTextPrimary,
.a-StatusList-headerTextAlt {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: top;
}

/* line 36, ../../scss/core/StatusList.scss */
.a-StatusList-headerTextPrimary {
  width: 75%;
}

/* line 39, ../../scss/core/StatusList.scss */
.a-StatusList-headerTextAlt {
  width: 25%;
  color: #707070;
  text-align: right;
}

/* Time Line List
   ========================================================================== */
/* line 47, ../../scss/core/StatusList.scss */
.a-StatusList-list {
  display: block;
  list-style: none;
  margin: 4px 0;
  padding: 0;
}

/* line 53, ../../scss/core/StatusList.scss */
.a-StatusList-item {
  overflow: hidden;
  position: relative;
}

/* line 57, ../../scss/core/StatusList.scss */
.a-StatusList-itemMarker {
  float: left;
}

/* line 60, ../../scss/core/StatusList.scss */
.a-StatusList-itemBody {
  overflow: hidden;
}

/* Time Line Marker
   ========================================================================== */
/* Time Line Item Title
   ========================================================================== */
/* line 70, ../../scss/core/StatusList.scss */
.a-StatusList-itemTitle {
  margin: 8px 0 4px 0;
  font-size: 12px;
  line-height: 24px;
  color: #404040;
}

/* Time Line Item Description
   ========================================================================== */
/* line 78, ../../scss/core/StatusList.scss */
.a-StatusList-itemAttrs {
  margin-bottom: 8px;
}

/* Time Line Item Attributes
   ========================================================================== */
/* line 84, ../../scss/core/StatusList.scss */
.a-StatusList-attr {
  display: inline-block;
  font-size: 11px;
  line-height: 14px;
  white-space: nowrap;
  margin-right: 16px;
  color: #707070;
}

/* line 92, ../../scss/core/StatusList.scss */
.a-StatusList-attrLabel {
  font-weight: bold;
}

/* Time Line Item Description
   ========================================================================== */
/* line 100, ../../scss/core/StatusList.scss */
.a-StatusList-textDesc {
  font-size: 14px;
  line-height: 20px;
  color: #707070;
  margin: -4px 0 8px 0;
}

/* Time Line Stateful Modifiers
   ========================================================================== */
/* Modifier: Dates
   ========================================================================== */
/* line 116, ../../scss/core/StatusList.scss */
.a-StatusList--dates .a-StatusList-itemMarker {
  width: 28px;
  position: relative;
  margin: 8px 12px;
}
/* line 121, ../../scss/core/StatusList.scss */
.a-StatusList--dates .a-StatusList-marker {
  display: block;
  color: #707070;
  font-size: 12px;
  line-height: 20px;
  height: 24px;
  padding-top: 4px;
  border-radius: 2px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset;
  background-color: #FFF;
  color: #707070;
  text-align: center;
}
/* line 134, ../../scss/core/StatusList.scss */
.a-StatusList--dates .a-StatusList-marker:after {
  content: '';
  position: absolute;
  height: 4px;
  left: 0;
  right: 0;
  top: 0;
  background-color: #A0A0A0;
  border-radius: 2px 2px 0 0;
}
/* line 148, ../../scss/core/StatusList.scss */
.a-StatusList--dates .a-StatusList-item.is-complete
.a-StatusList-marker:after {
  background-color: #707070;
}
/* line 153, ../../scss/core/StatusList.scss */
.a-StatusList--dates .a-StatusList-item.is-danger
.a-StatusList-marker:after {
  background-color: #ff3b30;
}
/* line 158, ../../scss/core/StatusList.scss */
.a-StatusList--dates .a-StatusList-item.is-open
.a-StatusList-marker:after {
  background-color: #4cd964;
}
/* line 163, ../../scss/core/StatusList.scss */
.a-StatusList--dates .a-StatusList-item.is-warning
.a-StatusList-marker:after {
  background-color: #ffcc00;
}
/* line 169, ../../scss/core/StatusList.scss */
.a-StatusList--dates .a-StatusList-item.is-null .a-StatusList-marker:after {
  background-color: #F0F0F0;
}
/* line 172, ../../scss/core/StatusList.scss */
.a-StatusList--dates .a-StatusList-item.is-null .a-StatusList-marker {
  color: #A0A0A0;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05) inset;
}

/* Modifier: Bullets
   ========================================================================== */
/* line 183, ../../scss/core/StatusList.scss */
.a-StatusList--bullets .a-StatusList-itemMarker {
  width: 32px;
  text-align: center;
  margin-right: 4px;
}
/* line 188, ../../scss/core/StatusList.scss */
.a-StatusList--bullets .a-StatusList-marker {
  margin: 12px 0;
  display: inline-block;
  font-size: 11px;
  text-indent: -999px;
  width: 16px;
  height: 16px;
  line-height: 14px;
  text-align: center;
  border-radius: 24px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: #fff;
  position: relative;
  z-index: 10;
  color: #404040;
}
/* line 206, ../../scss/core/StatusList.scss */
.a-StatusList--bullets .a-StatusList-item.is-complete
.a-StatusList-marker {
  background-color: #707070;
  border: none;
}
/* line 212, ../../scss/core/StatusList.scss */
.a-StatusList--bullets .a-StatusList-item.is-danger
.a-StatusList-marker {
  background-color: #ff3b30;
  border: none;
}
/* line 218, ../../scss/core/StatusList.scss */
.a-StatusList--bullets .a-StatusList-item.is-open
.a-StatusList-marker {
  background-color: #4cd964;
  border: none;
}
/* line 224, ../../scss/core/StatusList.scss */
.a-StatusList--bullets .a-StatusList-item.is-warning
.a-StatusList-marker {
  background-color: #ffcc00;
  border: none;
}
/* line 230, ../../scss/core/StatusList.scss */
.a-StatusList--bullets .a-StatusList-item.is-null
.a-StatusList-marker {
  background-color: #D0D0D0;
  color: #A0A0A0;
  border: none;
}
