/* ==========================================================================
   Toolbar
   ========================================================================== */
/**
 * Core Toolbar
 *
 * Toolbar can be used for positioning buttons, input fields, menus, etc
 * usually positioned below the header, but above the body
 */
/* line 18, ../../scss/core/Toolbar.scss */
.a-Toolbar {
  overflow: hidden;
  display: table;
  width: 100%;
}

/* line 25, ../../scss/core/Toolbar.scss */
.a-Toolbar--padded .a-Toolbar-items {
  padding: 8px;
}

/* line 29, ../../scss/core/Toolbar.scss */
.a-Toolbar-items {
  display: table-cell;
  vertical-align: top;
}

/* line 52, ../../scss/core/Toolbar.scss */
.a-Toolbar-items--right {
  text-align: right;
}

/* line 60, ../../scss/core/Toolbar.scss */
.a-Toolbar-pageColumn {
  background-color: #FFF;
  border-bottom: 1px solid #E0E0E0;
  position: relative;
}
/* line 64, ../../scss/core/Toolbar.scss */
.a-Toolbar-pageColumn .a-Toolbar-items {
  padding: 8px;
}
@media only screen and (min-width: 1025px) and (max-width: 1279px) {
  /* line 64, ../../scss/core/Toolbar.scss */
  .a-Toolbar-pageColumn .a-Toolbar-items {
    padding: 4px 8px;
  }
}
@media only screen and (min-width: 1281px) and (max-width: 1679px) {
  /* line 64, ../../scss/core/Toolbar.scss */
  .a-Toolbar-pageColumn .a-Toolbar-items {
    padding: 6px 8px;
  }
}

/* line 77, ../../scss/core/Toolbar.scss */
.a-Toolbar-pageColumn--gridLayout {
  border-bottom-color: #C8C8C8;
}

/* line 82, ../../scss/core/Toolbar.scss */
.a-Tabs-toolbar {
  overflow: hidden;
}
/* line 84, ../../scss/core/Toolbar.scss */
.a-Tabs-toolbar > .ui-tabs-nav {
  display: table-cell;
  vertical-align: top;
}

/* line 91, ../../scss/core/Toolbar.scss */
.a-Toolbar--insetShadow {
  *zoom: 1;
  border-top: 1px solid;
}
/* line 30, ../../scss/modules/_common.scss */
.a-Toolbar--insetShadow:before, .a-Toolbar--insetShadow:after {
  content: " ";
  display: table;
}
/* line 35, ../../scss/modules/_common.scss */
.a-Toolbar--insetShadow:after {
  clear: both;
}

/* line 96, ../../scss/core/Toolbar.scss */
.a-Toolbar--columnBorder {
  border-top: none;
}
