/**
 * Import Compass
 */
/* ==========================================================================
   APEX Dialogs
   ========================================================================== */
.t-Dialog-page {
  overflow: hidden; }

body .ui-dialog.t-Dialog--wizard {
  border-radius: 3px; }
  body .ui-dialog.t-Dialog--wizard .ui-dialog-titlebar {
    padding: 12px 16px;
    border-bottom: none; }
  body .ui-dialog.t-Dialog--wizard .ui-dialog-title {
    line-height: 32px;
    font-size: 2rem;
    font-weight: normal;
    font-weight: 200;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    float: none;
    display: block;
    margin-right: 24px;
    width: auto; }
  body .ui-dialog.t-Dialog--wizard .ui-dialog-titlebar-close {
    right: 16px;
    top: 16px; }
  body .ui-dialog.t-Dialog--wizard .ui-dialog-content {
    border: 0;
    padding: 0;
    font-size: 1.4rem; }
  body .ui-dialog.t-Dialog--wizard .ui-dialog-buttonpane {
    padding: 16px;
    border-top-width: 0; }
    body .ui-dialog.t-Dialog--wizard .ui-dialog-buttonpane .ui-button {
      padding: 10px 8px;
      font-size: 1.4rem;
      line-height: 1.6rem;
      min-width: 64px; }

.t-Dialog-body {
  position: absolute;
  overflow: auto;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 12px;
  background-repeat: no-repeat !important;
  background-size: 100% 16px, 100% 16px, 100% 8px, 100% 8px !important;
  background-attachment: local, local, scroll, scroll !important; }

.t-Dialog-header {
  overflow: hidden; }
  .t-Dialog-header ul.t-WizardSteps {
    padding: 12px 0; }
  .t-Dialog-header:empty {
    display: none; }

.t-Dialog-footer {
  position: fixed;
  left: 0;
  right: 0; }

.t-Dialog-footer {
  bottom: 0;
  z-index: 110; }
