/** 
 * Import Compass
 */
/* ==========================================================================
   Field
   ---
   Form and Field Layout system for Theme 42
   ========================================================================== */
.t-Field-label {
  min-width: 120px;
  max-width: 180px;
  float: left;
  padding-right: 8px;
  text-align: right; }

.t-Field-input {
  overflow: hidden; }
  .t-Field-input input {
    width: 100%;
    display: block; }
