/**
 * Import Compass
 */
/* ==========================================================================
   Interactive Report
   ========================================================================== */
.a-IRR {
  border-radius: 2px;
  overflow: hidden; }

.a-IRR-toolbar {
  border-bottom-width: 0; }

.a-IRR-toolbar--singleRow {
  border-bottom-width: 1px; }

.a-IRR-header.is-active {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset; }

/* ==========================================================================
   Interactive Report Region (.t-IRR-region)
   ========================================================================== */
.t-IRR-region {
  margin-bottom: 12px; }

.t-Region .t-IRR-region {
  margin-bottom: 0; }

.t-IRR-region--noBorders .a-IRR {
  border: none;
  border-radius: 0;
  overflow: inherit; }

body .ui-dialog .ui-dialog-content.a-IRR-dialogBody {
  padding: 12px; }

.a-IRR-dialogContent--filter {
  padding: 0; }

.a-IRR-dialogBody .shuttleSelect1 select, .a-IRR-dialogBody .shuttleSelect2 select {
  height: 180px; }

/* ==========================================================================
   Interactive Report Region (.t-IRR-region)
   ========================================================================== */
.t-IRR-region .a-IRR-iconViewTable {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  display: block;
  padding: 8px;
  overflow: hidden; }
  .t-IRR-region .a-IRR-iconViewTable tbody {
    display: block; }
.t-IRR-region .a-IRR-iconViewTable tr {
  display: inline; }
.t-IRR-region .a-IRR-iconViewTable td {
  display: block;
  float: left;
  padding: 0;
  width: 16.66666%; }
  @media only screen and (min-width: 1281px) and (max-width: 1680px) {
    .t-IRR-region .a-IRR-iconViewTable td {
      width: 20%; }
      .t-IRR-region .a-IRR-iconViewTable td:nth-child(6) {
        clear: both; } }
  @media only screen and (min-width: 1025px) and (max-width: 1280px) {
    .t-IRR-region .a-IRR-iconViewTable td {
      width: 25%; }
      .t-IRR-region .a-IRR-iconViewTable td:nth-child(5) {
        clear: both; } }
  @media only screen and (min-width: 769px) and (max-width: 1024px) {
    .t-IRR-region .a-IRR-iconViewTable td {
      width: 33.33%; }
      .t-IRR-region .a-IRR-iconViewTable td:nth-child(4) {
        clear: both; } }
  @media only screen and (max-width: 768px) {
    .t-IRR-region .a-IRR-iconViewTable td {
      width: 50%; }
      .t-IRR-region .a-IRR-iconViewTable td:nth-child(3) {
        clear: both; } }
  @media only screen and (max-width: 640px) {
    .t-IRR-region .a-IRR-iconViewTable td {
      width: 100%; } }

.a-IRR-detail-row img {
  min-width: 16px; }

/* ==========================================================================
   Interactive Report Core Overrides
   ========================================================================== */
.a-IRR-iconViewTable, .a-IRR-chartView, .a-IRR-pivotView, .a-IRR-groupByView, .a-IRR-detailView {
  border-top: 1px solid; }

.a-IRR-iconViewTable:empty, .a-IRR-chartView:empty, .a-IRR-pivotView:empty, .a-IRR-groupByView:empty, .a-IRR-detailView:empty {
  border-top-width: 0; }

.a-IRR-controlsContainer {
  border-top: 1px solid;
  border-bottom-width: 0; }

.a-IRR-buttons .t-Button {
  margin-bottom: 8px; }

.a-IRR-content {
  overflow: hidden; }

.a-IRR-tableContainer {
  overflow: auto;
  -webkit-overflow-scrolling: touch; }

/* ==========================================================================
   Responsive Interactive Report
   ========================================================================== */
.a-IRR-table tr td:first-child, .a-IRR-table tr th:first-child {
  box-shadow: none; }

.a-IRR-table td {
  padding: 8px 12px; }

.a-IRR-header.a-IRR-header--group {
  border-bottom-width: 0; }

.a-IRR-header {
  border-left-width: 0;
  border-bottom-width: 0; }

.js-stickyTableHeader.is-stuck {
  padding-bottom: 6px; }
  .js-stickyTableHeader.is-stuck:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin-top: -6px;
    height: 6px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.075), rgba(0, 0, 0, 0));
    background-repeat: no-repeat;
    background-size: 100% 6px; }

@media only screen and (max-width: 768px) {
  .a-IRR-toolbar {
    padding-bottom: 8px; }

  .a-IRR-controls, .a-IRR-buttons {
    display: block;
    overflow: hidden; }

  .a-IRR-buttons {
    position: relative;
    padding-top: 1px;
    margin-top: 8px;
    text-align: left;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-left: -4px;
    margin-right: -4px; }
    .a-IRR-buttons:before {
      content: '';
      position: absolute;
      top: 0;
      left: 4px;
      right: 4px;
      height: 1px;
      background-color: rgba(0, 0, 0, 0.05); }
    .a-IRR-buttons .t-Button {
      display: inline-block;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin: 0 4px;
      -webkit-flex: 1 0 auto;
          -ms-flex: 1 0 auto;
              flex: 1 0 auto;
      margin-top: 8px;
      margin-bottom: 0; }

  .a-IRR-controlGroup {
    display: table;
    margin-bottom: 0; }
    .a-IRR-controlGroup + .a-IRR-controlGroup {
      margin-top: 8px; }

  .a-IRR-controlGroup--hidden {
    margin-top: 0 !important; }

  .a-IRR-search {
    margin-right: 0; }

  .a-IRR-colSelector, .a-IRR-searchFieldContainer, .a-IRR-searchButtonContainer, .a-IRR-savedReports, .a-IRR-viewsContainer, .a-IRR-rowSelector, .a-IRR-actions {
    display: table-cell; }

  .a-IRR-savedReports .a-IRR-selectList {
    display: block;
    width: 100%; }

  .a-IRR-savedReports + .a-IRR-viewsContainer {
    padding-left: 8px; }

  .a-IRR-searchFieldContainer, .a-IRR-search-field {
    width: 100%; }

  .a-IRR-viewsContainer, .a-IRR-rowSelector {
    width: 50%; }

  .a-IRR-rowSelector {
    padding-right: 8px; }
    .a-IRR-rowSelector label, .a-IRR-rowSelector .a-IRR-selectList {
      display: block;
      float: left;
      margin-right: 0; }
    .a-IRR-rowSelector label {
      width: 30%; }
    .a-IRR-rowSelector .a-IRR-selectList {
      width: 70%; }

  .a-IRR-button--actions {
    display: block;
    width: 100%; }

  .a-IRR-views {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: 0; }
    .a-IRR-views .a-IRR-button {
      -webkit-flex: 1;
          -ms-flex: 1;
              flex: 1; }
 }

@media only screen and (max-width: 768px) {
  .a-IRR-controlGroup--views, .a-IRR-controlGroup--options {
    width: 50%;
    float: left; }

  .a-IRR-controlGroup--views:empty + .a-IRR-controlGroup--options {
    width: 100%;
    padding-left: 0; }

  .a-IRR-controlGroup--options {
    padding-left: 8px; }

  .a-IRR-controlGroup--search, .a-IRR-controlGroup--fill {
    width: 100%; }
 }

@media only screen and (max-width: 600px) {
  .a-IRR-controlGroup {
    width: 100%; }

  .a-IRR-controlGroup--options {
    padding-left: 0; }

  .a-IRR-controls-item {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    white-space: nowrap; }

  .a-IRR-controls-cell {
    display: inline-block;
    float: none; }

  .a-IRR-controls-cell--label {
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    white-space: normal; }

  .a-IRR-toolbar--singleRow {
    display: block;
    position: relative; }

  .a-IRR-toolbarNav, .a-IRR-singleRowNav, .a-IRR-viewOptionsContainer {
    display: block; }

  .a-IRR-singleRowNav {
    position: absolute;
    right: 0;
    top: 0;
    margin: 14px 8px; }

  .a-IRR-viewOptionsContainer {
    margin: 8px 0 0 0; }

  .a-IRR-viewOption {
    margin-left: 0;
    margin-right: 8px; }

  .a-IRR-singleRow-name {
    width: 30%; }

  .a-IRR-content .a-IRR-singleRow-row.is-displayed:last-child .a-IRR-singleRow-name, .a-IRR-content .a-IRR-singleRow-row.is-displayed:last-child .a-IRR-singleRow-value {
    border-bottom-width: 0; }
 }

.js-showMaximizeButton.t-IRR-region.is-maximized {
  overflow-y: auto; }

@media only screen and (min-width: 769px) {
  .is-maximized.t-IRR-region .t-fht-thead {
    overflow-y: scroll; }
  .is-maximized.t-IRR-region .t-fht-tbody {
    overflow-y: scroll; }
 }
