/** 
 * Import Compass
 */
/* ==========================================================================
   Links List
   ========================================================================== */
.t-LinksList {
  margin: 0;
  padding: 0;
  list-style: none; }

.t-LinksList-item {
  display: block;
  position: relative;
  margin-bottom: -1px;
  border-top: 1px solid;
  border-bottom: 1px solid; }
  .t-LinksList-item:last-child {
    margin-bottom: 0;
    border-bottom-width: 0; }
  .t-LinksList-item:first-child {
    border-top-width: 0; }

.t-LinksList-badge {
  display: none;
  vertical-align: top; }

.t-LinksList-label {
  display: inline-block;
  vertical-align: top;
  padding: 8px 12px; }

.t-LinksList-icon {
  display: none;
  vertical-align: top;
  margin-right: -6px;
  min-width: 2.8rem;
  text-align: center;
  padding: 8px 0 8px 12px;
  transition: color 0.1s; }
  .t-LinksList-icon .t-Icon {
    width: 16px;
    height: 16px;
    vertical-align: top; }

.t-LinksList-link {
  display: block;
  position: relative;
  transition: background-color 0.1s, color 0.1s; }
  .t-LinksList-link:hover {
    text-decoration: none; }
  .t-LinksList-link:focus {
    outline: none; }
  .t-LinksList-link:before {
    display: none;
    line-height: inherit !important;
    font-family: "apex-5-icon-font" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 8px;
    right: 16px;
    transition: -webkit-transform 0.1s, color 0.1s;
    transition: transform 0.1s, color 0.1s;
    content: '\e016'; }

.t-LinksList-item.is-current > a {
  font-weight: bold; }

/* Sub-Lists
   ========================================================================== */
.t-LinksList-item.is-expanded {
  background-size: 100% 4px, 100% 4px;
  background-position: 0 0, 0 100%;
  background-repeat: no-repeat; }
  .t-LinksList-item.is-expanded .t-LinksList-list {
    display: block; }
  .t-LinksList-item.is-expanded .t-LinksList-link:hover:before {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none; }
  .t-LinksList-item.is-expanded .t-LinksList-link:before {
    content: '\e0c2';
    display: block; }

.t-LinksList-list {
  display: none;
  padding: 0; }
  .t-LinksList-list .t-LinksList-item {
    padding-left: 24px;
    border: none; }
  .t-LinksList-list .t-LinksList-link:before {
    display: none !important; }

/**
 * Modifier: Show Icons
 *
 * Show all Icons
 */
.t-LinksList--showIcons .t-LinksList-icon {
  display: inline-block; }

/**
 * Modifier: Show Top Icons Only
 *
 * Only show icons for top level items
 */
.t-LinksList--showTopIcons .t-LinksList-icon {
  display: inline-block; }
.t-LinksList--showTopIcons .t-LinksList-list .t-LinksList-icon {
  display: none; }

/**
 * Modifier: Go To Arrow
 *
 * Show Go To Arrow on right
 */
.t-LinksList--showArrow .t-LinksList-link {
  padding-right: 32px; }
  .t-LinksList--showArrow .t-LinksList-link:hover:before {
    -webkit-transform: translateX(8px);
        -ms-transform: translateX(8px);
            transform: translateX(8px); }
  .t-LinksList--showArrow .t-LinksList-link:before {
    display: block; }

/**
 * Modifier: No Wrap
 *
 * Disable Text Wrapping
 */
.t-LinksList--nowrap .t-LinksList-item {
  white-space: nowrap; }
.t-LinksList--nowrap .t-LinksList-icon {
  vertical-align: top; }
.t-LinksList--nowrap .t-LinksList-label {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

/**
 * Modifier: Show Badge
 *
 * Show Badge on Right
 */
.t-LinksList--showBadge .t-LinksList-badge:empty {
  display: none; }
.t-LinksList--showBadge .t-LinksList-label {
  padding-right: 48px; }
.t-LinksList--showBadge.t-LinksList--showIcons .t-LinksList-label {
  padding-right: 64px; }
.t-LinksList--showBadge .t-LinksList-badge {
  position: absolute;
  display: block;
  font-size: 12px;
  line-height: 20px;
  padding: 0 8px;
  margin: 8px 12px 8px 0;
  border-radius: 4px;
  height: 20px;
  min-width: 20px;
  text-align: center;
  right: 0;
  top: 0;
  transition: background-color 0.1s, color 0.1s; }
.t-LinksList--showBadge.t-LinksList--showArrow .t-LinksList-badge, .t-LinksList--showBadge .t-LinksList-item.is-expanded > .t-LinksList-link .t-LinksList-badge {
  right: 24px; }

/* ==========================================================================
   Icon-based Links List
   ========================================================================== */
.t-LinksList--actions .t-LinksList-item {
  border-width: 0;
  margin: 0; }
.t-LinksList--actions .t-LinksList-item--separator {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  margin-bottom: 8px;
  padding-top: 8px; }
  .t-LinksList--actions .t-LinksList-item--separator .t-LinksList-link {
    display: none; }
.t-LinksList--actions .t-LinksList-icon {
  width: 40px;
  height: 40px;
  padding: 12px;
  margin-right: 0; }
.t-LinksList--actions .t-LinksList-label {
  line-height: 40px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0 12px;
  margin-left: -12px;
  font-size: 1.4rem;
  -webkit-font-smoothing: antialiased; }
