/**
 * Import Compass
 */
/* ==========================================================================
   Media List
   ========================================================================== */
.t-MediaList {
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased; }

.t-MediaList-item {
  display: table;
  border-collapse: collapse;
  table-layout: auto;
  width: 100%;
  border-bottom: 1px solid; }
  .t-MediaList-item:last-child {
    border-bottom-width: none; }

.t-MediaList-iconWrap, .t-MediaList-body, .t-MediaList-badgeWrap {
  display: table-cell;
  padding-right: 12px; }

/* ==========================================================================
   Icon
   ========================================================================== */
.t-MediaList-iconWrap {
  display: none;
  text-align: center;
  width: 64px;
  vertical-align: middle; }

.t-MediaList-icon .t-Icon {
  font-size: 28px; }

/* ==========================================================================
   Text
   ========================================================================== */
.t-MediaList-title {
  margin: 0;
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 500; }

.t-MediaList-desc {
  display: none;
  margin: 0;
  font-size: 1.4rem;
  line-height: 2rem; }

/* ==========================================================================
   Badge
   ========================================================================== */
.t-MediaList-badgeWrap {
  display: none;
  text-align: right;
  width: 1%;
  vertical-align: middle; }

.t-MediaList-badge {
  display: inline-block;
  font-size: 1.4rem;
  line-height: 1.4rem;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05) inset;
  background-color: rgba(0, 0, 0, 0.025);
  padding: 8px 10px;
  border-radius: 2px;
  min-width: 32px;
  text-align: center; }
  .t-MediaList-badge:empty {
    display: none; }

/* ==========================================================================
   Link
   ========================================================================== */
.t-MediaList-itemWrap {
  display: block;
  transition: background-color 0.1s;
  padding: 12px 0 12px 12px; }
  .t-MediaList-itemWrap:hover {
    text-decoration: none; }
  .t-MediaList-itemWrap:focus {
    outline: none; }

/* ==========================================================================
   Modifier: Show Icons
   ---
   Shows Icons
   ========================================================================== */
.t-MediaList--showIcons .t-MediaList-iconWrap {
  display: table-cell; }

/* ==========================================================================
   Modifier: Show Badge
   ---
   Show Badge
   ========================================================================== */
.t-MediaList--showBadges .t-MediaList-badgeWrap {
  display: table-cell; }

/* ==========================================================================
   Modifier: Horizontal (Table Based)
   ---
   Arrange list items horizontally using table layout
   ========================================================================== */
.t-MediaList--horizontal {
  overflow: hidden;
  display: table;
  table-layout: fixed;
  width: 100%; }
  .t-MediaList--horizontal .t-MediaList-item {
    vertical-align: top;
    display: table-cell;
    width: 1%;
    border-bottom-width: 0;
    border-right: 1px solid #F0F0F0; }
    @media only screen and (max-width: 768px) {
      .t-MediaList--horizontal .t-MediaList-item {
        display: block;
        width: 50%;
        float: left;
        border-bottom-width: 1px; } }
    @media only screen and (max-width: 480px) {
      .t-MediaList--horizontal .t-MediaList-item {
        display: block;
        width: 100%;
        float: none;
        border-bottom-width: 1px;
        border-right-width: 0; } }
    .t-MediaList--horizontal .t-MediaList-item:last-child {
      border-right: none; }
    .t-MediaList--horizontal .t-MediaList-item .t-MediaList-iconWrap, .t-MediaList--horizontal .t-MediaList-item .t-MediaList-badgeWrap {
      vertical-align: top; }

/* ==========================================================================
   Modifier: Blocks
   ---
   Blocks
   ========================================================================== */
.t-MediaList--cols {
  overflow: hidden; }
  .t-MediaList--cols .t-MediaList-item {
    display: block;
    float: left;
    border-bottom-width: 0;
    position: relative; }
    .t-MediaList--cols .t-MediaList-item .t-MediaList-iconWrap, .t-MediaList--cols .t-MediaList-item .t-MediaList-badgeWrap {
      vertical-align: top; }
    .t-MediaList--cols .t-MediaList-item:before, .t-MediaList--cols .t-MediaList-item:after {
      content: '';
      position: absolute; }
    .t-MediaList--cols .t-MediaList-item:after {
      top: 0;
      bottom: 0;
      width: 1px;
      right: -1px; }
    .t-MediaList--cols .t-MediaList-item:before {
      left: 0;
      right: 0;
      height: 1px;
      bottom: -1px; }
    .t-MediaList--cols .t-MediaList-item .t-MediaList-desc {
      overflow: hidden;
      text-overflow: ellipsis; }
  .t-MediaList--cols.t-MediaList--2cols .t-MediaList-item {
    width: 50%; }
    .t-MediaList--cols.t-MediaList--2cols .t-MediaList-item:nth-child(2n+1) {
      clear: both; }
  .t-MediaList--cols.t-MediaList--3cols .t-MediaList-item {
    width: 33.333%; }
    .t-MediaList--cols.t-MediaList--3cols .t-MediaList-item:nth-child(3n+1) {
      clear: both; }
  .t-MediaList--cols.t-MediaList--4cols .t-MediaList-item {
    width: 25%; }
    .t-MediaList--cols.t-MediaList--4cols .t-MediaList-item:nth-child(4n+1) {
      clear: both; }
  .t-MediaList--cols.t-MediaList--5cols .t-MediaList-item {
    width: 20%; }
    .t-MediaList--cols.t-MediaList--5cols .t-MediaList-item:nth-child(5n+1) {
      clear: both; }
  @media only screen and (max-width: 480px) {
    .t-MediaList--cols .t-MediaList-item {
      float: none;
      width: auto !important; }
 }

/* ==========================================================================
   Modifier: Show Description
   ---
   Show Description
   ========================================================================== */
.t-MediaList--showDesc .t-MediaList-desc {
  display: table-cell; }

/* When hiding description, make sure to vertically align everything to middle
   ========================================================================== */
.t-MediaList:not(.t-MediaList--showDesc) .t-MediaList-body {
  vertical-align: middle; }
