/* ==========================================================================
   Tree Navigation
   ========================================================================== */
.lt-ie10 .a-TreeView {
  min-height: 90%; }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .a-TreeView {
    min-height: 90%; }
 }

.t-TreeNav {
  -webkit-font-smoothing: antialiased; }
  .t-TreeNav .a-TreeView-label:hover {
    text-decoration: none; }
  .t-TreeNav .a-TreeView-node--topLevel {
    padding-left: 0;
    margin-left: 0; }
    .t-TreeNav .a-TreeView-node--topLevel > .a-TreeView-row {
      height: 40px;
      box-shadow: none; }
    .t-TreeNav .a-TreeView-node--topLevel > .a-TreeView-content {
      padding: 0;
      line-height: 40px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden; }
      .t-TreeNav .a-TreeView-node--topLevel > .a-TreeView-content .fa {
        padding: 13px 12px;
        font-size: 14px;
        vertical-align: top;
        width: 40px;
        height: 40px; }
      .t-TreeNav .a-TreeView-node--topLevel > .a-TreeView-content .a-TreeView-label {
        line-height: 40px;
        padding: 0;
        margin: 0;
        font-size: 14px;
        transition: opacity 0.1s; }
        .js-navCollapsed .t-TreeNav .a-TreeView-node--topLevel > .a-TreeView-content .a-TreeView-label {
          position: fixed;
          opacity: 0; }
          .js-navCollapsed .t-TreeNav .a-TreeView-node--topLevel > .a-TreeView-content .a-TreeView-label .a-TreeView-badge {
            display: none; }
      .t-TreeNav .a-TreeView-node--topLevel > .a-TreeView-content .a-TreeView-badge {
        margin: 10px 8px 10px 4px;
        padding: 2px 6px;
        font-size: 11px;
        line-height: 16px;
        border-radius: 2px;
        box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.25);
        position: absolute;
        right: 0;
        top: 0; }
    .t-TreeNav .a-TreeView-node--topLevel > .a-TreeView-toggle {
      margin: 0;
      width: 24px;
      height: 40px;
      padding: 12px 8px 12px 0; }
  .t-TreeNav .a-TreeView-toggle {
    float: right;
    position: relative;
    z-index: 1; }
  .t-TreeNav .a-TreeView-node--topLevel ul {
    padding-bottom: 0; }
    .t-TreeNav .a-TreeView-node--topLevel ul .a-TreeView-row {
      height: 32px;
      box-shadow: none; }
    .t-TreeNav .a-TreeView-node--topLevel ul .a-TreeView-label {
      line-height: 32px; }
    .t-TreeNav .a-TreeView-node--topLevel ul .a-TreeView-content {
      padding: 0;
      line-height: 32px; }
    .t-TreeNav .a-TreeView-node--topLevel ul .a-TreeView-toggle {
      width: 32px;
      height: 32px;
      padding: 8px;
      margin: 0; }
  .t-TreeNav .a-TreeView-node--topLevel > ul {
    padding: 8px 0; }
  .t-TreeNav .a-TreeView-node--topLevel > ul > .a-TreeView-node {
    padding-left: 24px; }
  .t-TreeNav .a-TreeView-row {
    transition: background-color 0.1s; }
  .t-TreeNav.a-TreeView .is-expandable > .a-TreeView-toggle:before {
    content: "\e0c2"; }
  .t-TreeNav.a-TreeView .is-collapsible > .a-TreeView-toggle:before {
    content: "\e0c2"; }
  .t-TreeNav .a-TreeView-node, .t-TreeNav .a-TreeView-label, .t-TreeNav .a-TreeView-content .fa {
    cursor: pointer; }
