.t16notification{align:center;}
.t16success{align:center;}
.t16Tab{display:inline;}
.t16Tab{display:inline-table;}
.t16Button{display:inline;}
.t16Button{display:inline-table;}
a.t16ButtonAlternative1,a.t16ButtonAlternative1:visited{display:inline-block;}
a.t16ButtonAlternative2,a.t16ButtonAlternative2:visited{display:inline-block;}
a.t16ButtonAlternative3,a.t16ButtonAlternative3:visited{display:inline-block;}



