text{font-family:Arial, sans-serif;fill:#000;}
tspan{font-family:Arial, sans-serif;fill:#000;}
text.moredatafound{font-size:12px;}
rect.legend{fill:#eee;stroke:#ccc;stroke-width:1;}
text.legend{font-size:10px;}
#background{fill:#fff;stroke:none;}
rect.chartholderbackground{fill:#eee;stroke:#ccc;stroke-width:1;}

/*dial*/
text.tic{stroke:none;fill:#000;font-size:10px;}
line.tic{stroke:#000;stroke-width:1px;fill:none;}
#dial{stroke:#000;stroke-width:3px;fill:#bbb;fill-opacity:.5;}
#dial.alert{fill:#f00;fill-opacity:.5;}
#dialbackground{stroke:#333;stroke-width:2px;fill:none;}
#dialcenter{stroke:none;fill:#ddf;filter:url(#MyFilter);}
#dialbackground-border{display:none;}
#low{stroke-width:3;stroke:#369;}
#high{stroke-width:3;stroke:#f00;}
/*dial*/

/*most charts*/
#XAxisTitle{letter-spacing:2;kerning:auto;font-size:14px;fill:#000;text-anchor:middle;}
#YAxisTitle{letter-spacing:2;kerning:auto;font-size:14px;fill:#000;text-anchor:middle;writing-mode:tb;}
.XAxisValue{font-size:8px;fill:#000;}
.YAxisValue{font-size:8px;fill:#000;text-anchor:end;}
.AxisLabel{font-size:8px;fill:#000;}
.nodatafound{stroke:#000;stroke-width:1;font-size:12px;}
.AxisLine{stroke:#000;stroke-width:2;fill:#fff;}
.GridLine{stroke:#000;stroke-width:0.3;stroke-dasharray:2,4;fill:none;}
g.dataholder rect{stroke:#000;stroke-width:0.5;}
.legenditem rect{stroke:#000;stroke-width:0.5;}
/**/

#timestamp{text-anchor:start;font-size:9px;}
