/** 
 * Import Compass and Theme Variables
 */
/* ==========================================================================
   Theme Configuration File
   ========================================================================== */
/**
 * Base Colors
 * 
 * Description:
 * Provides a base for the UI.
 * 
 * Usage:
 * General UI Background, Region Headers, Buttons
 */
/**
 * Highlight Colors
 * 
 * Description:
 * Used for providing emphasis or importance to UI components.
 * 
 * Usage:
 * Region Headers, Primary / Hot Buttons
 */
/**
 * Accent and Status Colors
 * 
 * Description:
 * Used for indicating state-based UI components, status, or accents.
 * 
 * Usage:
 * Warnings, Errors, Danger Text, Success, Focus
 */
/**
 * Application Based Colors
 * 
 * Description:
 * Used for applications within APEX development
 */
/******************************************************************************
Color Variables
******************************************************************************/
/******************************************************************************
Icon List
******************************************************************************/
/* line 27, ../../../scss/theme/standard/IconList.scss */
.a-IconList {
  margin: 4px;
}

/* line 30, ../../../scss/theme/standard/IconList.scss */
.wizard-selection .a-IconList {
  margin: 8px;
}

/* line 33, ../../../scss/theme/standard/IconList.scss */
.wizard-selection .a-IconList-item {
  width: 200px;
  height: 150px;
}

/* line 37, ../../../scss/theme/standard/IconList.scss */
.a-Gallery .a-IconList-item {
  width: 96px;
  height: 90px;
}

/* line 41, ../../../scss/theme/standard/IconList.scss */
.a-IconList-item {
  padding: 8px 4px;
  margin: 0 4px 4px 0;
  color: #6F6F6F;
  border-radius: 3px;
}
/* line 47, ../../../scss/theme/standard/IconList.scss */
.a-IconList-item:hover {
  color: #444444;
  background-color: #FAFAFA;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05) inset;
}
/* line 52, ../../../scss/theme/standard/IconList.scss */
.a-IconList-item:active {
  color: #444444;
  background-color: #E4E4E4;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05) inset;
}
/* line 57, ../../../scss/theme/standard/IconList.scss */
.a-IconList-item:focus {
  outline: none;
  box-shadow: 0 0 0 1px #399bea inset;
}
/* line 62, ../../../scss/theme/standard/IconList.scss */
.a-IconList-item.is-selected {
  background-color: #F2F2F2;
  box-shadow: 0 0 0 1px #399bea inset;
}
/* line 67, ../../../scss/theme/standard/IconList.scss */
.a-IconList-item.is-selected.is-focused {
  color: #444444;
  box-shadow: 0 0 0 1px #399bea inset, 0 0 0 1px #399bea, 0 0 2px 2px rgba(57, 155, 234, 0.5);
  outline: none;
}

/* line 76, ../../../scss/theme/standard/IconList.scss */
.a-IconList-item a {
  display: block;
}
/* line 78, ../../../scss/theme/standard/IconList.scss */
.a-IconList-item a:hover {
  text-decoration: none;
}

/* line 82, ../../../scss/theme/standard/IconList.scss */
.a-Gallery-componentName,
.a-IconList-iconName {
  font-size: 11px;
  line-height: 14px;
  text-align: center;
  height: 42px;
}

/* line 90, ../../../scss/theme/standard/IconList.scss */
.a-Gallery .a-Icon {
  display: block;
  margin: 0 auto;
  width: 32px;
  height: 32px;
  line-height: 1;
}
/* line 96, ../../../scss/theme/standard/IconList.scss */
.a-Gallery .a-Icon:before {
  font-size: 32px;
  vertical-align: top;
}

/* line 102, ../../../scss/theme/standard/IconList.scss */
.a-Gallery-region .a-Icon {
  color: #7FBEF2;
}

/* line 105, ../../../scss/theme/standard/IconList.scss */
.a-Gallery-pageItem .a-Icon {
  color: #979C9F;
}

/* line 108, ../../../scss/theme/standard/IconList.scss */
.a-Gallery-button .a-Icon {
  color: #56D49A;
}

/* line 112, ../../../scss/theme/standard/IconList.scss */
.a-IconList--wizard .a-Icon {
  color: #7c8791;
}

/* line 116, ../../../scss/theme/standard/IconList.scss */
.a-IconList--wizard .a-IconList-item:hover .a-IconList-iconName,
.a-IconList--wizard .a-IconList-item:hover .a-Icon {
  color: #2E64B5;
}

/* line 124, ../../../scss/theme/standard/IconList.scss */
.a-IconList--featured .a-IconList {
  margin: 0 auto;
  text-align: center;
}
/* line 128, ../../../scss/theme/standard/IconList.scss */
.a-IconList--featured .a-IconList-item {
  display: inline-block;
  float: none;
  width: 172px;
  height: auto;
  padding: 8px;
  vertical-align: top;
  margin: 0;
}
/* line 137, ../../../scss/theme/standard/IconList.scss */
.a-IconList--featured .a-IconList .a-Icon {
  margin: 16px auto 8px auto;
  width: 96px;
  height: 96px;
  background-color: #399BEA;
  border-radius: 2px;
}
@media only screen and (min-width: 1281px) {
  /* line 137, ../../../scss/theme/standard/IconList.scss */
  .a-IconList--featured .a-IconList .a-Icon {
    width: 108px;
    height: 108px;
  }
}
@media only screen and (max-height: 600px) {
  /* line 137, ../../../scss/theme/standard/IconList.scss */
  .a-IconList--featured .a-IconList .a-Icon {
    width: 72px;
    height: 72px;
  }
}
/* line 152, ../../../scss/theme/standard/IconList.scss */
.a-IconList--featured .a-IconList-iconName {
  font-size: 14px;
  line-height: 20px;
  height: auto;
  margin-bottom: 8px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* line 165, ../../../scss/theme/standard/IconList.scss */
.a-IconList--featured--wide .a-IconList-item {
  width: 240px;
}
