/** 
 * Import Compass and Theme Variables
 */
/* ==========================================================================
   Theme Configuration File
   ========================================================================== */
/**
 * Base Colors
 * 
 * Description:
 * Provides a base for the UI.
 * 
 * Usage:
 * General UI Background, Region Headers, Buttons
 */
/**
 * Highlight Colors
 * 
 * Description:
 * Used for providing emphasis or importance to UI components.
 * 
 * Usage:
 * Region Headers, Primary / Hot Buttons
 */
/**
 * Accent and Status Colors
 * 
 * Description:
 * Used for indicating state-based UI components, status, or accents.
 * 
 * Usage:
 * Warnings, Errors, Danger Text, Success, Focus
 */
/**
 * Application Based Colors
 * 
 * Description:
 * Used for applications within APEX development
 */
/* ==========================================================================
   Menu Bar
   ========================================================================== */
/* line 15, ../../../scss/theme/standard/Menu.scss */
.a-MenuBar-label {
  padding: 8px;
  color: #404040;
}

/* line 19, ../../../scss/theme/standard/Menu.scss */
.a-MenuBar-item {
  border-right: 1px solid #D0D0D0;
  border-left: 1px solid #D0D0D0;
  margin-left: -1px;
}
/* line 23, ../../../scss/theme/standard/Menu.scss */
.a-MenuBar-item:first-child {
  margin-left: 0;
}

/* line 28, ../../../scss/theme/standard/Menu.scss */
.a-MenuBar-item.is-disabled .a-MenuBar-label {
  color: #A0A0A0;
}

/* line 32, ../../../scss/theme/standard/Menu.scss */
.a-MenuBar-item:hover {
  background-color: #FFF;
}

/* line 35, ../../../scss/theme/standard/Menu.scss */
.a-MenuBar-item.is-expanded {
  background-color: #FFF;
}

/* line 38, ../../../scss/theme/standard/Menu.scss */
.a-MenuBar-item.is-focused {
  box-shadow: 0 0 0 2px #2d7bbb inset;
  outline: none;
}

/* ==========================================================================
   Menu 
   ========================================================================== */
/* line 45, ../../../scss/theme/standard/Menu.scss */
.a-Menu-content {
  border-color: #D0D0D0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  padding: 8px 0;
}

/* line 51, ../../../scss/theme/standard/Menu.scss */
.a-Menu .a-Menu {
  margin-top: -9px;
}

/* line 55, ../../../scss/theme/standard/Menu.scss */
.a-Menu .a-Menu-item {
  color: #404040;
}

/* line 66, ../../../scss/theme/standard/Menu.scss */
.a-Menu-itemSep .a-Menu-hSeparator {
  border-color: #F0F0F0;
}

/* line 71, ../../../scss/theme/standard/Menu.scss */
.a-Menu .a-Menu-item.is-focused,
.a-Menu .a-Menu-item.is-expanded {
  background-color: #2D7BBB;
  color: #FFF;
}
/* line 78, ../../../scss/theme/standard/Menu.scss */
.a-Menu .a-Menu-item.is-focused > .a-Menu-statusCol > .a-Icon, .a-Menu .a-Menu-item.is-focused > .a-Menu-accel,
.a-Menu .a-Menu-item.is-expanded > .a-Menu-statusCol > .a-Icon,
.a-Menu .a-Menu-item.is-expanded > .a-Menu-accel {
  color: #FFF;
}
/* line 82, ../../../scss/theme/standard/Menu.scss */
.a-Menu .a-Menu-item.is-focused .a-Menu-scrollBtn,
.a-Menu .a-Menu-item.is-expanded .a-Menu-scrollBtn {
  color: #404040;
}

/* line 87, ../../../scss/theme/standard/Menu.scss */
.a-Menu .a-Menu-item.is-disabled.is-focused {
  background-color: #F8F8F8;
  box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.15) inset, 0 1px 1px 0 rgba(0, 0, 0, 0.15) inset;
}
/* line 90, ../../../scss/theme/standard/Menu.scss */
.a-Menu .a-Menu-item.is-disabled.is-focused > .a-Menu-subMenuCol > .a-Icon {
  color: #404040;
}
