/** 
 * Import Compass and Theme Variables
 */
/* ==========================================================================
   Theme Configuration File
   ========================================================================== */
/**
 * Base Colors
 * 
 * Description:
 * Provides a base for the UI.
 * 
 * Usage:
 * General UI Background, Region Headers, Buttons
 */
/**
 * Highlight Colors
 * 
 * Description:
 * Used for providing emphasis or importance to UI components.
 * 
 * Usage:
 * Region Headers, Primary / Hot Buttons
 */
/**
 * Accent and Status Colors
 * 
 * Description:
 * Used for indicating state-based UI components, status, or accents.
 * 
 * Usage:
 * Warnings, Errors, Danger Text, Success, Focus
 */
/**
 * Application Based Colors
 * 
 * Description:
 * Used for applications within APEX development
 */
/* ==========================================================================
   Page Select Widget
   ========================================================================== */
/* line 13, ../../../scss/theme/standard/PageSelect.scss */
.a-PageSelect {
  border-color: rgba(0, 0, 0, 0.15);
  background-color: #fff;
}
/* line 16, ../../../scss/theme/standard/PageSelect.scss */
.a-PageSelect .a-Icon.icon-down-arrow {
  margin-left: -2px;
}

/* line 20, ../../../scss/theme/standard/PageSelect.scss */
.a-PageSelect--readOnly {
  border-color: transparent;
}

/* line 23, ../../../scss/theme/standard/PageSelect.scss */
.a-PageSelect-input {
  color: #404040;
  background-color: transparent;
}
/* line 26, ../../../scss/theme/standard/PageSelect.scss */
.a-PageSelect-input:focus, .a-PageSelect-input.is-focused {
  box-shadow: 0 0 0 1px #399bea inset, 0 0 0 1px #399bea, 0 0 2px 2px rgba(57, 155, 234, 0.5) !important;
}

/* line 35, ../../../scss/theme/standard/PageSelect.scss */
.a-Button.a-PageSelect-menuButton:hover, .a-Button.a-PageSelect-menuButton:focus {
  background-color: #2D7BBB;
  color: #FFF;
}
/* line 40, ../../../scss/theme/standard/PageSelect.scss */
.a-Button.a-PageSelect-menuButton:active {
  background-color: #235DB2;
}

/* line 45, ../../../scss/theme/standard/PageSelect.scss */
.a-Button.a-PageSelect-menuButton {
  color: #707070;
}
