/** 
 * Import Compass and Theme Variables
 */
/* ==========================================================================
   Theme Configuration File
   ========================================================================== */
/**
 * Base Colors
 * 
 * Description:
 * Provides a base for the UI.
 * 
 * Usage:
 * General UI Background, Region Headers, Buttons
 */
/**
 * Highlight Colors
 * 
 * Description:
 * Used for providing emphasis or importance to UI components.
 * 
 * Usage:
 * Region Headers, Primary / Hot Buttons
 */
/**
 * Accent and Status Colors
 * 
 * Description:
 * Used for indicating state-based UI components, status, or accents.
 * 
 * Usage:
 * Warnings, Errors, Danger Text, Success, Focus
 */
/**
 * Application Based Colors
 * 
 * Description:
 * Used for applications within APEX development
 */
/******************************************************************************
Color Variables
******************************************************************************/
/******************************************************************************
Splitter Styles
******************************************************************************/
/**
 * Splitter Bar
 */
/* line 34, ../../../scss/theme/standard/Splitter.scss */
.a-Splitter-barH,
.a-Splitter-barV,
.a-Splitter-barH.is-disabled:hover,
.a-Splitter-barV.is-disabled:hover {
  background-color: #E8E8E8;
}

/* line 43, ../../../scss/theme/standard/Splitter.scss */
.a-Splitter-barH {
  box-shadow: 1px 0 0 rgba(0, 0, 0, 0.15) inset, -1px 0 0 rgba(0, 0, 0, 0.15) inset;
}

/* line 46, ../../../scss/theme/standard/Splitter.scss */
.a-Splitter-barV {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15) inset, 0 -1px 0 rgba(0, 0, 0, 0.15) inset;
}

/**
 * Splitter Bar Hover and Focus States
 */
/* line 53, ../../../scss/theme/standard/Splitter.scss */
.a-Splitter-barH:hover,
.a-Splitter-barV:hover {
  background-color: #E0E0E0;
}

/* line 62, ../../../scss/theme/standard/Splitter.scss */
.a-Splitter-barH.is-focused,
.a-Splitter-barH.is-active,
.a-Splitter-barV.is-focused,
.a-Splitter-barV.is-active {
  background-color: #81AAD6;
}

/* line 68, ../../../scss/theme/standard/Splitter.scss */
.a-Splitter-barH.is-active,
.a-Splitter-barV.is-active {
  z-index: 1000;
}

/* line 72, ../../../scss/theme/standard/Splitter.scss */
.a-Splitter-barH.is-focused,
.a-Splitter-barV.is-focused {
  box-shadow: 0 0 2px rgba(129, 170, 214, 0.25) inset, 0 0 1px 1px rgba(129, 170, 214, 0.5);
}

/**
 * Splitter Bar Button Focus and Hovers
 */
/* line 86, ../../../scss/theme/standard/Splitter.scss */
.a-Splitter-barH button:hover,
.a-Splitter-barV button:hover,
.a-Splitter-barH button:focus,
.a-Splitter-barV button:focus {
  background-color: #FFF;
  box-shadow: 0 0 0 1px #E0E0E0 inset;
}

/* line 94, ../../../scss/theme/standard/Splitter.scss */
.a-Splitter-barH.is-disabled button:hover,
.a-Splitter-barV.is-disabled button:hover {
  background-color: transparent;
  box-shadow: none;
}
