/** 
 * Import Compass and Theme Variables
 */
/******************************************************************************
Sprite Mixin
******************************************************************************/
/******************************************************************************
Extendible Sprite Class
******************************************************************************/
/* ==========================================================================
   Theme Configuration File
   ========================================================================== */
/**
 * Base Colors
 * 
 * Description:
 * Provides a base for the UI.
 * 
 * Usage:
 * General UI Background, Region Headers, Buttons
 */
/**
 * Highlight Colors
 * 
 * Description:
 * Used for providing emphasis or importance to UI components.
 * 
 * Usage:
 * Region Headers, Primary / Hot Buttons
 */
/**
 * Accent and Status Colors
 * 
 * Description:
 * Used for indicating state-based UI components, status, or accents.
 * 
 * Usage:
 * Warnings, Errors, Danger Text, Success, Focus
 */
/******************************************************************************
Color Variables
******************************************************************************/
/* line 11, ../../../scss/theme/standard/DevToolbar.scss */
.a-DevToolbar {
  background-color: #606060;
  background-color: rgba(0, 0, 0, 0.5);
  border-color: #303030;
  border-color: rgba(0, 0, 0, 0.25);
}

/* line 17, ../../../scss/theme/standard/DevToolbar.scss */
.a-DevToolbar-list {
  overflow: hidden;
}

/* line 21, ../../../scss/theme/standard/DevToolbar.scss */
.a-DevToolbar--top {
  border-radius: 0 0 2px 2px;
  -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

/* line 28, ../../../scss/theme/standard/DevToolbar.scss */
.a-DevToolbar--bottom {
  border-radius: 2px 2px 0 0;
  -webkit-box-shadow: 0 -2px 4px -1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 -2px 4px -1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 -2px 4px -1px rgba(0, 0, 0, 0.2);
}

/* line 35, ../../../scss/theme/standard/DevToolbar.scss */
.a-DevToolbar--left {
  border-radius: 0 2px 2px 0;
  -webkit-box-shadow: 2px 0 4px -1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 0 4px -1px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 0 4px -1px rgba(0, 0, 0, 0.2);
}

/* line 40, ../../../scss/theme/standard/DevToolbar.scss */
.a-DevToolbar--right {
  border-radius: 2px 0 0 2px;
  -webkit-box-shadow: -2px 0 4px -1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -2px 0 4px -1px rgba(0, 0, 0, 0.2);
  box-shadow: -2px 0 4px -1px rgba(0, 0, 0, 0.2);
}

/* line 45, ../../../scss/theme/standard/DevToolbar.scss */
.a-Button.a-Button--devToolbar {
  background-color: #404040;
  color: #EEE;
}
/* line 49, ../../../scss/theme/standard/DevToolbar.scss */
.a-Button.a-Button--devToolbar:hover {
  background-color: #606060;
  color: #FFF;
}
/* line 56, ../../../scss/theme/standard/DevToolbar.scss */
.a-Button.a-Button--devToolbar.is-active, .a-Button.a-Button--devToolbar:active, .a-Button.a-Button--devToolbar:focus {
  color: #FFF;
  background-color: #202020;
}

/* line 63, ../../../scss/theme/standard/DevToolbar.scss */
.a-DevToolbar-uiSelector {
  border-color: #3182d8;
  border-radius: 2px;
}
